[2016-09-21 09:04] mariobehling opened #1 "Add travis.yml to repo"
Please create travis.yml and add the right configuration.

[2016-09-21 09:05] mariobehling opened #2 "Add setup information"
Please add setup information for the development environment.

[2016-09-21 09:29] mariobehling opened #3 "Automatically build an app after each PR and add it into the apk repository"
We have a number of projects, that automatically build an app after each commit. The event orga app adds an apk in the apk branch here, e.g. https://github.com/fossasia/open-event-orga-app/tree/apk.

Please follow this approach and implement an automatic build after each code merge.

[2016-09-21 16:48] betterclever commented on #1
travis.yml is added in #5 . Should I make changes in travis to post notifications to loklak gitter channel?

[2016-09-21 16:52] mariobehling commented on #1
yes, post it to the loklak channel for now. It is sufficient. Thank you.

[2016-09-22 14:12] betterclever opened #8 "Make App Package Name relevant to the the Project."
The current app package name is me.himanshusoni.chatmessageview.example , it should be changed to something relevant to project. I propose, "org.fossasia.susi.ai" for it.

[2016-09-22 16:26] #8 closed

[2016-09-24 20:22] betterclever opened #9 "Display "Unable to send message" or similar on unavailability of internet."
The App currently displays "no value for answers" on unavailability of internet, an appropriate error message must be displayed instead.

[2016-09-24 20:24] jig08 commented on #9
@betterclever Thanks for the suggestion. Are you working on this ?

[2016-09-24 20:26] betterclever commented on #9
@jig08 Yes.

[2016-09-24 20:27] betterclever opened #10 "Implement Material Design in the App"
The App currently uses old Halo Theme instead of new Material Theme. Material design can be implemented in the app for better looks.

[2016-09-24 20:29] betterclever opened #11 "Store Messages in a local database"
The app currently starts a new chat session every time you start it , old messages are not shown. Old messages must be stored and displayed too.

[2016-09-25 06:20] code-crusher commented on #3
@mariobehling should the generated apk file be pushed in a folder in the master branch (similar to open-event-android) or in a new branch?

[2016-09-25 06:39] the-dagger commented on #1
Closing this as travis.yml is added to the repo

[2016-09-25 07:31] jig08 commented on #10
@betterclever Feel free to work on this and submit a PR.

[2016-09-25 11:32] Orbiter commented on #10
+1

[2016-09-25 12:55] betterclever commented on #1
@the-dagger Notification system is still not working properly. I'm not able to figure out. Basically, I used the webhook url used in other loklak services. Can you look into that?

[2016-09-25 15:44] code-crusher commented on #10
@betterclever are you working on this as i would like to work on it? 🙂

[2016-09-25 17:03] betterclever commented on #10
@code-crusher Yes I'm working on this. You may work on #11 , that would be a little difficult for me.

[2016-09-25 17:08] code-crusher opened #12 "Implement RecylerView for better performance"
Replace ListView with RecyclerView for better app performance.

[2016-09-25 17:11] the-dagger commented on #1
Ok sure, let me take a look.

[2016-09-25 17:11] the-dagger commented on #12
@code-crusher Would you like to work on this?

[2016-09-25 17:13] code-crusher commented on #12
@the-dagger Yes, i would like to work on it :)

[2016-09-25 17:13] the-dagger commented on #12
Cool, assigning you.

[2016-09-26 03:43] betterclever commented on #10
![screenshot_20160926-090319](https://cloud.githubusercontent.com/assets/16309034/18822044/503439f8-83c9-11e6-8b67-3a068b7454dd.png)
![screenshot_20160926-090338](https://cloud.githubusercontent.com/assets/16309034/18822045/5037cf96-83c9-11e6-8aca-19d552a3e424.png)

@jig08 @code-crusher @Orbiter  Please have a look and suggest whether something else should be changed/added?

[2016-09-26 03:46] daminisatya commented on #10
@betterclever Can I know from where the ```error: No value for answers``` coming from?

[2016-09-26 03:47] daminisatya commented on #10
Please open a pull request and we can have a proper review :) Please attach the same screenshots there!

[2016-09-26 03:48] betterclever commented on #10
@daminisatya  Actually, when app is not able to fetch the answers due to unavailability of internet, that error is displayed. There was some issue of internet here at time of screenshots.

[2016-09-26 03:53] betterclever commented on #10
As far as the pull request is concerned, I'm delaying it till #13 gets merged, so I can resolve any merge conflicts beforehand.

[2016-09-26 04:08] code-crusher commented on #10
@betterclever you can go ahead and send a PR. What ever conflicts will be there I'll solve them before merging my PR.

[2016-09-26 06:46] mariobehling commented on #3
@code-crusher

I think I answered this in the issue description:

So, yes into a branch "apk".

[2016-09-26 09:08] code-crusher commented on #3
@mariobehling Thank you clarification. Will start working on it.

[2016-09-26 14:26] #12 closed

[2016-09-26 15:12] amitiwary999 opened #15 "Soft keyboard get open automatically"
After opening app soft keyboard get open automatically

[2016-09-26 15:43] nikhilbalyan opened #16 "Copy, Delete, Forward, share option"
After selecting the Text Copy, Delete, Forward, share option should pop up in the status bar.

[2016-09-26 15:47] jig08 commented on #16
@nikhilbalyan Would you like to take up this issue ?

[2016-09-26 15:48] nikhilbalyan commented on #16
Yes.

[2016-09-26 15:55] nehagup commented on #15
i would like to take up this issue.

[2016-09-26 15:56] amitiwary999 commented on #15
I already started working on it

[2016-09-26 16:26] shivenmian commented on #3
@mariobehling Not sure, why this is needed here. This is a normal Android app, not an app generator. Can't correlate open-event with this.

[2016-09-26 17:01] mariobehling commented on #3
We need it for testing. So, non-developers can also test.

[2016-09-26 18:21] gogeta95 opened #17 "Network Call blocks UI"
Network call for reply is blocking UI thread, this needs to be fixed.

[2016-09-26 18:26] the-dagger opened #18 "Make all commits to the dev branch"
All the commits should be made to the development branch of the repo and it should be merged with master on a weekly basis, similar to what we are doing on the opev repo.
Thoughts @mariobehling ?

[2016-09-26 18:29] gogeta95 opened #19 "Better RecyclerView Adapter."
all the scrolling to bottom , notifying and  adding calls should be abstracted inside adapter, to make the code base cleaner and  cause lesser bugs.

[2016-09-26 18:30] the-dagger commented on #17
Would you like to take this up?

[2016-09-26 18:41] gogeta95 commented on #17
yes, actually already done. sending PR in a minute.

[2016-09-26 18:43] mariobehling commented on #18
Yes, we will move to this model in a few weeks, when there is substantial code that justifies a more advanced process. Right now commit directly to master. Added info about this here: https://github.com/fossasia/susi_android/blob/master/README.md#branch-policy

[2016-09-26 18:43] #18 closed

[2016-09-26 19:19] #17 closed

[2016-09-26 19:59] betterclever commented on #19
@gogeta95 . Are you working on this? I would like to work on this. 😃

[2016-09-26 20:14] the-dagger opened #21 "Add .idea directory to the list of ignored files"
Add .idea directory to .gitignore so it is not committed by anyone else

[2016-09-26 20:18] gogeta95 commented on #19
Already working on it.. will send a pr in an hour.

On Tue, Sep 27, 2016, 1:29 AM Pranjal Paliwal <notifications@github.com>
wrote:

[2016-09-26 21:54] #19 closed

[2016-09-26 23:12] vikiCoder commented on #15
Sorry, but I did solv and sent pull request...

[2016-09-27 00:08] betterclever commented on #10
Solved in #14, hence closing.

[2016-09-27 00:08] #10 closed

[2016-09-27 00:09] betterclever commented on #9
Solved in #14, hence closing.

[2016-09-27 00:09] #9 closed

[2016-09-27 03:56] code-crusher opened #25 "Add butterknife for faster development"

[2016-09-27 03:57] code-crusher commented on #25
@the-dagger I would like to take up this issue :)

[2016-09-27 04:09] code-crusher commented on #21
@the-dagger i would like to take up this issue.

[2016-09-27 04:32] #21 closed

[2016-09-27 04:42] amitiwary999 commented on #15
I also solved that issue but not able to send PR.It always show denied permission.

[2016-09-27 04:52] daminisatya commented on #15
Please assign the issue. who ever wants to solve it. and then send the pull request. Inorder to avoid conflict of work. This would waste a lot of energy.

[2016-09-27 04:53] daminisatya commented on #15
I dont see any assignees to this issue. so let's follow the best practice.

[2016-09-27 04:53] daminisatya commented on #15
@vikiCoder Please resolve the comments which i have gave to your pull request. Thank you.

[2016-09-27 05:07] amitiwary999 commented on #11
Are you working on this ?

[2016-09-27 05:59] betterclever commented on #11
Not started yet. Do you wish to wish to work on this?

[2016-09-27 06:04] code-crusher commented on #11
@betterclever I would like to work on it :)

[2016-09-27 06:44] betterclever commented on #11
@code-crusher Sure!! Please carry on the work.

@the-dagger @daminisatya You may assign the issue.

[2016-09-27 06:46] code-crusher commented on #11
@betterclever @the-dagger Great. Will start working on it :)

[2016-09-27 14:18] jig08 commented on #3
@mariobehling +1

[2016-09-27 14:57] #25 closed

[2016-09-27 15:08] code-crusher commented on #2
I would like to work on this issue, @the-dagger can you assign me this?

[2016-09-27 16:29] gogeta95 opened #31 "Multiple Issues with splash screen."
- [x] Splash activity extends Activity, should extend Appcompativity.
- [x] Image is loaded in XML, should be loaded with an image library to resize according to screen size.
- [x] layout can be improved by removing RelativeLayout.

@the-dagger what library should we use for image loading? Picasso or glide? i prefer glide because it handles image resizing effectively.

[2016-09-27 16:44] #2 closed

[2016-09-27 16:44] #15 closed

[2016-09-27 16:50] gogeta95 opened #32 "Recycler view doesn't scroll down on keyboard popup."
recycler view should maintain its scroll state when keyboard pops up. bottom messages get obscured by keyboard.

[2016-09-27 17:15] the-dagger commented on #31
Yes, plus glide has better caching too, in case we implement images to be fetched from network in the future

[2016-09-27 17:32] amitiwary999 opened #34 "App crashed on clicking picture in edittext(left) (in mainactivity)"

[2016-09-27 17:55] gogeta95 commented on #31
using glide for this issue also then.

[2016-09-27 18:15] gogeta95 commented on #32
@the-dagger could you assign this to me?

[2016-09-28 00:58] betterclever commented on #34
@amitiwary999 Please post logs of the crash here.

[2016-09-28 01:21] #31 closed

[2016-09-28 01:39] betterclever commented on #34
@the-dagger @daminisatya @Orbiter  The cause of the issue is when ListView was updated with recyclerView in #13 the possibility of sending images was removed. But the point is whether app needs to send images or not, if not that can be removed completely or in future if something like that is needed, we may add the functionality similar to what was present earlier.

[2016-09-28 01:42] betterclever opened #36 "Add an emoji keyboard like popular chat apps."
Emoji sending option can be added directly instead of using keyboard specific emoji option like in popular chat apps. Later on, susi backend api can be improved to add emoji support in the messages.

[2016-09-28 01:56] betterclever commented on #36
@the-dagger @daminisatya  You may assign it to me if you find this feature good enough/ worth adding.

[2016-09-28 02:23] daminisatya commented on #36
@betterclever yes, this is was in the idea stack. You can implement it. Make sure you open a relevant issue in the susi server as well.

[2016-09-28 07:59] betterclever opened #39 "Addition of stricter unit tests."
Current unit tests on Travis just check for successful build but does not check whether various app functionality is working correctly or not.

We may add support for checking basic app functionalities like sending messages using androidTest framework so that errors like in #34  can be avoided.

[2016-09-28 08:45] #32 closed

[2016-09-28 12:41] mariobehling commented on #3
@code-crusher @the-dagger There was an apk branch with a copy of the code from master. The goal of this issue is to have an apk only in that branch and nothing else at the moment. Please check out the example in the description (https://github.com/fossasia/open-event-orga-app/tree/apk). I deleted the apk branch as it did not fulfill the purpose.

[2016-09-28 16:57] code-crusher commented on #39
@betterclever I was also thinking of making Unit Tests from the beginning. Are you working on it or can i take this?

[2016-09-28 17:00] code-crusher commented on #3
@the-dagger can you create an `orphan` branch `apk`? :)

[2016-09-28 17:01] the-dagger commented on #3
@code-crusher Doing it in a min

[2016-09-28 17:13] the-dagger commented on #3
@code-crusher The branch is up.
[https://github.com/fossasia/susi_android/tree/apk](https://github.com/fossasia/susi_android/tree/apk)

[2016-09-28 17:57] gogeta95 opened #42 "Wake lock permission"
@the-dagger could you tell why there is wake lock permission declared in manifest? we can remove it if not needed.

[2016-09-28 17:58] shivenmian commented on #42
Because the project was originally a fork of another repo. Maybe the line came from there.

[2016-09-28 17:59] the-dagger commented on #42
I believe that is for a future use case, in which susi has to remind the user of a particular task or has to trigger a particular function at a specific time.
Although I'm not really sure if it is required as of now.
You can go ahead and remove it for now.

[2016-09-28 18:03] gogeta95 commented on #42
Okay, sending PR in a minute.

[2016-09-28 23:12] betterclever commented on #39
@code-crusher I am a bit busy currently in studies. You may take it for sure.

[2016-09-29 01:02] addiittya2006 commented on #34
@betterclever I don't think we ever had any functionality for sending images.
@daminisatya Susi Server doesn't have support for Images, right?

This Error is basically caused by a Nullable OnClick event fired with No Action.

[2016-09-29 01:03] addiittya2006 commented on #36
@daminisatya Are Rules for parsing unicode Emojis defined in Susi Server?

[2016-09-29 01:04] addiittya2006 commented on #16
@nikhilbalyan are we talking about selecting messages here or Results from Susi?

[2016-09-29 01:23] betterclever commented on #34
@addiittya2006 Actually, I was referring to the image support in the library itself from which the project was forked, it included support for sending images , not sending actually, just displaying images in the views and for its demo, a button with a functionality that if you'll click that, the avatar image of other person is shown as a reply ( for demo purposes ). I was skeptical about leaving t

[2016-09-29 03:07] daminisatya commented on #36
@addiittya2006  rules for emojis arent present. Its an open issue

[2016-09-29 03:44] #34 closed

[2016-09-29 03:51] code-crusher commented on #39
@betterclever great, I'll do it today.

[2016-09-29 04:20] addiittya2006 opened #46 "Compile only a binary for the external Library"
I think we should only compile the binary for the View Library until we rewrite, which is available [here](https://github.com/himanshu-soni/ChatMessageView#installation).
Project management and gradle compilation is faster after proguard and easier maintenance.

[2016-09-29 04:21] addiittya2006 commented on #46
@daminisatya Assign me if deemed right.

[2016-09-29 04:36] daminisatya commented on #46
@addiittya2006 feel free to take up open issues and you can assign it yourself

[2016-09-29 05:16] mariobehling commented on #36
@addiittya2006 Please open an issue for this in the Susi Server

[2016-09-29 05:34] mariobehling commented on #3
Please call the apk: susi.apk

[2016-09-29 06:15] addiittya2006 commented on #36
I opened an Issue for this in the server but currently I don't think support for emojis is really required as specifying datasets and rules for emojis for such a peculiar feature is a cumbersome task.

[2016-09-29 09:47] sagarchoudhary96 opened #48 "EditTextBox on Enter key text sending"
when we press enter key, it goes to second line. we can make it that on pressing enter msg get sent

[2016-09-29 10:04] daminisatya commented on #48
+1

[2016-09-29 10:09] the-dagger commented on #48
@sagarchoudhary96 Sounds good, do you want to work on this?

[2016-09-29 10:09] sagarchoudhary96 commented on #48
yeah sure .. i would love to work on it :)

[2016-09-29 10:10] amitiwary999 opened #49 "If user write multiple line message then edittext cover the large portion of UI"
If user line message with multiple line then edittext box will cover the large portion of UI.

[2016-09-29 10:12] sagarchoudhary96 commented on #49
yaa that's why i want to make it single line.... :)

[2016-09-29 10:15] the-dagger commented on #49
Similar issue is already opened in #48

[2016-09-29 10:17] sagarchoudhary96 commented on #48
@the-dagger  okay i will see to it too

[2016-09-29 10:23] amitiwary999 commented on #48
But My work is different.User may write multiline text without pressing enter key and it will hide large portion of UI.

[2016-09-29 10:23] the-dagger commented on #48
@amitiwary999 Yeah saw it just now.
Will reopen your issue

[2016-09-29 10:24] #42 closed

[2016-09-29 10:25] gogeta95 commented on #48
How about we make it like WhatsApp?
Limit of  4 lines max and "enter is send" is user preference?

On Thu, Sep 29, 2016, 3:47 PM Sagar Choudhary <notifications@github.com>
wrote:

[2016-09-29 10:25] gogeta95 commented on #48
This solves both #48 and #49.

On Thu, Sep 29, 2016, 3:54 PM Saurabh Singhal <singhalsaurabh95@gmail.com>
wrote:

[2016-09-29 12:18] gogeta95 opened #51 "Gitter room for android client."
We should create a room for android client on gitter and also update readme accordingly.

@mariobehling @the-dagger thoughts?

[2016-09-29 12:22] DengYiping commented on #51
It is a good point. Should we use gitter or slack?

[2016-09-29 12:24] daminisatya commented on #51
@gogeta95 @DengYiping Gitter room is better. Please go ahead, create the room and invite developers to the same. Thank you.

[2016-09-29 13:43] #51 closed

[2016-09-29 14:27] addiittya2006 commented on #48
#52 A preference toggle must be added in settings to use 'Enter as Send' as most queries to Susi are short.

[2016-09-29 14:29] #46 closed

[2016-09-29 14:39] addiittya2006 opened #55 "Update 'docs' Screenshots"
Add appropriate screenshots for the functioning of app.

[2016-09-29 15:53] viveksb007 opened #57 "Sends newline character as message"
it considers newline character as message and sends it.

[2016-09-29 16:06] #55 closed

[2016-09-29 17:08] gogeta95 commented on #57
@the-dagger  you can close this, as it has been merged.

[2016-09-29 17:15] #57 closed

[2016-09-30 03:50] amitiwary999 commented on #36
@the-dagger @daminisatya for now close this issue because we can't work on this until this issue is resolved in the Susi Server.

[2016-09-30 03:53] daminisatya commented on #36
Sure then please follow up with the server update . Thank you.

[2016-09-30 03:53] #36 closed

[2016-09-30 06:50] amitiwary999 commented on #48
@sagarchoudhary96  if you are working on it then try to solve issue #49  also . Otherwise I will try to solve both issue.

[2016-09-30 07:58] sagarchoudhary96 commented on #48
@amitiwary999 i'll see to it

[2016-09-30 09:10] mariobehling opened #62 "Linkify Links"
Currently some answers generate links, but these are not clickable.

[2016-09-30 09:12] mariobehling opened #63 "Implement image support"
Currently contrary to the web client on asksusi.com questions about maps do not generate a map image. Please implement support for map images and other images.

If any relevant output is needed from the server, please open issues in the susi server project.

[2016-09-30 09:50] gogeta95 commented on #62
I'd like to work on this, please assign it to me. thanks.

[2016-09-30 09:54] daminisatya commented on #62
@gogeta95 Feel free to assign issues which you can.

[2016-09-30 09:55] daminisatya commented on #63
For the susi web client, the maps are displayed with the help of leaflet. Hope it can be used here.

[2016-09-30 10:17] gogeta95 commented on #63
I'd like to work on this, will be using http://staticmap.openstreetmap.de/ to generate images from response, no need to add changes to server.

[2016-09-30 10:20] gogeta95 commented on #62
I don't have the authority to do so.

[2016-09-30 10:21] gogeta95 commented on #62
@mariobehling  should we linkify only Susi responses or also the links sent be user? (if any)

[2016-09-30 10:41] daminisatya commented on #62
@gogeta95  Only responses.

[2016-09-30 10:53] daminisatya commented on #63
Yes looks good to me. Please go ahead.

[2016-09-30 11:53] gogeta95 commented on #62
I started working on this but the links  aren't visible properly because of colors. what color shall we pick for links? I'd suggest #FF6D00 (Orange). attaching both.
![screenshot from 2016-09-30 17-16-32](https://cloud.githubusercontent.com/assets/8329096/18990851/76ffdaf8-8732-11e6-87ee-13863ad67a53.png)

![screenshot from 2016-09-30 17-21-42](https://cloud.githubusercontent.com/assets/8329096/18

[2016-09-30 12:03] daminisatya commented on #62
The chat bubble color is too heavy! Can't we change the colors as in susi webclient?

![sdfhd](https://cloud.githubusercontent.com/assets/6227784/18991081/f504a608-8733-11e6-81ce-bbb71de8e37c.PNG)

[2016-09-30 13:11] gogeta95 commented on #62
I guess we should keep same colors in web and Android to keep uniformity.

[2016-09-30 13:23] daminisatya commented on #62
Cool, then use the colors from the web client.

[2016-09-30 17:48] #62 closed

[2016-09-30 18:32] code-crusher opened #67 "Add timestamp on chat message"

[2016-09-30 18:32] code-crusher commented on #67
@the-dagger i would like to work on this issue. :)

[2016-09-30 18:33] daminisatya commented on #67
+1

[2016-09-30 19:14] gogeta95 opened #68 "Use Retrofit + GSON for networking and JSON Parsing."
we should use retrofit for network calls and GSON for JSON parsing (instead of manual) to make the code more cleaner and understandable.

[2016-09-30 21:23] betterclever opened #69 "Addition of Search Functionality in messages"
Now that messages are being stored in database, PR #66 , searching in messages can be done to highlight that particular message in the conversation.

[2016-09-30 21:28] betterclever opened #70 "Preview of a link (with an image) can be added."
We can add support for showing a link preview showing an image preview on any link in any message (like in facebook messenger).

I would like to take up this.

[2016-09-30 22:48] viveksb007 commented on #69
i would like to implement search functionality.

[2016-10-01 00:53] daminisatya commented on #70
Good one, Please go ahead and implement !

[2016-10-01 03:50] amitiwary999 commented on #48
@sagarchoudhary96 are you working on it. @the-dagger I would  like to work on this. At last you decide whose code you want to pull.

[2016-10-01 05:19] gogeta95 commented on #63
@orbiter, can we add a type parameter in response which tells us whether a given response is  text/map/image? It'll also help later if we want to add more types of messages.

[2016-10-01 07:10] gogeta95 commented on #68
@the-dagger @daminisatya  will move ahead with #63 after this is done, as current parsing only gives us a text message, we need more parameters in message object.

[2016-10-01 11:29] jig08 commented on #69
@viveksb007 Cool, go ahead.

[2016-10-01 12:49] mayank408 opened #72 "Map does not showing the right location"
on asking where is india ,Its showing the location of indija...

![whatsapp image 2016-10-01 at 6 16 34 pm](https://cloud.githubusercontent.com/assets/22056321/19014174/480cfa7e-8803-11e6-9f98-f0501c646ce6.jpeg)

![whatsapp image 2016-10-01 at 6 16 34 pm 1](https://cloud.githubusercontent.com/assets/22056321/19014173/47e8f0e8-8803-11e6-82ee-7868647aabb0.jpeg)

[2016-10-01 13:03] mayank408 opened #73 "Using speech to text to take the input"
how it would be to use speech to text input in the app..
i would like to work on that....

[2016-10-01 13:06] daminisatya commented on #72
@mayank408 we are not sure whether it is issue with the open street map interpretation or with the response from susi server.
Can you please investigate in this. ☺

[2016-10-01 13:08] daminisatya commented on #73
Its a good enhacement, please provide us with info on how you are planing to implement it.

[2016-10-01 14:05] amitiwary999 commented on #72
I think it is issue with open street map interpretation

[2016-10-01 14:07] amitiwary999 commented on #72
On asking about other country like where is America or China it replies you can ask me anything not that

[2016-10-01 14:38] sagarchoudhary96 commented on #48
@amitiwary999 I have completed it .. i will update pull request as soon i reach home :)

[2016-10-01 14:54] mayank408 commented on #72
@daminisatya @amitiwary999 The issue is with open street interpretation as it only recognize India that too not correctly while it does not show any result for other countries..

[2016-10-01 14:57] daminisatya commented on #72
Ok, So the issue is in wrong repo, please open the same in susi server.

[2016-10-01 14:57] mayank408 commented on #73
Speech to text is implemented ..
its working fine without any crashes or lag..
![whatsapp image 2016-10-01 at 8 25 40 pm 1](https://cloud.githubusercontent.com/assets/22056321/19014845/72d40e98-8815-11e6-9452-d0f2270d4efb.jpeg)
![whatsapp image 2016-10-01 at 8 25 40 pm](https://cloud.githubusercontent.com/assets/22056321/19014846/72db5586-8815-11e6-9ad5-c21cb90966eb.jpeg)

[2016-10-01 14:58] #72 closed

[2016-10-01 14:59] daminisatya commented on #72
The response coming from the server uses the open street maps for the map links. So we can think of another alternative. Please follow up with this issue in susi server

[2016-10-01 15:00] mayank408 commented on #73
@daminisatya  Should i give a pull request or any improvement is required like a single button for both and other transition effects..

[2016-10-01 15:05] daminisatya commented on #73
@mayank408  it looks good to me. Please create a pull request! 👍

[2016-10-01 17:41] amitiwary999 opened #75 "Each time when app start it shows the first ever chat between AI and user"
Each time when user Start app by default app always show first ever message between SUSI_AI and user

[2016-10-01 17:42] amitiwary999 commented on #75
I would like to work on it.

[2016-10-01 20:39] mayank408 commented on #73
#76 updated speech to text input..

[2016-10-01 21:55] jig08 commented on #75
@amitiwary999 Please be clear on what the issue is and what do you suggest as a fix.
Thanks !

[2016-10-02 00:51] mariobehling opened #77 "Deactivate debugging in sample app in apk branch"
Deactivate debugging in sample app in apk branch.

See more info here: http://developer.android.com/tools/device.html

[2016-10-02 00:55] #1 closed

[2016-10-02 01:00] #68 closed

[2016-10-02 02:47] amitiwary999 commented on #75
@jig08
This is the first chat between me and AI when I install app
![screenshot_2016-10-02-08-10-55](https://cloud.githubusercontent.com/assets/14003244/19018267/75da167e-8878-11e6-9074-d85986836e41.png)

[2016-10-02 02:48] amitiwary999 commented on #75
and this is the last chat
![screenshot_2016-10-02-08-11-06](https://cloud.githubusercontent.com/assets/14003244/19018277/b5721e12-8878-11e6-8040-5c77e653b072.png)

[2016-10-02 02:49] amitiwary999 commented on #75
but whenever I open app it always show me the first ever chat between me and AI
![screenshot_2016-10-02-08-10-55](https://cloud.githubusercontent.com/assets/14003244/19018287/ecdcc00a-8878-11e6-958c-284fb122f0bf.png)

[2016-10-02 02:51] amitiwary999 commented on #75
But it should show last chat between me and AI i.e this pic.
![screenshot_2016-10-02-08-11-06](https://cloud.githubusercontent.com/assets/14003244/19018292/059a6e12-8879-11e6-932f-90f55c6a2edc.png)

[2016-10-02 02:52] daminisatya commented on #75
@amitiwary999 good catch. Please go ahead and fix it

[2016-10-02 05:27] addiittya2006 opened #79 "Minor UI Improvement"
@daminisatya How's this for a UI Imrovement?
![screenshot_1475385389](https://cloud.githubusercontent.com/assets/7330961/19018882/d6601050-888e-11e6-8c6d-7b5aa2df8f11.png)

[2016-10-02 05:32] addiittya2006 commented on #77
We are building and uploading app-debug.apk to the orphan branch through travis. Actually, debugging must not be disabled for the debug buildVariant. Debugging is disabled by default for the release Variant, So what can be done is Build a release apk through Travis, then that apk can't be debugged.

Rather another great option would be to do an Alpha tag Github release after successful builds and

[2016-10-02 05:35] addiittya2006 commented on #3
@the-dagger Also, #77 .

[2016-10-02 05:38] daminisatya commented on #79
Looks good to me. 👍

[2016-10-02 05:41] #75 closed

[2016-10-02 09:00] gogeta95 commented on #11
@the-dagger please close this as it has been done.

[2016-10-02 09:08] gogeta95 commented on #63
I have a question, shall we just add an image in case of map or make it clickable too?
click map -> open location in browser/google maps?

[2016-10-02 09:51] sagarchoudhary96 commented on #48
For issue 49 as written that User may write multiline text without pressing enter key and it will hide large portion of UI. If enter key as send preference is enabled then the text will be a single line only and if it is disable than it will go to multiline and since it is chatbot what i think is no user will be ever asking questions more tan 2-3 lines at max.  if question is more than 7-8 lines t

[2016-10-02 10:10] amitiwary999 commented on #48
If you know  human being then you know that they can ask anything.

[2016-10-02 10:29] #11 closed

[2016-10-02 16:24] sagarchoudhary96 commented on #48
@daminisatya can we know close this issue :)

[2016-10-02 16:28] #48 closed

[2016-10-02 16:28] #79 closed

[2016-10-02 18:02] mayank408 commented on #73
new pull request #83 has been created.. resolving all the conflicts.

[2016-10-02 19:01] sagarchoudhary96 commented on #49
i have fixed this one too .. just sending the pull request

[2016-10-03 03:55] addiittya2006 opened #85 "Susi Crashes on Network State Changed"
This Crash is occurring due to realm NoClassFound, on changing the Network state.
I/O Mobile data, Wi-fi.
Detected on:
Nexus 5 CM13 Android 6.0.1

![img_20161003_092010](https://cloud.githubusercontent.com/assets/7330961/19027127/f2c168cc-894a-11e6-87a6-4cded5a91bc9.jpg)

Log:
[code]

[2016-10-03 03:57] addiittya2006 commented on #85
Unfortunately, realm/realm-java#3521 & realm/realm-java#3505

[2016-10-03 05:46] djKooks commented on #85
It looks like realm 2.x is not quite stable. How about reverting it to 1.x and upgrade after?

[2016-10-03 07:01] gogeta95 commented on #85
I'd like to work on this if any body is not working.

[2016-10-03 07:01] gogeta95 commented on #63
any updates?

[2016-10-03 09:35] mariobehling commented on #63
@gogeta95 Yes, add an image of the map location and open it in browser/maps.

[2016-10-03 09:37] #49 closed

[2016-10-03 11:24] amitiwary999 commented on #16
@nikhilbalyan have you started working on it?

[2016-10-03 13:54] rahulworld opened #87 "chat background image"
like whats app and hike messenger

[2016-10-03 13:57] jig08 commented on #87
@rahulworld Be specific in detailing about the issue or feature suggestion and its implementation.

If you mean that a user can change the Chat background accordingly to his/her needs either from a given set or from the gallery, it seems to be a good feature ! Go ahead.

[2016-10-03 13:59] rahulworld commented on #87
yes

[2016-10-03 14:06] nikhilbalyan commented on #16
@amitiwary999 i am working on it and am trying to implement it via contextual action bar. But I am facing issuse with RecyclerView. I will highly appreciate if you can help me out in implementing it.

[2016-10-03 14:29] nikhilbalyan commented on #16
@addiittya2006 i am trying to delete the messages from application.

[2016-10-04 12:27] the-dagger commented on #87
@rahulworld Are you working on this?

[2016-10-04 12:34] rahulworld commented on #87
yes, i am.

[2016-10-04 12:45] mariobehling commented on #3
What is missing to make this feature happening?

[2016-10-04 13:00] the-dagger commented on #3
I'm testing it @mariobehling.
Waiting for the Travis build to complete.

[2016-10-04 14:42] the-dagger commented on #3
@mariobehling Fixed now.
@addiittya2006 Please try and run your changes once in the local fork before sending a pull request to verify that it works correctly. :slightly_smiling_face:

[2016-10-04 19:40] gogeta95 opened #91 "Settings UI should be improved to material design."
currently, the settings page is using old stock settings UI according to platform, we can update it to follow material design using support libs.

current on Kitkat:
![image](https://cloud.githubusercontent.com/assets/8329096/19089557/6be097e8-8a98-11e6-86ed-b41aa2ddc070.png)

new UI:
![image](https://cloud.githubusercontent.com/assets/8329096/19089501/296c4452-8a98-11e6-835c-3399aa67db43.png)

[2016-10-04 19:43] gogeta95 commented on #91
I'll work on it. please assign, thanks.

[2016-10-04 21:06] jig08 commented on #91
@gogeta95 Go ahead.

[2016-10-04 21:13] mariobehling commented on #77
Yes, please do. We need a sample apk without debugging

[2016-10-05 05:54] code-crusher opened #93 "New app icon and splash"

[2016-10-05 05:55] code-crusher commented on #93
@the-dagger @daminisatya i would like to implement this :)

[2016-10-05 06:00] daminisatya commented on #93
+1

[2016-10-05 06:00] jig08 commented on #93
@code-crusher Thanks. Kindly design a mock-up and put it up for review as well.

[2016-10-05 06:01] daminisatya commented on #93
But you cant change the app icon AFAIK.

[2016-10-05 06:36] pc-bszabo commented on #85
Quick and dirty solution : put this into your launcher activity OR Application=>

try {
getApplicationContext().getPackageManager().setComponentEnabledSetting(new ComponentName("your.package.name","io.realm.internal.network.NetworkStateReceiver"), PackageManager.COMPONENT_ENABLED_STATE_DISABLED, PackageManager.DONT_KILL_APP);
} catch (Exception e) {}

[2016-10-05 08:06] #85 closed

[2016-10-05 08:35] Zhuinden commented on #85
Realm 2.0.1 release fixes this without having to add the broadcast receiver: https://github.com/realm/realm-java/issues/3505#issuecomment-251614137

[2016-10-06 02:51] code-crusher commented on #93
@jig08 sure i'll put up the mockups first.
@daminisatya i'll put up the mockup if everyone likes then we can change that too.

[2016-10-06 03:48] daminisatya commented on #93
@code-crusher Sure. :) @Orbiter Designed the artwork for Susi. So let's loop him too!

[2016-10-06 03:53] #91 closed

[2016-10-06 05:48] mariobehling commented on #93
Great you are working on the design! Thank you.

About the splash screen: If we can keep the app starting fast we can start it without splash screen.

[2016-10-06 06:04] code-crusher commented on #93
@mariobehling we should remove splash screen, as of now we are not doing any background task on it.

[2016-10-06 09:41] code-crusher commented on #93
@daminisatya can you tell me what is the font for SUSI logo?

[2016-10-06 12:52] daminisatya commented on #93
@code-crusher no clue, cause @orbiter designed the art work for susi. @orbiter we need your help over here :)

[2016-10-06 17:52] daminisatya opened #95 "Add support for Pie charts in Susi Response"
Susi server is well ahead giving response in various forms, one such visualization is pie charts. The app must provide support to process the pie data and shoot out a pie chart as a result. Susi server tells you what kind of data its going to give.
Susi webclient uses high charts to display the pie charts

[2016-10-06 17:55] daminisatya opened #96 "Add support for tables in Susi response"
Susi server provides us data in the form of a list. The response should also focus on displaying such data along with the response. It must show it in the form of a bulleted list. Susi shows the type as table in its response

[2016-10-06 18:57] #67 closed

[2016-10-06 19:11] the-dagger opened #98 "Push both debug and release apk in the apk branch"
Push both debug and release apk in the apk branch after a travis build

[2016-10-07 10:29] #98 closed

[2016-10-07 18:27] gogeta95 commented on #63
how is this for maps? let me know any improvement before making a PR.
![image](https://cloud.githubusercontent.com/assets/8329096/19201071/b8ea0e68-8ce9-11e6-8e25-6c8c705086b9.png)

[2016-10-07 20:10] #69 closed

[2016-10-07 23:40] #73 closed

[2016-10-08 09:50] rahulworld commented on #87
@jig08 i have done chat background activity using galley, no wall paper, default.
default image
![screenshot_2016-10-08-15-05-15](https://cloud.githubusercontent.com/assets/15066782/19212197/4f6f17ae-8d6a-11e6-96f6-d521781809bd.png)
select
![screenshot_2016-10-08-15-05-36](https://cloud.githubusercontent.com/assets/15066782/19212203/75a0b5fe-8d6a-11e6-866e-a7f8ca00a777.png)

no wall paper
![screen

[2016-10-08 09:57] amitiwary999 opened #102 "Search functionality not working properly"
You can see it in below pic .
![screenshot_2016-10-08-15-11-46](https://cloud.githubusercontent.com/assets/14003244/19212206/85aa41e0-8d6a-11e6-9fbf-5bdd834c7bab.png)
![screenshot_2016-10-08-15-14-36](https://cloud.githubusercontent.com/assets/14003244/19212208/8fa406b8-8d6a-11e6-841e-4bf94dc252fb.png)

[2016-10-08 10:03] rahulworld commented on #87
@jig08  there is any changes so i do .

[2016-10-08 10:49] mayank408 opened #103 "Adding delete and copy feature in susi app"
I would like to add delete and copy features in the susi app , so that we can delete and copy individual messages..

[2016-10-08 10:51] gogeta95 commented on #103
Copy of #16.

[2016-10-08 11:44] daminisatya commented on #87
Looks great

[2016-10-08 11:44] daminisatya commented on #102
Can we make the UI a little better?

[2016-10-08 11:48] rahulworld commented on #87
@daminisatya  what shoud i do now or any changes.

[2016-10-08 12:15] jig08 commented on #103
@mayank408 duplicate feature. Closing this.

[2016-10-08 12:15] #103 closed

[2016-10-08 12:17] jig08 commented on #87
@rahulworld Good.
Send a `Pull request` with your changes with the commit name following the pattern `Fixes #<issue number> <commit message>`.

[2016-10-08 12:18] jig08 commented on #102
@daminisatya +1.

[2016-10-08 12:19] daminisatya commented on #87
Yes as @jig08 said go ahead and create the pull request. But please follow the coding practices, which you can see in the readme

[2016-10-08 13:43] gogeta95 commented on #87
@rahulworld, by screenshots, doesn't look like you've updated your project.. please update your project before submitting PR.

[2016-10-08 13:51] mayank408 commented on #103
This feature has not been implemented that's why I created the issue.  I did not know that its already in the issue.

[2016-10-08 13:57] gogeta95 commented on #103
No worries, you can continue discussion in #16 and discuss with others if you want to help with issue.

[2016-10-08 14:00] gogeta95 commented on #102
I'd like to work on search UI @daminisatya , will be something new for me.

[2016-10-08 14:05] amitiwary999 commented on #102
@gogeta95 I already started working on it but you can also try.

[2016-10-08 14:07] mayank408 commented on #103
@gogeta95 ya sure

[2016-10-08 14:41] daminisatya commented on #102
@gogeta95 yes you can also try. @gogeta95 @amitiwary999 please open a separate issue. Lets track it separately!

[2016-10-08 14:48] viveksb007 commented on #102
@amitiwary999 after changing query you need to click search button again
i tried same scenario as you did and its working fine

![screenshot_2016-10-08-20-15-37-754_org fossasia susi ai](https://cloud.githubusercontent.com/assets/12713808/19213891/31b34bb6-8d94-11e6-9595-eaec3add9395.png)
![screenshot_2016-10-08-20-15-49-895_org fossasia susi ai](https://cloud.githubusercontent.com/assets/12713808

[2016-10-08 15:11] amitiwary999 commented on #102
@viveksb007
![screenshot_2016-10-08-20-36-51](https://cloud.githubusercontent.com/assets/14003244/19214008/63a46d32-8d97-11e6-8983-f9ad105358ba.png)
![screenshot_2016-10-08-20-37-26](https://cloud.githubusercontent.com/assets/14003244/19214010/71bcc25c-8d97-11e6-9222-70bb8fa485bb.png)

[2016-10-08 15:22] viveksb007 commented on #102
@amitiwary999 uninstall previous app and install fresh.
i fixed this, it was due to change in ids and position. previously ids started from 1 and recycler position started from 0.
i changed ids starting from 0.

[2016-10-08 15:41] gogeta95 opened #105 "Improve Search UI."
improve search UI while searching messages in conversation

[2016-10-08 15:42] gogeta95 commented on #102
@daminisatya  created #105 .

[2016-10-08 19:55] #63 closed

[2016-10-08 21:53] iit2014086 commented on #105
how about using spannable string??

![screenshot_2016-10-09-03-11-49-787_org fossasia susi ai](https://cloud.githubusercontent.com/assets/12937069/19216172/9708609c-8dcf-11e6-89ea-f275c356bb6c.png)

![screenshot_2016-10-09-03-12-13-488_org fossasia susi ai](https://cloud.githubusercontent.com/assets/12937069/19216173/a997ce46-8dcf-11e6-85d7-b3ada0dd3fbd.png)

[2016-10-08 22:00] daminisatya commented on #105
Yes, this is the required output.

[2016-10-08 22:08] iit2014086 commented on #105
okay, I will create a PR.

[2016-10-08 22:26] iit2014086 commented on #95
i would like to work on this using AndroidMPChart....but could you give me an example like for what kind of message will i get pie as a type in response :p ...i am getting "i dont know" for everything..

[2016-10-08 22:31] iit2014086 opened #107 "no response when there is no internet"
if a user sends a message when there is no internet then he should get relevant answers once he is connected to internet

[2016-10-09 02:55] #105 closed

[2016-10-09 03:14] amitiwary999 commented on #107
@iit2014086 From now onward if you want to work on an issue assigned to someone then inform him also because it waste time and energy.(I already started working on #102(#102 and #105 both are same).

[2016-10-09 03:38] #102 closed

[2016-10-09 03:50] yasharmaster commented on #107
I want to work on this issue.

[2016-10-09 03:53] amitiwary999 opened #108 "improve search UI"
you can see that if search text found then colour of text is changed then there is no need to change the background colour.
![screenshot_2016-10-09-09-10-34](https://cloud.githubusercontent.com/assets/14003244/19217765/e3b7582c-8e00-11e6-8aac-5a5f212f810b.png)

It will look good if background colour remain transparent.
![screenshot_2016-10-09-09-13-38](https://cloud.githubusercontent.com/assets/14

[2016-10-09 04:09] the-dagger commented on #108
@amitiwary999 it's better if we just add some alpha to the original implementation, something similar to what whatsapp does.
Just make the selector fill the whole screen's width and add some transparency to it.

[2016-10-09 04:42] amitiwary999 commented on #108
@the-dagger done. Assign this to me I will send a PR.

[2016-10-09 05:05] iit2014086 commented on #107
@amitiwary999  yeah i will from now on...  @yasharmaster  you can work on it...

[2016-10-09 05:30] amitiwary999 commented on #108
@the-dagger is it good?
![screenshot_2016-10-09-10-56-02](https://cloud.githubusercontent.com/assets/14003244/19218141/25b86fa0-8e0f-11e6-83c3-e8d9b52a5fe2.png)

[2016-10-09 05:34] the-dagger commented on #108
Ok, looks good.
Just change the color from black to primary color.

[2016-10-09 06:38] mayank408 commented on #16
@daminisatya I would like to work on this issue please assign me..

[2016-10-09 07:02] amitiwary999 commented on #16
@mayank408 @nikhilbalyan is trying to solve this issue.Asked him if he want to work with you on this issue.

[2016-10-09 07:38] ashu10832 opened #112 "App crashes on clicking up or down arrow when search field if empty"
When searching, if search field is empty and we press up or down arrow then the app crashes.
I would like to take up this issue.

[2016-10-09 07:56] mayank408 commented on #16
@nikhilbalyan could you please tell me how much work has been on the issue done so that i can help as well if u want to work with me..

[2016-10-09 08:38] nikhilbalyan commented on #16
@mayank408 i am facing the same issue as i have mentioned above while integrating CAB with RecyclerView.

[2016-10-09 08:47] mayank408 opened #113 "UI improvement"
Like in whatsapp , when the user has not typed any message there is a single button for speech to text , as soon as user types some message the button gets changed to send button . I would like to implement this.

[2016-10-09 10:09] daminisatya commented on #108
As @the-dagger mentioned the color needs(highlighting)  to be changed.

[2016-10-09 10:13] amitiwary999 commented on #108
I changed the colour from black to primary colour(green) and already send a PR .

[2016-10-09 10:16] jig08 commented on #95
As far as I remember, for queries like `Who will win the 2020 presidential election` we had a pie-chart response between Trump and Hillary...

[2016-10-09 10:26] iit2014086 commented on #95
@jig08  tried this just now...it again gives "i dont know" once can you check?

[2016-10-09 11:09] the-dagger commented on #108
@amitiwary999 Green is not the primary color,
`#2b3c4e` is.
Use a lighter tone to highlight the found message.

[2016-10-09 11:12] amitiwary999 commented on #108
@the-dagger Can I use light grey?

[2016-10-09 11:38] the-dagger commented on #108
I'm not sure, could you link a screenshot?

[2016-10-09 11:45] amitiwary999 commented on #108
@the-dagger I am using #2b3c4e
![screenshot_2016-10-09-17-13-25](https://cloud.githubusercontent.com/assets/14003244/19220143/e39cc582-8e43-11e6-8302-1fbe44e74713.png)

[2016-10-09 11:53] the-dagger commented on #108
Looks good. :+1:

On Sunday, October 9, 2016, Amit Tiwary <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2016-10-09 11:57] mariobehling commented on #95
@Orbiter adding you here in case you have feedback.

[2016-10-09 12:08] abhi007tyagi opened #115 "UI Improvement"
Scrollbar was not visible for the chat.
I will enable it.

[2016-10-09 12:12] #87 closed

[2016-10-09 13:41] abhi007tyagi opened #118 "Bug: in new Wallpaper feature"
Selecting an image from Gallery is not setting it as chat background.
I get a toast saying "Editing is not supported for this image"

Steps:
1. open top right menu.
2. select wallpaper
3. select gallery
4. choose any image
5. toast appears with no change in background

[2016-10-09 13:50] amitiwary999 commented on #118
It is working fine.I just checked it.
![screenshot_2016-10-09-19-17-31](https://cloud.githubusercontent.com/assets/14003244/19220880/5528fc32-8e55-11e6-86d5-fcd8c03a023f.png)

[2016-10-09 14:18] abhi007tyagi commented on #118
Tested it on LG Nexus 5 (2013), v6.0.1
Not able to add any image from Gallery

![image](https://cloud.githubusercontent.com/assets/12875356/19221066/2fa6794a-8e59-11e6-9ca1-919a43f58f47.png)

[2016-10-09 14:18] #115 closed

[2016-10-09 14:21] abhi007tyagi opened #119 "Unit test case - MainActivity view visibility"
Can I write test cases ?
I will use Espresso for writing unit test cases.
Will start from checking presence of UI views
then gradually add methods to test different UI and navigation and features of the app.

This way I will also learn writing test cases.

[2016-10-09 14:22] amitiwary999 commented on #118
Are you testing on Emulator?

[2016-10-09 15:13] jig08 commented on #118
@rahulworld Your take pls.

[2016-10-09 15:16] abhi007tyagi commented on #118
@amitiwary999 No, as I mentioned, I am testing it on my phone, LG Nexus 5 (2013 model), Android v6.0.1

[2016-10-09 15:53] gogeta95 commented on #119
isn't this copy of #39 ?

[2016-10-09 15:55] gogeta95 commented on #118
its because of runtime permission in marshmallow and above.

[2016-10-09 16:02] abhi007tyagi commented on #119
Can these be merged into one heading (if same) and remain open for all unit test case related PRs?

[2016-10-09 16:05] abhi007tyagi commented on #118
That needs to be handled then !!

But my studio alerts me while writing the code regarding the permission and it does not let me compile my code. It should have been handled in that case.

[2016-10-09 16:26] rahulworld commented on #118
it works fine in my mobile (marshmall 6.0) but it gives massage when image not able to crop if there is any improvement i'll Check it.

[2016-10-09 16:32] jig08 commented on #118
@rahulworld make sure all cases are taken account into, assigning you this issue. Cheers !

[2016-10-09 16:32] jig08 commented on #118
@abhi007tyagi Thanks for pointing out this case 😃

[2016-10-09 16:34] jig08 commented on #39
@code-crusher Updates on this ?

[2016-10-09 17:18] the-dagger commented on #119
Yes we can continue this in #39.
I will close this for now.

[2016-10-09 17:18] #119 closed

[2016-10-09 22:23] nikimullick opened #123 "App allows to send a message even without the internet connection."
The user can send a message successfully even without an internet connection.This must not happen.It should show a retry option or an appropriate message that "the message is not sent" to avoid user to think that he is communicating even without internet.

[2016-10-10 04:00] code-crusher commented on #39
@jig08 currently many parts of the app are changing, if i write a test case it might fail on update. Will try to add a few. And it would be good if it is not assigned to anyone so that all can write test cases. :)

[2016-10-10 06:48] mayank408 opened #125 "Issue with the time stamp"
I think there is some issue with time stamp of messages . See the screenshot.

![whatsapp image 2016-10-10 at 12 14 38 pm](https://cloud.githubusercontent.com/assets/22056321/19228498/7a6762ac-8ee3-11e6-80d3-7341b1ddb755.jpeg)

[2016-10-10 08:00] #113 closed

[2016-10-10 08:03] jig08 commented on #125
@mayank408 Date change doesn't show up as in the case of WhatsApp ? Or is the time decreasing ?

[2016-10-10 08:06] jig08 commented on #123
@nikimullick Sounds like a must-have feature. Pls go ahead with the implementation ..

[2016-10-10 08:23] mayank408 commented on #125
@jig08 The problem is that the time is in 12 hour format without showing am or pm.
Suggestions
1. Make the time format to be 24hr or include am or pm in the stamp.
2. Also show proper date and day for the particular messages of chat on a given day once like happens in whatsapp.

[2016-10-10 08:34] gogeta95 commented on #125
we should apply time stamp on messages according to system preferences (12/24 hr). we can use [`DateFormat.is24HourFormat()`](https://developer.android.com/reference/android/text/format/DateFormat.html#is24HourFormat(android.content.Context)) to determine system preference.

[2016-10-10 08:35] mayank408 commented on #125
@jig08 I will like to work on this..

[2016-10-10 08:42] gogeta95 opened #126 "Use Dagger 2 for Dependency Injection."
we should use dagger 2 for easier management of dependencies such as database, network connections and shared preferences. I'm exploring it right now so i'd like to implement it.

[2016-10-10 08:58] jig08 commented on #125
@mayank408 yes pls.

[2016-10-10 10:40] nikimullick commented on #123
@jig08 Is it good? or shall I create retry button? Also, I'm  new to github. Could you please guide me as to how can I merge the change?A little help would be great :)
![screenshot_2016-10-10-15-55-48-361_org fossasia susi ai 1](https://cloud.githubusercontent.com/assets/20987692/19233482/5aa5e32e-8f03-11e6-8010-7ed2a4f07eec.png)

[2016-10-10 10:50] jig08 commented on #123
@nikimullick

- Looks good !
- Show us a sample implementation or a mock-up with the `retry` button as well
- To merge your changes in the main repository: Fork the repo >> Push your changes to a new branch in a single commit referencing this issue using the naming pattern explained in README >> Open a Pull Request for the same.

Hope it helps, cheers !

[2016-10-10 11:00] yasharmaster commented on #123
Isn't #123 same as #107 ?

[2016-10-10 11:13] jig08 commented on #123
@yasharmaster
Relevant implementation details were missing from #107 , also the duplicity was missed.

@nikimullick Kindly post your suggestions & referIssue #107, closing this for now.

[2016-10-10 11:13] #123 closed

[2016-10-10 11:15] jig08 commented on #107
@nikimullick Follow up:
- https://github.com/fossasia/susi_android/issues/123#issue-181915909
- https://github.com/fossasia/susi_android/issues/123#issuecomment-252583933

[2016-10-10 11:23] nikimullick commented on #107
@jig08  I'm sorry I'm confused now..Should I go ahead with my implementation or stop?

[2016-10-10 11:26] nikimullick commented on #107
@yasharmaster have you worked on this already?

[2016-10-10 11:28] jig08 commented on #107
@yasharmaster  Are you working on this issue ? If not, we can assign @nikimullick .

[2016-10-10 11:28] yasharmaster commented on #107
I am working on this issue @jig08 .

[2016-10-10 11:29] jig08 commented on #107
@nikimullick Kindly look for some other issue to fix, or open an issue for a new feature. Cheers 😃

[2016-10-10 11:30] nikimullick commented on #107
I have already implemented the toast message showing the connection error.

[2016-10-10 11:31] nikimullick commented on #107
okay cool @jig08 .
@yasharmaster you work on this if you want.

[2016-10-10 11:51] yasharmaster commented on #107
@jig08 should we keep a variable isDelivered for every chat message from user and then when internet connection is available then fetch responses of all undelivered messages and add them to the chat?

[2016-10-10 11:54] nikhilbalyan commented on #16
@mayank408 you may take this issue i tried my best but i wasn't able to make it happening. In the onbindview method of chatfeedrecycleradapter class i was obtaining the position of the item clicked but after working around a lot i am stucked now with a lot of git merge conflicts. plz @jig08 assign this to @mayank408. And i am really really sorry for not being able to resolve this issue.

[2016-10-10 12:08] nikimullick opened #130 "Search selection needs improvement"
- [ ] Once the **search** is done and closed, the text **remains selected**(coloured).It doesn't go away!! Unless a new search is started.

- [ ] Selection varies on User and Susi's side-The search selection is coloured(black background) on the user side but the text comes in black on susi's side.It must be the same kind on both sides
Similar issue was there #108 but seems like it was solved only

[2016-10-10 12:17] jig08 commented on #130
@nikimullick Nice find. Fix this pls.

[2016-10-10 12:18] jig08 commented on #130
Also see if PR https://github.com/fossasia/susi_android/pull/129 doesn't clash with your fix.

[2016-10-10 12:20] jig08 commented on #16
@nikhilbalyan No worries, at least you tried 😃
Help resolving other issues or suggest new features.

@mayank408 You can go ahead with this.

[2016-10-10 12:20] mayank408 commented on #16
@jig08 ya sure

[2016-10-10 12:20] iit2014086 opened #131 "add deep linking"
if a user opens api.asksusi.com in mobile browser then we can open the susi app

[2016-10-10 12:20] nikimullick commented on #130
okay .I'll see to that

[2016-10-10 12:31] jig08 commented on #131
Deep Linking sounds like a nice feature @iit2014086 .

[2016-10-10 12:34] #112 closed

[2016-10-10 12:35] jig08 commented on #107
@yasharmaster seems fine to me.

@Orbiter @mariobehling  Your feedback required.

[2016-10-10 12:36] daminisatya commented on #131
@iit2014086  if I'm not wrong, you mean the app store?

[2016-10-10 12:37] mariobehling commented on #131
It is too early to talk about and implemente this feature as we are not sure, how this is best used. Plese focus on other features first.

[2016-10-10 12:37] #131 closed

[2016-10-10 12:39] jig08 commented on #131
@daminisatya It generally means if the app is already installed, the browser queries open in the app itself.

[2016-10-10 12:39] mariobehling opened #132 "Implement accounting/login functionality"
The susi server already has accounting functionalities. Please implement account/login features and open relevant additional issues if needed.
* [ ] Add a Login Screen that allows user to Log In and Sign Up
* [ ] Handle the backend when the user logs in or signs up

[2016-10-10 12:40] mariobehling commented on #107
@jig08 How does whatsapp deal with this? Please implement in the same way.

[2016-10-10 12:42] jig08 commented on #107
@mariobehling WhatsApp does send all the messages at a later stage when the internet connection is available, instead of discarding them off.

We can follow suit, @yasharmaster I think we should associate a `isDelivered` variable with each message, check accordingly and fetch responses of all the undelivered messages.

[2016-10-10 12:50] amitiwary999 commented on #130
@nikimullick have you fixed it? #108 was assigned to me and I forgot to change susi message background.I solved it so I am sending PR.

[2016-10-10 12:54] nikimullick commented on #130
cool @amitiwary999  you can solve **2**. I'll do the other one in search.

[2016-10-10 12:56] jig08 commented on #130
@nikimullick @amitiwary999 Edited the initial issue to accommodate both.

[2016-10-10 13:33] mayank408 commented on #125
@jig08 Is it looking all right or any changes needed.

![whatsapp image 2016-10-10 at 7 00 06 pm](https://cloud.githubusercontent.com/assets/22056321/19237774/20a9c500-8f1c-11e6-8caf-f1990721dd0c.jpeg)

[2016-10-10 13:35] the-dagger commented on #125
I think that we can do away with the date and display only the time.(with am/pm)
Adding date makes it a bit too cluttered.
@daminisatya @mariobehling Views?

[2016-10-10 13:37] daminisatya commented on #125
@the-dagger agreed. Displaying time is enough. (Y)

[2016-10-10 13:37] amitiwary999 commented on #130
@nikimullick I am not getting your first point.

[2016-10-10 13:39] nikimullick commented on #130
@jig08 seems like today isn't my day :( That search issue is solved in the new commit .

[2016-10-10 13:40] mayank408 commented on #125
@daminisatya @the-dagger ok no problem , I will show time only.

[2016-10-10 13:40] the-dagger commented on #130
@nikimullick Point 1 isn't solved yet.
@amitiwary999 's PR solves only Point 2 of the issue.
You can work on this if you want to .

[2016-10-10 13:43] amitiwary999 commented on #130
@the-dagger point 1 is not a issue it is working fine in my android phone.

[2016-10-10 13:45] nikimullick commented on #130
@the-dagger point 1 is already resolved.I don't know by whom but it is not there now in the latest commit.However, a little while ago it was an issue .Now,its working fine

[2016-10-10 13:47] amitiwary999 commented on #130
@nikimullick always try to update your code with master branch of fossasia/susi_android.

[2016-10-10 13:48] nikimullick commented on #130
I did but meanwhile some other commits happened

[2016-10-10 13:49] the-dagger commented on #130
Yes, its not happening with me too.
Closing this.

[2016-10-10 13:49] #130 closed

[2016-10-10 14:04] #108 closed

[2016-10-10 14:22] mayank408 commented on #125
@jig08 @the-dagger @daminisatya how it would be to display date like this.

![whatsapp image 2016-10-10 at 7 49 54 pm](https://cloud.githubusercontent.com/assets/22056321/19239293/f51e08cc-8f22-11e6-939d-c1f8d0c98009.jpeg)

[2016-10-10 14:25] abhi007tyagi commented on #107
please use job scheduler... it will handle background sync when network is not there. you can implement the other features using callback methods

[2016-10-10 14:25] lokeshsaini94 commented on #93
@code-crusher Are you working on the icon and splash screen? If not then, I'd like to work on it.

[2016-10-10 14:28] the-dagger commented on #125
Looks awesome :+1:

[2016-10-10 14:33] lokeshsaini94 opened #135 "Option to change the colour palette on runtime"
I believe there should be an option to change the colour palette of the app so that user can customise the app's UI as he/she likes.

**I'd like to work on this.**

[2016-10-10 14:37] the-dagger commented on #135
Good idea, we can have a material pallet sort of thing which allows the user to tweak primary and accent color.

[2016-10-10 14:43] jig08 commented on #125
@mayank408 Much better.

[2016-10-10 14:44] jig08 commented on #93
@code-crusher Did you follow the `SUSI Artwork` discussion on Gitter ? It might come in handy for re-designing .

[2016-10-10 14:46] lokeshsaini94 commented on #135
Thanks, @the-dagger
I'll add an option to switch between some predefined material palettes with text, primary, accent colours.

[2016-10-10 14:54] code-crusher commented on #93
@jig08 i had no idea about it. Will finish it asap. Thanks for the update.

[2016-10-10 14:55] jig08 commented on #93
@code-crusher Yes pls. Thanks.

[2016-10-10 15:44] nikhilbalyan commented on #16
thanx @jig08 looking forward to give my best :+1:

[2016-10-10 16:08] nikimullick opened #136 "Issue with back button"
When back button is pressed on the splashscreen second or third time the activity doesn't finish,rather it starts. I think it should either have disabled back button on the splashscreen or the splashscreen activity needs to be finished on BACK pressed.

[2016-10-10 16:18] the-dagger commented on #136
@nikimullick We plan to remove the splash screen altogether as it serves no meaningful purpose as of now.
Can you go ahead and do this?

[2016-10-10 16:27] code-crusher commented on #93
@daminisatya @the-dagger @jig08 please review the icon so that i can move forward.

![susi_icon](https://cloud.githubusercontent.com/assets/6625740/19243131/efa5c1a8-8f33-11e6-8d90-423fe3a6d8aa.png)

[2016-10-10 16:28] nikimullick commented on #136
As a suggestion,I would say,you could probably give a little intro about what susi does on the splashscreen. Don't you think removing it will make a user think-"What is this about? What does this chatbot supposed to do?"
Still if you say I can go ahead and remove splash screen.

[2016-10-10 16:39] the-dagger commented on #93
Looks good :+1:

[2016-10-10 16:40] #126 closed

[2016-10-10 16:41] the-dagger commented on #136
No, I don't think so.
Later on we can have a user onboarding tutorial if possible.
Similar to what Hangout or Allo has.

[2016-10-10 16:55] mayank408 commented on #136
@the-dagger I already planned to remove splash screen in my next pull request.Shall i go ahead with it??

[2016-10-10 16:57] jig08 commented on #136
@the-dagger @mayank408 @nikimullick I guess we already had an issue for this case. Did we ?

[2016-10-10 16:59] the-dagger commented on #136
Nope, there isn't an issue for this.
@mayank408 , @code-crusher is working on the same thing too, so its better to coordinate with him on this.

[2016-10-10 17:00] mayank408 commented on #136
@the-dagger ya sure

[2016-10-10 17:13] nikimullick commented on #136
okay @the-dagger i'll remove splash screen

[2016-10-10 18:32] #93 closed

[2016-10-10 19:13] iit2014086 opened #139 "chat head"
what do you guys think about creating a chat head like in messenger??....in that way user can easily navigate between apps.

[2016-10-10 19:24] iit2014086 commented on #139
yeah but still if user is constantly using some other app and susi then it can be helpful...but yeah it has minimal use

[2016-10-10 19:36] gogeta95 commented on #132
I'd like to implement this, but where can I find the required docs for authentication APIs? @Orbiter @mariobehling

[2016-10-11 06:47] #125 closed

[2016-10-11 07:39] mariobehling commented on #132
@gogeta95 Please have a look at the accounts apps at http://api.asksusi.com/apps/applist/index.html

* There is also an accounting blog post here: http://blog.loklak.net/under-the-hood-accounting-example/
* and about logins: http://blog.loklak.net/under-the-hood-public-key-login/
* the AAA system: http://blog.loklak.net/under-the-hood-authorization/

[2016-10-11 09:26] jig08 commented on #136
@nikimullick yes pls.

[2016-10-11 11:03] therajanmaurya opened #141 "Manage Hard Coded Strings in strings.xml"
Everywhere, contributors are using hard coded strings because there is no rule to manage strings.ml.
This issue for managing the strings resources  in strings.xml.

[2016-10-11 12:08] FleetAdmiral commented on #141
I'd like to take this up!

[2016-10-11 12:26] jig08 commented on #141
@FleetAdmiral This has already been taken up, look for some other 😃

[2016-10-11 12:27] FleetAdmiral commented on #141
@jig08 Didn't notice the assignee, sorry :/

[2016-10-11 12:35] piyush6348 opened #143 "Search query and messaging mismatch"
While searching for messages, if we don't close the search view and start messaging then search view is
not closed automatically
![screenshot_2016-10-11-17-53-30-752_org fossasia susi ai](https://cloud.githubusercontent.com/assets/16835832/19270347/1bbc337c-8fdd-11e6-8eb7-f22f8d66e923.png)

[2016-10-11 12:37] amitiwary999 commented on #143
@piyush6348 are you working on it? Otherwise I would like to work on this.

[2016-10-11 12:38] piyush6348 commented on #143
yes i'm @amitiwary999

[2016-10-11 13:22] FleetAdmiral commented on #96
Would like to take this up! Any further explanation on what is expected here would be nice 👍

[2016-10-11 13:27] iit2014086 commented on #96
@FleetAdmiral i just started implementing this ....was about to mention this...can you work on other issue..

[2016-10-11 13:28] FleetAdmiral commented on #96
Alright, thanks for letting me know beforehand 👍

[2016-10-11 13:28] daminisatya commented on #96
@FleetAdmiral This is sample response coming from the server.
[code]

[2016-10-11 13:30] #141 closed

[2016-10-11 13:30] daminisatya commented on #96
So we have to display the ```data``` which is under ```answers```.
So in general we process the answer as ```actions.expression``` but for type ```table``` we have to show the list under ```data```

[2016-10-11 13:31] daminisatya commented on #96
@iit2014086 Please inform before you work on anything.So that we can assign the issue. Leaving it open may lead to lot of confusions. thank you :)

[2016-10-11 13:33] daminisatya commented on #95
@iit2014086 In case of a piechart, here's the sample response.

[code]

For the sample query
```Who will win the 2016 presidential elections```

[2016-10-11 13:35] daminisatya commented on #95
You have make us of the ```data``` and process it into a piechart. I have implemented it using highcharts for displaying piechart.

[2016-10-11 13:35] iit2014086 commented on #96
@daminisatya  yeah sure... it was just sometime ago i was reading loklak blog here  http://blog.loklak.net/page/5/  and understood what needs to be done exactly... thats why couldnt inform sooner :)

[2016-10-11 13:39] daminisatya commented on #96
Why dont you work on Pie charts(That's more complex ;) )? Let's involve more people. You can help @FleetAdmiral in getting this done. (Which is a great thing)

[2016-10-11 13:42] iit2014086 commented on #96
@daminisatya yeah involving more people is a good idea... @FleetAdmiral you can take up this issue..i will be working on pie chart

[2016-10-11 13:43] FleetAdmiral commented on #96
@daminisatya @iit2014086 Yea that'd be great! I'll start work on this issue!

[2016-10-11 13:43] daminisatya commented on #96
@iit2014086 Awesome +1 That's the spirit! :)

@FleetAdmiral Now @iit2014086 can help you with this :D

[2016-10-11 13:46] gogeta95 commented on #132
@mariobehling you can assign this to me will ask others if needed any help. one question, what about the login and sign up form UI?

[2016-10-11 13:52] iit2014086 commented on #95
@daminisatya i have a doubt regarding this... in the data there are two attributes percent and president...but for other types of query which are not about presidential elections how can i know what president attribute will be replaced with...

[2016-10-11 13:56] daminisatya commented on #95
@iit2014086 As of now there is only one rule on piechart response.
Please refer this issue.
https://github.com/fossasia/asksusi_com/issues/15

[2016-10-11 13:58] therajanmaurya opened #144 "PrefManager Helper for Managing SharedPreferences"
Right now we are making SharedPreferences object and calling edit() apply() again and again but we do not need to do that, we can manage PrefManager Helper for managing SharedPreferences staff and we have to do one thing is make PrefManager.getString() for getting data and PrefManager.putString() for putting data.

[2016-10-11 13:58] mariobehling commented on #132
@gogeta95 exactly, all these are implemented in the server already, but it should be possible to follow the whole process in the app as well. Please create sub-issues for different parts, if necessary. Thank you.

[2016-10-11 13:58] therajanmaurya commented on #144
I am working in this Issue.

[2016-10-11 14:00] mayank408 commented on #132
@mariobehling @gogeta95 We can create a sub issue for handling frontend and backend . I am interested in doing the frontend (UI) of login/sign up of the app.

[2016-10-11 14:09] the-dagger commented on #132
I have updated the initial issue to reflect the changes to be made both in the backend and frontend of the app.

[2016-10-11 14:11] mayank408 commented on #16
@jig08 @the-dagger @mariobehling @daminisatya

Is it looking fine or any improvement needed. As of now I dont think there is any requirement for forward and sharing option so I have not implemented that.
The dialog message gets opened on longclick on messages.

![whatsapp image 2016-10-11 at 7 34 17 pm 1](https://cloud.githubusercontent.com/assets/22056321/19273475/47a5c16c-8fea-11e6-8424-48d69f03

[2016-10-11 14:12] the-dagger commented on #16
Looks good :+1:
Just a suggestion, can you also replace the toast messages with a Snackbar?
Since we are moving to a material design, it only makes sense to use the new material widgets as well.

[2016-10-11 14:16] mayank408 commented on #16
@the-dagger ok sure 👍

[2016-10-11 14:27] gogeta95 commented on #132
so @mayank408 has the liberty of designing and implementing the UI, right? i'll get to work after UI is done.

[2016-10-11 14:27] addiittya2006 commented on #16
@mayank408, Also The Color Yellow for the Date Stamp must be changed to suit better with the App. Maybe a lighter than Primary Shade.

[2016-10-11 14:29] mayank408 commented on #132
@gogeta95 U can make a dummy UI and can keep working further , later I will improve the UI. Suggestions??

[2016-10-11 14:31] mayank408 commented on #16
@addiittya2006 ok I will change it in next pr.

[2016-10-11 14:32] gogeta95 commented on #132
Sure, we can workout the UI later.

On Oct 11, 2016 7:59 PM, "Mayank Tripathi" <notifications@github.com> wrote:

[2016-10-11 14:50] jig08 commented on #16
@mayank408 Yep, currently `copy` and `delete` seems just fine.
- As mentioned, change `toast` to `snackbar`
- Change the date color to a slightly lighter shade

Make the above changes in the same PR, in a single commit using the required naming format. Cheers !

[2016-10-11 15:13] the-dagger opened #147 "Add an option in settings to disable STT"
Right now, susi has an option to interact with it using voice alongside typing in the query.
We should make the Text to Speech optional so that the user can disable/enable it from the settings if he wants so.

[2016-10-11 15:17] amitiwary999 commented on #147
Can you explain it?I would like to work on this.

[2016-10-11 15:20] mayank408 commented on #16
@jig08 @the-dagger @addiittya2006
Is it fine now...

![whatsapp image 2016-10-11 at 8 49 04 pm](https://cloud.githubusercontent.com/assets/22056321/19276526/465e8c76-8ff4-11e6-9b00-55bb1408858b.jpeg)

[2016-10-11 15:21] piyush6348 commented on #147
@the-dagger I'm also looking forward to work on this.

[2016-10-11 15:24] the-dagger commented on #147
@amitiwary999 I meant making this button optional.
![screenshot_20161011-204828](https://cloud.githubusercontent.com/assets/6565270/19276679/c9e98938-8ff4-11e6-833b-bf795fdc0efc.png)

[2016-10-11 15:25] amitiwary999 commented on #147
I would like to work on this.

[2016-10-11 15:27] the-dagger commented on #147
Sure.
@piyush6348 Meanwhile you can have a look at #146 , there were some problems in the PR which needed to be addressed regarding squashing the commit.

[2016-10-11 15:36] gogeta95 commented on #16
@mayank408 use coordinator layout. snackbar should lift the layout up instead of covering it.

[2016-10-11 15:38] the-dagger commented on #16
Agreed :+1:

[2016-10-11 15:40] mayank408 commented on #16
@gogeta95 @the-dagger

![whatsapp image 2016-10-11 at 9 08 03 pm](https://cloud.githubusercontent.com/assets/22056321/19277386/220d8c3e-8ff7-11e6-81c3-d69032fa6f6e.jpeg)

[2016-10-11 15:52] iit2014086 commented on #95
@daminisatya i am not getting the expected response for the query.... i attached a screen shot of the response i am receiving... once can you check this...even on asksusi.com.... susi replies "i dont know" and doesnt show a pie chart.
![screenshot 47](https://cloud.githubusercontent.com/assets/12937069/19277814/b0cd255a-8ff8-11e6-9dd1-8ca927031889.png)

[2016-10-11 15:59] gogeta95 commented on #16
yes.. all snackbars should lift UI up.

[2016-10-11 16:31] the-dagger opened #148 "Add Codacy for code reviews"
We need to add codacy so that the Pull Requests are reviewed for common issues before merge.

[2016-10-11 16:37] #144 closed

[2016-10-11 17:04] #77 closed

[2016-10-11 17:11] gogeta95 opened #150 "Add support for search results in susi."
here is a web search result in susi: http://api.asksusi.com/susi/chat.json?timezoneOffset=-120&q=search%20freedom

[2016-10-11 17:12] therajanmaurya commented on #150
I want to work in this issue.

[2016-10-11 20:44] mayank408 commented on #16
@the-dagger @gogeta95 I am facing problem in lifting up the layout when snackbar is opened . I am using coordinate layout but its only lifting the floating action button not the whole layout. Could anyone suggest the solution or someone else would like to work on it.

[2016-10-11 21:08] mariobehling opened #152 "Add support for text to speech"
The goal is that "Susi" can talk. While it is possible to set up our own service, for the beginning it might be easiest to use Android's function to put out voice. Please propose and implement ways to output answers of Susi as speech.

[2016-10-11 21:12] amitiwary999 commented on #152
I would like to work on this(Will try my level best to implement this)

[2016-10-11 21:58] mayank408 commented on #152
@mariobehling @amitiwary999 I would also like to work on this .

[2016-10-11 22:28] iit2014086 commented on #95
This is how the pie chart looks like....is this chart ok??...i am not getting required response from server...so for previewing the chart i used hardcoded values..
![device-2016-10-12-035607](https://cloud.githubusercontent.com/assets/12937069/19290978/09427924-9030-11e6-9026-c0c11b83462f.png)

[2016-10-12 01:48] daminisatya commented on #95
@iit2014086 the chart looks cool. Then log a bug in susi_server regarding this.

[2016-10-12 01:49] #148 closed

[2016-10-12 03:56] mariobehling commented on #152
@amitiwary999 @mayank408 Could you please see, if it is possible to separate the tasks of this issue and work together? Thank you.

[2016-10-12 04:56] Orbiter opened #155 "Back-End Configuration and fail-over"
The susi api is currently hard-coded in https://github.com/fossasia/susi_android/blob/master/app/src/main/java/org/fossasia/susi/ai/rest/ClientBuilder.java
We should have a system variable for this.

Furthermore, the access to the susi api should have a fail-over process. That means we should have the ability to declare a set of back-end addresses, not only one.

To do:
- declare a variable susi_s

[2016-10-12 06:07] therajanmaurya commented on #155
There are two ways to do : the first one directly pass the Base URL to the  Client Service as Parameter "@URL" and base URL will change the new one.

and the Second one is to initialize same retrofit object again with new Base URL and make retrofit calls as we are making same no need to change anything and no need to pass any extra argument etc. need to do things as we are doing.

[2016-10-12 06:09] therajanmaurya commented on #155
Can I implement this?

[2016-10-12 06:57] therajanmaurya commented on #150
@gogeta95 @Orbiter I just want to ask whenever we send a message to susi, If susi does not know the answer then we have to directly fetch websearch results and open full activity dialog to show web search result
or
there is second way, whenever we send a message to susi and susi doesn't know then added message "@susi look the web search"(any message we wanna show) and as user click to the message

[2016-10-12 07:00] Orbiter commented on #155
I am not familiar with the retrofit framework, so I would left the decision to you.

I would also like to change the requirement a tiny bit:
- don't use the susi_service_count variable, instead
- declare an array susi_service = ["api.asksusi.com", "kaskelix.com:4000"].
There is anothe idea in the background: both values should be overwritable with a configuration service. I will open another issue

[2016-10-12 07:05] therajanmaurya commented on #155
What do you mean by configuration service, Is am right we can override these base URL from
server request.

[2016-10-12 07:07] Orbiter commented on #155
just forget about the config service right now, I will specifiy that separately. Just consider that it's possible that the susi_service can be overwritten.

[2016-10-12 07:07] therajanmaurya commented on #155
ok

[2016-10-12 07:20] Orbiter commented on #155
👍

[2016-10-12 08:18] Orbiter commented on #150
no this is a misunderstanding. There is no requirement for an if-then-else decision. Just follow the issue text. I repeat: some queries to the back-end return table-like result sets in it's json. Try the url as given above. You will find the following actions:
[code]
That means, the app has to perform with two result rendering:
- The first action is of type "answer". That means the app should simp

[2016-10-12 08:30] Orbiter commented on #150
Just similar to a Siri web search result:
![siri_search_result](https://cloud.githubusercontent.com/assets/238730/19302958/eb005aa8-9066-11e6-835f-cd76b77cdd3a.jpg)

[2016-10-12 08:35] betterclever commented on #16
@mayank408 You might wish to read this.
http://alisonhuang-blog.logdown.com/posts/290009-design-support-library-coordinator-layout-and-behavior.
I tried this earlier while using the "Internet Connection unavailable" Snackbar, but was not able to achieve that. You may try following.

[2016-10-12 08:39] Orbiter opened #156 "remote configuration for susi_service"
Every time the susi app starts up, it reads an internal configuration for the Susi back-end server location as defined in https://github.com/fossasia/susi_android/issues/155

This configuration should be overwritten with the values as given in
http://config.asksusi.com/config_susi.json

This should happen only one time when the susi App is started.

The purpose of this remote configuration is the

[2016-10-12 08:43] betterclever opened #157 "TimeStamp not shown in Messages with a Map."
![screenshot_20161012-140728](https://cloud.githubusercontent.com/assets/16309034/19303366/0267c4aa-9086-11e6-81d5-14236f31a9c2.png)

[2016-10-12 08:47] jig08 commented on #157
@betterclever Yes, nice observation. Would you like to take this up ?

[2016-10-12 08:47] betterclever commented on #157
Yes.
I will address this along with #70 in my next PR.

[2016-10-12 10:36] mayank408 commented on #152
@mariobehling Do we want any button for speech or as soon as the response comes from server ,susi should start speaking at the same time and message should also be displayed on the screen.

[2016-10-12 10:38] mayank408 opened #160 "Lifting up the UI on opening of snackbar."
![whatsapp image 2016-10-11 at 8 49 04 pm](https://cloud.githubusercontent.com/assets/22056321/19306897/6d87b646-9095-11e6-8174-c932412f47e2.jpeg)

[2016-10-12 10:39] iit2014086 commented on #156
so create a static susi_service array in MainApplication class which gets it's data from config_susi.json.... is this the supposed thing to do??

[2016-10-12 11:10] gogeta95 opened #162 "Enable network logging in debug only."
we need to enable network logging in retrofit to see whats happening behind the scenes.

### Would you like to work on the issue?
i will take this up, will send a PR after i'm done with #132 as it includes a lot more APIs to configured.

[2016-10-12 11:35] jig08 commented on #152
@mayank408 Maybe include an option to enable/disable this is the app settings.
When enabled, SUSI should start speaking the message which is also simultaneously being displayed on the screen.

[2016-10-12 11:39] mariobehling commented on #152
@mayank408 If user uses the speech feature, "Susi" should also reply as speech. If the user writes in the text field "Susi" should only reply as text.

[2016-10-12 11:51] jig08 commented on #162
@gogeta95 Thanks.

[2016-10-12 12:15] mayank408 commented on #147
@the-dagger Its already optional , you can type if u want or use speech to text . Just like other messaging apps.

[2016-10-12 12:17] the-dagger commented on #147
@mayank408 Optional as in we want to allow the user to hide/show the mic button.

[2016-10-12 15:10] rajdeep1008 commented on #160
I would like to work on this issue if no one else is already working on this.

[2016-10-12 15:39] jig08 commented on #160
@rajdeep1008 Assigned you the issue, pls go ahead.

[2016-10-12 16:35] #155 closed

[2016-10-12 16:45] therajanmaurya commented on #156
I am working in this issue.

[2016-10-12 16:56] therajanmaurya commented on #156
@Orbiter as you have been implementing login api, and we can fetch susi_services(http://config.asksusi.com/config_susi.json). Is we can login from any susi_services that we will fetch from http://config.asksusi.com/config_susi.json.

[2016-10-12 16:59] gogeta95 commented on #132
I have done login, sign up and log out. do I need to implement forgot password and reset password too?

[2016-10-12 17:01] the-dagger commented on #132
@gogeta95 Create sub issues for that and send individual PRs for each.

[2016-10-12 17:45] iit2014086 opened #167 "repeated code"
in chatFeedRecyclerAdapter the same OnLongClick method is implemented repeatedly...there will be many different types of holders and need to be implemented many times...so instead make the Recycleradapter implement OnLongClickListener and for every chatMessageview set onlongclicklistener as class itself instead of creating new listener.

[2016-10-12 18:02] gogeta95 opened #169 "Accent color."
we need to decide an accent color for the app. currently its white and causing UI problems with Login functionality.
see below:
![image](https://cloud.githubusercontent.com/assets/8329096/19321743/d52568f0-90d3-11e6-84a5-0aac6b95c3e5.png)

please decide the accent color and I'll include it in #132 to resolve UI problems. thanks

[2016-10-12 18:18] therajanmaurya commented on #150
Thanks for great explanation. Now I understand everything. Let me implement some UI and back End logic to Susi web search result. So if the user will search by speaking something then he is able to get something awesome.

[2016-10-12 18:30] piyush6348 commented on #169
how about this #5C6BC0- it might go with the theme of the app

[2016-10-12 19:00] piyush6348 commented on #167
I would like to work on this issue if someone hasn't started yet.

[2016-10-12 19:22] piyush6348 commented on #167
I would like to work on this issue if some-one hasn't started yet.

[2016-10-12 19:33] iit2014086 commented on #167
@piyush6348  i think no one is working on this....you can proceed

[2016-10-12 20:00] #70 closed

[2016-10-12 20:00] #157 closed

[2016-10-12 20:42] Orbiter commented on #156
@therajanmaurya there is no relation to login, authentication or a login api. http://config.asksusi.com/config_susi.json is statically hosted. There is no access limit.

[2016-10-13 00:58] daminisatya opened #172 "UI and UX enhancement for the authentication system"
* The ```susi``` logo must be properly placed in the middle

Feel free to mention more enhacements which you would like to add.

[2016-10-13 04:02] yasharmaster commented on #107
I would not be able to work on this issue anymore. Anyone else can take up this issue if they want. @jig08

[2016-10-13 06:50] chashmeetsingh commented on #172
@daminisatya

- Less focus on the timestamp
- Timestamp should be shown below

<img width="531" alt="screen shot 2016-10-13 at 12 18 04 pm" src="https://cloud.githubusercontent.com/assets/8962264/19339143/310ffcbe-913f-11e6-8ff9-7eb16130352c.png">

[2016-10-13 06:56] daminisatya commented on #172
Awesome. This is one of the valid enhancements

[2016-10-13 06:58] chashmeetsingh commented on #172
should I send a PR?

[2016-10-13 07:03] daminisatya commented on #172
Yes

[2016-10-13 07:20] gogeta95 commented on #132
@mariobehling  also had to write a new test case with authentication system. please update the issue accordingly, thanks.

[2016-10-13 08:01] chashmeetsingh commented on #172
Using "SUSI" as title with a specific font instead of the image?

[2016-10-13 08:20] #172 closed

[2016-10-13 08:27] #132 closed

[2016-10-13 09:19] gogeta95 commented on #132
@mayank408  you can continue with the UI now.

[2016-10-13 10:20] amitiwary999 opened #175 "selecting mic as a input not working properly"
issue is
1. when user press space button
2.then press backspace button
 send button pic convert to mic and so its action.
![screenshot_2016-10-13-01-15-03](https://cloud.githubusercontent.com/assets/14003244/19345215/0ef871d0-915b-11e6-9bd7-2470797388a1.png)
![screenshot_2016-10-13-01-15-13](https://cloud.githubusercontent.com/assets/14003244/19345246/2ab75dc8-915b-11e6-8225-b94b5db0d24a.png)

[2016-10-13 10:20] amitiwary999 commented on #175
I would like to work on this

[2016-10-13 11:25] daminisatya opened #177 "UI issue with the timestamps"
![7f21071a-9165-11e6-8086-5320e30f7a9f](https://cloud.githubusercontent.com/assets/6227784/19347330/e63d4152-9165-11e6-8182-288b030f64b2.png)

[2016-10-13 11:26] daminisatya commented on #177
Since the chat bubbles are small, the time stamps are getting transferred to new lines.

[2016-10-13 11:29] daminisatya commented on #177
The possible work around is to place the time stamp near the text , but reducing it's font size.

[2016-10-13 11:51] mariobehling commented on #177
Please keep the font size the same. Simply define a minimum width of bubbles, please, that ensures the time stamps show up correctly.

[2016-10-13 11:53] amitiwary999 commented on #177
I would like to work on this

[2016-10-13 11:54] daminisatya commented on #177
@amitiwary999 We want a quick fix for this.

[2016-10-13 11:56] jig08 commented on #177
@mariobehling Yes, that's the work around most of the chat applications use.

[2016-10-13 12:30] amitiwary999 commented on #177
@daminisatya If anyone else want to work on this then I have no problem(I am quite busy ).

[2016-10-13 13:35] iit2014086 commented on #107
if no one is working on this..i can take up this issue @daminisatya

[2016-10-13 13:39] betterclever commented on #177
@jig08 @daminisatya I want to work on this.

[2016-10-13 14:18] #175 closed

[2016-10-13 18:51] aakashkhatter1296 opened #181 "UI issue with Login Form"
### Expected Behaviour
The keyboard should not hide the Login and SignUp button. The entire form should move upwards when any of the text fields is in focus.
### Actual Behaviour
When the text field is in focus, the keyboard hides the Login and Signup button.
### Screenshots of the issue
![screenshot_20161014-001402](https://cloud.githubusercontent.com/assets/10905662/19362321/f5f3501c-91a3-11e6-8

[2016-10-13 18:57] aakashkhatter1296 commented on #181
Same issue is the with the SignUp form as well.

[2016-10-13 19:13] gogeta95 commented on #181
@mayank408 are you working on these UI issues or not? because we can assign someone else.

[2016-10-13 19:41] nimit95 opened #182 "SignUp screen after sign up is sucessfull"
### Expected Behaviour

After the successful sign up the activity should go back on the log in page
### Actual Behaviour

It only shows a successful signup toast and user has to press back to get to login page
### Would you like to work on the issue?

Yes I would like to solve this issue.
I will work on it.

[2016-10-13 19:51] aakashkhatter1296 commented on #181
@gogeta95 I have managed to fix it. Should I submit a PR ?

[2016-10-13 20:42] aakashkhatter1296 opened #183 "Back button on SignUp Screen"
### Expected Behaviour
There should be a back button on the SignUp screen to go back to the login screen

### Would you like to work on the issue?
I would like to work on this issue

[2016-10-13 23:03] iit2014086 opened #185 "issues in login form"
1. if a user enters his email id as "xyz@gmail.com " and hits log in...it shows invalid email. It needs to be trimmed before verifying.

2.no ime options provided....when user clicks enter on keypad...he should be able to login..

[2016-10-14 02:15] #162 closed

[2016-10-14 04:18] manisoni28 commented on #185
I will work on this issue

[2016-10-14 04:21] #95 closed

[2016-10-14 04:21] #107 closed

[2016-10-14 05:31] #177 closed

[2016-10-14 06:38] mayank408 commented on #181
@gogeta95 @aakashkhatter1296
I am currently working on two issues within limited time.
1. Using text to speech as output.
2. Deleting messages from database.

So for now @aakashkhatter1296 can take up the UI improvement issue.

[2016-10-14 06:53] manisoni28 opened #186 "Need of Writing Hint"
1.There should be a writing hint while Susi is typing something as it feels unrealistic when someone ask any ques and with no time Susi replies back.It is inappropiate and Susi will give a feel that there is other person typing..In response to time taken by us to write something,same time should be shown of Susi.
### Would you like to work on the issue?

[2016-10-14 07:24] #39 closed

[2016-10-14 07:25] the-dagger commented on #186
Not an urgent issue imo.
Still you can take this up if you want.

[2016-10-14 09:32] gogeta95 commented on #118
@rahulworld whats the status of this issue?

[2016-10-14 09:55] mayank408 commented on #152
@mariobehling @jig08 @the-dagger
I have a send pr for Text to speech . Please review the feature and suggest any changes require.

[2016-10-14 14:01] mayank408 opened #191 "Copy and delete feature on long click on LINK messages is not working."
@betterclever Do u want to work on this.?

[2016-10-14 14:08] gogeta95 opened #192 "Implement forgot password"
### Expected Behaviour

we need to implement forgot password function.
### Would you like to work on the issue?

yes

[2016-10-14 14:15] mayank408 commented on #182
@nimit95 Instead of toast bar pls use the snackbar .

[2016-10-14 14:53] betterclever commented on #191
Yes

[2016-10-14 14:55] mayank408 commented on #191
@betterclever Even on pie chart output copy and delete function not working . I could not test because I dont know the input for which pie chart is the output.

[2016-10-14 15:00] betterclever commented on #191
@mayank408 I'll do for both.

[2016-10-14 17:30] rahulworld commented on #118
@gogeta95  sorry for late working i had virus infection. i work on tommorow.

[2016-10-14 17:32] iit2014086 opened #194 "keep me signed in"
### Expected Behaviour
There should be a keep me signed in checkbox and only then the user should be logged in directly.

### Would you like to work on the issue?
Yes

[2016-10-14 18:22] jig08 commented on #182
@nimit95 yes pls, use `snackbar` instead.

[2016-10-14 18:52] mayank408 opened #196 "Issue on pressing back button in setting."
### Expected Behaviour
The app on pressing back button should go to main activity.
### Actual Behaviour
App is crashing on pressing back button in settings.

### Would you like to work on the issue?
Yes

[2016-10-14 19:52] mayank408 opened #197 "UI improvement for sign up and login screen."
### Would you like to work on the issue?
Yes

[2016-10-14 20:23] GetSetAbhi opened #198 "direct new user to login activity after successfully signing up"
### Expected Behaviour
New user should be directed to login activity after successfully signing up
### Actual Behaviour
The user stays on the signing up activity

### Would you like to work on the issue?
YES

[2016-10-14 20:58] mayank408 commented on #198
copy of #182

[2016-10-14 21:17] GetSetAbhi opened #199 "Display a Toast on deleting message"
### Expected Behaviour
Toast should be displayed on deleting message like in all messaging apps

### Actual Behaviour
No such activity on deleting message

### Would you like to work on the issue?
Yes please

[2016-10-14 21:26] mayank408 commented on #199
@GetSetAbhi  We are not using toast bars instead we are using snackbar .

[2016-10-14 21:28] nimit95 commented on #182
okay I will implement snackbar as well

[2016-10-14 22:31] GetSetAbhi commented on #199
@mayank408 Yeah I noticed that database problem.
Anyway that database deletion problem is a backend problem and will be fixed so why not fix that Snackbar which is a frontend problem and can be fixed without much effort ?
Sooner or later someone has to work on it right ?

[2016-10-15 04:17] mariobehling commented on #197
Thank you. Please post ideas/screenshots/proposals on GitHub here in issues.

For the beginning let's follow and get inspired by existing apps chat apps like Whatsapp, Google Hangout etc.
* [ ] Please keep the colors light.
* [ ] Keep the design simple (We will define design guidelines once we have more features)
* [ ] Keep background colors light - white and gray preferably

[2016-10-15 04:24] amitiwary999 commented on #196
@mayank408 can you explain this issue?

[2016-10-15 05:05] mariobehling commented on #194
Please keep the user signed in always and offer a sign out button. No need tor a "keep me signed in" on the Android app.

[2016-10-15 05:05] #194 closed

[2016-10-15 05:07] mariobehling opened #201 "Offer option to sign out"
Please propose and implement a sign out option in the app.

This is a follow up to: https://github.com/fossasia/susi_android/issues/194

[2016-10-15 06:03] gogeta95 commented on #201
its already there.
![image](https://cloud.githubusercontent.com/assets/8329096/19407829/2601b87a-92cb-11e6-9e36-a0743b88f007.png)

[2016-10-15 06:14] mayank408 commented on #196
@amitiwary999 Go to settings then press back button of your mobile . After which the app crashes.

[2016-10-15 06:43] amitiwary999 commented on #196
@mayank408 But in my phone it is working fine.

[2016-10-15 06:45] gogeta95 commented on #199
deletion is not a backend problem, message needs to be deleted locally, like whatsapp.

[2016-10-15 06:47] mayank408 commented on #196
@amitiwary999  no problem , it should be working on all the phones. I just rectified it.

[2016-10-15 06:51] gogeta95 commented on #196
@mayank408 please mention your device details if this issue is device specific. like android verison , CPU etc.

[2016-10-15 07:06] gogeta95 opened #203 "Message deletion is broken."
**Actual Behaviour**

message deletion just deletes the mesage temporarily, it comes back on restarting app.

**Expected Behaviour**

message should be deleted permanently from database.

**Steps to reproduce it**

delete a message > close app > open app again.

**Screenshot**
![peek 2016-10-15 12-33](https://cloud.githubusercontent.com/assets/8329096/19408142/cf5c2cae-92d3-11e6-8967-440555b654d1.

[2016-10-15 07:08] mayank408 commented on #196
@gogeta95 The problem is rectified on explictily calling onBackPressed() method on settings activity and passing the intent for main activity.

[2016-10-15 07:25] gogeta95 commented on #196
I didn't ask how to rectify, I asked the cause. Pls post the log of the crash along your device info as its device specific, and starting new activity in on back pressed is a dirty hack. Don't do that. It breaks the lifecycle and increases memory.
We need to look into the cause before solving it.

[2016-10-15 08:36] GetSetAbhi commented on #203
@gogeta95 I fixed that issue :/

[2016-10-15 08:38] gogeta95 commented on #203
You can go ahead and send a PR. No issues if you have already done that,
but please open an issue before you start working so everyone will know.

On Oct 15, 2016 2:06 PM, "Abhishek Raina" <notifications@github.com> wrote:

@gogeta95 <https://github.com/gogeta95> I fixed that issue :/

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://git

[2016-10-15 08:41] GetSetAbhi commented on #203
I was just just tinkering with the app trying to understand the code before I saw the issue here.
And solved the error doing that.

[2016-10-15 08:41] GetSetAbhi commented on #203
Are there any rules to follow before sending a PR ?

[2016-10-15 09:18] #152 closed

[2016-10-15 09:29] the-dagger commented on #196
@mayank408 Always provide logcat for crashed.
I have edited the issue template to include this information.

[2016-10-15 09:29] the-dagger commented on #201
Closing this.

[2016-10-15 09:29] #201 closed

[2016-10-15 09:33] #156 closed

[2016-10-15 09:43] mayank408 commented on #16
@the-dagger We can close this issue , as it is already fixed in issue #203 .

[2016-10-15 10:02] mariobehling commented on #16
Good job!

[2016-10-15 10:02] #16 closed

[2016-10-15 10:22] piyush6348 commented on #199
The only task here is to implement a snackbar??

[2016-10-15 10:26] mayank408 commented on #199
@piyush6348 Implement snackbar and make sure that the UI lifts up on opening of snackbar.

[2016-10-15 10:28] piyush6348 commented on #199
I think there was one more issue regarding lifting up of UI on opening of snackbar.

[2016-10-15 10:32] mayank408 opened #206 "Requesting audio focus when there is sound in background."
During text to speech , susi app should request audio focus . So there is no overlapping of sound.

[2016-10-15 10:35] mayank408 commented on #206
I would like to work on this.

[2016-10-15 12:33] GetSetAbhi commented on #199
@piyush6348 Would you mind If I take up this issue ?
I was trying the deletion issue but 2 results get deleted instead of one. You can work on that if you want .

[2016-10-15 12:53] gogeta95 commented on #203
@GetSetAbhi are you sending PR?

[2016-10-15 13:05] GetSetAbhi commented on #203
@gogeta95 I tested the code and found that 2 messages are deleted in the recyclerview instead of one.
however in the database only the selected entry is deleted.

[2016-10-15 13:07] gogeta95 commented on #203
ok, i'll take this up then.

[2016-10-15 13:07] GetSetAbhi commented on #203
I wrote this code
![github](https://cloud.githubusercontent.com/assets/5512947/19410312/719f2bec-9306-11e6-83f5-f3911bbbf278.png)
And thats the result I get.
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/5512947/19410304/3d5ac6c0-9306-11e6-96ab-dde583be5263.gif)

[2016-10-15 13:11] gogeta95 commented on #203
first of all, you shouldn't be using equalto() twice let me try once.

[2016-10-15 13:14] GetSetAbhi commented on #203
Do let me know if you fix it. I need to know what went wrong :(

[2016-10-15 13:45] gogeta95 commented on #203
it turns out to be more complec than i thought. we need to use https://github.com/realm/realm-android-adapters

[2016-10-15 14:06] GetSetAbhi commented on #203
@gogeta95 okay i'm on it then. Will let you know if I get it.

[2016-10-15 14:22] #198 closed

[2016-10-15 14:31] gogeta95 commented on #203
its done :p

[2016-10-15 15:50] viveksb007 opened #208 "UX improvement"
**Actual Behaviour**

Title and numbers on AlertDialog that pops up on long press is not required.

![1](https://cloud.githubusercontent.com/assets/12713808/19411298/a539ec92-931c-11e6-85f6-845f49950591.png)

**Expected Behaviour**

Should be like this

![2](https://cloud.githubusercontent.com/assets/12713808/19411299/aed25a00-931c-11e6-8655-ecd33a0f1282.png)

**Steps to reproduce it**

Long press

[2016-10-15 15:52] viveksb007 opened #209 "Long press not implemented on link messages"
**Actual Behaviour**

No dialog pops up on Long press on link messages

**Expected Behaviour**

There should be a dialog to copy complete message or just link.

**Steps to reproduce it**

Click on any link message or send a link from your side.

**Would you like to work on the issue?**

Yes

[2016-10-15 15:58] viveksb007 commented on #209
Copy of #191

[2016-10-15 15:58] #209 closed

[2016-10-15 16:12] jig08 commented on #208
@viveksb007 yep, sounds better.

[2016-10-15 16:15] jig08 commented on #208
@viveksb007 yep, sounds better.

[2016-10-15 16:39] viveksb007 opened #211 "Link preview reloads after its brought back in view"
**Actual Behaviour**

Link preview reloads.

**Expected Behaviour**

Link preview should be cached atleast till app is destroyed.

**Steps to reproduce it**

send a link from your side, a preview would be shown.
scroll a bit up such that link message is out of view, then go to link message it reloads.

**Would you like to work on the issue?**

Yes

[2016-10-15 17:06] #208 closed

[2016-10-15 20:34] #197 closed

[2016-10-15 20:42] mayank408 commented on #167
@the-dagger We can close this issue.

[2016-10-15 20:43] #167 closed

[2016-10-15 20:48] mayank408 commented on #169
@the-dagger UI already updated. So we can close this.

[2016-10-15 20:51] #169 closed

[2016-10-15 20:53] mayank408 commented on #136
@the-dagger We can close this as well as splash screen cannot be removed as of now.

[2016-10-15 21:32] #136 closed

[2016-10-15 22:03] mayank408 commented on #181
@the-dagger Issue is already addressed , So we can close this.

[2016-10-15 22:07] #181 closed

[2016-10-16 09:50] #203 closed

[2016-10-16 10:55] rahulworld commented on #118
@gogeta95 handled this issue.

[2016-10-16 11:22] rahulworld opened #221 "Cookies in Login Form"
**Actual Behaviour**

when we already signed up then go to again login form not showing cookies .

**Expected Behaviour**

Shows list of cookies in login form

**Steps to reproduce it**

*LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

yes

[2016-10-16 11:25] mariobehling commented on #221
@rahulworld Why do we need to see cookies in the login form? Which app has this feature? Could you provide a example and use case, please?

[2016-10-16 11:31] rahulworld commented on #221
like facebook messenger we can add more account in one app.

[2016-10-16 11:39] mariobehling commented on #221
@rahulworld Currently, we have not tested one account in real-world cases. Before we add this feature, we need to consolidate the basic features of the app. Sorry, but this is out of scope at the moment.

I am sorry, but we do not have a list of the basic features yet. We also want to see what the community comes up with, but this is pretty clearly out of scope now.

Closing it therefore. Thank yo

[2016-10-16 11:39] #221 closed

[2016-10-16 11:54] viveksb007 opened #222 "Highlighting search result in chatmessage doesn't work if query is part of message containing link or map"
**Actual Behaviour**

Highlighting search result in chatmessage doesn't work if query is part of message containing link or map.

**Expected Behaviour**

query searched should be highlighted in link message.

**Steps to reproduce it**

send a link from your side. "thank you <link>" you get in reply for now.
search for  thank/you or any substring of link , its not highlighted.

**Would you like to

[2016-10-16 12:17] mayank408 commented on #196
@gogeta95 @the-dagger The issue is resolved . It is due to the null point exception due to which the app was crashing , and its not device specific , I tested it on three devices . The problem is resolved by just simply using an if statement.

[2016-10-16 12:40] the-dagger commented on #196
@mayank408 which pr adds that if statement?

[2016-10-16 12:51] mayank408 commented on #196
@the-dagger I have not sent the pr yet because my previous pr is still to be merged.

[2016-10-16 13:02] amitiwary999 commented on #196
@mayank408 give logcat showing crash error.

[2016-10-16 16:27] #206 closed

[2016-10-16 18:10] #222 closed

[2016-10-16 19:34] amitiwary999 opened #225 "Issue with text to speech"
**Actual Behaviour**

Each time user scroll up chat message and then scroll to last message text to speech service wake up.
**Expected Behaviour**
text to speech service should not wake up Each time user scroll up chat message and then scroll to last message.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links t

[2016-10-16 22:57] mariobehling opened #226 "Propose and implement language handling of Susi"
Currently the app only offers English. How should we deal with languages?

Users have defined their language already in their mobile phone settings, but we also have use cases where a user could communicate in Susi in another language, e.g. a German user speaks English with Susi.

**Expected Behaviour**

Please propose ways to handle languages and UI design.

[2016-10-17 01:45] betterclever opened #227 "Cursor not visible in SendMessage Layout"
**Actual Behaviour**

Cursor is not visible in SendMessage Layout possibly because it is white due to colorAccent being white.

**Expected Behaviour**

It must be visible.

**Steps to reproduce it**

Open Susi App MainActivity and notice the invisibility of cursor in sendMessageLayout

*LogCat for the issue**

Not Required

**Screenshots of the issue**

![screenshot_20161017-070732](https://cloud.

[2016-10-17 01:49] betterclever opened #228 "Text To Speech not working in LinkPreviews and PieChart"
**Actual Behaviour**

The TTS is not functional in LinkPreview and PieChart Message Types.

**Expected Behaviour**

It must be working.

**Steps to reproduce it**

Not required.

*LogCat for the issue**

Not Applicable.

**Screenshots of the issue**

Not Applicable.

**Would you like to work on the issue?**

Sure.

[2016-10-17 02:09] betterclever opened #229 "Design Inconsistency in PieChart Layout."
**Actual Behaviour**

The PieChart Layout in many ways is inconsistent with other layouts present in the app including:
- Size of TimeStamp is 12sp as opposed to 9sp elsewhere.
- Some other content Padding and Margins are different.

**Expected Behaviour**

All layout must look similar including this one.

**Steps to reproduce it**

Observe the PieChart View.

*LogCat for the issue**

Not Applicab

[2016-10-17 02:18] betterclever commented on #225
Same is happening when someone reopens the app.

[2016-10-17 02:25] betterclever opened #230 "Add Copy, Delete and Share Options in the Appbar / ActionBar"
**Actual Behaviour**

Currently, copy and delete option are available by long pressing the views.

**Expected Behaviour**

It can be implemented in the ActionBar itself such that on long press on any message, its color changes and options are displayed there. It will also enable us to enable muliple deletion.

**Steps to reproduce it**

Not Required

*LogCat for the issue**

Not Applicable.

**Scr

[2016-10-17 06:02] #191 closed

[2016-10-17 06:04] the-dagger commented on #196
@mayank408 can you provide logs for the crash?

[2016-10-17 10:00] mariobehling commented on #3
@the-dagger Would be great to get this feature back.

[2016-10-17 11:22] Orbiter opened #232 "query field input formatting for short input lines"
for very short input lines (i.e. 'hi') the date below the input blows up a lot of space below the input. Please prevent that.

[2016-10-17 11:31] betterclever commented on #232
I want to work on this.

[2016-10-17 11:37] the-dagger commented on #3
@mariobehling I'll fix this today.

[2016-10-17 12:39] betterclever commented on #227
@jig08 I wish to solve 3 issues in my one commit in my next PR, what should I name it according to current code practices?

[2016-10-17 12:40] replyashu commented on #230
I want to take up this issue

[2016-10-17 12:41] betterclever commented on #230
It has been already assigned to me currently and I have started working on it. You may look for other issues or raise your own.

[2016-10-17 12:43] shealini commented on #227
I wanna take up this issue

[2016-10-17 12:44] daminisatya commented on #227
@betterclever Please make three separate PRs. It's the suggested practice.

[2016-10-17 12:49] replyashu commented on #185
I want to work on this issue

[2016-10-17 12:52] mariobehling commented on #185
@manisoni28 How is it going? Any progress? Can @replyashu help?

[2016-10-17 12:57] replyashu commented on #183
Taking up this issue

[2016-10-17 13:12] mariobehling commented on #183
Actually the usual behaviour in Android is to use the standard Android back button on the phone. Please ensure this is working.

[2016-10-17 13:15] the-dagger commented on #183
My bad, I forgot to close this issue, it's already fixed in #214

[2016-10-17 13:15] #183 closed

[2016-10-17 13:27] #227 closed

[2016-10-17 14:53] #229 closed

[2016-10-17 16:00] mayank408 opened #237 "Improving chat box UI"
**Actual Behaviour**

If there are even only six messages it covers the whole screen of chat box.
**Expected Behaviour**

As in popular message app the chat box can be made a little concise to provide more space in a single view.

- [x] Place the timestamp in par with the text.

- [x] Make the chat bubbles flatter. Reducing the spacing between each bubble to a reasonable amount.

**Would you like

[2016-10-17 16:01] #196 closed

[2016-10-17 16:07] daminisatya commented on #237
@mayank408 What sort of design are you referring to? This?

https://cloud.githubusercontent.com/assets/6227784/19443251/c78067ca-94a9-11e6-873a-7c96d952e66b.jpg

[2016-10-17 16:07] mayank408 commented on #237
@daminisatya Ya ya something of this kind so that each message take less space.

[2016-10-17 16:09] mayank408 commented on #237
@daminisatya Is it already assigned to someone or i can work on it??

[2016-10-17 16:10] the-dagger commented on #237
@mayank408 You can go ahead and work on it.

[2016-10-17 16:10] daminisatya commented on #237
- [ ] Place the timestamp in par with the text.

- [ ] Make the chat bubbles flatter. Reducing the spacing between each bubble to a reasonable amount.

[2016-10-17 16:11] the-dagger commented on #237
@daminisatya Maybe add these pointers to the issue?

[2016-10-17 16:11] daminisatya commented on #237
@mayank408 Please provide the sample before you create a PR :) That would reduce the number of review iterations.

[2016-10-17 16:11] mayank408 commented on #237
@daminisatya @the-dagger Ya sure , once I am done I will send a screen shot .

[2016-10-17 16:15] mejariamol commented on #160
I fixed the issue. Please guide me how to make Pull Request. I am new at this.

![device-2016-10-17-211817](https://cloud.githubusercontent.com/assets/13533840/19445603/d54f9aca-9449-11e6-9275-5203600c4b7b.gif)

[2016-10-17 17:47] aakashkhatter1296 opened #240 "Issue with Email field of login screen"
**Actual Behaviour**

On pressing the Enter key when email field is in focus, a new line is added and the text field extends.

**Expected Behaviour**

- [ ] The text field should not extend when Enter is pressed.
- [x] Remove hardcoded strings from activity_login.xml

**Steps to reproduce it**

1) Open Login Screen.
2) With the Email field in focus, press Enter key multiple times.

**Screenshots o

[2016-10-17 17:53] aakashkhatter1296 commented on #240
@the-dagger Also there are hard-coded strings in activity_login.xml . Should I create a new issue for that ?

[2016-10-17 18:38] the-dagger commented on #240
@aakashkhatter1296 it would be great if you could add that as a sub issue to this issue itself.

[2016-10-17 19:16] #232 closed

[2016-10-17 19:46] gogeta95 commented on #192
waiting for fossasia/susi_server#11 to be fixed before this.

[2016-10-17 19:52] gogeta95 commented on #226
we can just detect the language of every message and send response accordingly?
The flow would be
1. use https://detectlanguage.com/ to detect language of message in server
2. translate it back to english(IF server supports english only right now), generate response
3. then use google translator api to send response translated into detected language in step 1.

[2016-10-17 19:57] #160 closed

[2016-10-17 20:03] gogeta95 opened #241 "update realm to 2.0.2"
We can now update realm to latest version and remove the work around introduced in #90 to fix crashing bug.

**Would you like to work on the issue?**

yes

[2016-10-17 20:07] mayank408 commented on #237
![whatsapp image 2016-10-18 at 1 25 05 am 1](https://cloud.githubusercontent.com/assets/22056321/19453233/039396a6-94d2-11e6-9879-cd42ecb66465.jpeg)
![whatsapp image 2016-10-18 at 1 25 05 am](https://cloud.githubusercontent.com/assets/22056321/19453235/049f169c-94d2-11e6-865a-beae92b22ef1.jpeg)

[2016-10-17 20:09] the-dagger commented on #237
The top/bottom margins in chatbox can be made even smaller.

[2016-10-17 20:13] mayank408 commented on #237
@the-dagger 2dp will be right..

[2016-10-17 20:14] #118 closed

[2016-10-17 20:16] mayank408 commented on #237
![whatsapp image 2016-10-18 at 1 46 08 am](https://cloud.githubusercontent.com/assets/22056321/19453900/bc33b0ea-94d4-11e6-8ae7-fed9c9d4e371.jpeg)

[2016-10-17 20:43] the-dagger commented on #237
@mayank408 1dp should be perfect I guess.
Could you try that?

[2016-10-17 20:46] mejariamol commented on #186
I want to work on this issue.

[2016-10-17 20:59] the-dagger commented on #186
Cool, go ahead @mejariamol

[2016-10-17 21:05] gogeta95 opened #243 "Map feature broken"
**Actual Behaviour**

Map is not rendering both image and text are gone. click listener also not working.

**Expected Behaviour**

Map Image and text should be shown.  click listener also should be working.

**Steps to reproduce it**

ask for any place.

**Screenshots of the issue**

![image](https://cloud.githubusercontent.com/assets/8329096/19455665/8672b3f0-94db-11e6-9147-4711f3a89d7c.png)

**W

[2016-10-17 21:30] amitiwary999 commented on #143
@piyush6348 you need help?

[2016-10-18 01:10] daminisatya commented on #243
Very sad to know, that a bug like this got regressed.

[2016-10-18 01:13] #241 closed

[2016-10-18 05:06] betterclever commented on #243
It is due to a wrong "if" condition block in line number 369 ChatFeedRecyclerAdapter.java, the map will show if user has opted for speech output.

[2016-10-18 05:23] betterclever opened #246 "Issue in password field of the Login Screen"
**Actual Behaviour**

On entering a password that does not match registration criterion i.e. atleast one letter must be capital and number must be present, warning is shown in login screen too and login is prevented.

**Expected Behaviour**

As per other login interfaces, it must try to login and give failed authentication message instead of giving warning in password field.

**Steps to reproduce

[2016-10-18 06:36] betterclever commented on #243
@daminisatya #245 fixes this issue too.

[2016-10-18 06:38] amitiwary999 commented on #243
I already solved this issue in my previous pr.

[2016-10-18 06:40] gogeta95 commented on #243
@amitiwary999 then why isn't it mentioned anywhere?

[2016-10-18 07:07] manisoni28 commented on #185
I am getting some build error need to figure it out..will fix it soon

[2016-10-18 07:17] replyashu commented on #147
taking this issue right away

[2016-10-18 07:27] amitiwary999 commented on #243
@gogeta95 because when I solving issuec#225 at that time I was not aware with this issue and changed the code.when @betterclever give the reason of this issue then I came to know that I solved this issue also.

[2016-10-18 07:44] amitiwary999 commented on #147
@replyashu Already solved

[2016-10-18 10:52] mejariamol commented on #186
Fixed. PR created
![2016_10_18_15_57_22_1_](https://cloud.githubusercontent.com/assets/13533840/19474831/42df5700-94e6-11e6-82e0-7eedecf4cccc.gif)

[2016-10-18 13:18] viveksb007 opened #248 "excessive marginTop of RecyclerView + UI enhancment"
**Actual Behaviour**

excessive marginTop of RecyclerView

![1](https://cloud.githubusercontent.com/assets/12713808/19479236/62302274-9563-11e6-9fde-93d57d241d8f.png)

**Expected Behaviour**

Should be like this

![2](https://cloud.githubusercontent.com/assets/12713808/19479248/6e470e88-9563-11e6-81a6-4d55accbe313.png)

**Would you like to work on the issue?**

Yes

[2016-10-18 13:24] viveksb007 opened #249 "Crash due to LinkPreviewLoading"
**Actual Behaviour**

Crashes if activity is destroyed before link preview is loaded.

**Expected Behaviour**

Should not crash.

**Steps to reproduce it**

Send a link and exit before its preview is loaded.

*LogCat for the issue**

10-18 18:49:43.081 12129-12129/org.fossasia.susi.ai E/AndroidRuntime: FATAL EXCEPTION: main
                                                                      Proc

[2016-10-18 13:35] mejariamol commented on #248
would be better if date-view appears over the RecycleView at the top

[2016-10-18 13:45] viveksb007 commented on #248
@mejariamol yup i guess that could be done using frame layout. will try that once

[2016-10-18 14:30] viveksb007 commented on #248
@the-dagger @daminisatya hows this?
@mejariamol were you referring to this?

![screenshot_2016-10-18-19-58-09-870_org fossasia susi ai](https://cloud.githubusercontent.com/assets/12713808/19481980/4efc71d0-956d-11e6-9eab-61140c78a069.png)

[2016-10-18 15:23] jig08 commented on #240
Only "Remove hardcoded strings from activity_login.xml" was taken care of, re-opening this issue.

[2016-10-18 16:16] aakashkhatter1296 commented on #240
@jig08 I think both the issues have been taken care of. The issue that 'The text field should not extend when Enter is pressed' has been taken care of as well, I just tested it.

[2016-10-18 16:20] #240 closed

[2016-10-18 16:20] jig08 commented on #240
Yep, works fine.

[2016-10-18 17:39] mayank408 commented on #237
@the-dagger  Margins decreased to 1dp

![whatsapp image 2016-10-18 at 11 07 43 pm](https://cloud.githubusercontent.com/assets/22056321/19489185/d17f2a2a-9587-11e6-9b55-a756b31937eb.jpeg)

[2016-10-18 18:17] mejariamol opened #251 "ChatMessage overlaps RecycleView"
**Actual Behaviour**

Chatmessage view is overlapping recycleview at its max height.

**Expected Behaviour**

Should not overlap

**Screenshots of the issue**

![screenshot_2016-10-18-22-37-15](https://cloud.githubusercontent.com/assets/13533840/19490513/4d31ae0e-9524-11e6-905f-fb772f527cd8.png)

**Would you like to work on the issue?**

yes

[2016-10-18 18:20] gogeta95 commented on #150
@therajanmaurya any progress?

[2016-10-18 19:06] Orbiter opened #252 "Add option to display multiple answer lines"
**Actual Behaviour**
Currently the app returns one aswer line for each input

**Expected Behaviour**
It should be possible that the app returns several answer lines, each within it's own box. The answer lines may also appear with a given delay

To test this, you need a response from susi_server which produces several lines. This is prepared for the test question consisting of only one word which i

[2016-10-18 19:08] Orbiter commented on #252
This also applies to TTS!

[2016-10-18 19:32] gogeta95 opened #253 "Separate manifests for debug and release"
**Actual Behaviour**

Manifests for debug and release are same.

**Expected Behaviour**

* debug build needs extra permissions so it can be tested on emulator, we can have separate manifests for debug and release to keep the release version clean.
* also we need to get rid of redundant XML tag at https://github.com/fossasia/susi_android/blob/master/app/src/main/AndroidManifest.xml#L47

**Would you

[2016-10-18 20:41] Orbiter commented on #152
This is not working here. Do I need some TTS module?

[2016-10-19 00:17] mayank26saxena commented on #246
Can I take up this issue?

[2016-10-19 05:12] betterclever commented on #246
@daminisatya @jig08 I've also opted for assignment. Please consider.

[2016-10-19 05:16] betterclever commented on #252
I would like to work on this.

[2016-10-19 06:55] betterclever opened #255 "Date Display Feature Broken"
**Actual Behaviour**

The display of date in the textView above the RecyclerView in ChatMessageView is completely broken. It displays the date on which app was launched rather than the date on which the conversation has happened. Basically, it is a calender not a real date display.

**Expected Behaviour**

The date TextView should display date of that conversation rather than the current date. A r

[2016-10-19 06:59] betterclever commented on #255
@daminisatya @jig08 This is needed to be fixed for #230 since in multiple copy date should also be added.

[2016-10-19 08:22] #253 closed

[2016-10-19 08:30] charany1 opened #257 "Space at end of email not trimmed automatically on login screen"
**Actual Behaviour**

On login screen , when using keyboard like swiftkey which provides suggestions for input , when I have entered my mail id only partially in mail text box , and then press on complete mail id suggestion , swiftkey by default appends a space at end of mail id . Now , when I press on Login button , it says , invalid e-mail .

**Expected Behaviour**

We should treat mail ids with

[2016-10-19 08:40] jig08 commented on #257
Copy of Issue #185, closing this.

[2016-10-19 08:40] #257 closed

[2016-10-19 08:56] #248 closed

[2016-10-19 10:11] #249 closed

[2016-10-19 10:16] VDenis commented on #185
Is this not working?

[code]

[2016-10-19 10:51] VDenis opened #260 "Issue with the image SUSI on the login screen"
**Actual Behaviour**

On login screen when type email or password keyboard is opened and image with application name SUSI gets bigger or smaller.

**Expected Behaviour**

The image should not getting bigger or smaller when type email or password.

**Steps to reproduce it**

1) Open Login Screen.
2) Remove focus from any field. Type some part email, when type some part password. Repeat jumping from

[2016-10-19 11:17] VDenis commented on #251
How to reproduce this issue?
I have this behavior **screenshot**:

<img src="https://cloud.githubusercontent.com/assets/5451716/19516779/514403ec-9606-11e6-8af2-36cd8f237aa4.png" height="600" alt="login screen screenshot"/>

[2016-10-19 11:21] daminisatya commented on #251
In the input field give some large text. @VDenis

[2016-10-19 11:22] daminisatya commented on #260
@VDenis I thought it was doing some responsive job.

[2016-10-19 12:06] betterclever commented on #260
@daminisatya @VDenis I guess, it looks good as it is now. Gives a parallax effect.

[2016-10-19 12:42] betterclever commented on #230
@daminisatya @jig08 @the-dagger Have a look!!

Multi-Delete
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/16309034/19518821/c36d6e02-9626-11e6-80ff-3f93dbcf741d.gif)

Multi-Copy
![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/16309034/19518979/6f618590-9627-11e6-93b0-dcb6967f2f30.gif)

Multi Share is also working fine.

[2016-10-19 12:48] the-dagger commented on #230
Looks good @betterclever

[2016-10-19 13:34] YashishDua commented on #246
Can I take up the issue ?

[2016-10-19 13:38] YashishDua commented on #237
Is Issue closed or still open ?
If open Can I take up the issue ?

[2016-10-19 14:42] YashishDua commented on #228
Can I take up this Issue ?

[2016-10-19 15:00] YashishDua commented on #199
Can I take up this Issue ?

[2016-10-19 15:04] YashishDua commented on #192
@gogeta95 If Server problem is fixed , Can I take up this issue ?

[2016-10-19 15:10] gogeta95 commented on #192
No it's not. I'm waiting too.

On Oct 19, 2016 8:34 PM, "YashishDua" <notifications@github.com> wrote:

[2016-10-19 15:15] YashishDua opened #262 "Issue with Alignment of SUSI Image in chat window."
**Actual Behaviour**

SUSI Image which is placed at top is not aligned in centre.

**Expected Behaviour**

It must be algined to centre properly.

**Steps to reproduce it**

Open the chat window

**Would you like to work on the issue?**
Yes

[2016-10-19 16:56] jig08 commented on #246
@mayank26saxena @YashishDua
@betterclever is already working on this, let's wait for any update from his side.

[2016-10-19 16:57] jig08 commented on #237
@mayank408 Updates pls ?

[2016-10-19 16:59] jig08 commented on #199
@piyush6348 Updates on this please ?

@YashishDua Try taking up issues which are unassigned currently or open up cases for faulty or new features. Cheers !

[2016-10-19 17:02] mayank408 commented on #237
@jig08 @the-dagger @daminisatya If the above chatbox layout is not satisfying , then I think we should try to make a drawable for chat bubble that is impressive and can be taken as background for messages.

[2016-10-19 17:02] piyush6348 commented on #199
@GetSetAbhi  sorry for being so late, if you want you can work on this issue. @jig08  i was unable to get start on this issue as i'm quite occupied from last couple of days.

[2016-10-19 17:12] jig08 commented on #199
@piyush6348 Thanks.
@GetSetAbhi Would you like to take this up, else I assign this to @YashishDua  ?

[2016-10-19 17:36] jig08 commented on #262
@YashishDua Could you post a screenshot demonstrating the same ?

[2016-10-19 17:43] amitiwary999 commented on #143
@the-dagger I am sending PR for this.Can I?

[2016-10-19 17:53] betterclever commented on #199
@jig08 this is an old issue. We already implemented Snackbar for it and it is also present in new version of copy/delete in PR #261. This can be closed.

[2016-10-19 18:00] the-dagger commented on #143
Sure @amitiwary999

[2016-10-19 20:20] #246 closed

[2016-10-19 22:00] VDenis commented on #260
@daminisatya @betterclever @mariobehling Previously, i watch at this like user and it's looks sharp.
But after your explanation i understand that it's doing some responsive job and it gives a parallax effect.

Is this expected behavior?
Should i close this issue or we need to discuss or i need rename issue to make smooth transitions?
What do you think people?

[2016-10-19 22:10] VDenis commented on #262
@YashishDua you mean this image with SUSI title at the top?

<img src="https://cloud.githubusercontent.com/assets/5451716/19539352/94ae2cec-9661-11e6-9ed1-33389f867ae3.png" height="600"></img>

[2016-10-19 23:03] mariobehling commented on #260
@VDenis These effects are not smooth and the UI should be simple. The best design of the app is if the UI feels invisible and the "Susi" simply serves the user. So, agree with you. Let's keep it more simple. Cheers.

[2016-10-19 23:04] mariobehling commented on #262
Please feel free to change it. Thank you.

[2016-10-19 23:07] mariobehling commented on #3
@the-dagger Should we move back to travis?

[2016-10-19 23:47] mariobehling opened #265 "Mimic chat UI interface of existing app"
A lot of ideas are getting incorporated into the app UI, but as a first step the UI should be simple and follow market leaders like Whatsapp to get people accustomed to chatting with Susi. Therefore please somehow mimic the chat UI of Whatsapp.

Implement:
- [ ] gray background
- [ ] green background for Susi chat
- [ ] white background for user
- [ ] ensure left/right chat boxes
- [ ] slightly re

[2016-10-19 23:50] mariobehling opened #266 "Show "received" ticks if message has been sent"
The app might be temporarily offline and event though the user has typed a message, maybe Susi might not have received it.

Please implement a double tick similar to Facebook indicating that the message has been sent and received.

![nexus2cee_whatsapp-material-8](https://cloud.githubusercontent.com/assets/1583873/19541562/9077c718-9667-11e6-9cad-3072979cc6f4.png)

[2016-10-20 00:05] mariobehling opened #267 "Simplify design of login/signup screens"
Currently there are different colors on the login screens and the app does not yet have a color profile for all screens.

The app UI should be kept as simple as possible for now. Login screens similar to the Facebook messenger can be an example.

Therefore please implement as follows:
- [ ] Make all background screens for login white similar to FB messenger
  ![screenshot from 2016-10-20 01 56 35]

[2016-10-20 04:23] amitiwary999 commented on #267
@mariobehling I would like to work on this.

[2016-10-20 04:50] YashishDua commented on #262
@VDenis Yes ! The image is not aligned properly .
@mariobehling Can I take up this issue ?

[2016-10-20 04:59] daminisatya commented on #267
Assigned @amitiwary999

[2016-10-20 05:30] the-dagger commented on #3
@mariobehling I've fixed this in my fork with circleci.
Will send a PR with it today.

[2016-10-20 06:02] jig08 commented on #262
@mariobehling @YashishDua If we plan to mimic WhatsApp UI, The SUSI image and this bug there-on serve no purpose.
@YashishDua I would rather suggest you to work on Issue https://github.com/fossasia/susi_android/issues/265

[2016-10-20 06:04] betterclever commented on #265
I would like to work on this.

[2016-10-20 06:05] amitiwary999 commented on #266
I would like to work on this.

[2016-10-20 06:08] betterclever commented on #265
@jig08 @mariobehling What should be the PrimaryColor, same Dark Grey as being used now or some other light material color?

[2016-10-20 06:24] jig08 commented on #265
@betterclever Use the same old Dark Grey for the time being.

[2016-10-20 08:20] betterclever commented on #265
@jig08 @mariobehling

I personally think that Chat UI must be similar to Allo and not WhatsApp reason being WhatsApp UI is not designed to handle other data well like link preview , multiple replies in form of actionable cards, maps , charts etc which are being currently or will be used in Susi in future.
+ less important info like timestamps can be hidden and be visible when user taps once, on an

[2016-10-20 08:28] mariobehling commented on #265
@betterclever Thanks for your input. Let's not have a long feature discussion on this issue. Whatsapp is just an example. Yes, Google Allo is better in some respects, but also still under heavy development.

This issue is mainly about the colors and top bars. There is a list of items on the top. Other questions like link preview etc. - this is not part of this issue.

Regarding the background: Ple

[2016-10-20 08:31] mariobehling commented on #262
@YashishDua Yes, please take it up.

@jig08 For the moment we are keeping this part and will change step by step.

[2016-10-20 11:09] the-dagger commented on #3
@mariobehling fixed.
https://github.com/fossasia/susi_android/tree/apk

[2016-10-20 12:11] #230 closed

[2016-10-20 12:31] mariobehling commented on #3
Awesome!

[2016-10-20 12:31] #3 closed

[2016-10-20 13:48] amitiwary999 commented on #267
@mariobehling please let me know if I need any changes.
![-10-20-19-11-31](https://cloud.githubusercontent.com/assets/14003244/19562321/79edc73a-96f9-11e6-8f67-7783d2f808dc.png)
![screenshot_2016-10-20-19-12-55](https://cloud.githubusercontent.com/assets/14003244/19562331/813c6dde-96f9-11e6-87e7-1e143cb45ba9.png)

[2016-10-20 15:05] mariobehling commented on #267
Thank you. Please follow the order and way the buttons are displayed of Facebook and colors similar to Messenger e.g.
* [ ] Change color of font to gray
* [ ] no sign up button, but - text (like in FB messenger)
* [ ] no different colors for forgot password etc.
* [ ] Square buttons
* [ ] Also follow original description

[2016-10-20 16:27] amitiwary999 commented on #267
@mariobehling review?
![screenshot_2016-10-20-21-53-24](https://cloud.githubusercontent.com/assets/14003244/19568638/fa197060-970f-11e6-87b9-7642c052593f.png)
![screenshot_2016-10-20-21-53-32](https://cloud.githubusercontent.com/assets/14003244/19568639/fa1b3828-970f-11e6-8f08-5662fb8feba4.png)

[2016-10-20 17:07] mariobehling commented on #267
@amitiwary999 We value your work, but let's not get too much into detailed discussions.

Please read carefully the description and comments in the issue, e.g. background should be white.

[2016-10-20 17:09] mariobehling commented on #267
There are also button that can be ticked. These buttons are there to understand if all details have been implemented. Buttons like that:
* [ ] Please tick these buttons, when finished.

[2016-10-20 17:11] amitiwary999 commented on #267
@mariobehling  any change in sign up button colour ?

[2016-10-20 17:57] mayank408 commented on #265
@betterclever #237 you working on this as well??

[2016-10-20 18:32] betterclever commented on #265
@mayank408 Both are related. So, I should say, yes.

[2016-10-21 05:48] NiharG15 opened #270 "Issue with SnackbarBehavior"
**Actual Behaviour**

When you delete a message, a snackbar pops up, which moves the rest of the UI up. When the snackbar gets dismissed, the rest of the UI doesn't come back to its original position.

**Expected Behaviour**

The UI should go back to its normal position.

**Steps to reproduce it**

1. Long press on a message
2. Select delete

**LogCat for the issue**

NA

**Screenshots of the issu

[2016-10-21 06:33] #186 closed

[2016-10-21 06:33] jig08 commented on #270
@NiharG15 assigned, take this up.

[2016-10-21 10:54] amitiwary999 opened #271 "Issue with Chat setting background colour"
**Actual Behaviour**
Chat setting background colour is unattractive.
Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

*LogCat for the issue**

Prov

[2016-10-21 13:09] #270 closed

[2016-10-21 20:06] mariobehling opened #273 "Voice of Susi offering download of file, but it should not"
**Actual Behaviour**

After activating Susi Voice output, after Susi reads out the answer, the app offers download of file.

**Expected Behaviour**

There should not be a file download option.

**Screenshots of the issue**

![screenshot_2016-10-21-22-02-21](https://cloud.githubusercontent.com/assets/1583873/19610023/9277a6e0-97da-11e6-8c89-10f2efaad9a0.png)

[2016-10-21 20:14] mariobehling opened #274 "Offer language settings, especially for voice input/output or propose alternative solution"
**Actual Behaviour**

Currently the app is mainly tested in one language. If we define rules, the app could also be used in different languages.

A challenge is if Susi uses text to speech. These services currently use a standard language, e.g. British English.

We need to define what language is used in the settings, but also allow users to change that setting.

**Expected Behaviour**

Enable the

[2016-10-21 20:17] mariobehling opened #275 "Overlapping Area: Text behind input box"
**Actual Behaviour**

Text or box is partly hidden behind input box.

**Expected Behaviour**

Compare to chat UI of Whatsapp and implement in similar ways.

**Screenshots of the issue**

![screenshot_2016-10-21-22-14-52](https://cloud.githubusercontent.com/assets/1583873/19610302/14d21638-97dc-11e6-8fb4-8889f69d14b2.png)

[2016-10-21 20:22] amitiwary999 commented on #273
I would like to work on this issue

[2016-10-21 20:22] amitiwary999 commented on #275
I would like to work on this issue.

[2016-10-21 20:28] mariobehling opened #276 "Enable Voice Output if user speaks to app"
**Actual Behaviour**

Currently the user needs to enable voice output of Susi in the settings. Even if the user uses voice to communicate.

**Expected Behaviour**

* [x]  The output of voice should be enabled if users uses voice input.
* [x]  There should be an additional option in settings deactivate/activate Voice Output if user uses "Speech to Text", e.g. "At speech input enable speech out"
* [

[2016-10-21 20:30] mariobehling opened #277 "Deactivate voice output for map URL locations"
**Actual Behaviour**

When speech output is enabled, Susi speaks out the long map URL on questions like "Where is xyz".

**Expected Behaviour**

When Susi says "Here is a map", Susi should not mention the URL of the map.

[2016-10-21 20:39] mariobehling opened #278 "Implement "Hi Susi" as hotword wake up commands"
**Actual Behaviour**

Currently to talk to Susi, the user needs to tap the mic button. Samsung S6 and Google have apps, that offer voice input by using hotwords/wake up commands.

**Expected Behaviour**

Please implement "Hi Susi" as a hotword wake up command.

[2016-10-21 20:42] mariobehling commented on #273
Please do not claim numerous issues. Please solve one issue at a time and solve questions of open pull requests first. It does not make sense to claim issues "on stock".

[2016-10-22 02:44] NiharG15 commented on #277
I would like to work on this.

[2016-10-22 05:58] mayank408 commented on #276
@mariobehling  I would like to work on this

[2016-10-22 06:00] mayank408 commented on #278
@mariobehling  I would like to work on this.

[2016-10-22 06:05] mayank408 commented on #237
@the-dagger We can close this issue as it is already being worked on issue #265 .

[2016-10-22 07:53] #237 closed

[2016-10-22 07:54] #251 closed

[2016-10-22 08:13] amitiwary999 commented on #271
@jig08
![screenshot_2016-10-22-13-39-50](https://cloud.githubusercontent.com/assets/14003244/19618046/69afdae2-985d-11e6-9efd-0436c1ba953a.png)

[2016-10-22 09:49] #277 closed

[2016-10-22 10:58] mariobehling commented on #271
Gray for settings is fine for the moment. Let's focus on the existing issues first.

We need a good chat UI. All other parts will depend on the chat UI. Closing this for the moment as it is not a focus. We need to look at the start UI and chat UI first.

Thank you.

[2016-10-22 10:58] #271 closed

[2016-10-22 11:51] mayank408 opened #283 "Ragarding chat bubble size."
**Actual Behaviour**

Chat bubble is taking whole size of the screen if message is large.
**Expected Behaviour**

There should be a minimum width
![whatsapp image 2016-10-22 at 5 20 20 pm](https://cloud.githubusercontent.com/assets/22056321/19619100/fd92b48c-987b-11e6-83fa-758c6c72d0e0.jpeg)

**Would you like to work on the issue?**
yes

[2016-10-22 11:53] mayank408 opened #284 "Issue with logout"
**Actual Behaviour**

When we click on logout is does not ask for confirmation.
**Expected Behaviour**

When we click on logout it should ask for confirmation.

**Would you like to work on the issue?**
Yes ofcourse

[2016-10-22 11:54] daminisatya commented on #283
@mayank408 Please refer #265 No duplicate issues. Please contribute there

[2016-10-22 11:54] daminisatya commented on #283
Any suggests or want to split the issues please put it on that issue. Thank you

[2016-10-22 11:54] #283 closed

[2016-10-22 11:57] mayank408 commented on #283
@daminisatya ok sure.

[2016-10-22 12:17] mariobehling commented on #284
Ok, great. Please follow services like Whatsapp and Twitter, e.g. implement a small pop up. thank you.

[2016-10-22 19:27] betterclever commented on #273
I would like to work on this.

[2016-10-22 19:47] betterclever commented on #273
@mariobehling Please clear a doubt, user is prompted since he doesn't have English UK installed, so what should be the behaviour in such a scenario?
1. Abandon Voice Output.
2. Fallback to English US as it is installed by default in most handsets.
3. A check can be made for language at the time of enabling voice output to download language at that time.
or any other behaviour?

[2016-10-22 23:14] betterclever commented on #228
Solved. Hence closing.

[2016-10-22 23:14] #228 closed

[2016-10-23 01:32] vikiCoder opened #287 "App crashes on rotation"
The app closes unfortunately on rotation of screen.

[2016-10-23 01:34] vikiCoder commented on #287
I have fixed this and also sent the PR.

[2016-10-23 01:39] daminisatya commented on #287
@vikiCoder Thanks for reporting bug (Y)

[2016-10-23 02:02] #287 closed

[2016-10-23 10:56] #276 closed

[2016-10-23 11:54] mariobehling opened #289 "App crashing on startup"
**Actual Behaviour**

I was able to use the app a short time and login first. I tested the voice feature and the first crash happened. After that, I am not able to start Susi. It is crashing on startup.

**Expected Behaviour**

No crashes.

[2016-10-23 11:57] mariobehling commented on #273
@betterclever

Falling back to US English sounds like a good solution.

Can we do that at the installation of the app? Is it possible to download the language of the user's phone at the time of the app installation?

[2016-10-23 12:00] betterclever commented on #273
@mariobehling As far as I know, we can do this at first run of App but not at the time of installation.

@the-dagger Is it possible to check at installation?

[2016-10-23 12:02] mariobehling commented on #273
@betterclever Ok, great. Please proceed to whatever is possible. If it is not possible at time of installation, let's to it at first run. Thank you.

[2016-10-23 12:05] amitiwary999 commented on #289
@mariobehling can you post the error log because it is not crashing on my device.

[2016-10-23 12:09] the-dagger commented on #273
During installation isn't possible, but it is possible on the first run.
@betterclever

[2016-10-23 12:23] mariobehling opened #290 "Propose and implement bug and crash logs"
We already have a number of issues when the app crashes and reports are submitted by testers. How can we automate this process, especially for versions we did not put yet on the play store?

How can we collect logs?

I found this project: https://code.google.com/archive/p/android-remote-stacktrace/

Any other suggestions? Please propose and implement a suitable solution.

[2016-10-23 12:24] mariobehling commented on #289
@amitiwary999 Did you try with sound?

I am out at the moment. Can we have some more automated reports/logs of crashes? I opened an issue for this https://github.com/fossasia/susi_android/issues/290

[2016-10-23 12:24] NiharG15 commented on #289
@mariobehling I'm getting a crash due to a null log message. Sending a PR to fix it.

[2016-10-23 12:26] NiharG15 commented on #290
@mariobehling  I've used Crashlytics (now part of fabric) before, and it works well.
https://get.fabric.io/

[2016-10-23 12:26] amitiwary999 commented on #289
@mariobehling Yeah I got it.
FATAL EXCEPTION: Thread-19745
                                                                      Process: org.fossasia.susi.ai, PID: 18222
                                                                      java.util.NoSuchElementException
                                                                          at java.util.LinkedList.getFirstImpl(LinkedList.java

[2016-10-23 13:53] vikiCoder opened #292 "Collapse searchView on getting focus of ChatMessage"
Currently, the ChatMessage is being disabled on click on search button.

But I think, ChatMessage should not be disabled. And when user again click on it (ChatMessage), the searchView should collapse automatically.

I would like to work on it.

[2016-10-23 13:58] amitiwary999 commented on #292
@vikiCoder I tried to implement feature like in whatsapp but was busy so I done that for temporary.I planned for hiding edittext box when user click on serch view and as soon as user close searchview edittext box will become visible.(I already coded that part so if you not started work on it .can I take this issue.)

[2016-10-23 14:02] vikiCoder commented on #292
Actually I have done what I said, but yours seems better...Do it

[2016-10-23 15:42] amitiwary999 commented on #292
@vikiCoder if they approved this issue then I will send a PR.

[2016-10-23 16:10] mariobehling commented on #292
@amitiwary999 Not sure, exactly how this will look and feel, but we can try out it. Please send a PR and add a screenshot if possible. Cheers.

[2016-10-23 16:38] amitiwary999 commented on #292
@mariobehling once I write something in serachview editext box become invisible and on clicking search option from keyboard it shows required result. And after clicking close button serchview collapsed and editext box become visible.
![screenshot_2016-10-23-22-06-59](https://cloud.githubusercontent.com/assets/14003244/19627794/2e9479b6-996d-11e6-8c37-607f7f752d73.png)

![screenshot_2016-10-23-21-5

[2016-10-23 20:15] vikiCoder opened #296 "Add a button to scroll to the end like whatsapp"
We can add a button in chatwindow to scroll to end like whatsapp. Like shown in screenshot...

![screenshot_2016-10-24-01-38-56](https://cloud.githubusercontent.com/assets/16588032/19629124/49219d18-998b-11e6-8db7-daabb3af03a7.jpg)

I would like to work on this. In fact I have started working on....

[2016-10-24 06:19] mariobehling commented on #290
@NiharG15 Sounds good. Please help to implement it.

[2016-10-24 06:33] #284 closed

[2016-10-24 08:35] mayank408 commented on #284
@madhavrathi Should i need to explain you the rule . How can you send pr to an issue assigned to someone else.
@mariobehling @daminisatya @the-dagger  pls ensure that this thing dont happen in future . I have already worked on it just to waste my time.

[2016-10-24 14:32] mayank408 opened #299 "Issue with chat dots."
**Actual Behaviour**

When the user is not connected to internet and send a message , in reply the susi message keeps on showing the chat dots until the net gets connected.

**Expected Behaviour**
If internet in not connected chat bubbles should not show up.

[2016-10-24 15:35] mariobehling commented on #299
As expected behaviour, I would rather expect an information "You are currently not connected". How do chat apps do this?

[2016-10-24 15:44] mayank408 commented on #299
The snackbar already shows "Internet Connection Not Available " , we just need to stop showing the chat bubbles.

![whatsapp image 2016-10-24 at 9 10 23 pm](https://cloud.githubusercontent.com/assets/22056321/19652433/576696b4-9a2e-11e6-9a02-c967b41104ae.jpeg)

[2016-10-24 15:45] mayank408 commented on #275
@the-dagger Its already solved . So we can close this.

[2016-10-24 15:55] mariobehling commented on #299
The top bar shows if there is reception. It can also show reception to Wifi, but this does not mean that there is an Internet connection.

[2016-10-24 16:04] #275 closed

[2016-10-24 16:22] mayank408 commented on #299
@the-dagger What are your views on this.

[2016-10-24 16:36] the-dagger commented on #299
@mayank408 Agreed, the dots shouldn't be displayed if there is no internet connection. :+1:

[2016-10-24 16:44] mayank408 commented on #299
@the-dagger Pls assign this to me . I would like to work on it.

[2016-10-24 17:27] mayank408 commented on #147
@the-dagger Already solved. We can close this.

[2016-10-24 17:47] #147 closed

[2016-10-24 20:04] #199 closed

[2016-10-25 13:19] rahulworld opened #303 "UI improvement in chat wallpaper dialog"
We can add m-desgin in dialog for choose wallpaper.

![screenshot_2016-10-25-18-41-40](https://cloud.githubusercontent.com/assets/15066782/19687426/f42617b8-9ae2-11e6-8142-b6f593d63366.png)

I would like to work on this.

[2016-10-25 18:15] mejariamol opened #304 "Alignment of send button at max height textbox"
**Actual Behaviour**

send button shifts up at max height text box

![take2](https://cloud.githubusercontent.com/assets/13533840/19698400/ebaf3554-9aa3-11e6-8b11-15eefe5cbd7f.png)

**Expected Behaviour**

It should be unchanged

![take1](https://cloud.githubusercontent.com/assets/13533840/19698463/3cae1448-9aa4-11e6-9763-bf4b5f5adcbd.png)

**Would you like to work on the issue?**
yes

[2016-10-25 19:33] mejariamol opened #306 "Error message comes in the chat bubble"
**Actual Behaviour**

Error message comes in the chat bubble

**Expected Behaviour**

Should not come in the chat bubble. Instead should appear in toast or snackbar

**Screenshots of the issue**

![take4](https://cloud.githubusercontent.com/assets/13533840/19701184/20d5e0f6-9aaf-11e6-8246-3eb9e3841f1b.png)

**Would you like to work on the issue?**

yes

[2016-10-25 19:35] iit2014086 commented on #96
@FleetAdmiral are you working on this??

[2016-10-25 19:38] FleetAdmiral commented on #96
@iit2014086 Yes, i'll be done with it in a little more time.

[2016-10-26 00:29] #304 closed

[2016-10-26 01:21] #143 closed

[2016-10-26 05:52] jig08 commented on #303
Material Design sounds good, but I don't think numbering does.

[2016-10-26 05:53] jig08 commented on #306
Yes, and by the way we are preferring snackbar over toasts.

[2016-10-26 05:59] rahulworld commented on #303
@jig08  yes only use of material design numbering wouldn't be there.

[2016-10-26 08:22] mariobehling commented on #306
Before solving this error we need to understand, where this error message comes from. The backend does not create this error message. Please provide more details about this message and its origina before solving it. Thank you.

[2016-10-26 12:59] amitiwary999 commented on #306
@mariobehling this error is thrown by

catch (IndexOutOfBoundsException | NullPointerException e) {
                                        Log.d(TAG, e.getLocalizedMessage());
                                        answer = getString(R.string.error_occurred_try_again);
                                        ismap = false;
                                        isHavingLink = false;

[2016-10-26 13:22] mejariamol commented on #306
@amitiwary999  do u wanna solve dis issue ?

[2016-10-26 17:07] amitiwary999 commented on #306
I will try.

[2016-10-26 17:15] #296 closed

[2016-10-26 17:16] mayank408 commented on #306
@amitiwary999 @mariobehling

if (!isNetworkConnected()) {
                                        recyclerAdapter.hideDots();
                                        nonDeliveredMessages.addFirst(new Pair(query, id));
                                        Snackbar snackbar = Snackbar.make(coordinatorLayout,
                                                getString(R.string.no_internet_connection

[2016-10-26 17:28] mayank408 commented on #303
@rahulworld Are you working on this or else i want to work on this..

[2016-10-26 17:48] rahulworld commented on #303
@mayank408  yes, i am working on this.

[2016-10-26 20:18] mayank408 opened #307 "Option to select all messages at once."
**Actual Behaviour**

There is no option to select all messages in the susi app.
**Expected Behaviour**
There should be a functionality to select all messages.

**Would you like to work on this?**
yes

[2016-10-26 20:23] mayank408 opened #308 "Option to delete chat history"
**Actual Behaviour**

There is no such option to delete chat history.

**Expected Behaviour**

There should be a dedicated option to delete chat history

Would you like to work on this?
yes

[2016-10-26 20:31] mayank408 commented on #292
@jig08
@amitiwary999   You have many issues assigned can I work on this.

[2016-10-26 20:36] amitiwary999 commented on #292
No, I already coded this part and will send a PR if required.(I sent screenshot for reference and if they allow then I will send PR).
If you want to work,  work on issue #278 which is assigned to you.

[2016-10-26 20:50] betterclever commented on #265
![screenshot_20161027-021251](https://cloud.githubusercontent.com/assets/16309034/19744600/d030e176-9beb-11e6-8b50-b743cd13d9fe.png)
@mariobehling How does it look? Sorry, for being so late in it. My health was not so well lately.

[2016-10-27 03:21] mariobehling commented on #306
Ok, thanks. The problem with this message is, that we don't know why it shows up. At this stage of the app development, we need to show the real reason for errors. "There was an error is not sufficient."

[2016-10-27 03:26] mariobehling opened #309 "Show relevant error messages in chat box"
This is a follow up to issue: https://github.com/fossasia/susi_android/issues/306

Currently there is a general error message if something went wrong in Susi "an error ocurred. please try again."

As a matter of fact the server seems to work perfectly fine and it is unclear what the error is. We need a simple way to understand the cause without having to browse through logs at this stage of develo

[2016-10-27 03:33] mariobehling commented on #306
Closing this in favor of https://github.com/fossasia/susi_android/issues/309

[2016-10-27 03:33] #306 closed

[2016-10-27 03:52] Orbiter commented on #306
Wait a moment, https://github.com/fossasia/susi_android/issues/309 would not solve this. As the problem is caused by an invalid access token I believe the token must be renewed in some way. Maybe the token is void when the susi_server restarts.

Question: does the android client has still the log-in information and is able to retrieve a new access token automatically in that case? That would be th

[2016-10-27 07:05] mejariamol commented on #309
@mariobehling I ll work on dis

[2016-10-27 07:19] jig08 commented on #265
@betterclever Looks neat.

[2016-10-27 07:21] jig08 commented on #278
@mayank408 Updates in this please ? Do not take up number of issues to resolve at the same moment.

[2016-10-27 07:23] jig08 commented on #307
Un-assigning at the moment, follow up on previously assigned issues.

[2016-10-27 09:54] mayank408 commented on #278
@jig08  I need a bit help on this issue as it is quite complex .
@the-dagger Could you suggest some implementation.  I have tried but Google's own voice service keep running in the background due to which it does not recognize hotword. Is their any other API to implement this.

[2016-10-27 10:40] mariobehling commented on #265
Good start. Please also ensure you follow the description (gray background) and keep some distance to the side of chat bubbles for example.

Also keep the time in the chat UI. Cheers.

[2016-10-27 11:08] mariobehling opened #311 "Error in chat: Invalid access token"
Follow up to https://github.com/fossasia/susi_android/issues/306#issuecomment-256540167

The chat has some errors as below:

@amitiwary999 @mariobehling

if (!isNetworkConnected()) {
                                        recyclerAdapter.hideDots();
                                        nonDeliveredMessages.addFirst(new Pair(query, id));
                                        Snackbar snackbar

[2016-10-27 11:09] mariobehling commented on #306
@Orbiter Thank you. As this issue is not related to the chat UI I opened a dedicated issue here: https://github.com/fossasia/susi_android/issues/311

[2016-10-27 12:02] mariobehling commented on #308
This is an additional feature. Right now we don't want to increase the complexity and add this kind of features to the app. We need the chat to work. Currently it does not.

More features mean more things to take care of. We need the basics to work flawlessly. Closing this therefore.

[2016-10-27 12:02] #308 closed

[2016-10-27 12:03] mariobehling commented on #307
This is not a focus at the moment. We need the basics to work first. This app provides a AI chatbot and we need this chatbot to work before we think about additional features. Closing it therefore. Thank you.

[2016-10-27 12:03] #307 closed

[2016-10-27 12:15] amitiwary999 commented on #309
@mejariamol have you started work on this?

[2016-10-27 12:20] mejariamol commented on #309
@amitiwary999 yes

[2016-10-27 13:57] NiharG15 commented on #290
![Crashlytics](https://cloud.githubusercontent.com/assets/2757665/19769695/1d5cbafe-9c7a-11e6-8e87-d65411609a98.png)

Its working well.

We need to keep the API key out of the public repo. For this purpose, we could create a strings-private.xml file and add it there. Then add the file to .gitignore to keep it out of the repo. API key will be given to contributors on request via gitter. If anybody

[2016-10-27 14:25] mayank408 commented on #311
@gogeta95 what are your views..

[2016-10-27 14:45] gogeta95 commented on #311
Saving password in local storage defeats the purpose of token based authentication. The server shouldn't invalidate tokens on each restart, tokens do have an expiry date, we can set the expiry date to 1-2 months and ask user to re login if token has expired.

[2016-10-27 16:54] mariobehling commented on #311
@gogeta95 This is not the intended solution. We do not want the user to have to login again. It is not in line with the experience in other apps.

[2016-10-27 21:11] gogeta95 commented on #311
In that case, we could implement oauth2.0 where we need to manage 2 tokens, access and refresh. However, I have never done that, so we need someone with more knowledge about this process to guide. More info is at: https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/

[2016-10-28 11:57] Orbiter commented on #311
can we use the AccountManager? https://developer.android.com/reference/android/accounts/AccountManager.html which handles the whole process, stores authentication credentials and re-establishes access tokens if they have been invalidated.

[2016-10-29 14:18] arp95 commented on #303
Numbering doesnt look good better would be using bullet points.

[2016-10-29 14:55] arp95 opened #315 "New login feature"
**Actual Behaviour*
Right now we are using normal login feature . Can we use the fb , google login in it ?
And if yes can i take up the issue ?

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

*

[2016-10-29 14:55] #315 closed

[2016-10-29 14:57] arp95 opened #316 "New login feature"
Right now we are using normal login feature, can we incorporate the fb , google login for users instead of creating another account for user ?
And if yes can i take up this issue ?

[2016-10-29 15:27] jig08 commented on #316
@mariobehling we could look into including Google Sign-In facility ...

[2016-10-29 19:08] nukex1122 commented on #316
Can I Take Up This Issue?

[2016-10-29 20:26] arp95 commented on #316
Im working on this. Will communicate when help needed.

[2016-10-29 23:30] mariobehling commented on #316
This could be a way. The goal would be to make it easier to connect accounts. However, this is making the project more complex. For the moment we want to keep it simple and reduce the bugs.

[2016-10-29 23:30] #316 closed

[2016-10-31 21:19] #289 closed

[2016-10-31 21:20] octacode opened #317 "Using Web_Search Intent(Feature)"
**Actual Behaviour**

Each Time Susi says "I don't know" when it doesn't have the appropriate answer.

**Expected Behaviour**

What we could do is that instead of displaying I don't know to user we could launch a web_search intent.

**Would you like to work on the issue?**
Yes, If you find this issue relevant enough, then I sure would like to work on it.

Thanks

[2016-10-31 21:22] mariobehling opened #318 "Crash on location question using Speech"
**Actual Behaviour**

Using voice input with Susi and asking "Where is San Francisco", Susi crashes.

**Expected Behaviour**

No crash.

[2016-10-31 21:23] octacode commented on #318
@mariobehling
Hey!
If it's fine. Can I work on this issue?

[2016-10-31 21:24] mariobehling commented on #317
@octacode Yes, we are also thinking about this. What are your ideas for an implementation? Would the search results be displayed within the chat, in the browser or where?

[2016-10-31 21:25] octacode commented on #317
@mariobehling
I am thinking of using the browser to display the result.

[2016-10-31 21:26] mariobehling commented on #318
Yes, please. I have invited you to the org. Only members of the org can be assigned. Please accept the invitation. Cheers.

[2016-10-31 21:28] octacode commented on #318
@mariobehling
Thanks for such generosity. I have accepted the invitation. :)

[2016-10-31 21:43] mariobehling opened #319 "Show "wrong password" if user enters wrong password"
**Actual Behaviour**

Currently if the user enters the wrong password, there is no wrong password message.

**Expected Behaviour**

Similar behaviour to apps like the Facebook apps, that shows an error and allows the user to enter the password again.

[2016-10-31 21:47] octacode commented on #319
@mariobehling
How do you want the wrong password message to be displayed?
Whether it should be in form of an AlertDialog box or simply a Snackbar.
Thanks

[2016-10-31 21:48] mariobehling commented on #319
@octacode How does the Facebook app do it? Please do it in exactly the same way. Thank you.

[2016-10-31 21:48] octacode commented on #319
Okay! I am on it.
:)

[2016-11-01 00:58] octacode commented on #317
@mariobehling
Would it be fine if you assign this issue to me. I have already started with it.

[2016-11-01 01:40] mariobehling commented on #317
@octacode An option is also to display results in the Susi chat. We might prefer this solution. Maybe let's tray with the browser as well and check out how is the user experience.

[2016-11-01 05:51] mayank408 commented on #319
@mariobehling  This is what happens in facebook

![whatsapp image 2016-11-01 at 11 18 01 am](https://cloud.githubusercontent.com/assets/22056321/19880661/3500630a-a025-11e6-8d9d-d82915353a37.jpeg)

I would like to work on this.

[2016-11-01 05:52] mayank408 commented on #319
@mariobehling Can i work on this issue . Pls assign me..

[2016-11-01 10:31] #319 closed

[2016-11-01 10:36] octacode commented on #317
Great! Let's try with browser first.

[2016-11-01 22:21] mejariamol commented on #311
@mariobehling @Orbiter @mayank408 @gogeta95 I didn't get what invalid access token is. How the failure in SusiResponse request is related to the access token. Access token is for local use only. It doesn't have any part in server requests right. The error is due to failure in request because of Internet connectivity.

[2016-11-02 06:13] gogeta95 commented on #311
Access token is sent with every network call so that server can identify
which user sent the request.

On 02-Nov-2016 3:51 AM, "Amol Mejari" <notifications@github.com> wrote:

[2016-11-02 06:32] mejariamol commented on #311
@gogeta95 Will you please point me to the code where a token is sent with a network call. I was unable to find such thing.

[2016-11-02 07:41] mejariamol commented on #311
@gogeta95 @mayank408 @mariobehling @Orbiter Is there any easy way to reproduce this error due to invalid access token?

[2016-11-02 11:09] mejariamol commented on #311
@mariobehling I will work on this. Using `AccountManager` will fix the issue.

[2016-11-02 12:59] mejariamol commented on #267
@mariobehling The Login UI needs some improvement. May I work on Login UI ?

[2016-11-02 13:07] jig08 commented on #267
@mejariamol Mention details please. Before and After screenshots/mockups as well.

[2016-11-02 19:29] mayank408 opened #325 "Delete confirmation issue"
**Actual Behaviour**

Susi does not ask for confirmation of deleting messages.
**Expected Behaviour**

It should ask for confirmation before deletion like in whatsapp.

![whatsapp image 2016-11-02 at 12 27 46 pm](https://cloud.githubusercontent.com/assets/22056321/19944166/e5760c4e-a0f7-11e6-806c-04a5dd98eb0f.jpeg)

**Would you like to work on the issue?**

yes

[2016-11-02 20:24] chiragw15 opened #326 "Adding "clear conversation" feature in options menu"
If someone wants to delete all the conversations with susi, he/she has to select every conversation individually and delete it. A "clear conversation" option in options menu will be helpful in such cases.

**Would you like to work on the issue?**

Yes

[2016-11-02 23:40] chiragw15 opened #327 "Adding Border around Edit Text in Home Activity."
**Actual Behaviour**

There is no border around edit text.
![screenshot_20161103-044851](https://cloud.githubusercontent.com/assets/16978820/19951185/4552fef8-a182-11e6-975f-37fb74ea53e3.png)

**Expected Behaviour**

Border added around edit text.
![screenshot_20161103-050431](https://cloud.githubusercontent.com/assets/16978820/19951344/77564490-a183-11e6-9715-9d206604bb08.png)

@the-dagger , If i

[2016-11-03 01:43] mayank408 commented on #326
Copy of #408

[2016-11-03 03:10] #326 closed

[2016-11-03 03:11] mariobehling commented on #327
Looks good. Thank you.

[2016-11-03 03:56] jig08 commented on #325
@mayank408 Sure, go ahead.

[2016-11-03 03:58] jig08 commented on #317
PR https://github.com/fossasia/susi_android/pull/324 resolves this for now.

[2016-11-03 03:58] #317 closed

[2016-11-03 04:19] octacode opened #328 "After signUp the user have to login again."
**Actual Behavior**

After successfully signing in, The user is asked to login again. Which from my point of view is not a good practice.

**Expected Behaviour**

The user should be directly redirected to the main page without asking for logging in again.

**Would you like to work on the issue?**

If you find this enhancement worth for Susi. Then I would love to work on it.

[2016-11-03 05:36] mejariamol commented on #327
@chiragw15 @mariobehling Implementing material design elevation would be better. (shadows)

[2016-11-03 10:20] mariobehling commented on #328
After sign up the user should confirm the account by email and receive the info: Please go to your email to confirm the account.

[2016-11-03 10:20] #328 closed

[2016-11-03 10:34] mariobehling commented on #267
The first implementation of the UI is a good improvement. @mejariamol Please open a new issue and outline specific improvements you would like to do. Thank you.

[2016-11-03 10:34] #267 closed

[2016-11-03 10:50] chiragw15 commented on #327
@mariobehling @mejariamol @the-dagger @jig08 These are some other designs:

Light Gradient with elevation(shadow)
![screenshot_20161103-160306](https://cloud.githubusercontent.com/assets/16978820/19963027/90bf9406-a1e0-11e6-91f9-781336d11563.png)

Dark Gradient without elevation(shadow)
![screenshot_20161103-160227](https://cloud.githubusercontent.com/assets/16978820/19963051/b81432dc-a1e0-11e6-87

[2016-11-03 13:17] the-dagger commented on #327
Last one looks the best to me. 👍

[2016-11-03 13:30] daminisatya commented on #327
@chiragw15 Last one.

[2016-11-03 13:48] chiragw15 commented on #327
Last one it is then :) . Sending a PR.

[2016-11-03 14:49] mariobehling commented on #327
Please keep it simple. Simple grey line, no shadow or so, please.

[2016-11-03 15:25] #309 closed

[2016-11-03 17:21] mayank408 opened #331 "Map message copy issue ."
**Actual Behaviour**

When we use copy message in maps in susi the link also get copied.
**Expected Behaviour**

In other popular apps such as Allo on copying only the message get copied and not the link.

**Screenshots of the issue**

![whatsapp image 2016-11-03 at 10 48 02 pm](https://cloud.githubusercontent.com/assets/22056321/19976925/b434b254-a217-11e6-902b-4ae025010495.jpeg)

**Would you lik

[2016-11-04 04:28] #325 closed

[2016-11-05 04:55] #327 closed

[2016-11-05 16:27] #318 closed

[2016-11-05 17:11] octacode opened #334 "Categorising the Settings Activity."
**Actual Behaviour**

The Preference Activity looks like a list. There is no categorising of the Settings offered by Susi.

**Expected Behaviour**

The Susi settings list should be classified into Categories :-
*Chat Settings
*Mic Settings
*Speech Settings

**Steps to reproduce it**
We can use Preference Category in the pref_settings.xml

**Screenshots of the issue**
[Here's How the Settings activ

[2016-11-05 17:38] #334 closed

[2016-11-05 17:45] octacode opened #336 "Speech output says "I don't know" when Browser search is launched."
**Actual Behaviour**

Whenever we ask anything Susi ain't aware of. Susi launches a web search Intent with a message which reads "Conducting a Search.....Launching Browser." but the problem is the speech output is not the same. Speech output says "I don't know?"

**Expected Behaviour**

Speech output should be "Conducting a Search.....Launching Browser." instead  of "I don't know."

**Would you li

[2016-11-05 18:16] chiragw15 commented on #260
@VDenis @mariobehling @daminisatya For simplicity, we can just add a scroll view. Check this implementation.
https://www.youtube.com/watch?v=LW18DevRGH8

[2016-11-05 18:42] #336 closed

[2016-11-05 20:50] chiragw15 opened #338 "Option asking user if he/she wants to launch browser."
**Actual Behaviour**

Currently, When susi doesn't know something, it automatically launches a browser with the search query.

**Expected Behaviour**

Instead, it will be better if we display top result in chat and add an option which asks user if he/she wants to search the query on google.

**Would you like to work on the issue?**

Yes

[2016-11-06 07:04] FleetAdmiral commented on #96
@daminisatya  Hey! I'm really sorry that i held this up for 11 days but i've not been able to put much time into it due to unexpected circumstances. I don't want to hold up the issue any longer, so i'd like to suggest passing it onto someone else. Once things are all fine on my side, i'll come back and solve other issues. Thanks a lot for helping me out!

[2016-11-06 07:06] daminisatya commented on #96
@FleetAdmiral no issues, @iit2014086 assigned it to you ☺

[2016-11-06 07:35] #331 closed

[2016-11-06 12:16] octacode opened #340 "Multi line query not supported"
**Actual Behaviour**
Susi works great when we query Susi in a single line. But as the query turns into a multi-line query. No matter susi knows the answer or not Susi returns a message saying "An error occurred. please try again."

**Expected Behaviour**

If Susi knows the answer it should return an answer and if Susi doesn't knows the answer it should launch a browser search. That is Susi should

[2016-11-06 14:09] daminisatya commented on #340
Please open a PR, code looks good! 👍

[2016-11-06 14:14] octacode commented on #340
Opened the PR #341
Thanks
@daminisatya

[2016-11-06 15:02] #340 closed

[2016-11-06 15:41] octacode opened #342 "Displaying the SearchResults in the chat itself"
**Actual Behaviour**

Whenever Susi receives a query Susi isn't aware of. Susi launches a web browser search.

**Expected Behaviour**
As discussed with @mariobehling
It would be better to display the result in the chat itself.

**Steps to reproduce it**

I am looking forward to use the search API from FAROO. It is a free API and grants around a million requests per month.

**Would you like to work

[2016-11-06 20:19] chiragw15 commented on #338
@mariobehling @daminisatya @the-dagger @jig08 Please clearify something. If susi doesn't understand a query, should the search results be displayed in chat itself or in a separate browser? If the results need to be displayed in the chat, then there is no need for this issue else there is no need for issue #342 . Alternatively, we can implement something like this, which displays search results in

[2016-11-06 23:44] octacode commented on #338
Hi @chiragw15 . Please refer to #317. Thanks :)

[2016-11-07 10:50] iit2014086 commented on #96
@daminisatya can't work on this for atleast two more weeks(health issues), please assign to anyone else.

[2016-11-07 13:07] octacode commented on #342
Can you please assign it to me. I am already on it.

[2016-11-09 09:53] sagarchoudhary96 commented on #185
@iamtpb are u working on this issue still or do lemme know i would like to work on it.

[2016-11-10 22:11] lokeshsaini94 opened #343 "Chat layout does not come down when dismissing Snackbar manually"
**Actual Behaviour**

When there is any Snackbar and it's dismissed manually, the Whole Chat layout doesn't come back down to its original position.

**Expected Behaviour**

The whole Chat layout should come back to its original position after dismissing the Snackbar

**Steps to reproduce it**

Whenever there's any Snackbar like for network state etc. The whole Chat layout will move up to give spa

[2016-11-11 01:17] mariobehling commented on #343
Thanks.

Please include screenshots directly in the github issue instead of linking to external sites in future as well. This ensures we keep all the resources in one place. Cheers.

[2016-11-11 17:52] #343 closed

[2016-11-11 19:26] vishwesh3 opened #345 "Scrolling issue"
**Actual Behaviour**

As of now when someone opens app in landscape mode some info(forgot possword button, sign up button etc) is not visible on screen due to lack of scroll

**Expected Behaviour**

It should scroll, so user can see whole info.

**Steps to reproduce it**

Add ScrollView as parent in both **activity_login.xml** and **activity_sign_up.xml**

**Screenshots of the issue**

![susi_land

[2016-11-12 17:28] chiragw15 commented on #260
@mariobehling @daminisatya should I send a PR for implementation mentioned in the above comment?

[2016-11-12 17:32] chiragw15 commented on #338
@mariobehling should I close this issue or should I implement the above feature?

[2016-11-13 00:56] mariobehling commented on #338
@chiragw15 Yes, the way the Assistant implements it, looks good to me. Would be great, if you could do it in the same way.

[2016-11-13 01:04] chiragw15 commented on #338
@mariobehling Sure, I'll also upload a mock-up to confirm before implementing.

[2016-11-13 05:41] #342 closed

[2016-11-13 17:24] anantprsd5 commented on #345
@vishwesh3 I would like to work on this issue.

[2016-11-13 17:36] vishwesh3 commented on #345
I am waiting for @the-dagger @himanshu-soni review before I send PR.

[2016-11-13 17:38] daminisatya commented on #345
@vishwesh3 valid issue. Please go ahead.

[2016-11-14 12:13] anantprsd5 commented on #273
I would like to work on this issue.

[2016-11-14 13:41] vishwesh3 commented on #345
created PR #346

[2016-11-14 14:54] #345 closed

[2016-11-14 18:17] gogeta95 commented on #150
@the-dagger, looks like there is no progress on this one, could you assign this to me?

[2016-11-14 18:26] vishwesh3 opened #347 "Add open camera feature to change wallpaper"
**Actual Behaviour**
Currently user have 3 options for changing wallpaper.

**Expected Behaviour**
I would be better, if there is open camera option too. Means, if user want to change wallpaper than he can open his/her default camera and take photo (if wants to crop then crop) and apply that as wallpaper.

**Steps to reproduce it**
Add a 4th option in below screenshot.
On click of that camera will

[2016-11-14 20:08] SuperHaker opened #348 "Login Data lost on orientation change"
**Actual Behavior**

Currently the data in email and password fields resets to empty if orientation of phone is changed suddenly and results in retyping the data again by the user.

**Expected Behavior**

The data should remain in the fields if orientation is changed to landscape mode or portrait mode.

**Steps to reproduce it**

By saving the state before orientation change and updating the UI af

[2016-11-15 06:27] #348 closed

[2016-11-16 07:39] mariobehling commented on #347
@vishwesh3 Hi, sorry but this is out of scope at the moment. We are still working on the basic features of this app. The user already has a cam feature on the phone. We should keep the app focus inline and get the basics work. Currently, we need more support for the server to make everything work. Cheers.

[2016-11-16 07:39] #347 closed

[2016-11-16 08:51] anantprsd5 commented on #274
I would like to take up this issue.

[2016-11-19 08:20] mariobehling opened #350 "App not using standard voice and language of phone for text to speech"
**Actual Behaviour**

Currently there are some issues with the voice output e.g. it asks the user to install a voice instead of using the standard Android voice.

**Expected Behaviour**

The app should use the standard language and voice of the Android phone. It should not use its own settings and voice. Changing the standard language and voice of the phone should also change the setting in Susi.

[2016-11-19 08:32] mariobehling commented on #338
@chiragw15 How is the progress? I think the launch of the web browser is not the best option for the moment. I feel it breaks the interaction with the user. Displaying the results in the chat seems to be better.

[2016-11-19 08:40] chiragw15 commented on #338
@mariobehling yes we can display the result in the chat itself but we will only be able to show the top 1-2 results. What if the user doesn't find what he is looking for in that? What we can do is to show the top result in chat itself and add an option to launch the browser if he doesn't find what he is looking for.

[2016-11-19 08:41] mariobehling commented on #303
There is an implementation and this issue has been inactive for some time. Closing it therefore.

[2016-11-19 08:41] #303 closed

[2016-11-19 08:42] mariobehling commented on #338
Yes, great. Please proceed. Cheers.

[2016-11-19 08:43] #292 closed

[2016-11-19 08:46] mariobehling commented on #274
Closing this issue in favor of: https://github.com/fossasia/susi_android/issues/350

[2016-11-19 08:46] #274 closed

[2016-11-19 08:46] mariobehling commented on #273
Closing this issue in favor of https://github.com/fossasia/susi_android/issues/350

[2016-11-19 08:46] #273 closed

[2016-11-19 08:48] mariobehling commented on #265
@betterclever Are you still working on this issue? Please let me know and I re-assign you.

[2016-11-19 08:50] mariobehling commented on #290
@NiharG15 Unassigning you due to inactivity. Let us know if you would like to be active and re-assigned.

[2016-11-19 08:51] mariobehling commented on #278
Unassigning due to inactivity on the issue. Thanks for your input so far.

[2016-11-19 08:51] mariobehling commented on #266
Unassigning due to inactivity.

[2016-11-19 08:54] #262 closed

[2016-11-19 08:56] #243 closed

[2016-11-19 08:56] #225 closed

[2016-11-19 08:59] mariobehling commented on #185
Unassigned due to inactivity.

[2016-11-19 08:59] #139 closed

[2016-11-19 09:00] mariobehling commented on #135
There are a number of smaller issues e.g. related to wall paper on this. Closing this issue due to inactivity. Please open issues for smaller changes to follow up on this idea.

[2016-11-19 09:00] #135 closed

[2016-11-19 09:04] mariobehling commented on #338
Please also have a look at this issue that is closely related: https://github.com/fossasia/susi_android/issues/150

[2016-11-19 09:05] #182 closed

[2016-11-19 09:07] mariobehling commented on #260
The UI has changed since this issue was reported. Closing it.

[2016-11-19 09:07] #260 closed

[2016-11-19 09:09] mariobehling commented on #226
Closing this issue in favor of https://github.com/fossasia/susi_android/issues/350

[2016-11-19 09:09] #226 closed

[2016-11-19 09:22] chiragw15 commented on #338
@mariobehling I guess this issue is same as #150 . Sorry for trouble. Should I close it?

[2016-11-19 09:39] mariobehling commented on #338
ok, closing it then. Please talk to @gogeta95 to collaborate on this issue. It seems there is little progress. Would be great if you make a PR.

[2016-11-19 09:39] #338 closed

[2016-11-19 09:52] chiragw15 commented on #150
Hi @gogeta95 , I was working on a similar issue (#338). You can also look at the idea discussed on that issue, if it helps. Also, If you are not working on this issue, can I take up this issue? Or if you are working on it, can I help ( If you need) ? Thanks :)

[2016-11-19 10:54] chiragw15 commented on #96
@daminisatya in the blog here http://blog.loklak.net/page/5/ , you have given examples of list and pie charts using keywords "What are the reddit articles about loklak" and "Who will win the 2016 presidential election" respectively. But when I tried these keywords on http://asksusi.com/ , it didn't work.The response was "I don't know". What may be the possible issue?

[2016-11-19 11:41] mariobehling opened #351 "Ensure signup process with email"
**Actual Behaviour**

The account sign up process currently enables the user to register a new account, but there is no confirmation email sent or received. On the web app account signup page, it works though: http://api.asksusi.com/apps/signup/

Even though the user does not receive and confirm the email he/she is still able to sign up with the unverified email and password chosen.

**Expected Be

[2016-11-19 15:39] anantprsd5 commented on #350
@mariobehling Can you please assign me to this bug.

[2016-11-20 12:48] SuperHaker commented on #351
I would like to work on the issue.

[2016-11-20 16:46] aakashkhatter1296 commented on #265
@mariobehling I would like to work on this if no one else is.

[2016-11-20 17:57] gogeta95 commented on #150
I have completed it, its similar to allo. but the UI is not final. we can work that out later on. see screenshot.
![image](https://cloud.githubusercontent.com/assets/8329096/20464961/d8ad5258-af78-11e6-93da-c7e519a1edd4.png)

[2016-11-21 07:31] vshivam commented on #278
I do not think Google provides a hotword detection API at the moment. Please check out CMU's [Pocketsphinx](http://cmusphinx.sourceforge.net/wiki/tutorialandroid) project to detect hotwords.

I have some code [here](https://bitbucket.org/dynamixdevelopers/okdynamixplugin/src/40b113015008fd627c3c949fbda1d3e9aff34db4/OkDynamix-Core/src/main/java/org/ambientdynamix/contextplugins/okdynamix/OkDynamixR

[2016-11-21 08:15] anantprsd5 commented on #350
@mariobehling I added a language button inside of Susi Settings which redirects to android TTS settings.
![susi_settings](https://cloud.githubusercontent.com/assets/20367966/20475218/9330348e-aff0-11e6-96ae-4ceb
![android_settings](https://cloud.githubusercontent.com/assets/20367966/20475242/ba0123b6-aff0-11e6-9c20-8a371040fe3c.jpg)
b05a7c7c.jpg)

Is it fine?

[2016-11-21 08:17] anantprsd5 commented on #350
@mariobehling I added a Language settings button inside of Susi settings which on being clicked redirects to the TTS android settings.

![susi_settings](https://cloud.githubusercontent.com/assets/20367966/20475278/f43e4bc6-aff0-11e6-8fba-98f8a3cad37b.jpg)

![android_settings](https://cloud.githubusercontent.com/assets/20367966/20475295/128d0892-aff1-11e6-9c4a-a6ed295deca9.jpg)

Is it fine?

[2016-11-21 08:23] mariobehling commented on #350
@anantprsd5
I don't know if it is fine unless you make a PR and we can try it out.

[2016-11-21 12:39] anantprsd5 commented on #185
I would like to work on this issue.

[2016-11-21 12:55] chiragw15 commented on #266
@mariobehling if no one is working on it, can you assign it to me?

[2016-11-21 13:16] mariobehling commented on #266
Sure, thanks.

[2016-11-21 17:27] aakashkhatter1296 commented on #265
@mariobehling how does this look ?

![screenshot_20161121-225227](https://cloud.githubusercontent.com/assets/10905662/20493171/b222fdca-b03d-11e6-8d5d-da506e06352e.jpg)

[2016-11-21 20:09] mariobehling commented on #265
Please use the whatsapp background. Cheers.

[2016-11-22 14:04] chiragw15 commented on #266
@mariobehling @jig08 @the-dagger does this look fine?

1.) When user sent message but susi didn't receive it.

![screenshot_20161122-184052 1](https://cloud.githubusercontent.com/assets/16978820/20526447/201e429c-b0ea-11e6-8466-cda424281bbd.png)
![screenshot_20161122-184052](https://cloud.githubusercontent.com/assets/16978820/20526459/2f9e087e-b0ea-11e6-8777-ab775ade6c87.png)

2.) When susi receiv

[2016-11-22 14:08] the-dagger commented on #266
Since Susi will be replying to each and every message once it receives it,
I'd suggest implementing 1) and 2) only for now.

On Tue, Nov 22, 2016 at 7:34 PM, Chirag Wadhera <notifications@github.com>
wrote:

[2016-11-22 14:22] chiragw15 commented on #266
@the-dagger sure :+1:

[2016-11-22 16:40] mariobehling opened #354 "Susi crashes on Text to Speech Input and Speech Output"
**Actual Behaviour**

On a Samsung GT-I1919 and Android 4.4.2 the app crashes when I use text to speech and do not get an immediate answer. When restarting the app, it immediately crashes.

**Expected Behaviour**

No crashes.

[2016-11-22 21:34] SuperHaker commented on #354
Happened on my Samsung GT-I8552 too. Cleared app data and restarted the app, and it was fixed.
Something to do with resource consumption on phone?

[2016-11-23 12:58] SuperHaker commented on #351
@mariobehling  App is already working fine with sending data to the server for verification. I was not able to login after signup.

But the confirmation link leads to a 404 page on susi_server. So the user is not able to confirm at all.

![screenshot 16](https://cloud.githubusercontent.com/assets/16765805/20562632/9302cfd8-b1aa-11e6-9140-8244037ef33d.png)

![screenshot 17](https://cloud.githubuser

[2016-11-23 14:06] #150 closed

[2016-11-23 15:34] mariobehling opened #355 "Take out "launching browser" from Susi and instead trigger search through a rule"
**Actual Behaviour**

There was the idea of launching a search with Susi whenever there is an answer "I dont know."
Right now this is triggered in the mobile app. A better approach is to use a rule, that is defined in the susi server. Therefore please take the current implementation out.

**Expected Behaviour**

Susi search should be triggered by a rule instead by a "I dont know" in the app.

[2016-11-23 18:19] aakashkhatter1296 commented on #265
@mariobehling Does this look good or I should change something ?
![screenshot_20161123-234629](https://cloud.githubusercontent.com/assets/10905662/20573759/67d5b168-b1d7-11e6-832f-d325145e7d7c.jpg)

[2016-11-24 17:15] anantprsd5 commented on #355
@mariobehling So for present after taking this implementation out the answer which Susi should provide is "I don't know". Right?

[2016-11-24 18:02] mariobehling commented on #355
@anantprsd5 Yes, it should just provide what comes back from the server. Thank you.

[2016-11-24 18:14] anantprsd5 commented on #355
Okay, Working on it.

[2016-11-24 18:20] anantprsd5 commented on #355
Thanks for help.

[2016-11-25 12:45] anantprsd5 commented on #278
I would like to work on this issue.

[2016-11-25 16:27] vivekkiran commented on #354
I would like to work on this issue! @mariobehling

[2016-11-25 17:04] Orbiter opened #360 "Show a google search result list for new answer action type "websearch""
**Actual Behaviour**

currently there is a hard-coded rule inside the app which triggers a web search.

**Expected Behaviour**

The app shall not decide on itself to perform a web search. It must only react on the actions as given in the actions object. To perform a web search, the actions object may now contain an action with the type "websearch". In case that such an action appears, use the valu

[2016-11-25 17:05] Orbiter commented on #355
the correct behaviour for web search is now defined in https://github.com/fossasia/susi_android/issues/360

[2016-11-25 17:25] #265 closed

[2016-11-25 18:15] chiragw15 commented on #255
@mariobehling can you assign this to me?

[2016-11-25 19:12] #355 closed

[2016-11-25 20:15] mayank408 commented on #360
I would like to work on this..

[2016-11-26 10:22] chiragw15 commented on #255
@the-dagger In this issue, should I add a "DeliveryDate" field in data model or is there any other way?

[2016-11-26 11:00] mariobehling commented on #255
@Orbiter ?

[2016-11-26 14:41] mariobehling commented on #351
@SuperHaker Could you check, please if it is working for you now?

[2016-11-26 17:41] mayank408 commented on #360
@Orbiter I have changed the type from "rss" to "websearch" but the response from the server is not proper, there is no title , link , description anywhere as mentioned in issue #150 .
Due to which the views are null and are not inflating.

![whatsapp image 2016-11-26 at 11 08 00 pm](https://cloud.githubusercontent.com/assets/22056321/20642158/aef6c822-b42d-11e6-95d0-23c7273ef35b.jpeg)

[2016-11-26 18:08] SuperHaker commented on #351
@mariobehling
I created an issue on susi_server and it is working now. This issue can be closed.

![screenshot 19](https://cloud.githubusercontent.com/assets/16765805/20642288/62d0dc86-b431-11e6-89e3-11c9f6cc52ca.png)

[2016-11-26 18:39] mayank408 opened #361 "Minor UI improvement issue"
**Actual Behaviour**

Chat bubble is taking the whole width and also the tick is not on the right most side

**Expected Behaviour**

There should be a minimum width and tick should appear on right most side.

**Screenshots of the issue**

![whatsapp image 2016-11-27 at 12 07 49 am](https://cloud.githubusercontent.com/assets/22056321/20642470/9e2fb546-b435-11e6-97b0-3dadea07905b.jpeg)

**Would you

[2016-11-26 19:14] #351 closed

[2016-11-26 21:39] Orbiter commented on #360
this is a misunderstanding. Just recently the android app gained the ability to search for google search results itself. That shall be triggered with the 'websearch' action. There is no rss-like data submitted in the case that 'websearch' is given as action. Instead, the app shall do the websearch itself.

In contrast to this, if 'rss' is given as action, the susi result data stucture will return

[2016-11-26 22:07] chiragw15 opened #362 "Color correction"
**Actual Behaviour**

1.) Link color is white. Not visible.
![screenshot_20161127-005419](https://cloud.githubusercontent.com/assets/16978820/20643935/fedba7d6-b44b-11e6-8043-f44a2e16d73e.png)

2.) Search color is very dark. Again not visible.
![screenshot_20161127-005408](https://cloud.githubusercontent.com/assets/16978820/20643937/09102646-b44c-11e6-9de6-6b9e76694b29.png)

**Expected Behaviour**

[2016-11-27 05:09] mayank408 commented on #360
@Orbiter I got your point , just tell me one more thing that if the action is "websearch" , do we want to pass the intent to the browser or show the result in the app itself.

[2016-11-27 06:55] mariobehling commented on #360
@mayank408 If the action is websearch, please show the result in the app for now.

[2016-11-27 08:39] #361 closed

[2016-11-27 23:30] chiragw15 opened #364 "Empty Messages"
**Actual Behaviour**

User can send empty messages to susi.

**Expected Behaviour**

No empty messages should be there.

**Steps to reproduce it**

Step 1.) Go to settings,

![screenshot_20161128-044137](https://cloud.githubusercontent.com/assets/16978820/20652820/0ffd2a72-b527-11e6-96a2-483dc3dfe62b.png)

Step 2.) Disable "use mic as input" setting under mic settings.

![screenshot_20161128-04415

[2016-11-28 00:16] chiragw15 opened #365 "Settings title not clear"
**Actual Behaviour**

The title of settings is not clear and complete. eg "enter as send" , "At speech input enable speech outp.."
Also, there is no need to write enabled or disabled as it is clear from the switch button.

![screenshot_20161128-044150](https://cloud.githubusercontent.com/assets/16978820/20653112/79f33ca4-b52d-11e6-89d8-861dd86b1d0a.png)

**Expected Behaviour**

We can simply remov

[2016-11-28 01:26] chiragw15 opened #366 ""Default Wallpaper" and "No Wallpaper" are same"
**Actual Behaviour**

Clicking on "No wallpaper" or "Default" sets same background image.

![screenshot_20161128-064732](https://cloud.githubusercontent.com/assets/16978820/20653698/9e04545c-b537-11e6-8d72-879db32bb9e0.png)

**Expected Behaviour**

They should be different.

**Would you like to work on the issue?**
yes

[2016-11-28 09:15] Orbiter commented on #360
in the app itself - and it should look exactly the same as showing rss lists -> use the same code!

[2016-11-28 10:39] satyammittal commented on #362
i would like to work on this

[2016-11-28 10:42] chiragw15 commented on #362
@satyammittal Sorry, but I have already completed the work.

[2016-11-28 11:07] mayank408 commented on #364
@chiragw15 I already rectified this issue while working on my previous pr , that's why i m sending the pull request.Thanks

[2016-11-28 11:11] daminisatya commented on #366
good point, please show what can the default wallpaper be

[2016-11-28 11:19] chiragw15 commented on #96
@daminisatya ^

[2016-11-28 11:30] daminisatya commented on #96
@chiragw15 I have go through the server changes, so basically it must give a list of details.

[2016-11-28 11:31] daminisatya commented on #96
Will let you know soon!

[2016-11-28 11:34] mayank408 commented on #366
@daminisatya can't we scrap the option of default wallpaper as background pretty good just like WhatsApp.

[2016-11-28 11:40] mayank408 commented on #360
@Orbiter ok working on it.

[2016-11-28 12:03] chiragw15 commented on #366
There is no need to remove the default wallpaper option. We can simply add previous default wallpaper or if not , can find another good one.
![screenshot_20161128-172919](https://cloud.githubusercontent.com/assets/16978820/20667710/b31cfe94-b590-11e6-988b-8fc7be87be1d.png)

[2016-11-28 13:47] chiragw15 commented on #364
@mayank408 your commit didn't solve the problem. Sending another PR.

[2016-11-28 14:20] #364 closed

[2016-11-28 18:45] samsruti opened #370 "Wrong Padding width while selecting messages."
**Steps to reproduce it**

1. Press on any message sent by the user and press on any message sent by Susi. Background color padding is done differently in both the cases. Padding value is replaced by margin value.

![screenshot 25](https://cloud.githubusercontent.com/assets/6136117/20681182/6e785292-b5c8-11e6-9efa-707ce1937bbe.png)

**Expected Behavior**

The background width should be max instead

[2016-11-29 19:16] Orbiter opened #371 "add timezoneOffset to susi API request"
Currently the ```http://api.asksusi.com/susi/chat.json``` api is called without a timezone information.

**Expected Behaviour**

For time-based services, we need the local time zone of the android device. The time zone must be computed as minutes delta to the GMT norm as minutes. I.e. if your local position is five hours east of GMT, then you must compute a ```timezoneOffset=-300```.
That paramete

[2016-11-29 19:39] Orbiter opened #372 "add geolocation to susi api call"
Currently the ```http://api.asksusi.com/susi/chat.json``` api is called without a location information.

**Expected Behaviour**

For location-based services, we need the local geolocation of the android device. If the user has no GPS switched on, you can also use the fuzzy location that can be obtained in android using a network provider. The details are explained in the first answer of http://sta

[2016-11-29 21:45] mariobehling commented on #366
Please do not add the previous wall paper again.

The main goal of the app is to enable people to communicate with Susi. All other features should be a simple as possible. So, if "default wall paper" can go out, then this is good.

We only need the options that really enable Susi. In my view, the question is, if we need wall papers at all. But we have it already..

The future of Susi is to make "h

[2016-11-29 22:08] Orbiter opened #373 "URLencoding for query attributes missing or failing - mathematical terms do not work"
**Actual Behaviour**

Susi is now able to compute simple mathematical terms, like ```3+5```, ```7/2```, ```9-1```, ```5*6```. You can test this successfully if you use the native query interface at http://api.asksusi.com and it also works at the web interface at http://asksusi.com

What does not work is the submission of such terms at the android client. Obviously the characters +, -, / and * are

[2016-11-30 05:08] mayank408 commented on #373
@Orbiter  is it all right...

![whatsapp image 2016-11-30 at 10 36 50 am 1](https://cloud.githubusercontent.com/assets/22056321/20740439/06120d5c-b6e9-11e6-9d7f-43b6545eb1f3.jpeg)

[2016-11-30 13:13] Orbiter commented on #373
Yes, great! Did you change anything? I tested that with the latest dev release from yesterday.

[2016-11-30 13:47] mayank408 commented on #373
No , I have not changed anything , my repo is 7 commits behind master.

[2016-11-30 14:33] Orbiter commented on #373
I have just pulled the latest commits and my tests in an emulator are the same bad ones as I had with a real device:
![susibadc](https://cloud.githubusercontent.com/assets/238730/20756233/2baf030c-b712-11e6-81e9-a9df0b992b32.PNG)
What could be the reason? Why is this working for you, but not for me?

[2016-11-30 19:20] #362 closed

[2016-11-30 19:21] jig08 commented on #365
@chiragw15 Any updates on this ? Are you working on this ?

[2016-11-30 19:29] chiragw15 commented on #365
@jig08 I have completed it. Wasn't able to send PR due to wifi crises. Sending it.

[2016-11-30 19:33] chiragw15 commented on #366
@mariobehling So, I am removing the option of default wallpaper.

[2016-11-30 19:34] jig08 commented on #365
@chiragw15 yes, pls.

[2016-11-30 19:50] SuperHaker commented on #371
I would like to work on this issue

[2016-11-30 22:29] chiragw15 commented on #372
I would like to work on this issue.

[2016-11-30 22:38] SuperHaker commented on #373
@Orbiter
Try again with today's debug release. This issue is not in mine either.

[2016-12-01 03:34] samsruti commented on #372
I would like to work on this issue :)

[2016-12-01 17:10] chiragw15 commented on #255
@Orbiter @the-dagger ^

[2016-12-01 17:11] Orbiter commented on #373
Oh ok, it's actually working now! Thank you!

[2016-12-01 17:11] #373 closed

[2016-12-01 19:57] #370 closed

[2016-12-01 20:42] samsruti commented on #252
I would like to work on this :)

[2016-12-02 05:44] the-dagger commented on #255
@chiragw15 Adding a date field seems like the viable option for now.
As soon a message is typed, you'll have to fetch the current date and store it to the database.

[2016-12-02 11:02] #365 closed

[2016-12-02 14:34] chiragw15 commented on #366
@the-dagger  closing it.

[2016-12-02 14:34] #366 closed

[2016-12-02 14:45] chiragw15 commented on #255
Thanks @the-dagger :+1:

[2016-12-02 16:42] samsruti opened #380 "Messages are deleted after logout"
**Actual Behaviour**
Before logout
![before_logout](https://cloud.githubusercontent.com/assets/6136117/20842011/f363e4d8-b8db-11e6-992e-20dc1b97f5d0.png)

After Logout
![after_logout](https://cloud.githubusercontent.com/assets/6136117/20842021/fe041160-b8db-11e6-870b-116c760f06b5.png)

**Expected Behaviour**

The messages should remain as it is.

**Steps to reproduce it**

1. Login in to app. Send

[2016-12-02 22:06] amitiwary999 commented on #380
@samsruti Yeah because messages are saved on  mobile using realm and it is erased when user logout.

[2016-12-02 23:25] chiragw15 commented on #372
@Orbiter @mariobehling @the-dagger can we implement something like this?
If the device location is not switched on, we can use device's ip address to find its location.
We can use this api http://freegeoip.net
![screenshot_20161203-044712](https://cloud.githubusercontent.com/assets/16978820/20853778/664bc69a-b914-11e6-8b86-20162d198040.png)

[2016-12-03 00:44] chiragw15 commented on #255
@mariobehling @Orbiter @the-dagger one more thing. Currently we are using system date and time. So, if we change it in settings, the date and time in app will also change .So, should I implement something like this http://stackoverflow.com/questions/13064750/how-to-get-current-time-from-internet-in-android  to get date and time from apache or http://www.docjar.com/html/api/examples/ntp/NTPClient.j

[2016-12-03 03:11] the-dagger commented on #372
Sure, looks good.

[2016-12-03 03:18] the-dagger commented on #255
For now, id suggest to use the system date and time only, as Android will automatically update the current date and time to the actual date and time if it has network connection (is automatic date and time is turned on in the settings ).
If it is not turned in, then that means the user wants the system to use a custom date and time and we should respect his choice.

[2016-12-03 03:51] samsruti commented on #380
@amitiwary999 But I think this should not happen. What if a user wants the old messages after he logged out?

[2016-12-03 06:39] amitiwary999 commented on #380
@samsruti I know but for that we have to save data on a server.

[2016-12-03 09:09] #252 closed

[2016-12-03 15:23] mayank408 commented on #360
@the-dagger @Orbiter Do I need to use specific API such as google search API or directly query using https://www.google.com/serach?q=query.

[2016-12-03 20:11] chiragw15 commented on #255
@the-dagger yup agreed. Nice point. :+1:

[2016-12-04 05:52] #371 closed

[2016-12-04 11:51] vishwesh3 opened #382 "Date is always of today"
**Actual Behaviour**

In the chat activity date is always of today irrespective of the chat message date.

**Expected Behaviour**

Date should change according to the message data (floating labels) as happens in whatsapp.

**Steps to reproduce it**

Store date along with message in local database. Create a floating label (Date textview) and change it text according to message date in recyclerView.