[2017-06-23 06:29] amitiwary999 opened #768 "UI issue with websearch and rss action type."
**Actual Behaviour**

There is a nonuniform margin right margin.

**Expected Behaviour**

Margin should be same everywhere.

**Steps to reproduce it**
Try to query websearch and rss action type reply continuously you will find that margin increasing continuously.

**LogCat for the issue**

**Screenshots of the issue**

![screenshot_2017-06-23-11-50-05](https://user-images.githubusercontent.com/140

[2017-06-23 06:32] amitiwary999 commented on #768
@mayank408 can you check this. I think you solved this issue in your previous pr but issue is not solved it looks more weird now.

[2017-06-23 07:24] mayank408 commented on #768
@amitiwary999 The reason was that itemDecorator was called everytime when the recycleview is updated.
Now I have added the ItemDecorator on onCreateViewHolder instead of onBindViewHolder as it is being called only a single time. This solves the issue.
Thanks for pointing out.

[2017-06-23 07:25] amitiwary999 commented on #768
But why did you send PR for this. I was working on this. Please close your
pr. I already gave you many chances. Please cooperate and close your pr

On Jun 23, 2017 12:54 PM, "Mayank Tripathi" <notifications@github.com>
wrote:

[2017-06-23 07:30] mayank408 commented on #768
@amitiwary999 For your kind information you asked me to check the issue that why I send the Pr and please don't behave childish like "Close the Pr". And above all this issue was related to the previos issue I was solving.

[2017-06-23 07:33] amitiwary999 commented on #768
Yeah but I asked to check it is happening on your device or not. I am not
behaving like childish. When I mentioned that yes I want to work on this
issue then you must ask me first. Please cooperate and don't waste my time.
I am working on this issue.

On Jun 23, 2017 1:00 PM, "Mayank Tripathi" <notifications@github.com> wrote:

[2017-06-23 19:58] #768 closed

[2017-06-23 21:13] betterclever commented on #702
@chiragw15 Appetize.io has only 100 minutes viewership in free tier + slightly sluggish experience. Also, to experience some features like Hotword Detection, you need to check on an actual device. Thus, it might be helpful for non Android Developers to test PRs quickly without needing to pull from PR and set it on on their devices.

[2017-06-26 06:21] mayank408 opened #773 "Custom themes for the user."
**Actual Behaviour**

The user currently could not select the theme.
**Expected Behaviour**

The user should be able to select the theme of his or her choice.

**Would you like to work on the issue?**

yes , already working on this.

[2017-06-27 20:26] amitiwary999 opened #775 "Issue with change server in case of anonymous mode"
**Actual Behaviour**

Changing server from setting in case of anonymous mode not working properly.

**Expected Behaviour**

On selecting changing server from setting, in case of anonymous mode, mainactivity open instead of loginactivity.

**Steps to reproduce it**

skip login part and select change server option from setting.

**LogCat for the issue**

**Screenshots of the issue**

**Would you lik

[2017-06-27 21:45] amitiwary999 commented on #742
@chiragw15 app crashes in case of rss action type reply. After login if your last message is rss action type and logout instantly app crashes. So step is ask some question for rss action type reply then logout after that login and logout as soon as possible. Reason for crash is after logout realm closed but linkpreview still running in background and it try to change real object but realm is alrea

[2017-06-28 10:01] DravitLochan opened #778 "Handle new action type : playaudio"
In reference to [issue 187](https://github.com/fossasia/susi_skill_data/issues/187), Please follow up with a discussion on how would  you handle the response coming from the server.

[2017-06-29 19:43] #731 closed

[2017-06-29 20:06] mayank408 opened #779 "App is crashing."
**Actual Behaviour**

App is crashing see below for more details.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

Try to change wallpaper or mic settings.

**LogCat for the issue**

Provide logs for the crash here

![screen shot 2017-06-30 at 1 21 11 am](https://user-images.githubusercontent.com/22056321/27707780-2f5c4cb2-5d34-11e7-8ef7-66fbf551f21e.png)

**Would you lik

[2017-06-30 10:37] #736 closed

[2017-06-30 10:37] #701 closed

[2017-06-30 10:38] #682 closed

[2017-06-30 10:57] chiragw15 commented on #778
This can be done by two ways :
1. Send a link to youtube video along with action type = "play". This is how google assistant do it.
2. We store an audio file in locally and play it when action type is "play" and you will also need to send name of audio file to be played in the response.

[2017-07-01 11:20] mayank408 opened #782 "Replacing PNG images with SVGs"
**Actual Behaviour**

We are using PNG images at a lot of places.

**Expected Behaviour**

We should use SVGs in place of PNGs due to following reasons which you can find out [here](https://watb.co.uk/5-reasons-you-should-be-using-svgs-over-pngs/)

**Would you like to work on the issue?**

Yes

[2017-07-01 15:47] #779 closed

[2017-07-01 16:48] #782 closed

[2017-07-02 17:46] Arshilgenius opened #784 "Rounded Corners"
**Actual Behaviour**

Currently the Button Corners  in forgot password activity and Sign up Activity are not rounded

**Expected Behaviour**

Make the Button Corners rounded
**Steps to reproduce it**

 Just open  the App and move to sign up and Forgot Password Page
**LogCat for the issue**

**Screenshots of the issue**

![whatsapp image 2017-07-02 at 11 07 44 pm](https://user-images.githubusercont

[2017-07-02 20:41] chiragw15 commented on #784
@Arshilgenius Go ahead. Make sure you change it in landscape mode too. :+1:

[2017-07-02 21:05] chiragw15 opened #785 "New Feature : Displaying Skill Pane in Clients in Grid form"
Generally, when a user first install a Personal Assistant app, he/she doesn't know what to ask the client and what all skill does it have,

To tackle this, Cortana has a very nice and elegant solution. Displaying the main skills in client as a grid form.

<p align="center">
    <img src="https://user-images.githubusercontent.com/16978820/27773389-2a767146-5f96-11e7-8d71-34adf5c4f57b.png" height =

[2017-07-02 21:08] chashmeetsingh commented on #785
Yup, 👍  even Google Assistant shows its capabilities.

[2017-07-03 04:06] chiragw15 opened #786 "Shift to MVP Design Pattern"
The code in the app is already getting pretty messy even though there is not much features implemented. In the future when there will be a lot of action types from server, it will be very difficult to manage code base. This also makes testing of the app extremely difficult and causes various crashes and memory leaks here and there.

Suggestion -> Using MVP design pattern with dagger 2 injection

@

[2017-07-03 04:07] chiragw15 opened #787 "Shift to Kotlin"
If we plan to go with the MVP design pattern mentioned in #786 , we might need to implement many new classes. So, if we are writing them again, why don't we write them in Kotlin. There is no doubt that Kotlin is better than java with less amount of code for same thing, free from null pointer exception, its interoperability with java, etc. (More information : https://code.tutsplus.com/articles/java

[2017-07-03 05:01] amitiwary999 commented on #786
@chiragw15 Yes using MVP architecture is good. I have tried mvp architecture.

[2017-07-03 05:20] mayank408 commented on #786
@chiragw15 @betterclever I too have been the supporter of MVP design pattern but there few things to keep in mind:-

1. It's quite confusing to understand so for new developers contributing to the code base will find it very difficult to start with.

2. After converting into MVP the codebase will become quite large as compared to the present scenario.

[2017-07-03 05:36] chiragw15 commented on #786
@mayank408 We can't compromise with the performance of the app just because it is a little difficult to understand. Just a normal 1 day study is enough to get started with MVP. And as far as codebase is concerned we'll follow different packages style. Each feature/activity will have a different package containing everything related to it. If code is organized, it does not matter how large it is.

[2017-07-03 08:06] rishiraj824 commented on #785
@chiragw15 Yes we can add this in web too.

[2017-07-03 08:09] mayank408 commented on #786
I think @the-dagger Will be better to answer this question.

[2017-07-03 08:09] iamareebjamal commented on #786
You can look at MVVM using new Architecture components as it is a little easier, and solves problems like reactivity and orientation changes easily

[2017-07-03 08:12] mayank408 commented on #786
@iamareebjamal Yes MVVP seems better than MVP as its is relatively new but I am not sure whether there are enough resources available for it to get started with.

[2017-07-03 08:39] iamareebjamal commented on #786
There are several code labs for Architecture Components, several articles on medium and hours of talks from Google I/O on YouTube, and it's easy to convert from any design pattern

[2017-07-03 15:11] betterclever commented on #787
Indeed @chiragw15 , kotlin will be a good switch for the app. Code will become much concise. As you mentioned already, best part is that we can shift in phases. I have made an app entirely in Kotlin and I will definitely recommend it.

[2017-07-03 15:15] the-dagger commented on #785
@chiragw15 Sounds like a plan.
A good way to implement this is allowing some hardcoded actions in the app which can be clicked in order to receive details about that call.

In order to do this, we can use something similar to what WhatsApp does on clicking the "Attach" button in the editText area of a chat screen.

On the first launch, we can prompt the user to click that button and present him/he

[2017-07-03 15:21] the-dagger commented on #786
@chiragw15 @mayank408 We should definitely shift to MVP asap, that will make managing the code a lot easier.
I don't really find MVVM that appealing in terms of code readability so let's skip that.

Regarding dagger/dagger2 it has a steeper learning curve as compared to MVP, so let's not implement it right away.

[2017-07-03 15:24] the-dagger commented on #787
Using kotlin sounds good.
Start off by using it in small places and increasing it gradually.
Automatica java to kotlin conversion is available in the canary built, but you can use the kotlin plugin for the stable Studio version.

[2017-07-03 15:26] mayank408 commented on #786
@the-dagger Yes sure its good to start with MVP first. 👍

[2017-07-03 15:33] chiragw15 commented on #785
Yes, that is how I was thinking too. The implementation will be exact same as in "cortana on android" i.e clicking on skill will send susi query related to skill and work accordingly. :+1:

[2017-07-04 02:25] #654 closed

[2017-07-04 02:27] #742 closed

[2017-07-04 02:33] chiragw15 commented on #702
IMO there is no need of automatically adding apk file to every PR. It is just wastage to add apk for a 1-2 line PR. For larger PR, developer should add apk in PR manually. @mayank408 if you find any way to automate preview on appetize.io or any other similar platform, proceed with it else close this.

[2017-07-04 02:34] chiragw15 commented on #762
Server does not support it. It is under development. Continue with this once it is complete on server.

[2017-07-04 15:31] amitiwary999 opened #792 "Changing theme is not working properly"
**Actual Behaviour**

Theme not changed in mainactivity even when it is changed in setting.

**Expected Behaviour**

Theme should be changed.

**Steps to reproduce it**

Change theme in setting and then press back arrow. Mainactivity will open but theme remain same.

**LogCat for the issue**

**Screenshots of the issue**

![screenshot_2017-07-04-20-52-48](https://user-images.githubusercontent.com/

[2017-07-04 15:48] amitiwary999 commented on #792
App is not working properly in my device. I will reopen it if I face this issue again.

[2017-07-04 17:02] mayank408 commented on #792
@amitiwary999 Its working fine on my phone.

[2017-07-04 17:02] mayank408 commented on #792
![screenshot_1499187739](https://user-images.githubusercontent.com/22056321/27838489-a8bdfeac-6108-11e7-8772-aa0fc069096e.png)

[2017-07-05 06:51] chiragw15 opened #794 "Shift Login to Kotlin with MVP Design"
Shift Login functionality to Kotlin and MVP design Pattern

Parent issues : #787 #786

[2017-07-05 12:58] amitiwary999 commented on #792
@mayank408 change theme in setting and then press back arrow. MainActivity will open but theme remain same.

[2017-07-05 18:00] mayank408 opened #797 "Shift SignUp functionality to Kotlin"
Shift SignUp functionality to Kotlin and MVP design Pattern

Parent issues : #787 #786

[2017-07-05 18:12] Arshilgenius opened #798 "App is crashing after logging in"
**Actual Behaviour**
After logging out and then again logging in
and entering my email and password the App is crashing.

**Expected Behaviour**

The  App should not crash after logging in

**Steps to reproduce it**

Logout and then again Login.

**LogCat for the issue**

07-05 23:22:24.775 14348-14523/? E/GooglePlayServicesUtil: The Google Play services resources were not found. Check your projec

[2017-07-06 04:49] chiragw15 opened #799 "Shift Main Activity to Kotlin with MVP Design"
Shift Main Activity to Kotlin and MVP design Pattern

Parent issues : #787 #786

[2017-07-06 04:52] chiragw15 opened #800 "Add option in settings to turn off Hotword Detection"
Right now if user wants to turn off hotword detection, he can't do that.
Therefore, add option in settings to turn hotword detection off.

[2017-07-06 04:55] #784 closed

[2017-07-06 04:56] #773 closed

[2017-07-06 05:04] #648 closed

[2017-07-06 05:23] chiragw15 commented on #798
@Arshilgenius This is the issue `java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference` Can you provide complete logs?

[2017-07-06 08:26] Arshilgenius commented on #798
![screen shot 2017-07-06 at 1 55 08 pm](https://user-images.githubusercontent.com/21264401/27902311-e768eaa4-6252-11e7-9d6f-a7413f3ce0f6.png)

[2017-07-06 11:11] amitiwary999 opened #801 "Change forgot password architecture to mvp using kotlin"
Parent issue #786 #787

**Would you like to work on the issue?**
Yes

[2017-07-06 11:57] #794 closed

[2017-07-06 15:24] chiragw15 opened #803 "Use Mockito as Mocking Framework for App Testing"
Mockito is a mocking framework, JAVA-based library that is used for effective unit testing of JAVA applications. Mockito is used to mock interfaces so that a dummy functionality can be added to a mock interface that can be used in unit testing.

http://site.mockito.org/

Use Mockito to mock interface and test the app.

[2017-07-06 15:26] chiragw15 opened #804 "Write good Unit Tests to Test the working of the app"
Write good quality unit tests to test the working of each component of the app. After Shifting to MVP, the testing will be a lot easier. So, write tests for everything. Make sub issues for tests related to particular issues like Login tests etc.

[2017-07-06 15:35] chiragw15 commented on #798
Okay. This is because of this `holder.titleTextView.setText(Html.fromHtml(datum.getTitle()));` line (line 57 SearchResultAdapter). Here datum.getTitle() is null and we are using HTML.fromHTML on null object generating null pointer exception. Add null check above this to solve it.

[2017-07-06 19:22] chiragw15 commented on #798
@Arshilgenius why did you close this?

[2017-07-07 14:34] chiragw15 opened #806 "Add feature to train hotword detection using Snowboy training API"
As mentioned in this comment https://github.com/fossasia/susi_android/pull/710#issuecomment-312267662 , implement a feature to train hotword detection using snowboy training API.

Problem for now :
The hotword detection uses a model file from snowboy website. This model file is of 2 types : `susi.pmdl` and `susi.umdl`. pmdl stands for personal model and umdl stands for universal model. The process

[2017-07-07 17:35] Arshilgenius commented on #798
@chiragw15  should i change and send a PR?

[2017-07-07 17:38] chiragw15 commented on #798
Yes. That's why I told  you `Add null check above this to solve it.`. Go ahead and send a PR.

[2017-07-07 18:27] #797 closed

[2017-07-07 21:39] amitiwary999 opened #809 "Update rss action type according to latest change in susi's reply"
**Actual Behaviour**

susi's reply for rss action type is changed but it is not updated in android client.

**Expected Behaviour**

rss action type should be updated according to change in server.

**Would you like to work on the issue?**

yes

[2017-07-08 05:28] mayank408 opened #810 "Shift Settings Activity to MVP"
Parent issue #786 #787

**Would you like to work on the issue?**

Yes

[2017-07-08 12:01] #775 closed

[2017-07-08 17:33] mayank408 opened #812 "Change Settings Activity architecture to mvp using kotlin"
Parent issue #787 #786

[2017-07-08 17:47] gupta-meghna64 opened #814 "Typos in docs"
**Actual Behaviour**

presing
localizaions

**Expected Behaviour**

pressing
localizations

The following are the two typing mistakes in docs/Android_App_Setup.md
Can I work on this issue ?

[2017-07-08 17:57] #810 closed

[2017-07-08 18:26] amitiwary999 opened #815 "Soft keyboard done key not perform any action when it is clicked in login activity"
**Actual Behaviour**

Soft keyboard done key not performing any action.

**Expected Behaviour**

Soft keyboard done key should perform required action.

**Would you like to work on the issue?**

Yes

[2017-07-08 18:45] mayank408 opened #817 "Implement onDetach Method in Login and Signup Activities"
**Actual Behaviour**

Implement onDetach Method is not implemented in Login and Signup Activities

**Expected Behaviour**

Implement onDetach Method in Login and Signup Activities

**Would you like to work on the issue?**

Yes

[2017-07-09 00:23] #814 closed

[2017-07-09 00:52] #817 closed

[2017-07-09 00:54] #798 closed

[2017-07-09 00:55] #792 closed

[2017-07-09 01:21] #815 closed

[2017-07-09 10:58] Arshilgenius opened #819 "App is crashing after logging in"
**Actual Behaviour**

The App again crashed when i logged in again.

**Expected Behaviour**

The App should not log in.

**Steps to reproduce it**

Sign in with Email and Password

**LogCat for the issue**

![screen shot 2017-07-09 at 4 13 28 pm](https://user-images.githubusercontent.com/21264401/27993166-9cf58c2c-64c1-11e7-99ac-8809c23b91d2.png)

**Would you like to work on the issue?**

Yes

[2017-07-09 15:56] #801 closed

[2017-07-09 15:57] #767 closed

[2017-07-10 03:47] chiragw15 opened #822 "Some improvement in MVP design"
I asked for feedback from someone on the new MVP design we are following. Although, we are going in a right direction, there were some mistakes that we made like we were certain about not adding business logic in view but we missed the point that we should also not make UI update from model and we called showProgress() method from model which was supposed to be called from presenter.

Some points

[2017-07-10 11:06] amitiwary999 opened #823 "Implement reset/change password option"
**Actual Behaviour**

There is no option to change password in SUSI Android.

**Expected Behaviour**

Change password option is implemented in SUSI server so it should be implemented in SUSI Android too.  [check this pr ](https://github.com/fossasia/susi_server/pull/352)

**Would you like to work on the issue?**

Yes.

[2017-07-10 13:27] mayank408 opened #825 "Some improvement in MVP design of SignUp Activity"
Parent issue #822

[2017-07-10 14:38] #819 closed

[2017-07-10 18:48] amitiwary999 opened #826 "Some improvement in mvp architecture of forgotpassword activity."
Parent issue #822

**Would you like to work on the issue?**

yes

[2017-07-10 22:22] mayank408 opened #828 "Remove change server option in Login Mode"
As @mariobehling said we should get away with the change server option as it is of no use in Login mode

**Would you like to work on the issue?**

Yes, working on this.

[2017-07-10 23:11] chiragw15 commented on #828
@mayank408 Option to disable hotword detection is already implemented https://github.com/fossasia/susi_android/pull/805

[2017-07-11 16:32] #812 closed

[2017-07-11 19:57] Orbiter opened #829 "Susi Title Headline not proportional scaled"
The "SUSI" logo in the app headline in the app is not proportional scaled.

This is a logo and therefore must not be scaled in a non-proportional way.
Pleas find the reason that this is not scaled correctly and fix the scaling.

[2017-07-11 19:58] mayank408 commented on #829
@Orbiter Ya sure I will be working on this.

[2017-07-11 22:16] amitiwary999 opened #830 "App is crashing in case on rss action type."
**Actual Behaviour**

App is crashing in case of rss action type if description provided by server is null.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

query like 'ffgh'

**LogCat for the issue**

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference

[2017-07-12 09:21] amitiwary999 commented on #828
@mayank408 are you working on this issue?

[2017-07-12 09:25] #822 closed

[2017-07-12 09:31] mayank408 commented on #828
Yes @amitiwary999 i have almost completed it

[2017-07-12 16:44] saurabhjn76 opened #834 "HTML tags are not parsed in susi android"
**Actual Behaviour**

Currently, HTML tags are not getting parsed  in susi
![image](https://user-images.githubusercontent.com/9781788/28128757-797f1b70-674e-11e7-9938-514fafbaefea.png)

**Expected Behaviour**
Like web client HTML should be parsed
![image](https://user-images.githubusercontent.com/9781788/28128941-0773ff40-674f-11e7-90e3-1b9591724fe0.png)

**Would you like to work on the issue?**

[2017-07-12 16:56] amitiwary999 commented on #834
I will fix it.

[2017-07-12 17:33] amitiwary999 commented on #834
@saurabhjn76 I tried but response is different. Can you tell me how you get that response?

![screenshot_2017-07-12-23-01-37](https://user-images.githubusercontent.com/14003244/28131000-2749bbfa-6756-11e7-88d8-ced93c7a220c.png)

[2017-07-12 17:37] chiragw15 commented on #834
https://github.com/fossasia/susi_server/pull/367 PR is still open. Pull the code and run on local host

[2017-07-12 17:37] saurabhjn76 commented on #834
@amitiwary999 It was from my local server, Please refer to https://github.com/fossasia/susi_server/pull/367 for changes. Thanks

[2017-07-12 17:38] amitiwary999 commented on #834
Okay

On Jul 12, 2017 11:07 PM, "SAURABH JAIN" <notifications@github.com> wrote:

[2017-07-13 14:37] #830 closed

[2017-07-13 14:37] #826 closed

[2017-07-13 20:16] mayank408 opened #839 "Converting Models to Kotlin from Java"
parent issue #787

Converting Models of the Databse and used for retrofit parsing

[2017-07-13 21:43] mayank408 opened #840 "Adding Feedback support to Susi answers"
**Actual Behaviour**

We don't have any feedback system as of now in Android

**Expected Behaviour**

A feedback system must be implemented similar to Susi Webchat as it is already implemented in Susi server.

**Would you like to work on the issue?**

Yes, will start working on this after converting MainActivity to MVP

[2017-07-14 05:57] mayank408 opened #841 "Updating Settings Activity to new MVP design"
Updated Settings Activity to new MVP design plus refractoring

[2017-07-14 15:20] mayank408 opened #842 "Changing the logo of the app"
As new art work for Susi is made so we need to replace it in the android client.

**Would you like to work on the issue?**

Yes

[2017-07-14 15:30] mariobehling opened #843 "Add crash reports"
There are crash reporting tools. Please propose and add a tool, e.g. chrashalytics.

[2017-07-14 16:50] Orbiter opened #845 "Option to set different languages"
currently the android client sends the client language to the susi_server within the `language` attribute. I believe that this is taken from the default settings of android.

For testing, we need an option to overwrite the default setting with a given language.

Please add such a setting with the options:
* default language
* en
* de
* es
* fr
* it

[2017-07-14 17:51] mayank408 commented on #845
Yes sure I will be working on this

[2017-07-14 18:05] mayank408 commented on #843
@mariobehling After going through some of the tools from this link linhttp://leaks.wanari.com/2016/05/26/crash-report-tools-android-developers/

We can either use firebase or Crashlytics, both are equally powerful and efficient
But as we don't use Firebase for any of other features in the app, I think Crashlytics should be obvious choice for this.

Will be looking forward to implement it

[2017-07-14 18:09] mayank408 commented on #843
@mariobehling It requires an account for an API key, should I supposed to give my own account or any other account?

[2017-07-14 20:38] #825 closed

[2017-07-14 20:39] #829 closed

[2017-07-14 20:40] #834 closed

[2017-07-14 20:45] chiragw15 commented on #839
@mayank408 Would be nice if you could actually add what is being done in the description rather than just writing "parent issue". Add info like what models? The ones used to store in the database or the retrofit ones used for parsing response?

[2017-07-14 20:55] #842 closed

[2017-07-15 05:30] niranjan94 commented on #843
@mariobehling a better option would be (keeping all fossasia projects in mind) is to have a self-hosted [Sentry](https://sentry.io/welcome/) for fossasia. Maybe at `sentry.fossasia.com` which could be used for all fossasia projects. Very similar to how we do for eventyay ([sentry.eventyay.com](https://sentry.eventyay.com)).

[2017-07-15 05:40] niranjan94 commented on #843
This gives us complete control/freedom to since we're not actually tied into any third-party service (Sentry runs completely on-premise and doesn't call home for any feature)

[2017-07-15 08:03] mariobehling commented on #843
@niranjan94 For FOSSASIA services, I would not want to depend on a free tier of a could provider. Can we host Sentry on a VPN? E.g. is this on sufficient? https://www.hetzner.com/virtual-server/cx10

[2017-07-15 08:09] niranjan94 commented on #843
Yes @mariobehling.. That vps is sufficient

On Sat, Jul 15, 2017, 1:33 PM Mario Behling <notifications@github.com>
wrote:

[2017-07-15 10:23] chiragw15 opened #848 "Use moshi to automap JSON to Kotlin class to reduce boiler plate code"
Use Moshi convertor factory for auto-mapping https://github.com/square/moshi. By this way, we can reduce
[code]
to
[code]
By this way, we can even fit every susi response in single file, making overall 3 files i.e for susi response, for websearch and for location. See this tutorial for example. https://android.jlelse.eu/keddit-part-6-api-retrofit-kotlin-d309074af0 and this code https://github.com/

[2017-07-15 15:43] #839 closed

[2017-07-15 15:44] mayank408 opened #849 "Converting Helper methods used from Java to Kotlin."
parent issue #787

Converting Helper methods used from Java to Kotlin.

[2017-07-15 19:22] mayank408 opened #852 "Update Readme"
Update Readme according to new development in the SUSI Android app.

[2017-07-15 21:40] Orbiter opened #853 "Use the correct language for text-to-speech"
**Actual Behaviour**

Currently TTS uses the default language as configured in the android device

**Expected Behaviour**

The TTS output must be made in the correct language.

How it works:

If the action object within susi answer contains a "language" key, use that language to use correct voice in text-to-speech. The action may still have no "language" object assigned, in that case still use the

[2017-07-17 05:00] mayank408 commented on #799
Line no: 983 PrefManager.putBoolean(Constant.MIC_INPUT, checkMicInput() && PrefManager.getBoolean(Constant.MIC_INPUT, false));

[2017-07-17 05:01] mayank408 commented on #799
Add INSTANCE after MediaUtil and DateHelper class like MediaUtil.INSTANCE.isAvailableForVoiceInput(MainActivity.this);

[2017-07-17 13:04] chiragw15 commented on #853
Work on this once #847 gets merged

[2017-07-17 14:01] mayank408 opened #854 "Writing unit test for Login"
Write unit test for Login using Expresso testing framework.

Parent issue #804

[2017-07-17 16:29] chiragw15 opened #856 "Make Speech input full Screen"
Follow Siri and Cortana and implement a full-screen Speech input feature.
![1](https://files.gitter.im/fossasia/susi_android/MnWd/index11.jpeg)
![2](https://files.gitter.im/fossasia/susi_android/WTpU/IMG_41F2667EE1DF-1.jpeg)

[2017-07-17 17:14] chiragw15 opened #857 "Fix UI issues with app"
1. Change Colour Scheme. Use colors of google assistant.
2. Use material design colors for Alert and Progress dialogs. The spinner is not visible in progress dialog. Neither are buttons in alert dialog.
3. Change color of edit text from black to white in dark theme.
4. Change color of action bar in selection mode to align with google assistant.
5. Lighten the color of hints in main edit text.
6. D

[2017-07-17 19:59] #854 closed

[2017-07-17 19:59] #852 closed

[2017-07-17 19:59] #849 closed

[2017-07-18 05:56] mayank408 opened #858 "Write tests for signup and forget password."
Write unit test for SignUp/Forget Pass using Expresso testing framework.

Parent issue #804

[2017-07-18 06:46] #800 closed

[2017-07-18 12:44] #858 closed

[2017-07-18 12:45] #841 closed

[2017-07-18 12:45] #828 closed

[2017-07-18 21:28] mariobehling opened #861 "Implement let's train SUSI"
Google has an option to train the voice. In the SUSI Android settings implement a screen to train "Hi SUSI" similarly to Google and connect this feature with the Snowboy training service.

![screenshot_2017-07-18-23-04-44](https://user-images.githubusercontent.com/1583873/28340695-fabf5bde-6c10-11e7-82e5-939802e3317e.png)

![screenshot_2017-07-18-23-04-37](https://user-images.githubusercontent.com

[2017-07-19 03:53] chiragw15 commented on #861
@mariobehling same as #806

[2017-07-19 07:06] mariobehling commented on #785
@chiragw15 How does Google show the skills? How can we avoid that the button takes up space on the start screen?

Instead of starting this with a button, can we have a skill "Show me what you can do"?

[2017-07-19 09:47] chiragw15 commented on #785
@mariobehling google displays skills in two ways:
1. First is the skill listing that we already have at susi-skill-cms. They list out all skills category wise.
![screenshot_20170719-124708](https://user-images.githubusercontent.com/16978820/28360993-d26d60b6-6c94-11e7-944e-04b89c0ff2fa.png)
2, Second is as you said, "What can you do" gives a list and it is displayed with horizontal scrolling.
![sc

[2017-07-19 11:58] Orbiter commented on #785
Looks good, skill list should come from the server as json response. In the future that list should be generated using learning from most frequent skills but for the first step and tests it's ok to make this hardcoded but hardcoded on server-side

[2017-07-20 06:40] chiragw15 opened #862 "Make a design prototype following Google Assistant"
The UI of the app needs to be improved. For that, as suggested by @mariobehling we should follow Google Assistant closely. So, make a design prototype following them closely and share here for further discussion.

[2017-07-20 15:07] chiragw15 opened #863 "Failing Circle CI build"
The Circle CI tests are failing for every build.
This is the reason.

eg build. https://circleci.com/gh/fossasia/susi_android/1639?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

This is memory usage file
https://1639-68798776-gh.circle-artifacts.com/0/tmp/memory-usage.txt

@the-dagger Can you help with this?

[2017-07-22 18:17] mariobehling opened #865 "Implement set language"
@Orbiter wrote in the channel the following. Please implement as required:

The skill selection for given languages will not restrict to the language but it will make the given language the main ranking criteria. So if your own language is not available, it will then prefer english next. There are exceptions like: if your language is finnish, it will prefer swedish as alternative language (they us

[2017-07-22 18:53] mariobehling opened #866 "Propose and implement internationalization support"
What options are there?

[2017-07-24 00:57] amitiwary999 commented on #866
@mariobehling are you talking about different language support?

[2017-07-26 16:50] chiragw15 commented on #863
Fixed in #867

[2017-07-26 16:50] #863 closed

[2017-07-26 16:52] chiragw15 commented on #862
@amitiwary999 Please follow this design. Thanks.
![1](https://files.gitter.im/fossasia/susi_android/vH4C/Screenshot_20170721-164630.png)

[2017-07-26 17:05] amitiwary999 commented on #862
@chiragw15 only for chat bubble layout?

[2017-07-26 19:22] amitiwary999 commented on #856
@chiragw15 can you test this [apk](https://drive.google.com/open?id=0B8gIkH5cqXi3Mk9TbnJIdFpuN28)?

[2017-07-27 04:47] #799 closed

[2017-07-27 05:26] chiragw15 commented on #862
No, Completely. Follow the UI changes here https://github.com/fossasia/susi_android/compare/development...chiragw15:newdesign2?expand=1 .
1. Shift Login/Logout, Share and Change Background to Settings.
2. Remove Search. Not needed. This feature is more related to messenger application and not Personal Assistants.
3. Either Remove Copy and Sharing of messages or implement it the way google assistan

[2017-07-27 05:29] mayank408 commented on #862
@chiragw15 Don't do all this in a single issue, make separate issues one by one and solve them. It will make the development fast and it will easy for reviewing.

[2017-07-27 05:29] chiragw15 commented on #862
Instead of focussing more on features from chat/messenger applications, we should focus more on features from Personal Assistant applications which include. nice animations for voice input (maybe full screen), ways to showcase skills, implementing training of hotword detection, etc

[2017-07-27 05:31] chiragw15 commented on #862
@mayank408 Yes, obviously. I am just mentioning what all we can do. When implementing, make sub issues.

[2017-07-28 06:47] mayank408 commented on #848
@chiragw15 I will be working on this.

[2017-07-28 20:39] chiragw15 opened #870 "Improve ChatBubble Layout (Sub-issue of issue #857)"
Change Chat Bubble Colour and layout. Make it look closer to Google Assistant. Sub issue of issue #857. Do the following:
1. Remove CardView and add background layout instead.
2. Make Map view to cover complete width.
3. Change layout of RSS, websearch and Link Preview to look more professional.

[2017-07-28 23:58] chiragw15 opened #872 "Change Layout of Sending Edit Text (Sub-issue of issue #857)"
Change the Layout of Sending Edit text. Follow this design
![1](https://files.gitter.im/fossasia/susi_android/vH4C/Screenshot_20170721-164630.png)
Make sure to do following:
1. In the starting, app should display the UI as above.
2. When user clicks on keyboard icon, display a edit text with mic.
3. When user writes something, hide mic icon and display send icon.
4. When user sends the message, di

[2017-07-29 00:23] chiragw15 opened #873 "Change Layout of Action Bar (Sub-issue of issue #857)"
1. Remove Action bar and search feature as it is of no use in a personal assistant app. This feature is more inclined towards a chat/messenger application and not Personal Assistant. Remove action bar to increase space. Instead introduce a FAB with settings icon. Clicking on which opens settings activity ( If possible, use slide animation to open settings)

Reference: ![1](https://files.gitter.im/

[2017-07-29 08:20] chashmeetsingh commented on #873
Are we removing change wallpaper settings as well here? @chiragw15

[2017-07-29 08:34] chiragw15 commented on #873
Yes, wallpaper and login/logout will go in settings.

[2017-07-31 09:34] amitiwary999 opened #877 "issue with progress bar in login activity"
**Actual Behaviour**

If user enters wrong credential then app shows alert dialog. pressing ok button close dialog but progress bar does not dismiss. So user can't do anything until close the app.

**Expected Behaviour**

progress bar should dismiss.

**Steps to reproduce it**

Enter wrong credential and press login button. Press ok button in alert dialog.

**Would you like to work on the issue?**

[2017-07-31 20:42] #877 closed

[2017-07-31 23:57] amitiwary999 commented on #845
I will work on it.

[2017-08-01 05:50] amitiwary999 opened #880 "update alert dialog box and make buttons visible."
Buttons are not visible in case of logout alert box and also make others dialog box button color same.

[2017-08-01 22:29] #870 closed

[2017-08-02 23:41] #786 closed

[2017-08-02 23:41] #787 closed

[2017-08-02 23:44] #861 closed

[2017-08-03 06:49] #873 closed

[2017-08-03 06:49] #872 closed

[2017-08-03 06:55] #862 closed

[2017-08-03 06:56] chiragw15 commented on #857
Fixed.

[2017-08-03 06:56] #857 closed

[2017-08-03 12:44] #880 closed

[2017-08-05 12:24] #702 closed

[2017-08-06 21:34] #840 closed

[2017-08-06 21:39] #853 closed

[2017-08-06 21:41] #823 closed

[2017-08-06 21:42] #766 closed

[2017-08-06 21:46] chiragw15 commented on #845
@Orbiter wrote in the channel the following. Please implement as required:

The skill selection for given languages will not restrict to the language but it will make the given language the main ranking criteria. So if your own language is not available, it will then prefer english next. There are exceptions like: if your language is finnish, it will prefer swedish as alternative language (they us

[2017-08-06 21:47] chiragw15 commented on #865
Same as #845

[2017-08-06 21:47] #865 closed

[2017-08-07 16:18] pri22296 opened #887 "Fix markdown for yaydoc"
**Actual Behaviour**

When generating docs using yaydoc, some update to markdown needs to be made.

**Would you like to work on the issue?**

Yes

[2017-08-07 19:14] #887 closed

[2017-08-09 01:18] #845 closed

[2017-08-09 04:39] amitiwary999 commented on #866
I adding string.xml file for different languages

[2017-08-11 16:05] amitiwary999 opened #891 "Save settings for Anonymous user"
**Actual Behaviour**

Settings are not saved for the anonymous user.

**Expected Behaviour**

Settings should be saved for anonymous user.

**Would you like to work on the issue?**

Yes

[2017-08-11 23:31] chiragw15 commented on #891
@amitiwary999

Here do you mean "It is not saved on server"?

[2017-08-12 03:02] amitiwary999 commented on #891
No. I mean if any user logged in and change settings and then log out, settings will remain same for the anonymous user. Either we can reset settings to the default value each time when user logs out or we can store settings for anonymous locally.

[2017-08-12 03:16] chiragw15 commented on #891
No, save settings only for one session only. For logged in user, when he logs in, fetch from server and set settings. And when he logs out, set to default. For anonymous user, keep settings only for that time when user is anonymous. That means whenever he logs in, the settings should come from server and when he logs out, it should be set to default again. So, basically, think of it as settings fo

[2017-08-13 04:48] harshvardhan-takawale commented on #785
Hi, I am new to open source development and would like to work on this issue, is it still up for grabs? What all needs to be done?

[2017-08-13 16:19] amitiwary999 opened #893 "Update answer action type to retrieve and show images send from the server."
**Actual Behaviour**

For the query like 'search for  ' server send images along with expression but it is not used in the app.

**Expected Behaviour**

Image should be shown in the app.

**Would you like to work on the issue?**

Yes

[2017-08-13 20:33] chiragw15 opened #894 "Add intro screens"
Add intro screens when an app is installed for the first time. They will include:
1. Displaying Skills.
2. Quick Info about Speech input/output.
3. Hotword and Hotword Training.
4. Login/Signup

[2017-08-13 20:34] chiragw15 opened #895 "Add splash screen"
Add this splash screen in the app. No need of Copyright message at bottom.
![1](https://user-images.githubusercontent.com/16130948/29251250-598d4b86-806f-11e7-8288-404e6e5a1825.png)

[2017-08-15 05:33] S2606 commented on #895
@chiragw15 Are you working on this or can I??

[2017-08-15 06:35] chashmeetsingh commented on #895
@S2606 you can take this up as it is not assigned to anyone yet. Just mention that you are working on it.

[2017-08-15 08:46] mishraanmol commented on #895
I'm working on it @chashmeetsingh , If you would like to.

[2017-08-15 08:49] S2606 commented on #895
I m working on it @mishraanmol . :)

[2017-08-15 08:50] mishraanmol commented on #895
Ok @S2606 .

[2017-08-15 09:38] chiragw15 commented on #895
@S2606 You can work on this. @mishraanmol You can work on this #894 , if you want.

[2017-08-15 09:40] chiragw15 commented on #893
@amitiwary999 any example query?

[2017-08-15 09:41] Arshilgenius commented on #894
@chiragw15  I want to work on this. can i ?

[2017-08-15 09:51] mishraanmol commented on #895
@chiragw15 I would love to work on #894 ,Can I?

[2017-08-15 10:01] #891 closed

[2017-08-15 10:05] amitiwary999 commented on #893
@chiragw15 search for god

{
  "query": "Search for god",
  "count": 1,
  "client_id": "aG9zdF80My4yMzkuODIuODk=",
  "query_date": "2017-08-15T10:02:16.929Z",
  "answers": [{
    "data": [
      {
        "Result": "<a href=\"https://duckduckgo.com/God\">God<\/a> In monotheism, God is conceived of as the Supreme Being and principal object of faith. The...",
        "Icon": {
          "URL": "http

[2017-08-15 10:06] chiragw15 opened #897 "Implement Skill Listing"
Implement Skill Listing similar to Google Assistant and susi_skill cms

<img src="https://user-images.githubusercontent.com/16978820/29311192-76e8757e-81ce-11e7-8454-fc6e33868c6f.png" height = "480" width="270">

![screenshot from 2017-08-15 15 25 58](https://user-images.githubusercontent.com/16978820/29311209-894c43a8-81ce-11e7-8d94-6c6d8a8dde75.png)

Use these APIs to get data for displaying.

h

[2017-08-15 10:20] chiragw15 commented on #894
@Arshilgenius work with @mishraanmol on this and divide the work. You may divide two screens each.

[2017-08-15 10:29] Arshilgenius commented on #894
@chiragw15  okay, thanks a lot 👍

[2017-08-15 10:31] mishraanmol commented on #894
@chiragw15 Ok

[2017-08-15 11:19] S2606 commented on #895
@chiragw15 while building the app on android studio, I am facing this issue

`Error:Execution failed for task ':app:preDebugAndroidTestBuild'.> Conflict with dependency 'com.squareup.okhttp3:okhttp' in project ':app'. Resolved versions for app (3.3.1) and test app (3.3.0) differ. See http://g.co/androidstudio/app-test-app-conflict for details.`

Can you please help me with this?

[2017-08-15 11:44] chiragw15 commented on #893
@amitiwary999 How are you planning to update it? The response gives action type answer which means display only the the answer given in the response and do nothing else. Have you planned the UI and the flow for it? Remember, "no hardcoding"

[2017-08-15 13:25] chiragw15 commented on #895
Did you change anything in build.gradle file? This should work if you haven't changed anything. Try building again. Make sure you have updated code and haven't edited the build.gradle file. If it still exists, try changing the version [here](https://github.com/fossasia/susi_android/blob/development/app/build.gradle#L77) to 3.3.0 and see if it works.

[2017-08-15 14:08] chiragw15 opened #898 "Add "About Section""
Add a about section section adding following information.
1. About SUSI
2. Adding github link of this repo for reporting bug.
3. Add link to skill cms (http://skills.susi.ai/) for editing and creating skills.
4. Add licence information.

eg.
<img src="https://user-images.githubusercontent.com/16978820/29319305-36e2fd78-81f1-11e7-9289-1fe4b8788390.png" height = "480" width="270">

[2017-08-15 19:40] Arshilgenius commented on #894
Is this design good? It's from my previous app, and can i add code in java or convert it into kotlin?

![1](https://user-images.githubusercontent.com/21264401/29332950-83aa56a0-821f-11e7-9717-5a0a1e3e3bec.jpeg)

[2017-08-15 22:32] chiragw15 commented on #894
@Arshilgenius These look better to me
<img src="https://user-images.githubusercontent.com/16978820/29339344-72f09c76-8237-11e7-9081-5a5a22f388e1.png" height = "480" width="270">
.
<img src="https://user-images.githubusercontent.com/16978820/29339347-73070312-8237-11e7-86b1-745b2b380c9c.png" height = "480" width="270">
.
<img src="https://user-images.githubusercontent.com/16978820/29339346-72f40f46

[2017-08-17 11:02] hardik124 commented on #898
@chiragw15, Can I work on this issue?

[2017-08-17 19:58] chiragw15 commented on #898
@hardik124 Once #899 is completed and merged, you can start working on it.

[2017-08-18 10:08] mariobehling commented on #895
Why do we need a splash screen? We got rid of it before. How can we rather make the app start faster and avoid a splash screen. People should see the login screen right away or their chat UI if they are already logged in.

[2017-08-18 10:08] #895 closed

[2017-08-18 11:25] hardik124 commented on #898
@chiragw15  Sure. Thanks.

[2017-08-20 12:51] Arshilgenius commented on #894
How does this look? Sorry for being late..

![login](https://user-images.githubusercontent.com/21264401/29495034-47b5439a-85d4-11e7-887a-bf2f8363bfec.jpeg width="300" height="500")

[2017-08-20 12:56] chiragw15 commented on #894
1. Make it full screen.
2. The line below cuts the mobile frame. Instead, shift the mobile frame a little above.

[2017-08-20 13:02] Arshilgenius commented on #894
Full screen like this?

<img src=https://user-images.githubusercontent.com/21264401/29495112-bea2e6a0-85d5-11e7-8e0c-bda4b4d317ec.jpeg width="300" height="500">

[2017-08-20 13:07] chiragw15 commented on #894
No. Reduce the size of mobile frame and remove status bar like the screenshots I added in my above comment.

[2017-08-20 13:51] Arshilgenius commented on #894
How is this now?

<img src=https://user-images.githubusercontent.com/21264401/29495420-7799966c-85dc-11e7-8bd2-28e867253fdc.jpeg width="300" height="500">

[2017-08-21 00:33] chiragw15 commented on #894
In this <img src=https://user-images.githubusercontent.com/21264401/29495057-9f57bc0e-85d4-11e7-97b1-2f3b953ef689.jpeg width="300" height="500">
reduce size of mobile frame like this
<img src=https://user-images.githubusercontent.com/21264401/29495420-7799966c-85dc-11e7-8bd2-28e867253fdc.jpeg width="300" height="500">
and keep "Login written on the top".

2. Change the color of the circle indicato

[2017-08-21 06:07] amitiwary999 commented on #96
I am trying to solve this issue.

[2017-08-21 12:10] #897 closed

[2017-08-21 13:03] chiragw15 opened #902 "Skill detail section and "try it" feature"
Implement skill details section when a skill is clicked. example

<img src="https://user-images.githubusercontent.com/16978820/29520501-f03a1fc0-869e-11e7-947d-ea19155249f4.png" height = "480" width="270">

![screenshot from 2017-08-21 18 20 12](https://user-images.githubusercontent.com/16978820/29520502-f0402d34-869e-11e7-8799-9fd8344e6bb3.png)

Add a "Try it" button so that user can just try the

[2017-08-21 13:28] chiragw15 commented on #898
@hardik124 Please proceed with it. I have added a TODO here https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/skills/SkillsActivity.kt#L87 . Add code for about here.
<img src="https://user-images.githubusercontent.com/16978820/29496659-cab91076-85f4-11e7-82d6-1f34889fb3a1.png" height = "480" width="270">

[2017-08-21 13:41] Arshilgenius commented on #894
@chiragw15  How is this now?

<img src=https://user-images.githubusercontent.com/21264401/29517054-d626060c-8690-11e7-886f-6f50589f88b5.jpeg width="300" height="500">

[2017-08-21 14:34] Arshilgenius commented on #894
How is this now? I am really sorry i thought you meant something else by status bar.

<img src=https://user-images.githubusercontent.com/21264401/29523722-8cc3b5fc-86ab-11e7-989b-68f59569e08a.jpeg width="300" height="500">

 *OR*
<img src=https://user-images.githubusercontent.com/21264401/29523753-a46cdea4-86ab-11e7-9f00-e1cf90e45c11.jpeg width="300" height="500">

[2017-08-21 14:44] chiragw15 commented on #894
Second one with white circle indicators instead of red. Also, add a line describing the screenshot/feature under the mobile frame.

[2017-08-22 11:55] Arshilgenius commented on #894
@chiragw15  : Can you tell me which all screens should i add and what should be the describing line for each screens ( i am not that good in english ) and what more needs to be done in this layout?

<img src=https://user-images.githubusercontent.com/21264401/29564268-b0f7e4f8-875e-11e7-8f2c-c1dd38395090.jpeg width="300" height="500">

[2017-08-22 19:23] chiragw15 commented on #894
In the above screenshot, just decrease the size of the the line written below the mobile frame and replace it with "Login into SUSI AI using your account for better customization. If you don't have an account, just click on the sign up option and create one. Or else you can simply skip the whole process and jump into the chat interface".

2. Add another screen about main chat interface defining ho

[2017-08-23 02:21] S2606 commented on #848
@mayank408 Are you working on this?? or can I?

[2017-08-23 02:26] chiragw15 commented on #848
@S2606 please proceed. Cheers. :+1:

[2017-08-23 08:28] hardik124 commented on #898
@chiragw15 A dialog? Do u think an activity will be better? We can put links etc?
Also what should be the content?

PS :
I apologise for being late , i got sick.

[2017-08-23 16:19] chiragw15 commented on #898
@hardik124 Don't add activity. Instead add fragment. Though, only a dialog would suffice our need but check if it doesn't look nice, add fragment instead. Add following information.
1. About SUSI AI

2. Contributors link

3. Link to susi_skill_cms in order to create and edit SUSI skills.

4. Link to this repo for reporting issues related to the app.

5. Licence information

[2017-08-24 11:20] chiragw15 opened #904 "Crashing of app due to inconsistent history"
**Actual Behaviour**

App is crashing due to inconsistent history from the server.

[code]

Add checks and try catch blocks to prevent the crashes.

[2017-08-24 13:07] Arshilgenius commented on #894
@chiragw15  What else needs to be done?

<img src=https://user-images.githubusercontent.com/21264401/29667536-62380530-88fa-11e7-8b6e-813711fbc02f.jpeg width="300" height="500">
<img src=https://user-images.githubusercontent.com/21264401/29667544-674e4f20-88fa-11e7-8a27-3818ee56de04.jpeg width="300" height="500">
<img src=https://user-images.githubusercontent.com/21264401/29667547-6a95a0de-88fa-11

[2017-08-24 13:38] chiragw15 commented on #894
1. In second screen, change title "Interface" to "Chat Interface".
2. Change the screenshot in second screen similar the one used in third screen which has some messages in it. Also, update the code and use new screenshots. The settings icon in the FAB is replaced.
3. For the screenshot in third screen, use
<img src="https://user-images.githubusercontent.com/16978820/29496658-caaddb3e-85f4-11e7-88

[2017-08-24 14:39] chashmeetsingh commented on #894
@chiragw15 IMO such long descriptions shouldn't be present in the intro screens.

[2017-08-25 13:31] Arshilgenius commented on #894
@chiragw15  @chashmeetsingh  what else needs to be done?

<img src=https://user-images.githubusercontent.com/21264401/29716053-7d0fe99a-89c7-11e7-9567-22e4f18d5c1d.jpeg width="300" height="500">
<img src=https://user-images.githubusercontent.com/21264401/29716055-81d6fb9e-89c7-11e7-9a15-cb8a8c5d793b.jpeg width="300" height="500">
<img src=https://user-images.githubusercontent.com/21264401/29716059

[2017-08-25 20:23] chiragw15 commented on #894
Looks good to me. @chashmeetsingh Your views?

[2017-08-25 20:34] chashmeetsingh commented on #894
I suppose the descriptions can be shorter like for the `skill listing` it can simply be `Browse and try your favorite skill` or maybe something similar. What do you think @chiragw15 ?
Design wise it looks good.

[2017-08-25 20:34] chashmeetsingh commented on #894
I suppose the descriptions can be shorter like for the `skill listing` it can simply be `Browse and try your favorite skill` or maybe something similar. What do you think @chiragw15 ?
Design wise it looks good.

[2017-08-26 02:34] chiragw15 commented on #894
Okay. Concise the description a bit. Maybe:
Login :
Login into the app using SUSI AI account or else signup to create new account or just skip login.
Chat interface :
Interact with SUSI AI asking queries. Use microphone button for give voice interaction.
Skill listing :
Browse and try your favorite SUSI AI Skill
Chat settings:
Personalize your chat settings for better experience.

[2017-08-26 09:42] Arshilgenius commented on #894
@chiragw15 @chashmeetsingh : How does  it look now?

<img src=https://user-images.githubusercontent.com/21264401/29740259-201067c0-8a70-11e7-9375-ab4a9abc262d.jpeg width="300" height="500">
<img src=https://user-images.githubusercontent.com/21264401/29740260-253282ce-8a70-11e7-962d-76567e775ce4.jpeg width="300" height="500">
<img src=https://user-images.githubusercontent.com/21264401/29740290-b260

[2017-08-26 16:28] chashmeetsingh commented on #894
Looks good to me, just remove the `!` from `Login!`.

[2017-08-26 16:33] chiragw15 commented on #894
@Arshilgenius Good work. Please send a PR. Thanks.

[2017-08-28 08:39] Prashant-Chaurasia commented on #898
@chiragw15 , Can I work on this issue?

[2017-08-28 11:51] amitiwary999 opened #909 "Show correct title in setting fragment"
**Actual Behaviour**

Currently SUSI.Ai skills and setting show same title i.e SUSI.AI skill.

**Expected Behaviour**

settings should show title 'Settings'

**Screenshots of the issue**

<img src= "https://user-images.githubusercontent.com/14003244/29772142-f60c2d6e-8c14-11e7-81e5-378edea4f64b.jpeg" height="420" width="280">

**Would you like to work on the issue?**

yes.

[2017-08-28 20:33] #909 closed

[2017-08-29 23:29] chiragw15 commented on #898
@hardik124 are you working on this?

[2017-08-30 07:37] hardik124 commented on #898
yes, there seem to be a problem with my laptop , i will comeplete it ASAP

On Wed, Aug 30, 2017 at 4:59 AM, Chirag Wadhera <notifications@github.com>
wrote:

[2017-08-31 16:04] hardik124 opened #912 "App crashing on login and skip"
**Actual Behaviour**
App crashes when user tries to login or clicks on "Skip".

**Expected Behaviour**
User should be able to login.
**Steps to reproduce it*
Click on skip on login screen or create a new user and try to login
**LogCat for the issue**

08-31 21:32:10.655 813-813/org.fossasia.susi.ai E/AndroidRuntime: FATAL EXCEPTION: main

[2017-09-01 10:06] hardik124 commented on #898
@chiragw15  the app is crashing, I am unable to test it.

[2017-09-01 13:56] chashmeetsingh commented on #898
@hardik124 please create an issue for the same and if you want, you can start working on the fix for that and continue the about section after that.

[2017-09-01 14:12] chiragw15 commented on #912
@hardik124 what are the exact steps to reproduce this? Does installing the app and skipping the login produces this crash? Try checking again and make sure you have latest code and you haven't changed anything.

[2017-09-01 15:00] hardik124 commented on #912
Yes @chiragw15 , I did not change anything. I signed up for a new account and as I logged in it crashed.Also when I click on the skip in the login screen it crashes.
I checked the error is related to the plugin in realm.

[2017-09-01 15:20] chashmeetsingh commented on #912
@hardik124 I suppose it's related to the realm migrations. Try uninstalling and reinstalling the app, it should work fine then.

[2017-09-01 15:21] hardik124 commented on #912
@chashmeetsingh  I tried that multiple times.

[2017-09-03 08:10] #856 closed

[2017-09-03 08:11] #904 closed

[2017-09-03 13:40] hardik124 commented on #912
@chashmeetsingh @chiragw15  Did anyone of you encounter this?

[2017-09-04 11:34] chiragw15 opened #914 "Change "loggin in" message to "resetting password" in forgot password."
**Actual Behaviour**

Currently, when user asks to reset password, it shows progress dialog with message "logging in"

**Expected Behaviour**

Change it to "resetting password"

[2017-09-04 19:38] vaibhavsingh97 commented on #914
Can i work on this issue?

[2017-09-04 20:24] hardik124 commented on #898
@Prashant-Chaurasia  You can take up this issue, I am working on the crash right now and  I can't do this unless I solve that.

[2017-09-04 22:56] hardik124 commented on #912
I figured out that the problem was with apt plugin. So I removed it and used kapt instead.

[2017-09-05 00:21] hardik124 commented on #806
Hey, @chiragw15 .If we get this file where should we store it?
I think I can take up this issue. Are you currently working on it or can I go ahead with it?

[2017-09-05 14:57] #914 closed

[2017-09-05 16:23] chiragw15 commented on #806
There is a folder in storage with name `snowboy`, we have to store this file in that folder with name `susi.pmdl`

Please check this PR
https://github.com/fossasia/susi_android/pull/889

In this PR, I have mentioned the problems that I am facing. Would be great if you could help me out

[2017-09-06 00:08] chiragw15 commented on #893
Needs to be implemented in the server first. Closing for now.

[2017-09-06 00:08] #893 closed

[2017-09-06 00:09] chiragw15 commented on #785
@harshvardhan-takawale pick any other issue. It is already implemented now in the form of skill listing. Closing it.

[2017-09-06 00:09] #785 closed

[2017-09-06 00:12] chiragw15 commented on #601
Opened corresponding issues in skill_data_repo where they belong. Need to implement those skills and after implementation of each skill, create new issue in this repo and work.

[2017-09-06 00:12] #601 closed

[2017-09-06 03:29] #902 closed

[2017-09-06 04:06] #912 closed

[2017-09-06 04:20] Prashant-Chaurasia commented on #898
Should I work on this issue @chiragw15  ?

[2017-09-06 05:54] chiragw15 commented on #898
Sure, go ahead. I have added comments and TODOs. Remove them and add code there.

[2017-09-07 20:39] hardik124 commented on #806
@chiragw15 , I was somehow able to extract AMR file from google speech recognizer. Will make a PR as soon as I fix this issue.

[2017-09-08 14:29] hardik124 commented on #806
@chiragw15 Please tell me what parameters have to be used?

[2017-09-08 14:42] chiragw15 commented on #806
@hardik124 http://docs.kitt.ai/snowboy/#api-v1-train

[2017-09-08 14:45] chiragw15 opened #919 "Circle CI build stuck"
In the recent PRs, the Circle CI build is stuck at " Waiting for status to be reported". And other checks are also not running.

Find possible issue and try to fix it so that PRs can be merged.

@Arshilgenius @S2606 @hardik124 guys please see if you can fix this.

[2017-09-08 14:50] hardik124 commented on #806
@chiragw15  there is a secret user token required. what is that ?

[2017-09-08 14:53] Arshilgenius commented on #919
![screen shot 2017-09-08 at 8 22 34 pm](https://user-images.githubusercontent.com/21264401/30217362-8664328c-94d3-11e7-8c18-b8ad52a93d3b.png)
@chiragw15  is it because of this?

[2017-09-08 19:49] dabbler011 commented on #421
@chiragw15 trying similar example as you mentioned, responses of both queries comes out to be that of the first one only i.e. I tried "where is India" and "hi" and susi responses twice with location of india as you can see in screenshots.

![screenshot_2017-09-09-01-02-13](https://user-images.githubusercontent.com/24551629/30228694-713b27c0-94fc-11e7-82ff-91f1a7067ded.jpg)

![screenshot_2017-09-09

[2017-09-08 19:51] chiragw15 commented on #421
Yaa sure. Go ahead :+1:

[2017-09-08 19:54] chiragw15 commented on #806
![screenshot_20170909-012329](https://user-images.githubusercontent.com/16978820/30228958-9882f032-94fd-11e7-9dd8-cd98dd2677bf.png) @hardik124

[2017-09-08 19:55] chiragw15 commented on #806
Use your account for now. Will change it later.

[2017-09-08 19:57] chiragw15 commented on #919
Hmm. May be. Let's wait for the fix for sometime.

[2017-09-08 20:19] hardik124 commented on #806
@chiragw15  sure. Is it fine if I make an activity or should I make a fragment?

[2017-09-08 20:28] chiragw15 commented on #806
No need of writing code again. I have already written most of code for this issue in #889 . Pull that PR to your local machine and work from there. To pull a PR locally use `git fetch upstream pull/889/head:BRANCHNAME` and then checkout that branch using `git checkout BRANCHNANE`

[2017-09-08 20:30] hardik124 commented on #806
Yeah, will do.

[2017-09-09 22:07] #566 closed

[2017-09-09 22:08] mariobehling opened #921 "SUSI.AI crashes on activation of Voice Input"
When hitting the voice button SUSI.AI crashes.
 Trying on a Galaxy S4 Mini GT-1919 with Android 4.4.2

[2017-09-10 08:32] chiragw15 commented on #919
It is still stuck. Isn't the issue fixed yet? @Arshilgenius

[2017-09-10 08:43] Arshilgenius commented on #919
![screen shot 2017-09-10 at 2 11 18 pm](https://user-images.githubusercontent.com/21264401/30247424-ffeb3966-9631-11e7-9110-3a7a25bb0008.png)

I don't know why it's still stuck if they are saying that no incidents of outrage were reported.

[2017-09-10 09:01] S2606 commented on #919
@chiragw15 from what i had found out we need to unfollow and then refollow it on circle ci

[2017-09-10 14:24] collinx opened #923 "7 Warnings on Building the app"
**Actual Behaviour**

On Building the App, following warnings are shown,

[code]

**Expected Behaviour**

No warning should be shown, may or may not result in future code break.

**Steps to reproduce it**

Build the app.

**Would you like to work on the issue?**

I would like to resolve this issue.

[2017-09-10 14:32] kislaysr commented on #898
@Prashant-Chaurasia  are you working on this issue?

[2017-09-10 14:59] S2606 commented on #898
@kislaysr  i think so you can go ahead. What fo you say it @chiragw15 ??

[2017-09-10 15:49] chiragw15 commented on #923
@collinx Go ahead but since these warnings are based on string translations, make sure if you are translating a string, the translation is correct.

[2017-09-10 16:54] Prashant-Chaurasia commented on #898
@kislaysr I am new to kotlin, so I am learning it.

[2017-09-11 14:04] chiragw15 commented on #919
Reported issue https://discuss.circleci.com/t/status-on-pr-not-updating-shows-waiting-for-status-to-be-reported/16416

[2017-09-12 08:16] chiragw15 commented on #919
Issue fixed. Closing.

[2017-09-12 08:16] #919 closed

[2017-09-12 11:50] collinx opened #925 "App Crash on Tapping Thumbs up and down icons on MI phones."
**Actual Behaviour**

Tap on Thumbs up and Thumbs down icons doesn't activate them. Also, multiple taps on these icons crash the app.

**Expected Behaviour**

Tapping the thumbs up or thumbs down icon should activate them and change them to solid icons. The app shouldn't crash.

**Steps to reproduce it**

Tap more than two times on these icons.

**LogCat for the issue**

[code]

**Would you like t

[2017-09-12 21:15] shreyasramachandran commented on #925
I would like to work on this issue

[2017-09-13 05:21] akashagra opened #926 "App Exits on Try It in All AI skills"
The app crashes when we click on  try it in all the AI skills.It sometimes works fine but most of the times show the error as commented by me.

[2017-09-13 05:23] chiragw15 commented on #926
@akashagra Does it work fine when clicking on other skills?

[2017-09-13 05:35] akashagra commented on #926
No,its causing problems in all the skills.I was just testing it on my device.Wait ,I am sharing the log details too

[2017-09-13 06:24] akashagra commented on #926
Log Cat details
09-13 11:45:25.131 13950-13950/org.fossasia.susi.ai A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x440000 in tid 13950 (ossasia.susi.ai)
09-13 11:52:22.553 20345-20345/org.fossasia.susi.ai A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 20345 (ossasia.susi.ai)

[2017-09-13 06:55] chiragw15 opened #928 "Failing Circle CI build"
The Circle CI build is failing. The reason is
https://github.com/fossasia/susi_android/blob/development/app/src/androidTest/java/org/fossasia/susi/ai/TestChatActivity.java#L90

This UI test will fail because the search feature does not exit anymore. But due to same id of views, it was passing somehow in some builds.

[2017-09-13 06:55] amitiwary999 commented on #926
@akashagra share full logcat details.

[2017-09-13 07:13] chiragw15 commented on #926
@amitiwary999 This is the full logcat. I once faced this issue as well but wasn't able to reproduce it so left it. This might be because of snowboy library we use. And @akashagra if I am not wrong, this occurs when you use try it" button in skill detail section or click on any skill example and not when you open any skill (to display details about skill) from skill list. If yes, please correct the

[2017-09-13 07:14] akashagra commented on #926
09-13 12:40:58.829 7206-7206/? I/art: Late-enabling -Xcheck:jni
09-13 12:40:58.858 7206-7206/? D/TidaProvider: TidaProvider()
09-13 12:40:59.009 7206-7206/org.fossasia.susi.ai W/art: Before Android 4.1, method android.graphics.PorterDuffColorFilter android.support.graphics.drawable.VectorDrawableCompat.updateTintFilter(android.graphics.PorterDuffColorFilter, android.content.res.ColorStateList, and

[2017-09-13 07:17] chiragw15 commented on #926
These are unnecessary and unrelated logs. This is the only line required.
`A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x440000 in tid 13950 (ossasia.susi.ai)`

[2017-09-13 07:21] akashagra commented on #926
Yes,thatswhy i commented that only. I googled it and the thing what i can found was that we are using too much memory in the process .And this thing has come multiple times,it works fine sometimes but i can observe it most of the times  and in all AI skills.Yes its coming on clicking Try Now only

[2017-09-13 07:27] akashagra commented on #926
@chiragw15  edited the issue

[2017-09-13 07:28] chiragw15 commented on #925
I am not able to reproduce this issue. @shreyasramachandran @Prashant-Chaurasia @dabbler011 @S2606 @Arshilgenius @amitiwary999 are you guys able to reproduce it?

[2017-09-13 07:32] chiragw15 commented on #926
Yup. Might be possible issue. Because when Chat activity is started, we are doing too much processes like
* Initializing database and getting message count
* finding location from ip
* finding location from network and gps
* initializing hotword detection
* initializing STT
* initializing TTS

When these processes are running, if we try to send a query to susi, it may get overload sometimes. So, w

[2017-09-13 07:39] Prashant-Chaurasia commented on #925
@chiragw15 I am also not able to reproduce it.

[2017-09-13 07:42] dabbler011 commented on #925
I am also unable to reproduce it, works fine.

[2017-09-13 07:46] collinx commented on #925
@chiragw15  @Prashant-Chaurasia  @dabbler011  Is like unlike option working fine in your devices??

[2017-09-13 07:48] akashagra commented on #926
@chiragw15 Can you suggest how we can save memory? I mean googling it what i can found is we can probably use File Stream to reuse the byte array . So  you having a better understanding of the code,can you please suggest me something which i can find out and probably we can find a solution for the overload.

[2017-09-13 14:30] isaeef commented on #928
is it still open or it is passing all the cl builds ???

[2017-09-13 15:02] chiragw15 commented on #928
#929 fixes this issue. @isaeef please find some other open issue to work on.

[2017-09-13 17:12] #894 closed

[2017-09-13 17:32] #928 closed

[2017-09-13 17:33] #421 closed

[2017-09-13 17:41] #923 closed

[2017-09-13 17:42] chiragw15 commented on #925
@collinx Works fine for me

[2017-09-13 19:08] collinx commented on #925
@chiragw15 I tried that on the emulator, it is working on it but still, it crashes on my device. I am using Redmi Note 3 with Android 6

[2017-09-13 19:32] Arshilgenius commented on #925
I am also unable to reproduce it, works fine.

[2017-09-14 08:27] akashagra commented on #926
@chiragw15 I have resolved the issue but i am relatively new to github. So how should i commit the changes made by me? Do i need to submit a pull request

[2017-09-14 15:04] mariobehling opened #931 "Use https instead of http"
We are moving all SUSI components and the API server to https. Please implement the API calls through https.

[2017-09-14 17:02] chiragw15 commented on #931
Change here https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/rest/clients/BaseUrl.java#L17-L19

[2017-09-14 17:06] chiragw15 commented on #926
@akashagra Great. Please send a Pull Request for that. Google how to that. You will find good tutorials.

[2017-09-14 17:09] codedsun commented on #931
Can I work on this issue?

[2017-09-14 17:10] chiragw15 commented on #925
@collinx If you are still facing this issue, could you go through the code and try to find out the reason causing this. I literally have no idea why this is happening. If you find something implemented wrongly, please fix that and send a PR. That will be awesome.

[2017-09-14 17:11] chiragw15 commented on #931
Sure. Go ahead :+1:

[2017-09-14 18:01] codedsun commented on #931
@chiragw15 Done :) Guide me for the PR.I am newbie to Open Source.

[2017-09-14 18:03] stellargo commented on #931
@codedsun
Make your changes to a branch other than the master.
In your comment write Fixes: and insert URL of this issue
then push the branch to your forked repo
After which you can use github to create a PR :)

[2017-09-14 20:14] Anshpuri opened #935 "App goes in recent after we perform a lot of tasks with the app at a faster rate , but doesn't crashes"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of

[2017-09-15 08:36] akashagra commented on #935
@Anshpuri  this is probably when you use Susi Skills? Right
If thats so i have referenced it in #926 and also resolved it and sent a pull request

[2017-09-15 14:42] chiragw15 commented on #935
@Anshpuri please edit the issue according to the given format. See other issues for reference.

[2017-09-18 06:50] chiragw15 opened #936 "Update roadmap in documentation"
Update roadmap in the documentation.
https://github.com/fossasia/susi_android#roadmap

There are 4 features out of which 3 are already implemented:
* Hotword Detection training
* Full Screen Voice interaction
* Feedback for skills.
* Displaying SUSI skills

Change it to:
* Hotword Detection training
* ~~Full Screen Voice interaction~~
* ~~Feedback for skills.~~
* ~~Displaying SUSI skills~~

[2017-09-18 06:56] chiragw15 opened #937 "Add screenshots in documentation"
Add screenshots regarding
1. Full speech voice input
2. Skill List
3. Skill Detail

<img src = "https://user-images.githubusercontent.com/14003244/29521703-3bebfb3c-86a4-11e7-834d-4b6eafa8b128.png" height="480" width="270">
.
<img src="https://user-images.githubusercontent.com/16978820/29992762-f72aaeb4-8fc0-11e7-915a-75e0235aa377.png" height = "480" width="270">
.
<img src="https://user-images.gi

[2017-09-18 06:57] chiragw15 opened #938 "Update Link Preview library"
Update Link Preview library [here](https://github.com/fossasia/susi_android/blob/development/app/build.gradle#L82) with new version which is 2.0.0 (reference https://github.com/LeonardoCardoso/Android-Link-Preview#gradle)

[2017-09-18 07:17] chiragw15 opened #939 "Remove YouTubeAndroidPlayerApi.jar from libs"
We once used Youtube lib to play videos but we don't need it right now and can be removed.
Just remove [this](https://github.com/fossasia/susi_android/blob/development/app/libs/YouTubeAndroidPlayerApi.jar) from `libs` folder.

[2017-09-18 07:29] chiragw15 opened #940 "Add Names of Libraries used in docs"
Add following library information in docs here https://github.com/fossasia/susi_android#libraries-used-and-their-documentation.
* Gericop/Android-Support-Preference-V7-Fix ([docs](https://github.com/Gericop/Android-Support-Preference-V7-Fix))
* Snowboy Hotword Detection ([docs](http://docs.kitt.ai/snowboy/))
* zagum/SpeechRecognitionView ([docs](https://github.com/zagum/SpeechRecognitionView))

[2017-09-18 07:35] vaibhavsingh97 commented on #939
Can i work on this issue?

[2017-09-18 07:38] chiragw15 commented on #939
Sure. Go ahead. :+1:

[2017-09-18 07:42] chiragw15 commented on #936
Sure :+1:

[2017-09-18 07:49] Kartik2016 commented on #940
I would like to take up this issue. Please assign it to me.Thanks.

[2017-09-18 07:52] Kartik2016 commented on #937
Can i work on this ?

[2017-09-18 08:17] chiragw15 commented on #937
Sure. Go ahead :+1:

[2017-09-18 08:21] chiragw15 commented on #940
@Kartik2016 Please work on one beginner issue only. You are already working on #937 .These issue are just for understanding the work flow. Let someone else work on this. There are other open issues in the repo. Pick some other issue please.

[2017-09-18 08:23] Kartik2016 commented on #940
Yes sure. Thank you :-)

[2017-09-18 08:24] chiragw15 commented on #936
@vaibhavsingh97 Same goes for you https://github.com/fossasia/susi_android/issues/940#issuecomment-330155423

[2017-09-18 08:28] vaibhavsingh97 commented on #936
@chiragw15 Sure! I will work on another issue 😄

[2017-09-18 09:15] aayush4vedi commented on #940
Hi, I'd like to work on the issue if no one is doing so.

[2017-09-18 09:47] #936 closed

[2017-09-18 09:49] chiragw15 commented on #940
@aayush4vedi go ahead please.

[2017-09-18 11:43] yyxtreme commented on #938
Can I work on this one?

[2017-09-18 12:45] #939 closed

[2017-09-18 13:00] mariobehling opened #946 "Leak Activity leaked 15 KB"
![screenshot_2017-09-18-12-17-38](https://user-images.githubusercontent.com/1583873/30543069-feea9a42-9c81-11e7-9f8e-c805c16d9ccf.png)

[2017-09-18 21:16] atultherajput commented on #938
@chiragw15 I would love to work on this issue.

[2017-09-19 11:27] collinx commented on #925
@chiragw15 Working fine on emulator but still facing the issue on MI phones. Will continue to look for the reason causing it.

[2017-09-19 13:14] collinx opened #948 "Edit Layout of RSS item (Web Search)"
**Actual Behaviour**

Description Text about the web search is not properly shown.

**Expected Behaviour**

Description Text should be visible clearly.

**Steps to reproduce it**

Web Search for any word, say "computer"

**Screenshots of the issue**

![current](https://user-images.githubusercontent.com/13784830/30594049-45db799c-9d6a-11e7-8115-ed2acc053c0f.PNG)

**Would you like to work on the iss

[2017-09-19 17:58] collinx opened #950 "Better Handling of Back Button in SkillsActivity"
**Actual Behaviour**

On pressing back button on any fragment of SkillsActivity, ChatActivity is started and SkillsActivity is finished.

**Expected Behaviour**

On pressing back button on SkillDetailsFragment, SkillListingFragment should be visible.

**Steps to reproduce it**

Try pressing back button on any Fragment of SkillsActivity.

**Would you like to work on the issue?**

I would like to wo

[2017-09-20 07:20] hardik124 commented on #921
@mariobehling , I would like to work on this
Since i dont have that phone, could you provide stacktrace:?

[2017-09-20 07:21] hardik124 commented on #806
@chiragw15 , ffmpeg is failing. Is there any other way you know of to convert AMR to WAV.
Should I try building other ffmpeg from scratch (NDK )?

[2017-09-20 07:22] hardik124 commented on #946
@mariobehling  Can i  work on this issue?

[2017-09-21 07:18] iamareebjamal opened #952 "Add encrypted upload key and fastlane json to repo"
For automatic publishing, upload key with fastlane JSON is to be added to the repo. This will include decryption script and modification in apk update script.

To better organize things, all files should be kept in `exec` folder

[2017-09-21 08:39] #948 closed

[2017-09-21 15:55] #952 closed

[2017-09-21 18:13] akashagra commented on #946
@mariobehling Can i work on this issue?

[2017-09-21 20:22] chiragw15 commented on #946
Is this even an issue of the app? It is most probably a bug in leak canary as far as I think because there is no such activity as DisplayLeakActivity in SUSI Android App. @hardik124 @akashagra What do you guys think?

[2017-09-21 20:26] chiragw15 commented on #938
@yyxtreme @atultherajput guys, please pick some other issue. This is already fixed.

[2017-09-21 20:26] #938 closed

[2017-09-21 20:37] chiragw15 commented on #806
Exactly. I was facing the same issue. This is the reason I was not able to proceed further. Didn't find another way to do that. Don't build ffmpeg from scratch. @chashmeetsingh Can you help us here. How did you implement this in IOS?

[2017-09-21 21:46] #931 closed

[2017-09-21 21:47] #926 closed

[2017-09-21 21:50] chiragw15 commented on #935
@Anshpuri see if you still face this issue.

[2017-09-22 02:01] hardik124 commented on #946
Actually there was a leak on chatActivity.

On 22-Sep-2017 1:52 AM, "Chirag Wadhera" <notifications@github.com> wrote:

[2017-09-22 13:46] chashmeetsingh commented on #806
I am not sure how that's supposed to be done on android. For iOS, what I did was:
- Run the audio engine
- Save the audio buffer in a `.wav` file
- Converted that to base64 and used it in the API
@chiragw15 ^

[2017-09-22 13:50] hardik124 commented on #806
Did u not verify if the word is infact Susi?

On 22-Sep-2017 7:16 PM, "Chashmeet Singh" <notifications@github.com> wrote:

[2017-09-22 13:56] chashmeetsingh commented on #806
I did. That's done with the help of the audio recorder and the speech to text that runs alongside the audio engine. What happens is that the audio engine and speech to text that runs simultaneously, whenever SUSI is spoken, the STT stops and I use the buffer and convert it to base64.

[2017-09-22 14:46] yashLadha opened #956 "Unresolved Reference kotlinx and Updated Gradle"
**Actual Behaviour**

Android Studio shows unresolved reference for kotlinx.

**Expected Behaviour**

There should be no warning for kotlin support in android studio.

**Steps to reproduce it**

Build the cloned repo

**Would you like to work on the issue?**

Yes

[2017-09-22 15:05] #940 closed

[2017-09-22 15:07] #898 closed

[2017-09-22 16:28] mariobehling opened #958 "Use the standard text to speech engine and settings of Android phone"
Currently text to speech on the phone uses a default engine instead of the "default of the actual phone". Furthermore the language choice does not seem to have any effect anyways.

Expected:
1. Use the phone text to speech engine.
2. Changing the text to speech language in the settings should direct to the text to speech settings of the phone. Don't use a different configuration of SUSI.AI and the

[2017-09-22 17:18] akashagra commented on #958
I would like to work on it

[2017-09-22 18:16] iamareebjamal opened #959 "Add fastlane integration"
Add fastlane integration to push app to alpha track on Play Store after each push to master branch

[2017-09-23 09:42] DipanshKhandelwal opened #961 "App crashes on searching any website. example: hello.com"
**Actual Behaviour**

App crashes and doesn't start again when any website name is searched. Example hello.com

**Expected Behaviour**

Gives any information about the website or link to the website.

**Steps to reproduce it**

Just type any website.

**LogCat for the issue**

09-23 15:06:21.681 20093-20093/org.fossasia.susi.ai I/cr_BrowserStartup: Initializing chromium process, singleProcess=true

[2017-09-23 13:58] #959 closed

[2017-09-23 19:08] Muks14x opened #962 "Susi keeps talking after pressing the mic icon"
**Actual Behaviour**

In the chat activity, when the mic icon is pressed, Susi doesn't stop speaking. Whatever Susi is saying gets read by the microphone again, not allowing us to talk.

**Expected Behaviour**

Susi should stop speaking when the microphone is pressed.

**Steps to reproduce it**

Ask Susi anything (such that the answer is long enough), and press the mic icon. Susi continues speakin

[2017-09-24 10:28] #937 closed

[2017-09-24 10:31] #950 closed

[2017-09-24 10:37] chiragw15 commented on #958
@mariobehling The language selected from the language setting in the settings is passed as a parameter in the api call. eg. https://api.susi.ai/susi/chat.json?timezoneOffset=-330&longitude=84.85147599&latitude=25.54135048&geosource=gps&language=en&q=hi . In this language is set as `"en"` . Now, in the json response there is an attribute of language
[code]
The language provided from this is then us

[2017-09-24 10:39] chiragw15 commented on #961
@DipanshKhandelwal please proceed and try to fix it as soon as possible.

[2017-09-24 10:42] chiragw15 commented on #956
@yashLadha Are you still facing this issue? Because I am not getting any warnings as such. Do check again.

[2017-09-24 10:49] chiragw15 opened #964 "Crash on hotword detection in Xiomi Redmi phones"
This is report from Google play console. Xiomi Redmi phones are facing crash when running hotword detection.

[code]

[code]

[2017-09-24 11:10] DipanshKhandelwal commented on #961
Yes, ill try to fix it asap.

[2017-09-24 11:55] yashLadha opened #966 "Implement Ripple effect in About Fragment"
Currently on clicking the cards in about page there is no ripple animation present there.

**Would you like to work on the issue?**

Yes

[2017-09-24 13:14] Muks14x opened #968 "Susi skill groups with no skills have no message"
**Actual Behaviour**

The skill listing page displays skill groups that are empty, with no message.

**Expected Behaviour**

It should either not list the skill group or display that there are no skills found, like the [skills.susi.ai](https://skills.susi.ai) website does.

**Steps to reproduce it**

Open the SUSI.AI Skills page

**Screenshots of the issue**

<img src="https://user-images.githubus

[2017-09-24 16:33] Muks14x commented on #968
Is there a better way to do this, or should I go ahead and send in a pull request?

[2017-09-24 16:48] chiragw15 commented on #968
@Muks14x Hide the groups with no skills

[2017-09-24 18:01] Arshilgenius opened #970 "Adding SVG Images in Email Password and other Edittext Fields."
**Actual Behaviour**

Currently the UI of SUSI does not look that much interactive.

**Expected Behaviour**

I want to add some svg images like on the left of email and password and some other fields so that it looks good to the user.

**Screenshots of the issue**

<img src=https://user-images.githubusercontent.com/21264401/30785149-a0b43084-a17f-11e7-8ff9-bb8e2bbfd884.jpeg width="300" height="500

[2017-09-24 19:37] Arshilgenius opened #971 "Wrong link in About Us Page"
**Actual Behaviour**

The Link opens the stackOverflow website.

**Expected Behaviour**

The link should open SUSI.AI

**Steps to reproduce it**

Open the About Us Page and click on SUSI AI

**Screenshots of the issue**

<img src=https://user-images.githubusercontent.com/21264401/30786064-b6bfddd4-a18d-11e7-9f36-a8a4f86d7984.jpeg width="300" height="500">

<img src=https://user-images.githubuserco

[2017-09-24 19:47] collinx commented on #971
@Arshilgenius go ahead and change the link.

[2017-09-24 20:02] Arshilgenius opened #972 "App crashing after login"
**Actual Behaviour**

The app crashes as soon as i login.

**Expected Behaviour**

The App should not crash

**Steps to reproduce it**

Login with email and password

**LogCat for the issue**

![screen shot 2017-09-25 at 1 28 50 am](https://user-images.githubusercontent.com/21264401/30786275-eeea0920-a190-11e7-996d-b7a1f7de8c27.png)

**Would you like to work on the issue?**

Yes

[2017-09-24 20:10] chiragw15 commented on #972
Same as #961

[2017-09-24 20:10] #972 closed

[2017-09-24 20:43] #962 closed

[2017-09-25 04:31] mariobehling opened #978 "Add badge for status of Master branch deployment to Readme.md"
Here is the badge code:

`[![CircleCI](https://circleci.com/gh/fossasia/susi_android/tree/master.svg?style=svg)](https://circleci.com/gh/fossasia/susi_android/tree/master)`

[2017-09-25 06:40] yashLadha commented on #978
I would like to do this. Shall I proceed with the PR?

[2017-09-25 15:10] iamareebjamal opened #980 "Add information about versionCode update before merge in ReadMe"
Update ReadMe for future devs notifying on changing the versionCode before merging development branch into master

Excerpt from https://github.com/fossasia/open-event-orga-app

## Publishing

Each push to master branch automatically publishes the application to Play Store as an Alpha Release. Thus, on each merge into master, the `versionCode` and `versionName` **MUST** be changed accordingly in `a

[2017-09-25 15:20] Muks14x opened #981 "Some skills have broken image links"
**Actual Behaviour**

Some images for susi skills have broken links.
For example, [this](https://raw.githubusercontent.com/fossasia/susi_skill_data/master/models/general/Business%20and%20Finance/en/images/currency_exchange.png) link is being fetched, but it has moved [here](https://raw.githubusercontent.com/fossasia/susi_skill_data/master/models/general/Business%20and%20Finance/en/images/currency_

[2017-09-25 15:41] Muks14x commented on #981
Currently, all this does is display the placeholder image in case of broken links. How should the actual links be fixed - is it a problem with the Api?

[2017-09-25 16:00] chiragw15 commented on #961
@DipanshKhandelwal did you find the reason yet?

[2017-09-25 16:04] iamareebjamal opened #982 "Fix upload apk name in apk-gen.sh"
The upload apk file name for fastlane publishing is wrong and needs to be changed

[2017-09-25 16:06] DipanshKhandelwal commented on #961
@chiragw no not yet, but give me one more day for this please.

[2017-09-25 16:34] #982 closed

[2017-09-25 16:58] sachincool commented on #980
i would like to work on this issue  as my first Contribution to this organization.

[2017-09-25 17:10] iamareebjamal commented on #980
Please go ahead

[2017-09-25 17:40] chiragw15 commented on #961
@DipanshKhandelwal Sure. No Problem.

[2017-09-25 17:48] sachincool commented on #980
should i make the PR into master or development ?

[2017-09-25 17:54] chiragw15 commented on #981
@Muks14x Here https://github.com/fossasia/susi_skill_data/tree/master/models/general/Business%20and%20Finance/en/images the image currency_exchange.png is in another folder which is incorrect. All the images should be in a images folder like every other groups. Please open an issue in Skill_data repo and fix this. Also for group Utilities, no images are present. Would be nice if you could add them

[2017-09-25 17:57] chiragw15 commented on #981
Also, do one thing more, add a place holder image in case image is not rendered. Just add name of the skill. See how it is done on skill.susi.ai

[2017-09-25 18:00] #968 closed

[2017-09-25 18:02] #971 closed

[2017-09-25 18:02] #978 closed

[2017-09-25 18:04] chiragw15 commented on #980
@sachincool development

[2017-09-25 19:54] Muks14x commented on #981
Sent a pull request in susi_skill_data, with the appropriate changes [here](https://github.com/fossasia/susi_skill_data/pull/303). Also, the commit made earlier(above) should display the placeholder image in case there is an error in loading/rendering the image, which it does now.

<img src="https://user-images.githubusercontent.com/11333048/30827682-962ce46a-a258-11e7-8df8-4907bba3801e.png" width

[2017-09-25 21:55] #966 closed

[2017-09-26 01:57] yashLadha opened #986 "SUSI_Skills activity looks cluttered on emulator"
**Actual Behaviour**

Some cards hide in the layout.

**Expected Behaviour**

Each card should cover the space and does not hide in the layout.

**Steps to reproduce it**

Go to susi skills activity in nexus 5 emulator

**Screenshots of the issue**

![screenshot_1506390662](https://user-images.githubusercontent.com/18033231/30838919-14680b24-a28c-11e7-9dfd-4b38ea5765f9.png)

**Would you like to wo

[2017-09-26 02:38] chiragw15 commented on #986
Where? If you are talking about the cards on the right in above image which are not completely visible, they are fine. That's a horizontal recycler view. Scroll horizontally and you will see complete list.

[2017-09-26 04:01] yashLadha commented on #986
But it will look more meaningful if we stretch te card according to the screen sizes

[2017-09-26 07:04] chiragw15 commented on #986
Generally it is advised to indicate content overflow by cutting off grid tiles according to material design guidelines. If you align and stretch the tile to fit screen. It will not clearly indicate that there are more tiles on scrolling. Ref https://material.io/guidelines/components/grid-lists.html#grid-lists-behavior

[2017-09-26 07:37] yashLadha commented on #986
Sure, Thanks for this :+1:

[2017-09-26 07:37] #986 closed

[2017-09-26 07:39] yashLadha opened #987 "Enhanced Susi Skills Activity"
Enhancing the frontend fo susi skills activity by using ripple effect and material fonts as described in material guidelines https://material.io/guidelines/style/typography.html

[2017-09-26 08:30] yashLadha commented on #956
Nopes. Closing this issue

[2017-09-26 08:30] #956 closed

[2017-09-26 12:18] pcforgeek opened #989 "TextToSpeech not stopping when app goes to background"
**Actual Behaviour**

Text To Speech not stopping when the app goes into background.

**Expected Behaviour**

Text To Speech should stop when the app goes into background

**Steps to reproduce it**

When the  app is replying to a command press Home button.

**Would you like to work on the issue?**

Yes

[2017-09-26 13:11] yashLadha opened #990 "HotWord Detection Service in Susi"
This issue is for the implementation of hotword detection in susi using AlwaysOnHotwordDetector in android.

**Would you like to work on the issue?**
Yes I am working on this

[2017-09-26 17:24] Arshilgenius opened #992 "making button corners rounded and adding thumbs up/down image in susi skills activity"
**Actual Behaviour**

The button try it has rectangular edges which is not recommended for a good ui, also there is no image for rating positive and negative.

**Expected Behaviour**

The buttons should be rounded and there should be an image on the left of positive and negative rating

**Screenshots of the issue**

<img src=https://user-images.githubusercontent.com/21264401/30874337-9efaa4aa-a30d

[2017-09-27 17:51] #980 closed

[2017-09-27 18:15] akashagra opened #994 "Date would look good in dd-mm-yyyy format"
![6aa4609a-da17-4c20-b5c8-9fd13c1eb936](https://user-images.githubusercontent.com/25381904/30929991-e3209920-a3dd-11e7-81cd-1fa8c12ed4bf.jpg)

I would like to work on this issue

[2017-09-27 18:24] Muks14x opened #995 "Bug in handling back button press from About and Settings fragments"
**Actual Behaviour**

When the back button is pressed from the About and Settings fragment **after being launched from SkillDetails fragment**, causes the title to change to "SUSI.AI Skills", with the same fragment being displayed.

**Expected Behaviour**

The back button should close the current fragment and show the previous fragment on the stack.

**Steps to reproduce it**

Open the skill detai

[2017-09-27 18:37] akashagra opened #996 "Chat Activity Leaked 5.7 KB"
![whatsapp image 2017-09-27 at 11 56 58 pm 1](https://user-images.githubusercontent.com/25381904/30930968-f343b88e-a3e0-11e7-97b2-ea2e142ced8c.jpeg)

[2017-09-27 18:38] chiragw15 commented on #994
change it here https://skills.susi.ai/Productivity/calendar/edit/en

[2017-09-27 18:40] #989 closed

[2017-09-27 18:52] akashagra commented on #994
Done

[2017-09-27 18:56] akashagra commented on #994
Do i also need a pull request for the same?
@chiragw15

[2017-09-27 21:24] collinx commented on #995
@Muks14x yup, this bug is there in the code. Go ahead and work on it. 😄

[2017-09-28 12:30] #981 closed

[2017-09-28 21:20] sachincool commented on #996
I think @chiragw15 would be the best to answer this . his blog on [Leak canary](https://blog.fossasia.org/detecting-and-fixing-memory-leaks-in-susi-android-app/) was awsome :smiley:

[2017-09-28 21:53] chiragw15 opened #999 "Bug while apk signing"
While signing the app in the apk-gen.sh script, it gives error `Output file 'susi-release-signed.apk' exists` i.e the app is signed successfully but the generated apk already exists. To fix this, we can delete the earlier existing apk and then sign the new apk. ref https://circleci.com/gh/fossasia/susi_android/2095

@iamareebjamal @mariobehling The app is signing successfully now. We just need to

[2017-09-28 21:54] chiragw15 commented on #996
@akashagra can you please give steps to reproduce this?

[2017-09-28 22:04] chiragw15 commented on #994
@akashagra Changing there should fix this but I don't think you changed there. You just changed the expected result which is just an example indication user will get result something like this. You need to change the actual result which comes from
[code]

[2017-09-28 22:06] chiragw15 commented on #961
@DipanshKhandelwal updates?

[2017-09-28 22:43] mariobehling commented on #999
Ok, please go ahead.

[2017-09-29 07:19] akashagra commented on #996
@chiragw15
Did some tasks related to skills ? Then i closed the app
In the notification drawer got a notification that chat activity leaked 5.7 kb which kept on increasing

[2017-09-29 07:25] akashagra commented on #994
@chiragw15  I am sorry but i dont know how to change this .Please either guide me or ask someone else to do this

[2017-09-29 07:44] mariobehling opened #1000 "Implement Android naming convention ai.susi"
The Android app of SUSI was not published publicly on the app store yet. Originally we did not have an .ai domain for the app. Before we make the app widely available we should ensure we have a more suitable package name. Please change the package name and release it as a new app with `ai.susi`.

[2017-09-30 04:01] DipanshKhandelwal commented on #961
No, I couldn't find any solution for this till now.

[2017-09-30 23:08] Muks14x opened #1003 "App crashes if all App permissions are disabled, or in a fresh install, in ChatActivity"
**Actual Behaviour**

App crashes on ChatActivity if all permissions are disabled from inside onPause(). It looks like its due to textToSpeech being uninitialized during the start of the app, at this point.
Using a Moto G4 Plus, with Android 7.0

**Expected Behaviour**

The app shouldn't crash.

**Steps to reproduce it**

Disable all permissions separately (Android 6.0 and up) through Settings, an

[2017-10-01 09:24] pcforgeek commented on #1003
@Muks14x Yes, this issue is present. Tested on my Lenovo K6 Power.

[2017-10-01 15:58] aditya98ak opened #1005 "Hotword detection toast keeps on popping up more than once"
**Actual Behaviour**

In my device(emulator), hotword detection toast is coming, each time when redirecting to the ChatActivity, though user is running the app.

**Expected Behaviour**

Toast should only come once, only when the user open-up the app

**Steps to reproduce it**

In an emulator device, run the app, redirect to any other activity, and when you come back to ChatActivity, toast will be

[2017-10-02 13:09] iamareebjamal opened #1006 "Change app name to 'SUSI AI'"
App name has to be changed manually when uploading app to Play Store. This breaks automatic publishing workflow

Change `Susi` to `SUSI AI` in `strings.xml`

[2017-10-02 13:10] #999 closed

[2017-10-02 19:30] mariobehling opened #1008 "Skills info and examples are not loading"
Clicking on the sample skills button shows that skills are no longer loading.

![screenshot_2017-10-02-21-15-58](https://user-images.githubusercontent.com/1583873/31095419-123d8aea-a7b9-11e7-8c31-89a38e7795a1.png)

[2017-10-03 01:24] yashLadha commented on #1005
Are you using an emulator or a device. Check the microphone settings for the app. @aditya98ak

[2017-10-03 01:25] yashLadha commented on #1005
Oh sorry my bad..In emulator microphone is not detected automatically. It is not using your laptop microphone. So you have to alter settings of emulator to use a microphone or use a virtual microphone.

[2017-10-03 01:28] yashLadha opened #1009 "Showing Colour of ratings based on their value"
Currently the rating is just shown as simple text, it would be more attractive if it shown on a card or a coloured text box and the colour depends on the value of rating.

**Would you like to work on the issue?**

Yes. @chiragw15 views??

[2017-10-03 01:29] yashLadha commented on #1009
@mariobehling can you add label of hacktoberfest??? :sweat_smile:

[2017-10-03 01:43] aditya98ak commented on #1005
@yashLadha But don't you think it is a valid issue, though it is not using microphone but toast message should not be shown so many times? What do you say? or should I close this issue?

[2017-10-03 01:53] yashLadha commented on #1005
See it is because whenever activity comes it calls on create method and in that there is a function call `initializeMethod` which takes places and produces the toast icon. Instead of every time producing the toast we can generate it once but due to some error the microphone is disconnected for some time and them get connected so the user should also get notified about it too. We can take this disc

[2017-10-03 07:13] RaiVaibhav commented on #1008
@mariobehling its works fine when i opened in my phone
![screenshot_2017-10-03-12-10-43-137_org fossasia susi ai](https://user-images.githubusercontent.com/22278438/31113761-51263110-a838-11e7-8933-5a72e1884406.png)

[2017-10-03 13:54] aditya98ak commented on #1005
@yashLadha Yes, sure :+1:

[2017-10-03 14:07] #1006 closed

[2017-10-03 14:14] iamareebjamal opened #1011 "Release v6 : Increment versionCode and versionName"
Increment versionCode and versionName for v6 release

[2017-10-03 14:17] iamareebjamal opened #1013 "Release v6 : Merge dev into master"
Merge dev to master for release v6

[2017-10-03 14:38] iamareebjamal opened #1015 "Fix flaky UI tests"
[code]

There are flaky UI tests in the app, either these should be fixed or removed (replaced by RoboElectric unit tests) since they fail the build on occasional basis making it hard to validate the status of repository

[2017-10-03 14:56] #1011 closed

[2017-10-03 18:23] iamareebjamal commented on #1013
Fixed by #1014

[2017-10-03 18:23] #1013 closed

[2017-10-03 18:47] #987 closed

[2017-10-03 19:00] chiragw15 commented on #1009
@yashLadha please go ahead and do add a screenshot for reviewing

[2017-10-03 19:05] chiragw15 commented on #1005
We could show two different toasts, one can be displayed if hotword detection is not supported by phone, other can be if some error occurred during hotword detection like microphone disconnected or something like that. What say @yashLadha @aditya98ak ?

[2017-10-03 19:06] chiragw15 commented on #1008
Works for me too. Can be due to internet connection issue.

[2017-10-03 19:40] chiragw15 commented on #996
@akashagra I am not sure but I think this leak is due to link preview library we are using. This issue was there in previous version of library, don't know if it still exists in new version.

[2017-10-03 19:47] chiragw15 commented on #994
@akashagra The response of query comes from the api mentioned here `"url":"http://calapi.inadiutorium.cz/api/v0/en/calendars/default/$1$",` . You will be needing to read documentation of that API to change date format.

[2017-10-03 19:48] chiragw15 commented on #992
@Arshilgenius status?

[2017-10-03 19:50] Arshilgenius commented on #992
@chiragw15  almost done.

[2017-10-03 19:54] chiragw15 commented on #946
Actual issue #996 This is issue with leak canary. Closing.

[2017-10-03 19:54] #946 closed

[2017-10-03 19:55] chiragw15 commented on #935
Fixed in #926 . Not facing this issue. @Anshpuri Reopen if you still face this issue.

[2017-10-03 19:55] #935 closed

[2017-10-03 19:56] chiragw15 commented on #925
@collinx did you find the reason?

[2017-10-03 19:59] chiragw15 commented on #809
Was fixed in #875 as far as i remember.

[2017-10-03 19:59] #809 closed

[2017-10-03 20:01] chiragw15 commented on #778
Not implemented on server. Reopen when implemented on server.

[2017-10-03 20:01] #778 closed

[2017-10-03 21:21] aditya98ak commented on #1005
I agree with you @chiragw15 and also a toast if microphone gets connected again, as @yashLadha said.

[2017-10-04 01:57] collinx commented on #925
@chiragw15 working for me now. Checked on 3 mi phones. It wasn't working earlier but after an update for miui , it started working fine.

[2017-10-04 01:57] #925 closed

[2017-10-04 08:29] yashLadha commented on #1009
Sure :+1:

[2017-10-04 08:30] yashLadha commented on #1005
Yes, it would be great @chiragw15

[2017-10-04 18:00] hardik124 commented on #806
@chiragw15  @chashmeetsingh, I was able to convert using FFmpeg , turns out, there were problems without Uri itself. Conversion takes a lot of time,  I think we should make a job scheduler for that and show a progress notification.
I am attaching the wav files converted using ffmpeg
[recordings.zip](https://github.com/fossasia/susi_android/files/1356874/recordings.zip)

[2017-10-06 09:25] anandwana001 commented on #980
I had found some typo in README.md and would like to fix them as my first contribution to fossasia.
fix: Typo in README.md #1017
@chiragw15 Could you help me in this contribution

[2017-10-06 09:38] anandwana001 commented on #1009
@yashLadha Nice idea, could we take 5-stars rating system or else showing red color as a positive rating in your screenshot is not a good option so we can interchange red and blue color.
![extreme](https://user-images.githubusercontent.com/25057618/31272183-b19df8ae-aaa7-11e7-81be-8c4691174539.png)

[2017-10-08 12:42] aditya98ak commented on #1005
Toast for hotword detection like microphone disconnected is ok, but for showing toast I am stuck
Acc to me we can do two things here.
1. Show a toast("Hotword detection is not supported") only for once per lifetime, till the data is not cleared.
2. For this point please have a look at this link.
https://stackoverflow.com/questions/7360846/how-can-i-execute-something-just-once-per-application-start

[2017-10-08 13:39] collinx commented on #1005
@aditya98ak We are already using shared preferences, so it would be great if you implement using that to trigger first-time toast. 😄

[2017-10-08 13:49] collinx commented on #964
@chiragw15 Xiaomi phones are not facing this error now. I have tested on Redmi Note 3 and Redmi 4. Can you confirm??

[2017-10-08 14:50] aditya98ak commented on #1005
@collinx I was just confirming, Okay then, sending the PR soon :smile:

[2017-10-08 17:44] collinx commented on #1015
@iamareebjamal I tested the app, all the UI tests are working fine. No such error is popping up. Could you give more details about the error??

[2017-10-08 18:35] iamareebjamal commented on #1015
@collinx Please check circle CI logs

[2017-10-09 13:15] anandwana001 opened #1022 "Welcome description overlapping on screen less than 5""
**Actual Behaviour / Screenshots**
![screenshot_2017-10-09-16-13-08](https://user-images.githubusercontent.com/25057618/31337307-57e2aeea-ad18-11e7-9e73-c6a093509a4d.png)

**Currently happening**
Less than 5" Screen, Welcome screen description text overlapping TabLayout

**Expected Behaviour / Screenshots**
![screenshot_2017-10-09-18-39-07](https://user-images.githubusercontent.com/25057618/313396

[2017-10-09 13:18] Arshilgenius commented on #1022
@anandwana001   actually it look's better below the screen, can you try something which will make the description not overlap the screen?

[2017-10-09 13:23] anandwana001 commented on #1022
@Arshilgenius ok, let's have some more comments if anyone can suggest on the basis of UI/UX or we can alter the textSize or layout for screens less than 5"!!

[2017-10-09 13:38] Arshilgenius commented on #1022
@anandwana001  yeah sure.

[2017-10-09 14:49] anandwana001 commented on #1022
@chiragw15 could you give some helpful comments!!

[2017-10-09 15:54] chiragw15 commented on #1022
@anandwana001 keep the the description below the mobile image only and bottom align it. Change the mobile image size according to the screen size.

[2017-10-09 15:55] #995 closed

[2017-10-09 15:57] #1003 closed

[2017-10-09 16:36] anandwana001 commented on #1022
@chiragw15 @Arshilgenius Ok, now it's look good on small screen,
@chiragw15 can I make PR now for this?
![screenshot_2017-10-09-22-03-57](https://user-images.githubusercontent.com/25057618/31348623-e24b887a-ad3d-11e7-88a0-933ee5a0a30b.png)
![screenshot_2017-10-09-22-03-52](https://user-images.githubusercontent.com/25057618/31348624-e296d79e-ad3d-11e7-8a69-d355f2ad912f.png)

[2017-10-09 16:57] chiragw15 commented on #1022
@anandwana001 yes sure.

[2017-10-09 17:04] #1005 closed

[2017-10-09 17:58] #961 closed

[2017-10-10 02:06] anandwana001 commented on #1022
@chiragw15 If you could please review the PR #1023  !!

[2017-10-10 03:35] anandwana001 opened #1024 "susi message layout not similar to user message layout"
#**Actual Behaviour / Screenshot**
![screenshot_2017-10-10-08-38-18](https://user-images.githubusercontent.com/25057618/31368114-4b4632ca-ad99-11e7-912c-e23e3263df74.png)

**Expected Behaviour / Screenshot**
![screenshot_2017-10-10-09-20-10](https://user-images.githubusercontent.com/25057618/31368582-483e13f6-ad9c-11e7-969c-e474d56b6ec8.png)

Timestamp of susi message is below the text and timesta

[2017-10-10 04:24] collinx commented on #1024
@anandwana001 Go ahead, work on it. 😄

[2017-10-11 06:41] collinx commented on #1015
@iamareebjamal I looked into the CI logs and UI test needs to be fixed. I would like to work on it.

[2017-10-11 17:44] iamareebjamal commented on #1015
Sure please go ahead @collinx

[2017-10-12 20:07] #1024 closed

[2017-10-13 09:09] Muks14x opened #1028 "Add feature to share a skill"
**Actual Behaviour**

There is no way to share a skill.

**Expected Behaviour**

There could be a share button, that shares a link to the skill as listed in [https://skills.susi.ai](https://skills.susi.ai). Later on, we could also use an intent filter to open up such a link using the app.

**Screenshots of the issue**

<img width="300" src="https://user-images.githubusercontent.com/11333048/315384

[2017-10-16 19:09] Muks14x commented on #1028
Is this even a valid feature request? I'd like some feedback on this, if possible.

[2017-10-17 07:13] #1028 closed

[2017-10-20 05:19] sridharjajoo commented on #994
@chiragw15 I would like to take up this issue. Could you guide me a little as I am quite new to this project?

[2017-10-21 13:47] rishz opened #1032 "Compiling all gradle fields' values in a single gradle file"
**Actual Behaviour**

The code readability and code quality of the dependency fields in build gradle is not present.

**Expected Behaviour**

The build gradle should maintain the code readability and code quality. The constant fields should be present in another gradle file.

**Would you like to work on the issue?**

Yes.

[2017-10-24 02:40] hardik124 commented on #806
@chiragw15 I tweaked ffmpeg to convert files in correct format. However, On making a request on API I am getting a 502 error. Can you look into it?

[2017-10-24 07:23] #655 closed

[2017-10-24 07:34] #1015 closed

[2017-10-24 13:21] akashagra opened #1035 "A searchview in susi.ai skills"
**Actual Behaviour**

Now,the skills are displayed in a list and one cant do live search on them

**Expected Behavior
It would be great if a live search option is added, so that one can search the skills

**Would you like to work on the issue?**
Yes,I would like to work on it

[2017-10-24 13:48] akashagra commented on #1035
What say @chiragw15 ?

[2017-10-25 04:05] akashagra opened #1037 "Helping the first time contributors with a ContributionHelp file"
The first time contributors faces problems in contributing ,that is creating issues and sending pull requests. A  file ContributionHelp on creating issues and sending pull requests would help them a lot.

[2017-10-25 04:21] akashagra opened #1038 "Adding description of ContributionHelp to readme to guide users"
*

[2017-10-25 06:46] akashagra opened #1042 "Add @string resource for enter url in activity_forgot_password and in many other places as well"
Currently hardcoded string is present and it would be better if @string resource is added.
I would like to work on the issue

[2017-10-25 06:53] collinx commented on #1042
@akashagra Go ahead. 👍  Also, add the translational strings for each string you add for forgot password activity.

[2017-10-25 07:58] akashagra commented on #1042
@collinx Ya i have done for all strings in the entire project.
Actually i had earlier made a pull request regarding some different issue and now commited the changes regarding to strings ,so that pull request shows two commits. Can you please help what can be done?

[2017-10-25 08:03] collinx commented on #1042
@akashagra Actually, you have been doing work and committing changes from the development branch, hence, each time you push commits, they are getting pushed to the same PR. Try to make a new branch for individual issues.

[2017-10-25 08:16] akashagra commented on #1042
So it would work this time or do i need to close this one and then create two seperate pull requests for two different commits ?
@collinx

[2017-10-25 09:25] collinx commented on #1042
@akashagra creating different PR for the two different issues would be fine. 😄

[2017-10-25 09:29] akashagra commented on #1042
Done @collinx
Thanks

[2017-10-25 14:47] #1022 closed

[2017-10-26 08:39] akashagra opened #1045 "Add alignmentparentend to support right to left layouts"
Its always a good practice to use alignparentend to support right to left layouts as well. As it is applicable for api over 17 only,we cant remove alignparent right but add alignparentend  as well so that right to left layouts are also supported.

Yes i would like to work on the issue

[2017-10-26 16:38] chiragw15 commented on #1035
Yes, we can add it. No harm in adding a searchview. @akashagra Please proceed.

[2017-10-26 20:19] akashagra commented on #1035
@chiragw15  i need a suggestion ,i am thinking of creatinga different recycler adapter as a results of the searchview. Like when the user searches then grouping would be not there ,so should i do it or do something else

[2017-10-31 17:36] hardik124 opened #1049 "App closes while asking for permission"
**Actual Behaviour**

App closes while asking for permission

**Expected Behaviour**
App should pause while user grants permission
**Steps to reproduce it**
Disable permission and open app.

**LogCat for the issue**

N/A

**Screenshots of the issue**

Where-ever possible add a screenshot of the issue.

**Would you like to work on the issue?**
Yes
Let us know if this issue should be assigned to you

[2017-11-01 13:00] ma5terdrag0n commented on #964
When I tried to run the app on redmi note 4, it got crashed with the errors in the following link:
https://drive.google.com/file/d/0B7SgWV1RuSGsUkxJa0xxYkJmWVk/view?usp=drivesdk

[2017-11-02 02:18] yashLadha opened #1051 "Implement chat bubble when app goes in background."
When the app goes in background. chat bubble like facebook messenger pop's up.

**Would you like to work on the issue?**

Yes i am working on this.

[2017-11-02 06:45] SaiViswanthSwarna commented on #1051
You won't get any messages from AI when you are out of app. And If user is out of app that means he is no longer interested in the apps reply. So implementing bubble is much less of use and more of inconvenient.

[2017-11-02 06:48] yashLadha commented on #1051
May be we can use it as a service to get answers for queries. User might
not have to open app for this.

On 2 Nov 2017 12:15 pm, "SaiViswanthSwarna" <notifications@github.com>
wrote:

[2017-11-02 06:50] yashLadha commented on #1051
App may also goes in background and them this bubble will popup.

On 2 Nov 2017 12:18 pm, "Yash Ladha" <201551061@iiitvadodara.ac.in> wrote:

[2017-11-02 16:42] SaiViswanthSwarna commented on #1051
Of course but there won't be any use or advantage in implementing bubble over notification since you  will get messages from only AI and only when you want answers for your queries.
Anyway all the best if you still want to do it

[2017-11-02 19:44] yashLadha commented on #1051
@SaiViswanthSwarna it won't be of immense if you see how it make easy for the user to get results for their queries in a very easy way. Anyways thanks for your suggestion

[2017-11-04 05:19] hardik124 commented on #1051
@SaiViswanthSwarna  It could be like a floating widget, on clicking which we can open the input layout for user to query. And get response

[2017-11-13 06:53] #992 closed

[2017-11-13 06:53] #970 closed

[2017-11-14 16:40] codedsun commented on #671
@chiragw15  can I work on this issue?

[2017-11-16 22:22] jay006 commented on #994
@sridharjajoo  Is the date issue is solved?

[2017-11-17 08:37] #1045 closed

[2017-11-22 00:34] zwliew opened #1052 "Gradle dependencies and SDK targets should be updated"
**Actual Behaviour**

The current SDK targets (API <27) and gradle dependencies (various libraries) are pretty outdated.

**Expected Behaviour**

The SDK targets and build tools should be updated to API 27. The gradle dependencies should also be updated to newer, or the latest versions.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should

[2017-11-22 05:42] Nirvan101 opened #1054 "Displaying the email of the logged-in user"
The email of the logged-in user should be displayed in Settings. Currently, the identity of the user is not  displayed anywhere after login.

**Would you like to work on the issue?**
Yes

[2017-11-25 21:21] codedsun opened #1056 "Login Issue"
**Actual Behaviour**

On login it throws error of unknown host when the internet is not connected

**Expected Behaviour**

It should throws some toast msg and request the user to turn on the internet.

**Steps to reproduce it**
 Try to login without internet

**LogCat for the issue**

11-26 02:49:51.410 29192-30198/ai.susi D/OkHttp: <-- HTTP FAILED: java.net.UnknownHostException: Unable to resolve

[2017-11-28 10:08] DipanshKhandelwal opened #1057 "Change downvote color to red (#d1462f)"
**Actual Behaviour**

Shows blue color in thumbs up and down both.

**Expected Behaviour**

![screenshot_2017-11-28-15-29-48-717_ai susi](https://user-images.githubusercontent.com/24923974/33313680-61fa8686-d451-11e7-85bf-707d663e8985.png)

**Steps to reproduce it**

Click on thumbs down in current app to see blue color.

**Would you like to work on the issue?**

Yes

[2017-11-28 13:49] DipanshKhandelwal opened #1059 "Typo in README.md"
**Actual Behaviour**

File name is written as AndroidFest.xml

**Expected Behaviour**

File name should be AndroidManifest.xml

**Screenshots of the issue**

![screenshot-2017-11-28 fossasia susi_android](https://user-images.githubusercontent.com/24923974/33322946-f4cf4888-d470-11e7-9722-94f20733b90a.png)

**Would you like to work on the issue?**

yes

[2017-11-30 11:28] Ananthusubramanian commented on #1056
Will this solve this error, i have created a pull request too.

I changed the messages in LoginPresenter.kt file
[code]

[2017-12-01 22:01] #1059 closed

[2017-12-02 18:03] namanbakhru opened #1063 "Reporting time"
**Actual Behaviour**

The app when asked for time reports me in CET time zone, when it clearly recognises my location.

**Expected Behaviour**

Should report time in native (Indian Time Zone in my case).

**Steps to reproduce it**

Just ask time from different locations.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/18362779/33518319-eec8db8e-d7b8-11e7-907b-09e5

[2017-12-03 05:26] abishekvashok commented on #1063
@namanbakhru this should go with the server's response, I guess

[2017-12-03 07:35] DipanshKhandelwal opened #1064 "Add Hindi localization in the app"
**Actual Behaviour**

No hindi localization.
Contain just Brazilian localization.

**Expected Behaviour**

Have Hindi localization too.

**Would you like to work on the issue?**

yes

[2017-12-05 14:40] #1052 closed

[2017-12-09 16:10] aniketsingh03 opened #1066 "Typo in README.md"
**Actual Behaviour**

The text presently is "symantic versioning"

**Expected Behaviour**

The actual text should be "semantic versioning"

**Screenshots of the issue**

![screenshot from 2017-12-09 21-36-42](https://user-images.githubusercontent.com/22763626/33797184-916b3aec-dd29-11e7-9b7d-4185f1cea96d.png)

**Would you like to work on the issue?**

Yes

[2017-12-10 13:11] aniketsingh03 commented on #1066
Fixed in #1067

[2017-12-11 04:37] #1066 closed

[2017-12-11 04:52] chiragw15 opened #1068 "Change ContributionHelp file in docs to ContributionHelp.md"
1. Change ContributionHelp file in docs to ContributionHelp.md

2. Add following in main readme file
[code]

[2017-12-11 04:59] chiragw15 commented on #1063
@namanbakhru The app only displays the response that it gets from the server. The app sends the location of user to the server as an API parameter. Please use that to create a skill to get the time based on user's location.

[2017-12-11 05:03] chiragw15 commented on #1051
@SaiViswanthSwarna @yashLadha Its a good idea. You can make a chat bubble to make it easier for user to interact with susi. When user clicks on chat bubble, we may show an interface like messenger to send a query and an area to display the result.

[2017-12-11 05:04] #1038 closed

[2017-12-11 05:05] #1042 closed

[2017-12-11 05:09] vchrombie commented on #1068
Hello,
I am new to Open Source and I am interested to work on this project.
Can I take this issue and work on it?

[2017-12-11 05:09] chiragw15 commented on #1035
@akashagra Display the results group wise only. For example, suppose I searched for skills starting with c, display the skills starting with c in first group in horizontal list, then display the skills starting with c in second group in horizontal list and so on.

[2017-12-11 05:10] chiragw15 commented on #1068
@vchrombie sure. Go ahead. :+1:

[2017-12-11 05:13] chiragw15 commented on #1037
fixed in #1048

[2017-12-11 05:13] #1037 closed

[2017-12-11 05:15] chiragw15 commented on #990
@yashLadha Any progress with this?

[2017-12-11 05:26] #1064 closed

[2017-12-11 05:31] chiragw15 commented on #1063
Need to be fixed on server. Thus closing it from here.

[2017-12-11 05:31] #1063 closed

[2017-12-11 05:32] vchrombie commented on #1068
Can you tell me where should I add that text in the readme file exactly?

Can I do it under  [Join the development](https://github.com/vchrombie/susi_android/blob/development/README.md#join-the-development) ?

[2017-12-11 05:33] chiragw15 commented on #1068
Below https://github.com/fossasia/susi_android#contributions-best-practices

[2017-12-11 07:26] #1054 closed

[2017-12-11 10:44] #1032 closed

[2017-12-12 11:19] brijeshshah13 opened #1071 "Deprecated dependency configurations in use"
**Actual Behaviour**

Deprecated dependency configurations such as `compile`, `debugCompile`, `testCompile`, `androidtestcompile` and `releaseCompile` in use.

**Expected Behaviour**

Replacements are as below:
`compile` -> `implementation`
`debugCompile` -> `debugImplementation`
`testCompile` -> `testImplementation`
`androidTestCompile` -> `androidTestImplementation`
`releaseCompile` -> `releaseI

[2017-12-12 17:43] brijeshshah13 commented on #994
@chiragw15 I tried to mutate the format of the date using `!javascript:`, although I was unsuccessful. Any help on how to mutate the object using javascript would be appreciated.

[2017-12-13 15:10] jay006 commented on #994
@chiragw15  why don't we just manipulate date format which is received .

[2017-12-13 17:08] #1071 closed

[2017-12-13 17:09] #1068 closed

[2017-12-14 00:52] srv-twry opened #1074 "Allow users to add custom background in the ChatActivity"
**Actual Behaviour**

The background in the ```ChatActivity``` is just blank white space.

**Expected Behaviour**

Allow users to add custom background in order to make the UI better as well as add personal touch.

**Steps to reproduce it**

Open the chat window.

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes
@chiragw15 views ?

[2017-12-14 00:56] srv-twry opened #1075 "Add option to delete the chat history in ChatActivity"
**Actual Behaviour**

There is no option to delete the previous chat messages.

**Expected Behaviour**

There should be an option to clear the chat messages.

**Steps to reproduce it**

Open the ```ChatActivity```

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes.

@chiragw15 Views ?

[2017-12-14 06:38] chiragw15 commented on #994
@jay006 how would you do that? How would you check if the message you received is a date. The indication should come from server.

[2017-12-16 04:53] jay006 commented on #1057
I would like to work on this. @DipanshKhandelwal

[2017-12-16 10:55] brijeshshah13 commented on #278
@chiragw15 Is this issue being implement by anyone? If no, I would like to try the same.

[2017-12-16 10:57] abishekvashok commented on #278
@brijeshshah13 pls go on, we will be happy if you could do this :)

[2017-12-16 10:59] brijeshshah13 commented on #278
@abishekvashok Sure, will try my best to accomplish it :)

[2017-12-16 13:21] Nirvan101 opened #1077 "Add option to change chat wallpaper"
**Actual Behaviour**
The wallpaper in the chat activity is currently a fixed blank screen.

**Expected Behaviour**
There should be an option allowing the user to set the wallpaper to whatever picture he/she wants. This is similar to the wallpaper option in whatsApp.

**Would you like to work on the issue?**
Yes

[2017-12-16 13:23] brijeshshah13 commented on #1077
Duplicate #1074.

[2017-12-16 13:24] #1077 closed

[2017-12-16 13:40] Nirvan101 opened #1078 "Add search bar in Skills Activity"
**Actual Behaviour**
There is no search bar in skills activity. The user has to manually scroll through the list of activities to find the desired one.

**Expected Behaviour**
A search bar should be present to allow the user to search for a particular activity.

**Steps to reproduce it**
Open the skills activity page.

**LogCat for the issue**
NA

**Would you like to work on the issue?**
Yes

[2017-12-17 12:28] brijeshshah13 commented on #1075
@srv-twry Have you started implementing this? If not, can I?

[2017-12-17 18:42] #1009 closed

[2017-12-18 02:26] srv-twry commented on #1075
@brijeshshah13 no I haven't started yet but I intend to work on it. I am just waiting for @chiragw15 to approve it.

[2017-12-18 17:50] Nirvan101 opened #1080 "Pressing back button after Settings->Login closes the app"
**Actual Behaviour**
If the user is not logged in , going to Settings->Login opens the Login page. Here if the user presses the back button, the app closes instead of going back to the settings page.

**Expected Behaviour**
The app closes on pressing the back button in LoginActivity. This should not happen if the user has come to the Login page from Settings->Login.
    If the user has come to Log

[2017-12-19 08:24] srv-twry opened #1081 "Add option to delete an individual message."
**Actual Behaviour**

Currently there are options to copy and share the message.

**Expected Behaviour**

There should also be an option to delete the message

**Steps to reproduce it**

Open ```ChatActivity``` and long press on any individual message. A dialog with options to copy and share will appear.

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on t

[2017-12-19 17:34] chiragw15 commented on #1081
@srv-twry the delete option existed earlier. We had a discussion over it and decided to remove it because the messages were only getting deleted from the mobile local db and not the server. Since we wanted same messages on all the clients, we made this decision. If you want to implement the delete functionality in app, you'll have to first implement that on server i.e deleting a message from serve

[2017-12-19 17:37] chiragw15 commented on #1074
@srv-twry this feature also existed before and after discussing with @mariobehling we removed this because we wanted to keep UI as simple as possible and more close to the Google Assistant. Thus that feature was an overkill

[2017-12-19 17:46] srv-twry commented on #1081
Thank you @chiragw15 . I'll see whether i can implement it on the server or not. If i can then i will reopen it. I am closing this issue for now.

[2017-12-19 17:46] #1081 closed

[2017-12-19 17:47] srv-twry commented on #1075
As discussed in #1081 , in case the functionality is implemented on the server , it will be reopened.
Closing it for now.

[2017-12-19 17:47] #1075 closed

[2017-12-19 17:47] srv-twry commented on #1074
Thank you @chiragw15 .

[2017-12-19 17:47] #1074 closed

[2017-12-19 19:28] srv-twry commented on #565
@chiragw15 @DravitLochan  Can i take it ?

[2017-12-20 08:41] dabbler011 commented on #1049
@hardik124 I think it is only because textToSpeech is accessed before its initialisation in onPause(). Should I open a PR fixing that?

[2017-12-23 10:02] srv-twry commented on #1078
@Nirvan101 Before creating please do check if there is an existing issue already created in the project.
Possible duplicate of #1035

[2017-12-23 12:54] anandwana001 opened #1083 "Use Predefined PrefManager rather than creating new SharedPref's"
**Actual Behaviour**

we are creating new SharedPref's in `WelcomeActivity` class.

**Expected Behaviour**

We can use our predefined `PrefManager` class to perform that task

**Steps to reproduce it**

Use `PrefManager` class

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/25057618/34319668-056b2828-e80e-11e7-95a9-0b01a32baf3d.png)

**Would you like to work on th

[2017-12-24 06:35] codedsun commented on #804
@chiragw15 Can I work on this issue?

[2017-12-24 06:35] codedsun commented on #803
@chiragw15 Can I work on this issue?

[2018-01-02 13:45] nikit19 opened #1085 "Enable auto capitalisation of the first letter of a sentence"
**Actual Behaviour**

Currently first letter of a sentence does not get automatically capitalised in the EditText of the Chat Activity.

**Expected Behaviour**

It should get capitalised automatically

**Steps to reproduce it**

Open ChatActivity.
Type a sentence.
Notice how it didn't get capitalised

**Screenshots of the issue**

![screenshot_20180102-191326](https://user-images.githubusercontent

[2018-01-04 02:48] robillo opened #1087 "Implementing SnapHelper for SUSI.AI Skills recycler views"
**Actual Behaviour**

In the SUSI.AI Skills screen, the adapter used for the recyclerView, when not currently active, can stop anywhere, and the text for a skill card may not be visible completely.

**Expected Behaviour**

It is required to implement and set a SnapHelper for the recycler view, so that if the recycler view is not currently being navigated by the user, it redirects itself to the rig

[2018-01-05 13:16] harshitbansal05 opened #1089 "Add app links for signup activation link"
**Actual Behaviour**

On clicking the activation link sent to email account, the user is directed to the home screen of the website.

**Expected Behaviour**

Android app links must be used to redirect user to app, and then the request to the server must be made.

**Steps to reproduce it**

The feature needs an intent-filter for the LoginActivity.kt and can be implemented similar to:
https://develo

[2018-01-06 03:39] knight-shade opened #1090 "Handle orientation change during welcome screen"
**Actual Behaviour**

When the app is opened for the first time, it shows the introduction screen. If there is a orientation change happens, from portrait to landscape mode or vice -versa it closes the introduction part and automatically goes to the login screen.

**Expected Behaviour**

Even after orientation change, the introduction screen should show the same screen as in portrait mode.

**Step

[2018-01-07 04:30] S2606 opened #1091 "Add refresh on scroll down in Skills Fragment"
**Actual Behaviour**

There is no way for refetching data on error during the previous fetch

**Expected Behaviour**

Adding this would solve this issue

**Would you like to work on the issue?**

Yes

[2018-01-07 04:30] S2606 commented on #1091
@chiragw15 what do you think?

[2018-01-07 04:46] harshitbansal05 commented on #1089
@leto @rctay can you please review this?

[2018-01-07 14:33] yashLadha commented on #1085
Why there is a need for this? May be a user can also type phrase. can you explain a bit more about the need of the functionality.

[2018-01-07 14:52] nikit19 commented on #1085
Almost all apps I use, I have seen them having this feature be it WhatsApp or Messenger. The message looks more readable be it a sentence or a phrase. Moreover this feature will only work if user has enabled auto capitalisation in his keyboard settings.So for users who have enabled this feature in their keyboard settings they should get automatically capitalised letters just like they are getting

[2018-01-07 15:22] yashLadha commented on #1085
Have you seen that feature in Google search or any recommendation app which reformatted the text and does query. I think messaging has this feature because it makes text more meaningful as you rightly said but do you think such functionality needs to be there in these apps.

[2018-01-07 15:23] yashLadha commented on #1085
Have you seen that feature in Google search or any recommendation app which reformatted the text and does query. I think messaging has this feature because it makes text more meaningful as you rightly said but do you think such functionality needs to be there in these apps.

[2018-01-07 17:07] nikit19 commented on #1085
I have seen this feature in recommendation apps which reformatted the text and does query.(Just used Swiggy and saw them capitalising the first letter of every word in search)
Moreover, what harm can a text which is nicely formatted do?
Susi's interface is  pretty similar to a messaging app so I guess it makes sense to have this feature

[2018-01-07 17:17] yashLadha commented on #1085
Will that only be for the representation purpose or also for the query part
as well.

On Jan 7, 2018 10:37 PM, "Nikit Bhandari" <notifications@github.com> wrote:

[2018-01-07 17:23] nikit19 commented on #1085
For both the purposes.
I have sent a pull request you can see [here](https://github.com/fossasia/susi_android/pull/1086) how it is implemented

[2018-01-08 05:59] knight-shade commented on #1083
#1090 Fixes this issue.

[2018-01-08 06:50] knight-shade commented on #1008
Maybe a snack bar can added to notify the user of internet connectivity issue as an improvement?
And automatic fetching of data once internet is connected if the user is still in the sample skills or a swipe to refresh?

[2018-01-08 14:03] S2606 opened #1094 "Upgrade Kotlin Runtime Version to 1.1.51"
**Actual Behaviour**

Current Kotlin runtime version is 1.1.3

**Expected Behaviour**

Upgrade it to 1.1.51

**Would you like to work on the issue?**

Yes

[2018-01-08 14:03] S2606 commented on #1094
@chiragw15 What do you think?

[2018-01-09 14:54] saitejach1998 commented on #1094
is the issue still open?

[2018-01-09 14:55] S2606 commented on #1094
@saitejach1998 I am working on it..

[2018-01-18 17:35] madhurgupta10 opened #1097 "App crashes on clicking "skip" on signup/login activity"
**Actual Behaviour**

App crashes on clicking "skip" on signup/login activity

**Expected Behaviour**

App should not crashes on clicking "skip" on signup/login activity and open the chat activity.

**Steps to reproduce it**

Clear the cache and data > Open App > Skip the launcher > click on "skip" on login activity.

**Device Information**

Tested on Xiaomi Mi A1 running 8.0.0 Oreo.

[2018-01-19 18:46] saitejach1998 commented on #1097
Fixing the Kotlin runtime solved the issue for me...
Just check if it works for you too..
https://github.com/saitejach1998/susi_android

[2018-01-20 06:27] madhurgupta10 commented on #1097
Hi, @saitejach1998 I tested the play store version.

[2018-01-20 07:29] saitejach1998 commented on #1097
@madhurgupta10  can you the version in my repo?
i don't have that problem anymore
Tested on Nexus 5x API 27

[2018-01-20 07:36] madhurgupta10 commented on #1097
@saitejach1998 same issue, see [screenshot](https://imgur.com/YOX1q2s)

[2018-01-20 08:19] saitejach1998 commented on #1097
@madhurgupta10  how can i share the apk with you?
I've tested it on 3 devices again
7.1.2
8.0
8.1
it works perfectly on all of them..

[2018-01-20 08:28] saitejach1998 commented on #1097
here...
https://drive.google.com/open?id=17TSB41vXWAprnc7IZwDEtme2cyKgZ5Rw

[2018-01-20 08:47] madhurgupta10 commented on #1097
@saitejach1998 worked on my device as well as on AVD.

[2018-01-20 08:47] #1097 closed

[2018-01-20 09:35] saitejach1998 commented on #1097
@madhurgupta10  the problem still exists in the main repo

[2018-01-20 09:49] madhurgupta10 commented on #1097
@saitejach1998 please open the PR.

[2018-01-21 16:08] #1057 closed

[2018-01-21 16:10] #1078 closed

[2018-01-21 16:13] #1091 closed

[2018-01-21 16:17] #1087 closed

[2018-01-21 16:17] #1085 closed

[2018-01-21 16:26] chiragw15 commented on #1089
@harshitbansal05 Yes, go ahead and add deep links. You can see API documentation in susi_server repo documentation.

[2018-01-22 18:21] harshitbansal05 commented on #1089
@chiragw15 can you please share the github link where these requests are met "http://accounts.susi.ai/?token=<my_token>". I could'nt find it the susi server api docs.
Thanks.

[2018-01-24 05:47] harshitbansal05 commented on #278
@chiragw15 @abishekvashok may i try it if no one's working on it...

[2018-01-24 05:57] harshitbansal05 opened #1098 "Add message resend option"
**Actual Behaviour**

Currently there is no option to resend a message.

**Expected Behaviour**

User may be able to resend a message.

**Steps to reproduce it**

Long clicking the message must initiate a contextual action bar with one option for re-sending the message.

**Would you like to work on the issue?**

Yes

[2018-01-24 08:16] harshitbansal05 opened #1099 "Link in message content opening in same chrome tab"
**Actual Behaviour**

Clicking a link in the content of a susi message opens the link in the same tab of chrome.

**Expected Behaviour**

Like the link preview title in **item_susi_link_preview .xml**, the link in message content(if any) should also open in a new chrome tab.

**Would you like to work on the issue?**

Yes

[2018-01-24 10:01] chiragw15 commented on #1099
Sorry, I didn't get the issue exactly. So, clicking on a link opens that link in a single tab and you want that all links that you click open in a new tab?

[2018-01-24 10:45] harshitbansal05 commented on #1099
yaa, that is the issue @chiragw15

[2018-01-24 10:53] chiragw15 commented on #1099
I don't get why is this an issue?

[2018-01-24 11:21] harshitbansal05 commented on #1099
I thought the user may wish to see the website he opened before @chiragw15..

[2018-01-25 12:15] Ananthusubramanian opened #1101 "Adding a Share floating button"
In the skills activity there is a need of sharing floating button so that the users can have the feature to share this app .This feature is very useful for sharing of app across social networks

![screenshot_2018-01-25-17-41-06-198_ai susi](https://user-images.githubusercontent.com/22250995/35387862-8113097a-01f7-11e8-8d12-5342f1d90178.png)

[2018-02-01 13:45] harshitbansal05 commented on #1098
@chiragw15 should l work on it?

[2018-02-01 14:45] NithinThomasJoji commented on #1098
Hey can I be assigned to fix this bug?

[2018-02-01 14:47] NithinThomasJoji commented on #1098
Hey can I be assigned to fix this?

[2018-02-02 20:48] apoorvinfo opened #1103 "Providing Social Logins such as Facebook, Google"
**Actual Behaviour**

Login Behavior of the app is simple and non-friendly as compared to the common login trends.

**Expected Behaviour**

In the Login Window User should use Facebook or Google Login

**Steps to reproduce it**

Provides the User SignUp using Facebook and Gmail for the first time, and then the login token is used for the regular usage of the app.

**Would you like to work on the i

[2018-02-05 19:50] gakarod commented on #1101
can I work on this ?

[2018-02-08 19:44] rishabchirania commented on #1101
@chiragw15 hey i would really like to work on this issue...should i work on this?

[2018-02-09 10:37] rishabchirania commented on #1103
@chiragw15 i would love to work on this issue

[2018-02-09 10:50] apoorvinfo commented on #1103
@rishabchirania I hope, I have already asked to work on this feature!

[2018-02-09 10:54] rishabchirania opened #1104 "adding a native webview in the chat window (feature request)"
**Actual Behaviour**

any important link suggested by bot opens in a foreign browser instead of a native webview
**Expected Behaviour**

creating a new webview will give user the comfort of not having to switch apps thereby spending more time on this app
**Steps to reproduce it**

adding a simple webview fragmnet popup on chat window with very simple navigation
(similar to what is done on instagra

[2018-02-11 22:32] gakarod opened #1105 "Redundant code in classes"
**Actual Behaviour**
There are a lot of redundant methods in many classes which are obstructing the readability of the code
one typical example is - in the class snowboydetect located in
App\susi_android-development\app\src\main\java\ai\kitt\snowboy

A lot of unused and redundant methods are present , hence cluttering

**Would you like to work on the issue?**

yes

[2018-02-12 18:41] ribhav-pahuja commented on #1080
@Nirvan101 are you still working on this?

[2018-02-14 17:19] Nirvan101 commented on #1080
No. Feel free to take it up!

[2018-02-14 20:48] arundhati24 opened #1106 "Skill fetch error message overlaps skill groups"
**Actual Behaviour**

Currently the error message that is being displayed in case of an error while fetching skills overlaps the default skill groups. This creates a mess on the skills screen and as a result the error message is not quite clear to the user.

**Screenshot for current behaviour :**

![error_skill_fetch_1](https://user-images.githubusercontent.com/30979369/36226627-609c88f8-11f4-11e8

[2018-02-14 21:19] arundhati24 opened #1108 "Typos in README.md"
Currently, there are a few typos in the README.

The typos and the required changes are as follows :

* stored ---> store (Android App for susi section - line 2)
* Missing period at the end of 'View' bullet point
* Missing period at the end of 'Presenter' bullet point
* then ---> than (Kotlin - second sentence)
* Each package "contains" ... (add "contains" - Project structure - last sentence of se

[2018-02-15 05:25] arundhati24 opened #1110 "App crashes on refreshing skill listing activity"
**Actual Behaviour**

Currently, the app crashes on refreshing the skills listing activity.

Logcat :

![app_crash_logcat](https://user-images.githubusercontent.com/30979369/36241665-bea52c04-123d-11e8-8e02-94b71a834e86.png)

**Expected Behaviour**

The app should not crash on refreshing this activity. It should display the default skill groups.

**Steps to reproduce it**

[Device used : Xiaomi Re

[2018-02-15 06:31] arundhati24 opened #1111 "Improve skill details Rating UI"
**Actual Behaviour**

Currently, the positive and negative rating card views are placed in a vertical fashion.  It would be a better option to place the rating cards in a horizontal fashion, which would look better and cover more width of the screen.

**Screenshot of current UI**

![skill_details_original](https://user-images.githubusercontent.com/30979369/36243505-c41b7936-1247-11e8-96fd-003cf04d

[2018-02-16 15:54] Akshat-Jain opened #1112 "Suggestions in the issue template should be commented out"
**Actual Behaviour**

Suggestions are simply written in the issue template.

**Expected Behaviour**

Rather, they should be commented out so that contributor doesn't have to delete them manually.

**Would you like to work on the issue?**

Yes

[2018-02-16 17:46] Akshat-Jain opened #1114 "Edits some text strings in strings.xml file"
Currently, there are some punctuation errors in the strings.xml file.

For example, "An error occurred. please try again" should be changed to "An error occurred. Please try again". A few other similar error fixes need to be done.

**Would you like to work on the issue?**
Yes

[2018-02-17 07:06] anipmehta commented on #1110
@arundhati24 : Thanks for finding this bug. I was able to solve it and submitted a PR and if you think there is still an issue then you can open this issue again.

[2018-02-17 07:36] arundhati24 opened #1117 "Opposite colours for thumbs up and thumbs down"
**Device used**
Xiaomi Redmi Note 4

**Actual Behaviour**
Currently the colors for thumbs up and thumbs down in the skills rating is opposite although correct drawables have been used in the xml code. The preview in Android studio shows the correct images but the colors are opposite when run on actual device.

**Screenshot of Android Studio preview**
![opposite_colors_android_studio](https://user-

[2018-02-17 07:49] anipmehta commented on #1080
@Nirvan101 I just submitted a PR for this issue and if you think this is not able to solve the issue then you can reopen this.

[2018-02-17 10:36] arundhati24 opened #1120 "Replace hard-coded dimensions in layout resource files by dimens resource values"
**Actual Behaviour**

Currently, there some dimensions, say dimensions of skill detail image as in the screenshot provided below, which have been hard-coded.

**Expected Behaviour**

Dimensions should be referenced from the dimens.xml resource file rather than hard-coding them.

**Example screenshot of the issue**

![dimen](https://user-images.githubusercontent.com/30979369/36340135-6dfacbfe-13fc-

[2018-02-17 11:29] arundhati24 opened #1121 "Visible error message even after refreshing the skill groups page"
**Actual Behaviour**

Currently, the skill fetch error message remains visible on the screen even after refreshing the page.

**Expected Behaviour**

Once the page is refreshed and skill groups reload on the page, the error message should become invisible.

**Screenshots of the issue after refreshing the page**

![visible_error_message](https://user-images.githubusercontent.com/30979369/36340494-c

[2018-02-18 06:17] arundhati24 opened #1124 "Sort strings resource values in strings.xml by name"
**Actual Behaviour**

Currently, the string resource values have been randomly placed in the strings.xml file which makes it a bit difficult to look for a string value. We need to scroll through the entire list or use search to look for desired value.

**Expected Behaviour**

It would be better if the strings were arranged alphabetically so that it would be easier to look up a string using its lab

[2018-02-18 06:20] arundhati24 opened #1125 "Sort dimens resource values in dimens.xml by name"
**Actual Behaviour**

Currently, the dimen resource values have been randomly placed in the dimens.xml file which makes it a bit difficult to look for a dimen value. We need to scroll through the entire list or use search to look for the desired value.

**Expected Behaviour**

It would be better if the dimens were arranged alphabetically so that it would be easier to look up a dimen using its labe

[2018-02-21 13:02] #1108 closed

[2018-02-22 22:55] sauravvishal8797 opened #1126 "Edittext issue in the login page."
**Actual Behaviour**

When the login screen is launched the enter email edittext gets the focus, but the soft-keyboard does not pops up automatically instead the user has to tap on it for the soft-keyboard to appear.

**Expected Behaviour**

When the enter email edittext gets the focus, the soft-keyboard should pop up automatically.

**Steps to reproduce it**

Launch the app.

**Would you like to

[2018-02-22 23:07] sauravvishal8797 opened #1127 "Edittext issue in the reset password page."
**Actual Behaviour**

On opening the reset password page, the enter email edittext automatically gets focus but soft-keyboard does not pops up automatically.

**Expected Behaviour**

When the enter email edittext gets focus, the soft-keyboard should pop up automatically.

**Steps to reproduce it**

Go to the forget password page from the login activity.

**Would you like to work on the issue?**

Y

[2018-02-22 23:38] sauravvishal8797 opened #1128 "Settings Activity modifications required."
**Actual Behaviour**

The searchview in the settings page does not work.
On clicking the search icon, the searchview appears and the soft-keyboard automatically pops up, but on destroying the searchview the soft-keyboard does not hide automatically instead the user has to press the back navigation button to hide/collapse the keyboard.

**Expected Behaviour**

- [ ] On destroying the search view th

[2018-02-24 12:02] sauravvishal8797 opened #1129 "Dialog issue in the reset password activity."
**Actual Behaviour**

After entering the email id and clicking on the reset password button to change the password a dialog pops up stating that the recovery email to change the password is sent to the user's email id, now on clicking the back navigation button or on tapping on the screen the dialog does not dismiss.

**Expected Behaviour**

On pressing the back navigation button or on single tapp

[2018-02-24 19:25] arundhati24 opened #1134 "Use Android resources and avoid concatenation using '+' in setText"
**Actual Behaviour**

Currently, there are a few strings that have been hard-coded in setText in SkillDetailsFragment.kt . Also the strings concatenated using '+' cannot be translated properly.

**Expected Behaviour**

These string literals should be referenced by using Android resources rather than hard-coding them.

**Screenshots of the issue**
Example :

![string_literals](https://user-images.g

[2018-02-25 06:22] royrivnam opened #1136 "Error message does not always changes the solid icon to outlined one."
**Actual Behaviour**

Error message does not always changes the solid icon to outlined one. Suppose there in an error while rating, sometimes the solid icon does  not becomes outline. It remains solid

**Expected Behaviour**

Expected is that the solid icon would turn outlined. Both the thumbs up and thumbs down icon should be outlined.

**Steps to reproduce it**

Click on thumbs up and thumbs dow

[2018-02-26 19:35] sauravvishal8797 opened #1137 "Add splash screen."
**Actual Behaviour**

On launching the application, the login page appears or the user is directed to the chat interface if he/she is logged in.

**Expected Behaviour**

A splash screen can be added which would be displayed for a very short period of time before the user is directed to the login page or the chat interface.

**Steps to reproduce it**

Launch the app.

**Would you like to work on th

[2018-02-26 23:01] ujjwalagr commented on #1137
Yes, I will do it by tommorow for sure.

[2018-02-27 05:31] sauravvishal8797 commented on #1137
@ujjwalagr I'm already working on this.

[2018-02-28 05:16] ujjwalagr commented on #1137
@sauravvishal8797 I already  added it, I just have to send a PR , Actually I was trying to do it yesterday but something went wrong.May you help me in sending a PR.

[2018-02-28 12:55] sauravvishal8797 commented on #1137
@ujjwalagr I had clearly mentioned above(in the create issue template) that I would be working on it and had also mentioned the same thereafter. I have finished working on it and I'm about to open the PR for the issue. Since I was the one who created the issue and I mentioned very clearly that I'd be working on it, I should be the one to send the PR. Therefore please see that from next time you co

[2018-03-01 15:18] arundhati24 opened #1142 "Change of language in settings does not reflect"
**Actual Behaviour**

Currently, changing the language from default to any other language does not reflect in the app i.e. if the language id set to German (say), there is no change in the language in the app. I remains set to default.

**Expected Behaviour**

If the user sets the language to any other language in the settings, the app should display data in that language.

**Screenshots of the is

[2018-03-01 15:48] arundhati24 opened #1143 "Press 'enter' key to send not working"
**Actual Behaviour**

Currently, the user cannot send the message by pressing the enter key on the keyboard even after turning on this feature from the settings.

**Expected Behaviour**

The user should be able to send message by pressing the enter key on the keyboard if s/he chooses to do so in the app settings.

**Screenshots of the issue**

![tap_enter_to_send](https://user-images.githubusercon

[2018-03-01 17:41] developershivamshukla commented on #1143
Yes I would like to work on this

[2018-03-01 18:12] sauravvishal8797 opened #1145 "Search option visible in About us fragment."
**Actual Behaviour**

The search icon is visible on the toolbar in the About us fragment.

**Expected Behaviour**

Since there is nothing to be searched in the About Us fragment, the search option should not be visible as it creates redundancy.

**Steps to reproduce it**

Go to the About us Fragment.

**Would you like to work on the issue?**

Yes, I'm working on this issue.

[2018-03-01 20:20] arundhati24 commented on #1143
@developershivamshukla
I have already mentioned in the issue that I want to work on it. You can look into the app and open other issues and work on them. Please follow the best practices.
https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

[2018-03-01 21:01] sauravvishal8797 opened #1147 "Edittext issue for sign up activity and reset password dialog."
**Actual Behaviour**

When the sign up activity is launched, the enter email edittext gets auto-focus but the soft-keyboard does not pops up automatically, same is the case for reset password dialog in the settings activity.

**Expected Behaviour**

The soft-keyboard should pop up automatically when the reset password dialog or the sign up activity is launched.

**Steps to reproduce it**

Go to se

[2018-03-02 07:31] arundhati24 opened #1148 "Replace hard-coded strings by string resource values"
**Actual Behaviour**

Currently, there are a few layout resource files that contain hard-coded strings.

**Expected Behaviour**

The strings should not be hard-coded into the layout resource files. They should be referenced from string resource file strings.xml .

**Would you like to work on the issue?**

Yes

[2018-03-02 08:06] ujjwalagr opened #1149 "Add an Alert dialog to confirm before closing the app when (logging in) in the app."
**Actual Behavior**

On exiting the application at the time of login, the application get close directly , may be user don't want to close it & mistakenly it get closed.

**Expected Behavior**

A popup must appear that confirms user ,that he/she really wants to close the application or not.

**Step to reproduce**

1. Reinstall or clear the data of the app.
2. Launch the app.
3. Press the back butt

[2018-03-02 08:26] developershivamshukla commented on #1149
Cool

[2018-03-02 14:02] arundhati24 opened #1152 "Add search in Chat activity"
**Actual Behaviour**

Currently, the user cannot search for specific chat messages in the chat activity.

**Expected Behaviour**

The user should be allowed to search for specific messages from the previous chat messages. The user might want to revisit some specific instances where s/he might have asked susi to perform some task for her/him, say, display map of some city. It would be difficult for

[2018-03-03 12:39] sauravvishal8797 opened #1156 "Enhancements in search functionality in the Skills Activity."
**Actual Behaviour**

After performing the search operation along with the search results other skills information are displayed too.
User has to click on the search button on the keyboard to initiate the search operation.

**Expected Behaviour**

- [ ] Only the information matching the search query should be displayed on performing the search operation.

- [ ] Proper message should be displayed i

[2018-03-03 13:12] arundhati24 commented on #1156
@sauravvishal8797  It's working for me.

![search_functionality](https://user-images.githubusercontent.com/30979369/36934610-511fc8c4-1f12-11e8-96e7-7b5b04e1a1ff.jpg)

The only problem here is that the skill fetch error message, if it occurs, overlaps the skill details group and it remains there even after refreshing the page for which I have already opened and fixed issues #1121  and #1106 .

[2018-03-03 14:02] sauravvishal8797 commented on #1156
@arundhati24 I guess a couple of enhancements can be made here. First, shouldn't we only display the items matching the search query cause at the moment info about other skills are displayed too along with the ones searched for, and the user has to click on the search button on the keyboard in order to initiate the search, what can be done is a listener can be added that will keep displaying the s

[2018-03-03 14:22] arundhati24 commented on #1156
@sauravvishal8797  It sounds good to me.

[2018-03-03 14:30] #1056 closed

[2018-03-03 14:59] #1106 closed

[2018-03-03 15:50] #1110 closed

[2018-03-03 15:52] #1121 closed

[2018-03-03 15:53] #1094 closed

[2018-03-03 16:02] #1117 closed

[2018-03-03 16:05] #1127 closed

[2018-03-03 16:14] #1126 closed

[2018-03-03 16:17] #1145 closed

[2018-03-06 13:28] saitejach1998 commented on #1008
can i work on this issue?

[2018-03-08 09:52] #1114 closed

[2018-03-08 09:53] #1111 closed

[2018-03-08 09:55] #1125 closed

[2018-03-08 10:05] #1149 closed

[2018-03-08 14:00] vivek1339 opened #1161 "app crashing when tapping like or dislike in chat"
**Actual Behaviour**
when  like or dislike is tapped it should be liked or disliked in chat

the app is crashing
**Expected Behaviour**
it should be either liked or disliked

it can provide feedback for the reply
**Steps to reproduce it**
just tap  like or dislike on the chat

**LogCat for the issue**
03-08 19:19:22.738 16320-16320/ai.susi A/art: art/runtime/thread.cc:1329] Throwing new exception

[2018-03-08 17:39] vivek1339 commented on #1161
and when i print all the values in the array i am getting only 4 elements
03-08 23:08:15.900 22962-22962/ai.susi D/ContentValues: susi_server
03-08 23:08:15.900 22962-22962/ai.susi D/ContentValues: conf
03-08 23:08:15.900 22962-22962/ai.susi D/ContentValues: susi
03-08 23:08:15.900 22962-22962/ai.susi D/ContentValues: en_0700_ai_play.json
i got this in the log when i printed all values in the loca

[2018-03-08 18:11] vivek1339 commented on #1161
the setlocation function is invoked in the databaserepository.kt when database is updated by the onretrivesuccess function in the chatpresenter.kt which sets the locationuri as "skill": "/susi_server/conf/susi/en_0700_ai_play.json".
it is seperated by the '/' character and then sent to locationarray so it has only 4 values where as we are calling 6 values which is causing the crash.
If someone cou

[2018-03-09 18:32] aniket-agarwal1999 commented on #1134
@arundhati24 @chiragw15  As the issue has been stagnant for quite some time, can I please work on it?

[2018-03-09 18:40] aniket-agarwal1999 commented on #1129
@sauravvishal8797 as the issue has been stagnant for quite some time now, can I please work on this.

[2018-03-09 18:43] aniket-agarwal1999 commented on #1103
@apoorvinfo @chiragw15 As the issue has been stagnant for quite some time now, can I please work on this.

[2018-03-09 19:11] aniket-agarwal1999 commented on #1089
@harshitbansal05 @chiragw15 As the issue has been stagnant for quite some time, can I please work on this as I find it quite intriguing.

[2018-03-09 20:06] aniket-agarwal1999 commented on #1008
![susi](https://user-images.githubusercontent.com/30111752/37227343-008e1ab4-2403-11e8-9a0e-7101a9d10f12.gif)
@chiragw15 As you can see the app is still showing some error while showing the skills as it just shows Network problem and the problem doesn't seem to go even when the page is refreshed. I can even add a snack bar when the network connection problem is genuine. So can I please claim this

[2018-03-10 04:48] sauravvishal8797 opened #1162 "Enhancing the Reset password UI."
**Actual Behaviour**

Currently there's alot of unused space in the view.

**Expected Behaviour**

The reset password activity UI can be improved with getting rid of the extra spaces and implementing a card view in the layout.

**Steps to reproduce it**

Click on the forgot password option in the Login Activity.

**Would you like to work on the issue?**

Yes.

[2018-03-10 04:58] arundhati24 commented on #1134
@aniket-agarwal1999  I have already sent a PR, and i need to make the changes requested by @chiragw15 .
I will be updating it in some time. You may please look for some other issues and work on them. :)

[2018-03-10 05:08] aniket-agarwal1999 commented on #1129
@sauravvishal8797 Okay :)

[2018-03-10 05:09] aniket-agarwal1999 commented on #1134
@arundhati24 Okay :)

[2018-03-10 06:05] harshitbansal05 opened #1164 "Scroll state of the list not preserved"
**Actual Behaviour**

Scroll state of the conversation list is not retained on rotating the device from portrait to landscape mode.

**Expected Behaviour**

Scroll state of the list must be preserved.

**Would you like to work on the issue?**

Yes

[2018-03-10 06:37] harshitbansal05 opened #1165 "FR: Include new dialog to encourage users to add a new app review in PlayStore"
It would be great to increase the number of app reviews in Play Store so that we can receive more feedback from our users.

The idea is to create a new dialog that would appear from time to time (we will think about the exact frequency), asking the users for a new review and redirect them to the PlayStore.

**Would you like to work on the issue?**

Yes

[2018-03-10 06:39] harshitbansal05 commented on #1098
@chiragw15 ^^

[2018-03-10 07:09] arundhati24 commented on #1098
@harshitbansal05 In what situation do you wnat the user to be able to resend a message?

[2018-03-10 09:19] aniket-agarwal1999 commented on #1098
@harshitbansal05 The idea is great but the copy option already exists in the app for every message. So I don't think it would be of much use.

[2018-03-10 10:17] arundhati24 commented on #1165
@harshitbansal05  IMHO it is not a good idea to prompt the user from time to time (whether at higher or lower frequency) to add a review. I think it would not provide a good user experience. Also, if the user wishes to add a review or feedback, s/he can tap Rate SUSI option in the settings, which would direct the user to the play store.

[2018-03-10 11:48] arundhati24 commented on #1164
@harshitbansal05 It works for me.

[2018-03-10 14:06] arundhati24 commented on #1161
Hey @vivek1339  It works fine for me on Xiaomi Redmi Note 4, Android 7.0. Which device are you using?

[2018-03-10 16:36] vivek1339 commented on #1161
i have tried on emulator pixel2 and my phone yu yunicorn
i think it is the problem with the version of android cause both the devices run on marshmellow

[2018-03-10 18:05] arundhati24 opened #1166 "Remove confirmation before exit"
**Actual Behaviour**

Currently, the app displays a toast to prompt the user, in case the user hits the back button.

**Expected Behaviour**

The app should not display any toast or dialog to confirm exit, unless there is some task running in the background (say, download), as this breaks user experience. Moreover, none of the standard apps implement this.

**Would you like to work on the issue?**

[2018-03-10 19:29] aniket-agarwal1999 opened #1168 "Display of wrong date and day"
**Actual Behaviour**

The screenshot is taken on 11th March, 2018 (Suday) at around 12.40am. The assisstant clearly states the wrong day and date, that is, it is still showing the date and day of the day that has just passed.

**Expected Behaviour**

The correct date and day corresponding to the current day should have been displayed.
However, one thing to note here is that when I tested the same

[2018-03-10 20:05] chiragw15 commented on #1165
The app is currently launched as beta. So, you can not add review afaik. Also prompting user to add review is stupid. It is not a money-earning app which needs reviews to get more users. Focus on more good functionalities like hotword detection, text to speech etc rather than this. So, closing this for now. Reopen if I am wrong.

[2018-03-10 20:05] #1165 closed

[2018-03-10 20:10] chiragw15 commented on #1168
That is not an issue of the android app imo. App is just displaying the response it is getting from server. Open this issue in server repo. The app correctly displays "March 11, 2018" on the top. If that date is wrong, then it is an issue of the app. But if you ask susi "date today" and it displays wrong date as an answer, that is an issue of the server. So, closing it from here. Open it in server

[2018-03-10 20:10] #1168 closed

[2018-03-10 20:57] aniket-agarwal1999 commented on #1168
@chiragw15 Okay :+1:

[2018-03-11 05:46] harshitbansal05 opened #1171 "Dialog in signup activity not retained across configuration change"
**Actual Behaviour**

In SignUp activity, on pressing back button without entering credentials, a dialog is shown. The dialog is not retained across device rotation.

**Expected Behaviour**

The dialog must be retained across configuration change.

**Steps to reproduce it**

Open Signup Activity. Press back button and rotate the device.

**Would you like to work on the issue?**

Yes

[2018-03-11 15:10] ShubhamKushwah opened #1172 "Need a better UI"
**Currently**
The app has a boring grey theme layout.

**Needed**
A better UI with a better color combo.

**What have I done?**
Created a PR for it. #1173

**How does it look now**
![device-2018-03-11-201608](https://user-images.githubusercontent.com/24874033/37254905-ba3a4fc4-256a-11e8-8ed0-f4666873b126.png)

**PS: There are a couple more UI & Code improvements in the PR**

[2018-03-12 06:28] ShubhamKushwah commented on #1101
@chiragw15 Please assign this task to me, I would also add a floating popup like this below:
[tbn:ANd9GcQzqjt2kewnayp6KOkePjyekBCjsEqBsLJFxhTqpcN_8XW3WWh_fQp0yqYR](Image link)

[2018-03-12 06:32] arundhati24 commented on #1101
@ShubhamKushwah  IMHO there's no need of this floating button as the app already allows the user to share this app using Share SUSI option from settings menu.

[2018-03-12 06:35] ShubhamKushwah commented on #1101
@arundhati24 It's better to have a FAB for it, since it is more attractive, and user will have a more chance of sharing the app.

[2018-03-12 11:01] aniket-agarwal1999 opened #1175 "Changing the image loading library from Picasso to Glide"
**Actual Behaviour**

Currently, the Image loading and caching library in the app is Picasso.

**Expected Behaviour**

Both Glide and Picasso are two of the most well-known image loading libraries available, however Glide does have certain advantages over Picasso. Compared to Picasso, Glide has an ability to load GIF animation in a simple image view. Also Glide offers way better caching abilities.

[2018-03-12 11:46] aniket-agarwal1999 opened #1176 "Display of 'Today' rather than the date for all the conversations held in the present date"
**Actual Behaviour**

Currently, in the dates that are shown at the top of every respective day's conversation, the present day is also shown in the date format rather than being written as 'Today'.

**Expected Behaviour**

We should rather see 'Today' being written for all the present day conversations rather than a date. The same format is followed in various other apps like Google Assisstant, W

[2018-03-12 20:13] #1175 closed

[2018-03-12 20:43] aniket-agarwal1999 opened #1177 "Display of search icon still there in the top bar when the user is there in a particular skill page"
**Actual Behaviour**

The search option is there for all the pages: skill listing, settings, specific skills page.

**Expected Behaviour**

The search option should be given to the user only in the skill listing page as the presence of search option in the other pages is of no use.

**Screenshots of the issue**

![susi_error_searchoption](https://user-images.githubusercontent.com/30111752/37308443

[2018-03-13 06:59] aniket-agarwal1999 commented on #1008
@mariobehling @chiragw15 Can you please guide me a bit on how to solve this error, when I viewed the logcat for the issue, the problem seemed to be the result of Null Pointer exception.

[2018-03-13 07:05] ShubhamKushwah commented on #1008
@mariobehling @chiragw15
Hey, I can solve this one... We can store it locally the first time.
And still, there would be the reload option.
Assign it to me.

[2018-03-13 10:28] #1166 closed

[2018-03-13 15:20] akhil117 commented on #1177
I want to work on this.

[2018-03-14 05:41] mamakancha opened #1179 "Documentation update"
**Actual Behaviour**

This line in [branch policy](https://github.com/fossasia/susi_android/blob/development/README.md#branch-policy) is wrong because there isn't any gh-pages branch and there is circle instead of travis.
[code]

**Expected Behaviour**

Change this to
[code]

**Would you like to work on the issue?**
yes

[2018-03-14 05:57] mamakancha opened #1180 "APKs in apk branch not updating"
**Actual Behaviour**

Ever since PR #1033 merge, the APKs in apk branch are not updating.
ref All Circle CI merge builds after [this](https://circleci.com/gh/fossasia/susi_android/2262) build are failing.

**Expected Behaviour**

Currently, do not know the reason. But expected behaviour should obviously be that the APKs should update.

**LogCat for the issue**
[code]

**Would you like to work on t

[2018-03-14 11:06] chiragw15 opened #1181 "Circle CI Build Failing"
**Actual Behaviour**

Circle CI build is failing most of the time
[code]

**Expected Behaviour**

Seems like the root view isn't getting focus as some other screen might be obstructing it. In short, the UI tests are failing and need to be fixed.

**Would you like to work on the issue?**
No. Comment if you want to work.

[2018-03-14 11:07] arundhati24 commented on #1181
@chiragw15 I would like to work on this.

[2018-03-14 11:12] arundhati24 commented on #803
@chiragw15 I am working on this. :)

[2018-03-14 11:24] akhil117 commented on #1177
@aniket-agarwal1999 can I work on this?

[2018-03-14 15:23] aniket-agarwal1999 commented on #1177
@akhil117 Sorry, but I have already specified that I am working on this.

[2018-03-14 18:26] mamakancha commented on #1083
I am working on this one.

[2018-03-15 10:47] ShubhamKushwah opened #1185 "All new modern layout for Login Activity"
**Actual Behaviour**
![Image of current Login page](https://raw.githubusercontent.com/fossasia/susi_android/development/docs/_static/login.png)

**How I recreated it?**
![susi-ai](https://user-images.githubusercontent.com/24874033/37458811-2f18f5c6-286c-11e8-89df-718a1f6403e3.jpg)

**Would you like to work on the issue?**
Yes.
@chiragw15 please assign this to me.

[2018-03-15 10:47] ShubhamKushwah commented on #1185
@chiragw15 I would like to work on this UI for both Login, and SignUp activities.

[2018-03-15 13:59] mamakancha opened #1187 "Improve UI of About Us Fragment"
**Actual Behaviour**

Current UI of about us fragment does not look good imo and does not follow material design guidelines.

**Expected Behaviour**

Need a better UI. Working on it. Will provide a mockup soon.

**Would you like to work on the issue?**
yes

[2018-03-15 14:03] mamakancha opened #1188 "Refactor code to improve code quality"
**Actual Behaviour**
There are many typos in code, many indentation problems. A simple lint test will display these issues.

**Expected Behaviour**

Fix all these refracting issues and thus improve code quality.

**Would you like to work on the issue?**
yes

[2018-03-15 14:56] raj10071997 opened #1190 "No option to open settings directly from the chat."
**Actual Behaviour**

If the user wants to open settings then he/she must go through skills activity to open settings.

**Expected Behaviour**

There should be icon of settings on top left corner for settings or there should be a drop down menu on top right corner for going to skills activity or settings activity.

**Would you like to work on the issue?**

Yes.

[2018-03-15 17:16] mayank8318 opened #1191 "Add a preference setting for time format"
**Actual Behaviour**

Currently, there is no preference setting for time format.

**Expected Behaviour**

Give an option between 12 hours and 24 hours format.

**Would you like to work on the issue?**

Yes

[2018-03-15 17:35] mayank8318 opened #1192 "Replace "Customer Server" with "Custom Server""
**Actual Behaviour**

Custom Server is wrongly written as Customer Server which can be misleading.

**Expected Behaviour**

It should be "Custom Server"

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/37480454-4bafad40-28a5-11e8-9bb9-4be4987829d2.png)

**Would you like to work on the issue?**

Yes

[2018-03-15 18:29] mayank8318 opened #1193 "Let the user select sharing medium"
**Actual Behaviour**

Currently, the sharing mechanism is handled in an old way. Share via dialog is not shown once the user shares for the first time (this is set as default).

**Expected Behaviour**

Almost all apps have moved onto letting the user choose his/her sharing medium every time the share option is chosen. So, Susi also should let the user choose his sharing platform for each share req

[2018-03-16 03:57] arundhati24 opened #1194 "Update dependencies in build.gradle"
**Actual Behaviour**

Currently, there are a number of outdated dependencies present in build.gradle. Also, the support libraries use different version specifications that might lead to runtime crashes.

**Expected Behaviour**

The outdated dependencies need to be updated and all support libraries should use the exact same version specification.

**Would you like to work on the issue?**

Yes

[2018-03-16 06:25] aniket-agarwal1999 opened #1196 "A better UI for Skill Listing and skill details page"
**Actual Behaviour**

The current UI for skill details page and skill listing page is good but don't follow all Material UI guidelines which can certainly help to engage the user even more.

**Expected Behaviour**

The various activities must follow Material UI guidelines and also there must be certain tweaks in the UI of the various pages.

**Steps to reproduce it**

We can just change the variou

[2018-03-16 17:55] ShubhamKushwah opened #1199 "App Crashing when a user messages a link."
**Actual Behaviour**
- The app is crashing whenever the user sends a link in the message.
- Showing nothing when a user types open <something>.

**Expected Behaviour**
Should open the link in-app/browser.

**Steps to reproduce it**
Create an intent to start when clicked on the link.

Intent can either:
- open the link in the in-app activity(may increase unwanted app-size).
- open the link in the d

[2018-03-16 17:56] ShubhamKushwah commented on #1199
@chiragw15 Please review!

[2018-03-16 21:26] aniket-agarwal1999 opened #1200 "Addition of Try the skill button with every skill in the skill listing page"
**Actual Behaviour**

Right now there is there is only a Try button in the skill details of every skill, while there is no try button on the skill card on the skill listing page.

**Expected Behaviour**

There should be a try button on every skill card in the skill listing page, just like what is followed by Google Assistant and many others, which can certainly help improve the user experience.

*

[2018-03-17 07:31] aniket-agarwal1999 opened #1201 "Additon of delete chat history option in the app"
**Actual Behaviour**

Presently, there is no chat history delete option present in the app.

**Expected Behaviour**

There should be a chat history delete option present which can help the user delete the whole chat history and help clear the unwanted messages for the user.

**Steps to reproduce it**

I can use the delete messages feature of realm database so as to clear the chat history.

**Would

[2018-03-18 11:34] vivek1339 commented on #1161
i want to eliminate the compatibility issue in the app can i apply this as gsoc project

[2018-03-18 13:13] raj10071997 opened #1203 "Issue on pressing skip when no internet connectivity."
**Actual Behaviour**

Presently if there is no Internet connection then pressing login button No Internet Connectivity dialog box is shown but when you press skip, chat activity is opened.

**Expected Behaviour**

If there is no Internet connectivity then No Internet Connectivity dialog box should be shown instead of opening the chat activity.

**Steps to reproduce it**

Press skip button when the

[2018-03-18 13:20] raj10071997 opened #1204 "Two toast messages are shown when rating of a message switches"
**Actual Behaviour**

When we switch the rating of a message from thumbs down to thumbs up or thumbs up to thumbs down, the error toast message is shown twice instead of once.

**Expected Behaviour**
The error message should be shown only once.

**Steps to reproduce it**

Login in to chat activity, rate any of your message whether thumbs up or down. Now switch the rating.

**Would you like to work

[2018-03-19 09:32] mamakancha opened #1206 "Removing Snackbar behaviour class"
**Actual Behaviour**

There is an extra class in the code which defined snackbar behavior. This class is no longer in use.

**Expected Behaviour**

Remove this class.

**Would you like to work on the issue?**
yes

[2018-03-19 09:56] mamakancha opened #1207 "Removing Android dependency from forgot password presenter"
**Actual Behaviour**

According to MVP pattern, the presenter must not have any android dependency as it makes it difficult to test the presenter later on separately.

Here we can see that there is a dependency of `android.color` in the Presenter.
https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/forgotpassword/ForgotPasswordPresenter.kt#L3

**Expecte

[2018-03-19 10:04] mamakancha opened #1208 "Remove settings package from skills package to make a different one"
This structure where settings package is within skills package seems odd to me.

Settings have it's own presenter, thus move it to separate package of it's own

**Would you like to work on the issue?**
yes

[2018-03-19 13:39] aniket-agarwal1999 commented on #1206
@mamakancha I think that the class should remain there only as in the future the developers may need to add a new feature to the app. SnackBar being such a common feature may be added in the near future in some part of the app.

[2018-03-19 14:46] raj10071997 opened #1209 "Reset dialog box is not visible completely in landscape mode."
**Actual Behaviour**

When the orientation change to landscape mode, the reset dialog box is not visible completely.

**Expected Behaviour**

The dialog box should be visible completely or there should be a scrollview for scrolling down to view the complete dialog box.

**Steps to reproduce it**

Open settings after logging in, now click on reset dialog in portrait mode. Now change the orientation

[2018-03-19 15:18] raj10071997 opened #1210 "Unable to fetch dialog shows when the orientation changes to landscape mode in skills."
**Actual Behaviour**

When you scroll down in skills activity to view skills in landscape mode, Unable to fetch skill dialog is shown.

**Expected Behaviour**

The dialog should be shown on orientation changes.

**Steps to reproduce it**

See below gif to reproduce the effects.

**gif of the issue**

![1](https://user-images.githubusercontent.com/24502136/37604405-ec85547c-2bb6-11e8-9a1c-607f9f799

[2018-03-19 15:26] aniket-agarwal1999 commented on #1210
@raj10071997 #1008 This is the same issue here also

[2018-03-19 16:11] raj10071997 commented on #1210
Sorry I didn't see that. Are you still working on the issue?

[2018-03-19 17:12] aniket-agarwal1999 commented on #1210
@raj10071997 Yes but I am quite stuck here, so I would be more than happy to have help from you :)

[2018-03-19 19:46] mamakancha opened #1211 "Search Functionality in Skill List Fragment implemented improperly"
**Actual Behaviour**

Only first matching search is displayed rather than showing all the matching results.

[code]
The above code snippet is currently in use for search a query. Firstly, complexity can be improved for efficient search and even the logic is not completely correct. This simply finds the given query in the name of the skill and scrolls to the first position it finds.

**Expected Beh

[2018-03-19 19:50] mamakancha opened #1212 "Add hint in the skill search section and remove the line under the query"
**Actual Behaviour**

The green line under the query is very redundant and also does not look good.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/19153609/37618537-92d0fec4-2bdc-11e8-8eef-009f78ae86f0.png)

**Would you like to work on this issue**
Yes

[2018-03-19 20:00] raj10071997 commented on #1210
Sure..! :smiley:

[2018-03-19 20:07] mamakancha commented on #1206
@aniket-agarwal1999 This snackbar behavior class is very old and since then there have been many changes in the app so it's kind of useless rn. In future, if anyone wants to add a snackbar in the app the default behavior works fine and we don't specifically need a behavior class for it. That's my opinion.
@chiragw15

[2018-03-19 21:43] aniket-agarwal1999 commented on #1210
@raj10071997 Thanks :)

[2018-03-20 16:30] ShubhamKushwah commented on #1210
@raj10071997 Where are you stuck ask here, maybe I could help.

[2018-03-20 16:31] ShubhamKushwah commented on #1212
@chiragw15 I would like to work on this.

[2018-03-20 16:33] ShubhamKushwah commented on #1211
@chiragw15 I can improve this by also considering the substrings as well, which will make the search a lot more efficient. Please assign this to me.

[2018-03-20 16:34] ShubhamKushwah commented on #1209
@chiragw15 I would like to work on this.

[2018-03-20 17:04] aniket-agarwal1999 commented on #1209
@ShubhamKushwah I think that @raj10071997 has already claimed this issue.

[2018-03-20 18:01] raj10071997 commented on #1210
@ShubhamKushwah thanks for your help. May be you can help @aniket-agarwal1999 as he is trying to solve this issue.

[2018-03-21 04:06] mamakancha commented on #1211
Hi. You may start working on this issue. I anyway won't be able to contribute.

[2018-03-21 04:07] mamakancha commented on #1212
Please start working. I won't be contributing any further.

[2018-03-21 18:22] batbrain7 opened #1213 "SUSI.AI skills screen shows an error message"
**Actual Behaviour**

On SUSI.AI skills screen on scrolling down, the process automatically stops and a message is shown  : "Unable to fetch. Please try later"
**Expected Behaviour**

This should not happen if the skills are all displayed then should be present there instead of such an abrupt message.

**Steps to reproduce it**

Click on the SUSI button on the top of the chat and and then scroll d

[2018-03-21 18:38] ShubhamKushwah commented on #1213
How are you going to correct this, please elaborate!

[2018-03-21 18:52] batbrain7 opened #1215 "SUSI.AI skills screen cannot fetch skills after going back from another screen"
**Actual Behaviour**
Once you go back from settings screen to SUSI.AI skills screen you cannot fetch the skills using swipe refresh layout.

**Expected Behaviour**
The swipe refresh layout should reload the SUSI skills without any constraint to return from Settings activity or any other activity.

**Steps to reproduce it**

Click on the susi button, let the skills be loaded then go to settings act

[2018-03-21 19:24] raj10071997 commented on #1213
@batbrain7 there are already issues opened regarding this problem . #1008 #1210

[2018-03-21 19:25] batbrain7 commented on #1213
I didn't know @raj10071997 .
Closing this issue

[2018-03-21 19:25] #1213 closed

[2018-04-08 18:27] DipanshKhandelwal opened #1216 "No Dark theme like web"
**Actual Behaviour**
Presently there is no dark theme for the Android app like the web has.

**Expected Behaviour**
Must have a dark theme

**Screenshots of the issue**
![dark](https://user-images.githubusercontent.com/24923974/38470957-fafd4290-3b87-11e8-8eba-cd9174b4ed5f.png)

**Would you like to work on the issue?**
Yes

[2018-04-09 16:15] DipanshKhandelwal opened #1218 "Few reductant code in ChatActivity.kt"
**Actual Behaviour**
Some reductant code in ``` ChatActivity.kt ```

**Expected Behaviour**
Reductant code must be removed.

**Screenshots of the issue**
![a](https://user-images.githubusercontent.com/24923974/38509357-4e2ba288-3c3f-11e8-8b46-1d52e5b152ef.png)
![b](https://user-images.githubusercontent.com/24923974/38509362-514aebae-3c3f-11e8-8c9f-7dad785bd533.png)

**Would you like to work on the

[2018-04-09 17:09] batbrain7 commented on #1171
@harshitbansal05 may I work on this?

[2018-04-09 17:11] batbrain7 commented on #1143
@arundhati24 its been a while, I would like to proceed on this issue if you are no longer following it

[2018-04-09 18:09] batbrain7 opened #1220 "Unused code in aei.kitt.snowboy package"
**Actual Behaviour**

A lot of unused code in ai.kitt.snowboy package. This might result to memory leaks

**Expected Behaviour**
No unused methods and code should be present in the app code.

**Would you like to work on the issue?**

Yes

[2018-04-27 07:38] pprathameshmore opened #1223 "Add CardView for news in chat window."
**Actual Behaviour**

When we request for News, it shows in just one news.

**Expected Behaviour**

We need to add "CardView" for news. So we can show multiple top headlines in just horizontal "RecyclerView"

**Screenshots of the issue**
![news_cardview](https://user-images.githubusercontent.com/17108186/39350366-979d3e38-4a1b-11e8-87e0-d2595c57f1ac.png)

**Would you like to work on the issue?**
I

[2018-04-29 06:24] pprathameshmore opened #1224 "Unused XML scheme declaration."
**Actual Behaviour**

It is unused XML scheme declaration.

**Expected Behaviour**

We need to remove unused XML schemes declarations from code.
To style proper coding style.

**LogCat for the issue**

![error](https://user-images.githubusercontent.com/17108186/39403861-a9d2d17e-4ba3-11e8-9edd-9700353b916d.JPG)

**Screenshots of the issue**

![error](https://user-images.githubusercontent.com/17108

[2018-05-04 04:49] batbrain7 opened #1225 "On rotating the device in EmailVerification activity the process is killed"
**Actual Behaviour**

When we rotate the device in the email verification activity after clicking the reset password button, the progress bar vanishes.

**Expected Behaviour**

The progress bar should be present in the landscape mode also

**Steps to reproduce it**

Open the app, click on the forgot password, enter your email click on reset password and then rotate the device.

**Would you like to

[2018-05-05 09:25] batbrain7 opened #1226 "Welcome cards not visible even when skip is not pressed"
**Actual Behaviour**
On opening the app when welcome cards are displayed, when the app is closed instantly without clicking skip on reopening the app the welcome cards are gone.

**Expected Behaviour**
Welcome cards should not be displayed only when the user presses skip.

**Steps to reproduce it**
Open the app, kill the app then reopen it.

**Would you like to work on the issue?**
Yes

[2018-05-07 06:12] arundhati24 commented on #1142
As far as I could see this feature has not been implemented yet. Even the change in default system language is not reflected in our app.
I found this resource that we can use https://github.com/delight-im/Android-Languages
As of now, we send the language code as a query to the server. Other than that there has not been any implementation. Do you have any suggestions on how to implement this @batbr

[2018-05-07 08:29] akshatnitd commented on #1142
@arundhati24 For the web client, the multiple language support is implemented in the codebase by maintaining a file for all the different words used in the app. The implementation can be found [here](https://github.com/fossasia/chat.susi.ai/tree/master/src/components/Translate).

You can try to change he default system language and try to translate the words used within the app to that language. T

[2018-05-07 09:01] arundhati24 commented on #1142
@akshatnitd That's true. I see there are no different files here. I will try to fix that first. Also, what we need is to implement the change of language from within the app. I checked Google Assistant. To change the language, it first directs us to the system language & input setting where we require to choose the language that we want. But, that way the system language is changed i.e. all the ap

[2018-05-07 09:33] akshatnitd commented on #1142
@arundhati24 Yes, correct. I think there needs to be a similar
implementation like the web chat.

On Mon, May 7, 2018, 2:31 PM Arundhati Gupta <notifications@github.com>
wrote:

[2018-05-07 14:31] codedsun commented on #1226
@batbrain CAan I work on the issue?

[2018-05-07 18:57] batbrain7 commented on #1226
@codedsun I have already started working on it, I am busy with my exams but will send a PR by 11th May.

[2018-05-07 19:01] codedsun commented on #1226
@batbrain7 Thanks, no problem. Can u tag me some beginner issue of this project so that I can start contributions.

[2018-05-07 19:50] codedsun commented on #1223
@pprathameshmore I am taking this issue.

[2018-05-10 02:58] pprathameshmore commented on #1223
@codedsun Greate!

[2018-05-11 18:28] storytellerr opened #1227 "Two Circular progress Bar onSwipetorefresh() in skill activity"
#**Actual Behaviour**
In SUSI.AI Skills activity when we swipe to refresh the skills data along with one default circular progress bar,  Another progress bar which we defined in layout also starts.

**Expected Behaviour**
if we hit Swipe to refresh only default circular progress
bar should be shown. when the activity is loaded then only progress bar from activity layout should be shown

**Steps to

[2018-05-12 04:34] #1134 closed

[2018-05-12 19:53] arundhati24 opened #1230 "Write unit tests for SignUp feature"
**Actual Behaviour**

Currently, there are no unit tests for SignUp feature which includes the SignUp Contract (View and Presenter Interfaces) as well as the respective implementations as SignUpActivity and SignUpPresenter.

**Expected Behaviour**

There should be unit tests for SignUp feature so as to test it as an isolated component. This will help detect and fix flaws/bugs in this feature and w

[2018-05-12 19:56] arundhati24 opened #1231 "Write unit tests for Login feature"
**Actual Behaviour**

Currently, there are no unit tests for Login feature which includes the Login Contract (View and Presenter Interfaces) as well as the respective implementations as LoginActivity and LoginPresenter.

**Expected Behaviour**

There should be unit tests for Login feature so as to test it as an isolated component. This will help detect and fix flaws/bugs in this feature and will h

[2018-05-12 19:59] arundhati24 opened #1232 "Write unit tests for ForgotPassword feature"
**Actual Behaviour**

Currently, there are no unit tests for ForgotPassword feature which includes the ForgotPassword Contract (View and Presenter Interfaces) as well as the respective implementations as ForgotPasswordActivity and ForgotPasswordPresenter.

**Expected Behaviour**

There should be unit tests for ForgotPassword feature so as to test it as an isolated component. This will help detect

[2018-05-12 20:02] arundhati24 opened #1233 "Write unit tests for Chat"
**Actual Behaviour**

Currently, there are no unit tests for chat feature which includes the chat Contract (View and Presenter Interfaces) as well as the respective implementations as ChatActivity and ChatPresenter.

**Expected Behaviour**

There should be unit tests for Chat feature so as to test it as an isolated component. This will help detect and fix flaws/bugs in this feature and will help u

[2018-05-13 11:26] batbrain7 commented on #1209
@raj10071997 I am taking this issue.

[2018-05-13 11:36] batbrain7 commented on #1199
@ShubhamKushwah it works fine!

![screenshot_20180513-170346](https://user-images.githubusercontent.com/16780496/39966839-ecc5a66e-56cf-11e8-9d73-ee4b12a90352.png)

[2018-05-13 11:36] batbrain7 commented on #1199
@chiragw15 @amitiwary999 @the-dagger please close this issue.

[2018-05-13 11:42] #1199 closed

[2018-05-13 11:48] batbrain7 commented on #1224
@pprathameshmore are you working on this?

[2018-05-13 15:08] batbrain7 commented on #1035
@chiragw15 please close this issue

[2018-05-13 18:50] batbrain7 commented on #1185
@chiragw15 @amitiwary999 I need to discuss this, as we need to improve the UI of the app.

[2018-05-14 07:56] batbrain7 commented on #1181
@arundhati24 if its alright with you, I would also like to proceed towards this issue

[2018-05-14 08:10] arundhati24 commented on #1181
Yes sure @batbrain7  :)

[2018-05-14 13:46] batbrain7 commented on #1208
@mamakancha I am taking up this issue

[2018-05-15 03:04] batbrain7 opened #1236 "In list responses "An error occurred" is displayed"
**Actual Behaviour**

Currently whenever we request any answer whose return will be a list, susi displays "An error occurred", instead of a list.

**Expected Behaviour**

A proper list should be displayed.

**Steps to reproduce it**

Open susi app and in the chatActivity type "Barcelona Team players", the response from susi will be  "An error occurred"

**Screenshot for the issue**

![screenshot_2

[2018-05-15 09:56] chiragw15 commented on #1216
@DipanshKhandelwal Where was this discussed? We do not want a dark theme for the app right now. Please work on more important issues.

[2018-05-16 04:30] batbrain7 commented on #671
I am working on this issue @chiragw15 , will send a PR soon

[2018-05-16 05:26] arundhati24 opened #1238 "Fix Failing UI tests"
**Actual Behaviour**

Currently, the UI tests are failing because the permissions required while running the UI tests are not being granted properly.

**Expected Behaviour**

The required permissions should be granted when the dialog pop ups while running the UI tests on a device/emulator. This happens for API level >= 23 because from here the permissions are requested by the app when needed.

**W

[2018-05-16 08:51] batbrain7 commented on #1156
@arundhati24 its not working for me

[2018-05-16 09:50] batbrain7 commented on #1156
@arundhati24 lets break this into several issues and implement one at a time

[2018-05-16 09:53] batbrain7 opened #1240 "No message given if the skill is not found"
**Actual Behaviour**

Whenever we search the susi skill in SkillActivity.kt, if there is no skill found then nothing happens

**Expected Behaviour**

Ideally we must be shown a message saying "No skill found"

**Steps to reproduce it**

Search any skill that is not listed in the SkillActivity.kt.

**Would you like to work on the issue?**

Yes

[2018-05-16 20:14] arundhati24 opened #1242 "Remove menu from About Activity"
**Actual Behaviour**

Currently, there is a menu in the About activity, which contains only one option i.e. Settings. This is not a correct UI flow because we reached the About activity from the Skills Activity menu, which has the options About as well as Settings. Now, we allow the user to reach the Settings Activity from the About activity. Also, once we reach Settings activity from About, the b

[2018-05-16 20:17] arundhati24 opened #1243 "Remove menu from Settings Activity"
**Actual Behaviour**

Currently, there is a menu in the Settings activity, which contains only one option i.e. About. This is not a correct UI flow because we reached the Settings activity from the Skills Activity menu, which has the options About as well as Settings. Now, we allow the user to reach the About Activity from the Settings activity. Also, once we reach About activity from Settings, th

[2018-05-16 20:26] batbrain7 opened #1244 "Keyboard does not disappear after clicking cross on the SkillsActivity"
**Actual Behaviour**

Whenever we click on the search icon on the actionbar in SkillsActivity the softkeyboard pops up but it does not go away on clicking the cross icon.

**Expected Behaviour**

The keyboard should go away on clicking the cross icon

**Steps to reproduce it**

Open the skillsactivity and click on the search icon and then click on the cross icon.

**Would you like to work on the i

[2018-05-16 20:27] batbrain7 commented on #1156
@sauravvishal8797 I am fixing this issue

[2018-05-16 21:01] arundhati24 opened #1245 "Write UI test for Chat Activity"
**Actual Behaviour**

Currently, the existing UI tests for ChatActivity are failing and it has become very difficult to debug and fix them. Also, these existing tests check nothing except the presence of a view on the screen.

**Expected Behaviour**

It would be a better option to write new UI tests with proper checks on the functioning of the UI elements.

**Would you like to work on the issue?**

[2018-05-16 21:02] arundhati24 opened #1246 "Write UI test for Login Activity"
**Actual Behaviour**

Currently, the existing UI tests for LoginActivity are failing and it has become very difficult to debug and fix them. Also, these existing tests check nothing except the presence of a view on the screen.

**Expected Behaviour**

It would be a better option to write new UI tests with proper checks on the functioning of the UI elements.

**Would you like to work on the issue?*

[2018-05-16 21:02] arundhati24 opened #1247 "Write UI test for WelcomeActivity"
**Actual Behaviour**

Currently, the existing UI tests for WelcomeActivity are failing and it has become very difficult to debug and fix them. Also, these existing tests check nothing except the presence of a view on the screen.

**Expected Behaviour**

It would be a better option to write new UI tests with proper checks on the functioning of the UI elements.

**Would you like to work on the issue

[2018-05-17 06:56] batbrain7 commented on #1231
@arundhati24 I would like to add unit tests for the login?
I'll create separate issues for each test and will reference to this issue ?

[2018-05-17 11:28] arundhati24 commented on #1231
@batbrain7 Yes sure. Please go ahead. :)

[2018-05-17 11:55] arundhati24 opened #1250 "Connect smart speaker with SUSI Android App"
As discussed in the meeting, we need to add the feature to connect smart speakers with our Android app using Wifi-direct.
@batbrain7 @imjog We can discuss here.

[2018-05-17 12:41] #1164 closed

[2018-05-17 13:43] imjog commented on #1250
Thank you @arundhati24 for creating the issue. Do you have any idea about where we are going to implement it, I mean in app where we are going to give the option to connect to the smart speaker? (from UI perspective) @batbrain7

[2018-05-17 13:53] batbrain7 commented on #1250
@imjog I think we will make a separate section for Devices part as suggested by @mariobehling  just like in alexa app

[2018-05-18 02:34] iamareebjamal commented on #1216
@chiragw15 What should be done if the PR?

[2018-05-18 02:37] iamareebjamal commented on #1233
Generally, it's a good idea to create one parent issue and then keep adding child issues as you iterate on it. This keeps issue tracker free of similar placeholder issues

[2018-05-18 02:40] iamareebjamal commented on #1181
How much of testing is done in UI tests? In my opinion, UI tests should be disabled for now. CircleCI environment is quite fragile and may sometimes kill the process even without UI tests.

It is not fine to have failing tests for this long. This move will also shift focus towards writing more unit tests

[2018-05-18 02:41] batbrain7 commented on #1181
@iamareebjamal I will send a PR for the sam i.e. disabling the UI tests

[2018-05-18 02:42] iamareebjamal commented on #1180
@mamakancha Status?

[2018-05-18 02:45] #1172 closed

[2018-05-18 02:49] #1162 closed

[2018-05-18 02:52] iamareebjamal commented on #1181
But before that, how much of tests are actually done in UI tests? I mean count

[2018-05-18 02:56] iamareebjamal commented on #803
@arundhati24 Is your PR linked to this issue? As I saw another PR handling this

[2018-05-18 02:57] #1137 closed

[2018-05-18 02:58] #1161 closed

[2018-05-18 03:02] mamakancha commented on #1180
Not working currently. If someone wants to take up this issue, go ahead.

[2018-05-18 04:02] batbrain7 commented on #1181
@iamareebjamal
There are 4 tests for chatactivity
4 for forgotpasswordactivity
7 for loginactivity
4 for welcomeactivity
5 for signupactivity
1 for skillsactivity

so total  : 21

[2018-05-18 05:06] arundhati24 commented on #1233
@iamareebjamal Sure. Will do the same.

[2018-05-18 05:09] arundhati24 commented on #1250
sure @Akshat-Jain .
@batbrain7 Could you please elaborate a bit on what do you mean by a separate section for Devices?

[2018-05-18 05:15] arundhati24 commented on #803
@iamareebjamal I have just opened the issues for writing unit tests. @batbrain7 has started working on unit tests for login feature. He has used Mockito. So I think you might have come across that [PR](https://github.com/fossasia/susi_android/pull/1251).

[2018-05-18 05:44] #1243 closed

[2018-05-18 05:45] #1242 closed

[2018-05-18 05:46] #1209 closed

[2018-05-18 05:52] #1203 closed

[2018-05-18 05:54] #1193 closed

[2018-05-18 05:58] #1083 closed

[2018-05-18 05:58] #1179 closed

[2018-05-18 12:37] #1196 closed

[2018-05-18 15:36] #1240 closed

[2018-05-18 15:42] #1227 closed

[2018-05-18 17:52] #1124 closed

[2018-05-18 17:58] #1238 closed

[2018-05-18 19:05] arundhati24 opened #1257 "Update Gradle"
[Parent issue : #1194]

**Actual Behaviour**

Gradle version is out of date. This leads to build failures.

**Expected Behaviour**

The Gradle should be up to date with the latest version.

**Would you like to work on the issue?**

Yes

[2018-05-18 19:13] #1226 closed

[2018-05-18 19:38] arundhati24 opened #1259 "Update Kotlin plugin"
[Parent issue : #1194 ]

**Actual Behaviour**

Currently, the Kotlin plugin version we are using (1.1.3) is out of date.

**Expected Behaviour**

Kotlin plugin version should be updated to the latest version 1.2.41.

**Would you like to work on the issue?**

Yes

[2018-05-18 20:17] arundhati24 opened #1261 "Update all support libraries to exact same version"
[Parent issue : #1194 ]

**Actual Behaviour**

Currently, there are different versions of Android support libraries being used

**Expected Behaviour**

All support libraries should use the exact same version specification as mixing versions can lead to runtime crashes.

**Would you like to work on the issue?**

Yes

[2018-05-19 07:04] arundhati24 opened #1262 "App crashes on scrolling through the Skills Activity"
**Actual Behaviour**

Currently, all the skills are not being displayed in the Skills Activity. Also, on scrolling through the skills, the app crashes.

**Expected Behaviour**

All the skills should be displayed and the app should not crash on scrolling.

**Steps to reproduce it**

1) Log into the app.
2) Open Skill Activity by tapping the Susi FAB on the chat activity.
3) Try scrolling through th

[2018-05-19 07:04] arundhati24 commented on #1262
@batbrain7 Would you please confirm this?

[2018-05-19 07:07] arundhati24 opened #1263 "App crashes on tapping Settings option from the menu"
**Actual Behaviour**

Currently, the app crashes on opening Settings from the menu in Skills Activity.

**Expected Behaviour**

The Settings menu should open without the app crashing.

**Steps to reproduce it**

1) Log into the app.
2) Open Skill Activity by tapping the Susi FAB on the chat activity.
3) Tap on the Options menu and select Settings from it.

**LogCat for the issue**

![logcat_settin