[2016-12-04 11:56] saketkumar95 opened #383 "Clear chat option in Menu Item."
**Actual Behaviour**

There is no option to clear the chats at once.

**Expected Behaviour**

A clear chat option should be  implemented in the MenuItem to clear all the chats.

**Steps to reproduce it**

Clear chat menu should be added in the menu item to clear all the chats.

**Screenshots of the issue**

![whatsapp image 2016-12-04 at 5 29 32 pm](https://cloud.githubusercontent.com/assets/21558

[2016-12-04 11:59] amitiwary999 commented on #382
@vishwesh3 look at #255

[2016-12-04 12:07] #382 closed

[2016-12-04 12:45] mayank408 commented on #383
Copy of #308

[2016-12-04 12:53] saketkumar95 commented on #383
@mayank408 That issue is closed without being implemented.
@mariobehling Can i work on this?

[2016-12-04 13:00] mayank408 commented on #383
@saketkumar95 It is closed because its not required as of now.

[2016-12-04 13:48] saketkumar95 commented on #383
@mayank408 It was not required in october. This is december now. Let @mariobehling comment on this. If it is not required , then i will close the issue. Thanks for your suggestions.

[2016-12-04 14:54] mayank408 commented on #360
@the-dagger ^^

[2016-12-04 15:24] the-dagger commented on #360
Yeah, just make a search request on google and parse the incoming html.
There is no Google search API for this as of now,so this is the o lyrics way to do it.

[2016-12-04 19:46] chiragw15 commented on #255
@the-dagger I have completed the work and displayed the right date.
![screenshot_20161204-055808](https://cloud.githubusercontent.com/assets/16978820/20868657/e76cfb5e-ba86-11e6-8c65-fe2fedfd0878.png)

But there is a problem in this implementation. Suppose a case when messages of two different dates are displayed on the screen. In this implementation, the date will be displayed of the upper messag

[2016-12-05 10:24] mariobehling commented on #383
We would need to implement this in the server first and there are still issues to run the app on many devices in a stable manner. Therefore closing this as a non-priority issue. Cheers.

[2016-12-05 10:24] #383 closed

[2016-12-05 13:04] mariobehling opened #384 "Improve error messages and design for sign up and wrong emails/passwords"
**Actual Behaviour**

Currently the error message when signup for an account or entering the wrong passwords are difficult to view. Please improve the process similar to Facebook and show info boxes.

* [ ]  Please add "Ok" buttons for messages as Facebook does.

* Please implement info boxes as follows:
   * [ ] "Incorrect Password
          The password you have entered is incorrect. Please try

[2016-12-05 13:11] mariobehling opened #385 "Delete splash screen in order to come closer to our goal of a continuous personal assistant"
**Actual Behaviour**

Currently Susi has a splash screen. The splash screen does not provide any functionality. The future goal of the Susi app is to make it run continuously in the background and provide answers to users through hot words. Therefore if we can get rid of the splash screen we will come closer to this goal.

**Expected Behaviour**

No splash screen in the app and any features runnin

[2016-12-05 13:21] mariobehling opened #386 "Display message at the end of the sign up process"
**Actual Behaviour**

Currently no specific message is shown.

**Expected Behaviour**

* [ ]  At the end of the sign up process display a message box "Thank you for signing up. We have sent an email to the address you provided. Please use the confirmation link to activate your account and sign in to Susi."
* [ ] Add an "Ok" button (just like Facebook)
* [ ] After the user presses ok, redirect to l

[2016-12-05 13:23] mariobehling opened #387 "Do not let user signup with alredy registered email"
**Actual Behaviour**

Currently the mobile app let's users sign up with existing emails. However the server does not send the registration credentials, - cause the email address already exists.

**Expected Behaviour**

During sign up display message "Email address already exists. Please sign in with this email or use another email" and add an "Ok" button.

[2016-12-05 13:32] mariobehling commented on #185
Such a pity issues are claimed and then there is no activity for a long time. Please do not claim issues, if you do not have time. Closing this issue now in favour of accounting issues, with more details: https://github.com/fossasia/susi_android/issues?q=is%3Aissue+is%3Aopen+label%3Aaccounting

[2016-12-05 13:32] #185 closed

[2016-12-05 14:09] amitiwary999 commented on #385
I would like to work on this issue

[2016-12-05 14:11] amitiwary999 commented on #386
I would like to work on this issue

[2016-12-05 14:19] samsruti commented on #384
I would like to work on this issue :)

[2016-12-05 16:14] jig08 commented on #386
@amitiwary999 Pls take one issue at a time, you can resolve the prev assigned before taking this up next.

[2016-12-05 18:08] #385 closed

[2016-12-05 19:44] mayank408 commented on #386
I would like to work on this.

[2016-12-05 19:47] amitiwary999 opened #389 "App is crashing after login"
**Actual Behaviour**

After login app is crashing

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

*LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

Where-e

[2016-12-05 19:50] amitiwary999 commented on #389
During fix of issue #385 I forgot to change loginactivity (reason for app crashing)

[2016-12-05 22:06] mayank408 commented on #387
I would like to work in this.

[2016-12-06 02:21] mariobehling commented on #387
Great. You can test how this works on the web here: http://api.asksusi.com/apps/signup/

[2016-12-06 02:24] #386 closed

[2016-12-06 07:37] #387 closed

[2016-12-06 10:57] Orbiter commented on #372
freegeoip should be considered as a nice-to-have add-on. It also rises the question if we need another attribute which declares the accuracy of the location which again rises the question on how to handle that.

Therefore let's add another query attribute named 'geosource' where you can set a text, one of
- gps (for LocationManager.GPS_PROVIDER)
- network (for LocationManager.NETWORK_PROVIDER)
- i

[2016-12-06 11:00] Orbiter commented on #360
I thought there could be a build-in view mechanism in android to do that. If not, use the parser.

[2016-12-06 11:01] Orbiter commented on #192
I believe the server problem is fixed!

[2016-12-06 12:31] anantprsd5 commented on #350
@mariobehling PR #353 for this issue has been merged. Please close this issue.
Thanks.

[2016-12-06 15:22] mayank408 commented on #266
@the-dagger  Its resolved, so it can be closed

[2016-12-06 15:28] mayank408 commented on #384
@jig08 @samsruti I have already implemented alert for already existing emails and signup , so if u like I want to work on this.

[2016-12-06 15:31] daminisatya commented on #384
@mayank408 Conflict of work :) Try to share the work you have done and not done. So that it reduces duplicate effort.

[2016-12-06 16:34] samsruti commented on #384
@mayank408 I already started on that. But do let me know what sections out of 5 you want to work upon?

[2016-12-06 16:44] #266 closed

[2016-12-06 16:50] Orbiter commented on #372
To test this, I added a rule for the question "where am I".

The api call url must be
[code]

And it will return an answer like:
[code]
So you can test this directly in your android emu.

[2016-12-06 18:05] mayank408 commented on #384
@samsruti I am working on invalid email and password.

[2016-12-06 18:29] SuperHaker commented on #380
@samsruti  can we use firebase/Google drive/or just save the messages on phone storage and the next time the user logs in, it searches for a backup and if found, restores the messages, something like how whatsapp implements it?

[2016-12-06 18:30] SuperHaker commented on #354
@mariobehling This issue can be closed. :)

[2016-12-06 18:40] mariobehling commented on #350
Thanks!

[2016-12-06 18:40] #350 closed

[2016-12-06 18:41] chiragw15 commented on #372
@Orbiter sure :+1: Thanks :)

[2016-12-06 21:11] samsruti commented on #380
@SuperHaker Yeah we could use firebase to implement that. But what if we got a lot of user messages? It will be difficult to store the messages.

[2016-12-07 00:11] #384 closed

[2016-12-07 00:32] mariobehling commented on #380
Probably we would save the data in the server. There are already ways to save items in the susi server. At the moment we need people who understand the server better and can join development there as well. Let's postpone this issue for now before we make a decision and get the app more stable.

[2016-12-07 01:06] chiragw15 commented on #372
@Orbiter It is working fine but it isn't showing a map. Instead giving a link to a map.
![screenshot_20161207-062843](https://cloud.githubusercontent.com/assets/16978820/20950709/53f3ffc2-bc47-11e6-9583-7be914268473.png)

[2016-12-07 05:24] Orbiter commented on #372
That's fine, we will have another issue to handle the map in a consistent way with the question 'where is'

[2016-12-07 07:04] samsruti commented on #380
@mariobehling Yeah sure we will postpone this. I have started understanding the server. If I feel like I could handle this later, I will surely let you know. Till then we should focus to make the app more stable.

[2016-12-07 07:04] #380 closed

[2016-12-07 07:31] samsruti commented on #360
@maany Are you still working on this? I would love to take up this issue if you wish to.

[2016-12-07 10:35] samsruti commented on #192
@gogeta95 are you still working on this? I would like to work on this issue.

[2016-12-07 11:48] mayank408 commented on #360
@samsruti Ok no problem we can work together but pls tell me how you gonna approach it because there is no API available for search and if you directly query google using https://www.google.com/search?q=search , then according to google policy we get an error asking to write a captcha as we cant use google services through an app.

[2016-12-07 13:54] Orbiter opened #397 "Add action type 'anchor' to display a single link as answer line"
**Actual Behaviour**

Currently we cannot have anchor texts for links embedded in answer texts.

**Expected Behaviour**

We want to show links with link texts differently from the link itself. To do this, a new answer action type 'anchor' is introduced. Answer actions are presented as extra object within the set of given actions.

An anchor action looks like:
[code]
and can be tested with a query

[2016-12-07 14:05] mayank408 commented on #397
I would like to work on this.

[2016-12-07 14:07] mayank408 commented on #397
{
        "type": "answer",
        "expression": "Berlin is a place with a population of 3426354. Here is a map: https://www.openstreetmap.org/#map=13/52.52436820069531/13.41053001275776"
      },
      {
        "type": "anchor",
        "link": "https://www.openstreetmap.org/#map=13/52.52436820069531/13.41053001275776",
        "text": "Link to Openstreetmap: Berlin"
      },

[2016-12-07 14:09] mayank408 commented on #397
Just tell me how we gonna expression then , for ex if user asked "where is berlin" then susi would reply
Berlin is a place with a population of 3426354. Here is a map: https://www.openstreetmap.org/#map=13/52.52436820069531/13.41053001275776"

https://www.openstreetmap.org/#map=13/52.52436820069531/13.41053001275776"
"Link to Openstreetmap: Berlin"

in this way??

[2016-12-07 14:19] vivekkiran commented on #290
@mariobehling @Orbiter I would like to work on this issue, I will be using Firebase https://firebase.google.com/ for crash reporting along with analytics.

[2016-12-07 14:20] mayank408 commented on #360
@chiragw15 @the-dagger @SuperHaker ^^

[2016-12-07 14:24] the-dagger commented on #360
If querying google for answers isn't possible, I'd suggest you to have a
look at DuckDuckGo's APIs.
https://duckduckgo.com/api
They do have open sourced APIs for search and answers.

[2016-12-07 14:32] chiragw15 commented on #360
@mayank408 you can also use this one http://www.faroo.com/hp/api/api.html

[2016-12-07 17:05] gogeta95 commented on #192
Sorry, been caught up with work, you can work on it if you want to :)

On 07-Dec-2016 4:05 PM, "Samsruti Dash" <notifications@github.com> wrote:

@gogeta95 <https://github.com/gogeta95> are you still working on this? I
would like to work on this issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/fossasia/susi_android/iss

[2016-12-07 17:49] anantprsd5 commented on #278
@mariobehling @the-dagger I implemented the hotword using the CMU Pocketsphinx API. Everything works fine but as soon as I switch on the speech output I recieve "Error occured. Try again" message for every query I send using speech input. This happens only when I use hotword to call the speechInput() function.
Please help me with this.
Thanks.

[2016-12-07 18:06] samsruti commented on #360
Yeah I agree with @the-dagger and @chiragw15, we can use Open Sourced APIs for this.
They are easy and good to use.

[2016-12-08 13:36] Orbiter commented on #397
Yes I know that looks awkward right now, but it's just an example. As soon as this works, the rule in Susi will be changed and there will be only one link as a result.

[2016-12-08 14:58] Orbiter commented on #372
so just check in your code please

[2016-12-08 15:11] Orbiter opened #400 "Add action type 'map' to display a map within the chat"
**Actual Behaviour**

Currently there is no special handling of geolocation information from actions in susi response

**Expected Behaviour**

A new action type "map" has been introduced. If the susi server responds with a geolocation action result, the android app shall show a map for the given coordinates.
Here is an example:
[code]
If such an action occurs, please show a map in the response of

[2016-12-08 15:12] Orbiter commented on #397
There is now also a related issue: https://github.com/fossasia/susi_android/issues/400 which will show a map according to given location informations. But it is a different aspect. Both (showing a link and showing a map) will be combined for answers to questions like "where is". So please omit any map-related things here, this is just about links. The map is handled in https://github.com/fossasia/

[2016-12-08 16:49] saketkumar95 opened #401 "Double backpress to exit."
**Actual Behaviour**

In most of the apps if the user presses back button to exit, a toast message appears which prompts the user to press back button again to exit.

**Expected Behaviour**

It will show the toast message to "press the button again to exit" whenever someone press back button once.

**Would you like to work on the issue?**

Yes i would like to work on this.

[2016-12-08 16:51] saketkumar95 commented on #401
@mariobehling Can i work on this?

[2016-12-08 19:20] mayank408 commented on #400
I would like to work on this.

[2016-12-09 05:31] #401 closed

[2016-12-09 06:31] samsruti commented on #397
I would like to work on this issue

[2016-12-09 11:25] saketkumar95 opened #405 "Replace snackbar with toast when message is copied and display the number of messages copied"
**Actual Behaviour**

In most of the messaging apps if the user selects multiple messages to copy then after the copied a toast messages apears like 2 or 3 messages copied. But currently there is a snackbar which shows only that a message is copied. Does give the number of messages copied.

**Expected Behaviour**

A toast message with the number of messages that are copied.

**Steps to reproduce i

[2016-12-09 13:54] #405 closed

[2016-12-09 16:27] saketkumar95 opened #408 "Add a feature of Solid colors as background."
**Actual Behaviour**

In most of the messaging apps, the user gets to select the Solid colors as background color. Currently there is only option to set an image or no wallpaper

**Expected Behaviour**

There should be an option of selecting solid colors for background. Just for a demo see the screenshots.

![2c](https://cloud.githubusercontent.com/assets/21558765/21056112/3d57f114-be5a-11e6-99d9-

[2016-12-09 16:30] jig08 commented on #408
With respect to https://github.com/fossasia/susi_android/issues/366#issuecomment-263709314, closing this issue :)

We are currently focussing more on the functionality aspect than UI.

[2016-12-09 16:30] #408 closed

[2016-12-09 16:36] saketkumar95 commented on #408
@jig08 Will like to know what more functionality we can add. I'm ready to work on it.

[2016-12-09 16:40] jig08 commented on #408
Check out the [unassigned issues issues](https://github.com/fossasia/susi_android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) and grab any :)

[2016-12-09 16:45] saketkumar95 commented on #408
They are unassigned but people already commented to work on that. I got this [#211](https://github.com/fossasia/susi_android/issues/211) issue but couldn't understand what actually is the issue? If you could then do explain me.

[2016-12-09 16:54] jig08 commented on #408
When you send a link in a message (say `message_a`) to `susi`, a link preview is displayed.

But then when you scroll up to the extent that `message_a` isn't visible on the current screen and go back again (downwards) to `message_a` again after scrolling up, the link preview is gone.

That's what Issue #211 states.

Hope I was able to put in clearer words.

[2016-12-09 18:37] saketkumar95 commented on #211
@mariobehling @jig08 i would like to work on this.

[2016-12-09 18:38] saketkumar95 commented on #408
Cool. I got it now. Thanks :) and do assignee me that issue.

[2016-12-09 21:03] saketkumar95 opened #410 "Display number of messages to be deleted before also in the alert dialog"
**Actual Behaviour**

In most of the messaging apps if the user selects multiple messages to delete an alert dialog appears with displaying **Delete 2 or 3 messages?**. Currently it asks to delete it or not.

**Expected Behaviour**

Display the delete 2 or 3 messages? and after deletion of message a toast should appear informing 2 or 3 messages deleted.

**Steps to reproduce it**

Count the number

[2016-12-10 10:40] #400 closed

[2016-12-10 17:26] samsruti commented on #278
I would like to work on this issue :)

[2016-12-10 19:50] saketkumar95 commented on #278
@samsruti @anantprsd5 is already assigned and working on it. Please check the [unassigned issues ](https://github.com/fossasia/susi_android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) and grab any. :)

[2016-12-10 20:09] samsruti commented on #278
@saketkumar95
@anantprsd5 is assigned but I think he is completely inactive on the issue. So, I thought I could take up this issue.

[2016-12-10 20:39] anantprsd5 commented on #278
@samsruti I am working on it and have almost completed it. I am just facing a small issue in this. Everything works but when I turn on the speech output, I'm getting an error occurred message. May be you can help me out in this.

[2016-12-10 21:17] samsruti commented on #278
@anantprsd5 I would love to help. Please tell where you are facing the issue?

[2016-12-11 08:29] HimanshuS01 opened #414 "Disable The Ask Susi Something Bar on tapping on the search view bar."
**Actual Behaviour**

When we tap on the search icon in the action bar, the AskSusi Something EditText shown below along with the mic which   usually remains hidden in other chat application.

**Expected Behaviour**

So either we can hide the AskSusi Something EditText and FloatingActionButton i.e. mic or we can disable both of them.
Thank You!

**Screenshots of the issue**
![untitled-1](https://c

[2016-12-11 08:39] amitiwary999 commented on #414
Already done this in #292 .I am Waiting for their reply.

[2016-12-11 09:32] #372 closed

[2016-12-11 09:50] LearnerHimanshu commented on #414
Ok fine @amitiwary999 .So didn't you send the PR for the same?

[2016-12-11 11:29] amitiwary999 commented on #414
They closed this issue #292.

[2016-12-11 13:23] octacode opened #415 "Addition of a new action 'Call'"
**Actual Behaviour**

For the time being. If we request Call '987653210'. Susi launches a web search intent for it.

**Expected Behaviour**

Susi will launch the dialer and set the number "9876543210" on the dialer.

**Steps**
I will use the Intent.ACTION_DIAL. So no new permission will be required.

**Would you like to work on the issue?**

Definitely, I would love to.

[2016-12-11 17:04] anantprsd5 commented on #278
@samsruti Please check the changes made in the mainActivity from [here](https://github.com/anantprsd5/susi_android/commit/fd5c34489b1906676c1062506910c88820c74fc7). Everything works fine but sometimes I am getting an "Error occurred " message. After sending one written message, it works fine.

     catch (IndexOutOfBoundsException | NullPointerException e) {

[2016-12-11 20:48] samsruti commented on #278
@anantprsd5 I am getting error everytime. The app getting crashed everytime i ran. Please check there also.

[2016-12-11 21:11] HimanshuS01 opened #417 "On changing the screen orientation data in the search bar lost"
**Actual Behaviour**
When we change the orientation of our device then anything we had typed in search bar gets lost.

**Expected Behaviour**

Data we typed on search bar must be preserved even on changing the screen orientation.

**Screenshots of the issue**
Before:
![3ecf2142-30cd-4097-9da2-0e01c968f2e7](https://cloud.githubusercontent.com/assets/18090596/21083289/0c63be0c-c013-11e6-9598-e41f65f

[2016-12-11 21:46] LearnerHimanshu commented on #414
@mariobehling @amitiwary999  My point is different from what is mentioned in #292
The mic is not disabled like EditText. Either both of them should be disabled or none of them or we should also hide both of them like in whatsapp. Thanks.
@mariobehling can I work on this?

[2016-12-12 11:35] samsruti opened #419 "Extra messages with Null values are displaying"
**Actual Behaviour**

Type: Where is Berlin?
3 messages are displaying with 2 messages (1st and 3rd) are displaying nothing.
![device-2016-12-12-170142](https://cloud.githubusercontent.com/assets/6136117/21097953/0cc27936-c08d-11e6-99e6-4c477d850511.png)

**Expected Behaviour**

Only the map should display as the reply.
![device-2016-12-12-170230](https://cloud.githubusercontent.com/assets/6136117

[2016-12-12 13:59] anantprsd5 commented on #278
@samsruti Fixed crashing problem. Still sometimes I'm getting error occurred message. Please check [this](https://github.com/anantprsd5/susi_android/commit/1c753bfad765bec5e9ef4a47053da705f1ff6d6e).

[2016-12-13 03:04] chiragw15 opened #421 "Order of messages not right"
**Actual Behaviour**

When sent two or more continuous messages, their response order is not correct.

**Expected Behaviour**

The response from susi should be in correct order.

**Steps to reproduce it**

Send two consecutive messages without waiting for susi's reply.

**Screenshots of the issue**

![screenshot_20161219-082024](https://cloud.githubusercontent.com/assets/16978820/21125887/bd82720e

[2016-12-13 03:22] chiragw15 commented on #421
@the-dagger @Orbiter What may be the cause of this issue?

[2016-12-13 13:55] samsruti commented on #278
@anantprsd5 I am checking on this.

[2016-12-13 15:52] samsruti commented on #278
@anantprsd5 I found it is not accepting the audio. And the mic button getting crashed most of the time. I couldn't figure out any fixes by testing your code. I need to check once more.

[2016-12-13 17:08] anantprsd5 commented on #278
@samsruti is the Google speech recognizer not accepting the audio or the hotword audio is not working?
Thanks.

[2016-12-13 17:18] samsruti commented on #278
Hotword audio is not working. And even if i click on the Mic button then app is getting crashed.
Thanks.

[2016-12-13 17:39] anantprsd5 commented on #278
@samsruti please check once by manually setting record audio and write storage permission from the settings because for me it is working. Using Android 4.2.2
Thanks.

[2016-12-13 19:02] samsruti commented on #96
@daminisatya Any updates on this? I would like to work on this issue :)

[2016-12-14 17:04] viveksb007 commented on #421
@chiragw15 its probably because of response delay from susi server. response for "hi" is fast but for "yo" it takes time relative to "hi".
you can check it here https://susi-server.herokuapp.com/  check with "hi" and "yo", you can see the delay.

[2016-12-15 16:17] #360 closed

[2016-12-15 16:40] #419 closed

[2016-12-15 16:40] samsruti commented on #397
@Orbiter Can you please close this issue?

[2016-12-15 16:54] mayank408 commented on #192
@the-dagger Already merged can be closed now.

[2016-12-15 16:58] samsruti commented on #192
Yeah thanks @mayank408 for bringing this :)

[2016-12-15 17:02] #192 closed

[2016-12-15 17:02] #397 closed

[2016-12-16 12:56] LearnerHimanshu commented on #417
hey @mayank408 ,I had already solved this issue and was waiting for the @mariobehling @the-dagger approval.I will send PR once this is approved.
Thanks.

[2016-12-16 13:24] samsruti commented on #417
@mayank408 Please let everyone know that you are working on any issue if you are not assigned to it. If nobody is assigned wait for the admin, so that they can assign. Otherwise conflict of work would happen :)

[2016-12-16 14:18] mayank408 commented on #417
@LearnerHimanshu @samsruti The issue was unassigned and required only a single line of code thats why I made the pull request because there is no point in holding such petty issues. Ya i must have informed first , sry for that part .
Thanks.

[2016-12-16 14:19] samsruti commented on #417
@mayank408 Thanks.

[2016-12-16 17:19] mayank408 commented on #354
@the-dagger Its merged can be closed now :)

[2016-12-16 17:20] mayank408 commented on #415
@octacode any updates on this issue.

[2016-12-16 17:21] octacode commented on #415
Working on it.

[2016-12-16 17:27] mayank408 commented on #415
@octacode great

[2016-12-16 19:09] octacode opened #426 "Addition of a RateApp feature in the settings Activity."
**Expected Behaviour**
As Susi is already live on PlayStore. I was thinking of adding a link in the Settings Activity.

**Would you like to work on the issue?**
Yes!

[2016-12-17 04:38] anantprsd5 commented on #278
@samsruti Did you find any fixes?
Thanks.

[2016-12-17 06:10] samsruti commented on #278
@anantprsd5 nopes. Trying :)

[2016-12-18 14:28] daminisatya commented on #96
due to inactivity from @chiragmittal19 I'm assigning to @samsruti :) Please let me know if you have done any work @chiragmittal19

[2016-12-19 08:21] #417 closed

[2016-12-19 10:36] chiragw15 commented on #96
@daminisatya you said you have to go through the server changes and would let me know after that. Since server response from susi is still "I don't know" for both the above mentioned queries, I thought you are working on the server issues and will let me know when they are fixed. If the response from server is correct, I can start working on this issue.

[2016-12-19 10:41] chiragw15 commented on #421
@viveksb007 @samsruti @mayank408 Is it possible that we are sending one query to susi server and even before receiving response of the first query, we are sending a second query and getting its response? If it is possible, then what may be the possible solution of this problem?

[2016-12-19 12:16] samsruti commented on #421
@chiragw15 I think yes.
It is an issue in susi_server i think.

[2016-12-19 12:19] samsruti commented on #96
@chiragmittal19, We both can work if you are that much interested. We is far better than I :)
Thanks.

[2016-12-19 12:34] chiragw15 commented on #96
@samsruti  Yaa sure cool, no problem . :+1:
P.S : You guys are tagging wrong chirag. He'll be very pissed with unwanted mails. XD

[2016-12-19 12:46] chiragw15 commented on #421
@samsruti What is the ideal behavior then? "One api call at one time" or can we send multiple queries from a single device at a particular time?

[2016-12-19 15:59] #354 closed

[2016-12-19 16:50] viveksb007 commented on #421
@chiragw15 that's exacly what is happening. We can send multiple queries at a particular time.

![screenshot from 2016-12-19 22-13-45](https://cloud.githubusercontent.com/assets/12713808/21320895/9271c02c-c638-11e6-94a6-a5bbffab6c4b.png)
![screenshot from 2016-12-19 22-14-03](https://cloud.githubusercontent.com/assets/12713808/21320896/927531a8-c638-11e6-8ea3-2826c52d0f73.png)

you can see delay i

[2016-12-19 21:55] chiragw15 commented on #421
Since we are maintaining a queue for susi api call, can we simply push the next query in the queue when the response of the first query is received? Will that work?

[2016-12-20 07:39] krishnarai30 commented on #426
yes

[2016-12-20 16:56] samsruti commented on #421
@chiragw15 if we could wait for the first query to get executed, then we could solve this issue. So Yeah, Queuing would work ;)

[2016-12-20 18:03] mayank408 commented on #421
@chiragw15 @samsruti  Cant we limit only one query at a time, it will eventually solve this problem.

[2016-12-20 18:07] octacode commented on #421
@mayank408 Yeah, I too am thinking the same. But how will we limit to only one query?

[2016-12-20 19:11] samsruti commented on #421
@mayank408 This could make a user feels boring sometimes. Suppose I want to type 3 messages like:
1.Hey Susi
2. Show me a nearby hospital
3. Call me an ambulance.

I can't wait for the response of that message to reply another message.
So I think we should queuing of queries would be helpful in this case.

[2016-12-20 19:18] chiragw15 commented on #421
@samsruti We are actually maintaining a queue right now and recursively poping elements (queries) of queue and sending it to susi server. But due to asynchronous operations, the order is reversed because it takes more time for susi to reply to "yo" than "hi".

[2016-12-21 06:51] AmoliShah opened #427 "No Search Results Found"
**Actual Behaviour**

Whenever it answers 'I dont know how to answer this.Here is the web search result:' No search results are found.

**Expected Behaviour**

It should produce the results from Google search.

**Screenshots of the issue**

![screenshot_2016-12-21-12-17-47](https://cloud.githubusercontent.com/assets/15183634/21379962/dba6f47a-c777-11e6-80c8-d7729b5c387a.png)

**Would you like to w

[2016-12-21 06:57] AmoliShah commented on #426
I would like to work on this issue. @octacode

[2016-12-21 08:23] octacode commented on #426
@AmoliShah I am already done with it. As soon as it is approved. I will send the PR.

[2016-12-21 08:38] AmoliShah commented on #426
ok. @octacode

[2016-12-21 08:47] AmoliShah commented on #427
@the-dagger Can i start working on it?

[2016-12-21 09:15] mayank408 commented on #427
@AmoliShah @the-dagger  I am already working on implementing google search using chrome custom tabs you can check out at gitter channel as well.

[2016-12-21 09:20] AmoliShah commented on #427
@mayank408 ok cool.

[2016-12-21 20:48] samsruti commented on #96
@daminisatya We are still getting incorrect response. Can you please look into the server details and let us know?

[2016-12-23 18:53] mayank408 commented on #211
@saketkumar95 Any progress in this issue.

[2016-12-25 08:27] HimanshuS01 commented on #414
@jig08 @the-dagger can I send PR for this if this is an intented enhancement?

[2016-12-25 10:24] jig08 commented on #414
Kindly hide the `EditText` and `Mic` on search.

[2016-12-25 14:33] HimanshuS01 commented on #414
Ok @jig08 .I will soon send  a PR.

[2016-12-25 19:04] samsruti commented on #96
@mariobehling @Orbiter @the-dagger  Can anyone have a look on the server side? Why are the responses not coming as expected? http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=What+are+the+reddit+articles+about+loklak

[2016-12-26 05:10] daminisatya commented on #96
@chiragw15 Oops sorry man. I was dealing with too many pull requests. Totally my bad. let's follow up in the channel .

[2016-12-26 16:32] saketkumar95 commented on #211
Yes. Working on this now. I was a bit busy in semester exam. Will give the update soon.

[2016-12-26 19:51] samsruti commented on #96
@daminisatya @jig08 Is this looking good for displaying tables? What could be the limit for the list?

![test_susi](https://cloud.githubusercontent.com/assets/6136117/21486009/6ef85d1e-cbd2-11e6-8916-ca5fccbce3a4.png)

[2016-12-27 00:20] princebansal opened #435 "Multiple APKs for reduced APK size"
**Actual Behaviour**

As Realm is used in the project, the overall APK size is increased due to multiple processor architecture library files in one universal APK.

**Expected Behaviour**

Gradle can be easily configured to split the APKs and generate multiple APKs.

**Steps to reproduce it**

The code in build.gradle file needs to be configured.

**Would you like to work on the issue?**

Yes and

[2016-12-27 00:56] princebansal commented on #278
@anantprsd5 Can you please provide the updates on this issue?

[2016-12-27 03:10] anantprsd5 commented on #278
@princebansal Please check this [link](https://github.com/anantprsd5/susi_android). I implemented it using CMU sphinx api but the hotword is sometimes working and sometimes doesn't. Please go through the changes and check if you can find any fixes.

[2016-12-27 05:26] chiragw15 commented on #96
@daminisatya no problem, :+1: . @samsruti How did you get this response from susi?

[2016-12-27 05:28] daminisatya commented on #96
@samsruti Yes that is the response.

[2016-12-27 05:32] samsruti commented on #96
@daminisatya @chiragw15 I tested all the codes given here: https://github.com/fossasia/susi_server/blob/1efca95658337dcdbadaed555a9c27b0b4ba8d15/docs/AskSUSI.md

There I found this :
<random> read <random> RSS <link-of-RSS-feeds>
example: Susi, Please read the RSS feed from https://news.ycombinator.com/rss

[2016-12-27 05:33] samsruti commented on #96
@daminisatya For chart I could not able to get any response? Can you please look into that?

[2016-12-27 07:33] #427 closed

[2016-12-27 07:45] mayank408 commented on #255
@chiragw15 Any progress in this issue ... :)

[2016-12-27 08:16] chiragw15 commented on #255
@mayank408 What I did is to create a new view for date and whenever the date is changed, the view gets visible. I am also adding this date view to database but sometimes the order of two message gets reversed since we are adding objects asynchronously in database. I am trying to figure that out. If you have any other idea for implementing this or any other trick to control ordering in asynchronous

[2016-12-27 08:51] samsruti commented on #96
Sample Pie Chart is done :)
Need some real data responses to implement.

[2016-12-27 10:13] mayank408 commented on #255
@chiragw15 I got your point , to solve this issue first we have to deal with the issue regarding the order of message , I am looking into it :)

[2016-12-27 18:57] samsruti opened #438 "Page down Navigation Icon is visible everytime"
**Actual Behavior**

Page down Navigation Icon is visible even if the last message is showing.

**Expected Behavior**

This icon should be present when you are at the top of the conversation. It should display at the end of the conversation

**Steps to reproduce it**

Navigate to the end of the conversation. That icon would still be visible.

**Screenshots of the issue**

![bug](https://cloud.gith

[2016-12-27 19:17] mayank408 commented on #438
@samsruti Its not showing in my mobile , its not an issue until the last merge , how its showing in yours....

[2016-12-27 19:37] samsruti commented on #438
@mayank408 I have updating my branch and still its happening.

[2016-12-27 20:02] #438 closed

[2016-12-28 16:04] the-dagger commented on #290
@mariobehling since the app is still in alpha phase, adding in crash logging makes little sense since that is helpful only when the crash happens on the user's device.
I'd suggests to implement this feature when we are opening Susi for beta testing.

[2016-12-28 16:06] samsruti commented on #290
@mariobehling I would agree with @the-dagger. I have implemented it so later during the beta stage I will add that into this branch :)

[2016-12-28 18:10] #435 closed

[2016-12-29 01:43] #426 closed

[2016-12-29 01:45] #410 closed

[2016-12-29 04:01] #415 closed

[2016-12-29 08:06] samsruti opened #443 "App getting crashed after certain messages."
**Actual Behaviour**

Type: Where am I
Now the app getting crashed without showing the exact location.

**Expected Behaviour**

Type: Where am I
The response should show a marker on the map or tell the location of the user instead of showing the map only.

**Steps to reproduce it**

Ask Susi: Where am i
App will get crashed

Now re-run the app, there will be the response but without marker on the

[2016-12-30 10:09] HimanshuS01 opened #445 "Adding landscape layout for signup screen"
**Actual Behaviour**
Right now there is a scrolling behaviour in SignUp screen during landscape mode,which is generally not present in other application like in facebook.

**Steps to reproduce it**
Adding landscape layout for signup screen.

**Screenshots of the change**
![device-2016-12-30-153713](https://cloud.githubusercontent.com/assets/18090596/21563213/c7d0704a-cea5-11e6-9c23-5d8c2cc1ce81.pn

[2016-12-30 14:10] krishnarai30 commented on #445
@HimanshuS01 i would like to work on this

[2016-12-30 15:55] HimanshuS01 commented on #445
Hey @krishnarai30  I have already done with this UI and just waiting for mentors approval. Once they approve this, I will send the PR.
Thanks.

[2016-12-30 16:38] krishnarai30 opened #446 "Wallpaper Not changing"
**Actual Behavior**

Wallpaper isn't changing.
The image to be applied changes its aspect ratio and saves as a new version of the actual image.

**Expected Behavior**

Wallpaper is changed.

**Steps to reproduce it**

Refer screenshots.

**Screenshots of the issue**

![whatsapp image 2016-12-30 at 9 54 55 pm 2](https://cloud.githubusercontent.com/assets/16545083/21568648/454193ac-cedc-11e6-8b0b-4f

[2016-12-31 02:59] #443 closed

[2016-12-31 02:59] #255 closed

[2016-12-31 03:00] #290 closed

[2016-12-31 10:57] supreme96 opened #447 "all prev web search results reflect the latest one only."
**Actual Behaviour**
when made multiple queries which were responded with different web search results, all previous web search results also change to show only the latest search result.

**Expected Behaviour**

for the multiple quries each of the response search results should show their own results.

**Steps to reproduce it**
make multiple queries which are answered by web search results
**LogCa

[2016-12-31 18:22] Orbiter opened #448 "Apk does not install"
**Actual Behaviour**

Latest apk does not install on my phone.

**Steps to reproduce it**

After an unusual long installation time I get the dialog message "not installed"

[2016-12-31 18:34] samsruti commented on #448
Which version of OS and phone are you using?

[2016-12-31 21:58] HimanshuS01 commented on #448
Yeah.  There is a problem occurring in installing the apk and yes! It is also taking so much time to install

[2016-12-31 23:24] samsruti commented on #448
Can you please check by uninstalling the previous version of the app and install the latest one?

[2017-01-01 00:09] Orbiter commented on #448
I uninstalled the older version first. After that the installation of the most recent version failed fast. Then I rebooted the device and installation took long but still failed.

[2017-01-01 04:46] samsruti commented on #448
Can you please help us by showing the logs?
Thanks :)

[2017-01-01 07:00] mayank408 commented on #448
@HimanshuS01 I am not facing any problem in installing the new apk.

[2017-01-01 08:15] chiragw15 commented on #446
@krishnarai30 I think it is working fine if you complete action using galley but doesn't work for Google photos. Is it?

[2017-01-01 08:51] chiragw15 commented on #448
@Orbiter @HimanshuS01 Are you guys getting something like this?
![screenshot_20170101-135724](https://cloud.githubusercontent.com/assets/16978820/21580623/40e67dcc-d02b-11e6-9e86-de4d1c22b0b4.png)

I too got this when I downloaded the apk from link in the below picture but worked fine when I ran the project from android studio.
![susi](https://cloud.githubusercontent.com/assets/16978820/21580627/9

[2017-01-01 09:06] mayank408 commented on #448
@chiragw15  Yup , I am also facing the issue when downloading through the given link..

[2017-01-01 10:09] Orbiter commented on #448
@chiragw15 exactly (well, I have the german message "nicht installiert" which means the same)

[2017-01-01 10:42] samsruti commented on #448
I didn't face anything like this.

On Jan 1, 2017 3:39 PM, "Michael Christen" <notifications@github.com> wrote:

[2017-01-01 11:05] samsruti commented on #448
@the-dagger Can you please re-run the apk-gen.sh :) ?

[2017-01-01 11:41] mayank408 commented on #448
ebug{
 +            minifyEnabled false
 +        }
 +    }
 +
 +    splits {
 +        abi {
 +            enable true
 +            reset()
 +            include 'x86', 'armeabi-v7a', 'mips', 'arm64-v8a', 'x86_64'
 +            universalApk false
 +        }
 +    }
 +
 +    project.ext.versionCodes = [ 'armeabi-v7a': 1, 'arm64-v8a': 2, 'mips': 3, 'x86': 4, 'x86_64': 5]
 +
 +    android.applicat

[2017-01-01 11:42] mayank408 commented on #448
@samsruti @Orbiter @the-dagger @chiragw15 This is what I found is causing the error.I think we should not split the apk as done here . I will send the pr if it worked. Thanks:)

[2017-01-01 11:52] samsruti commented on #448
mayank408 thanks :)
Let's all try to fix this issue :)

[2017-01-01 14:44] #448 closed

[2017-01-01 17:21] HimanshuS01 commented on #445
@the-dagger @daminisatya @jig08 can I send the PR?
Thanks.

[2017-01-01 17:22] mayank408 opened #451 "The map does not show the location pointer."
**Actual Behaviour**

The map does not show the location pointer.
**Expected Behaviour**

There should be a specific pointer pointing to the desired location in the map.
**Steps to reproduce it**

![map](https://cloud.githubusercontent.com/assets/22056321/21582215/9c076e8e-d074-11e6-923d-93b96b18b0fa.png)

**Would you like to work on the issue?**
yes

[2017-01-01 19:53] HimanshuS01 commented on #445
Sure @mariobehling Thank you.I am just waiting for my issue approval whether it is legitimate or not.
I will take care of that.

[2017-01-02 12:12] mayank408 commented on #278
@anantprsd5 The hotword implementation that we are doing will not be effective , the problem is that even if we can achieve hotword detection which I tried a lot(and achieved only a single time) , we know that every person speaks "Hi Susi " differently , so its difficult to get that accuracy .  We don't want to user to get frustrated by keep saying "Hi Susi " and it did not react at all .

@the-da

[2017-01-02 19:48] mayank408 commented on #447
@supreme96 This issue is copy of #211 , in both we have to save it in database and I am working on it.
Please find other issue or take any unassigned issue . Cheers :)

[2017-01-02 20:05] #451 closed

[2017-01-02 20:32] Rajat2712 opened #454 "The Ask Susi Something bar doesn't working after closing search bar using back button"
**Actual Behaviour**

When we close the search bar using the back button the ask susi something bar stop responding we have to reopen the app in order to work

**Expected Behaviour**

So after closing the search bar ask susi something bar should work.
![screenshot_2017-01-03-01-41-48](https://cloud.githubusercontent.com/assets/23000971/21595852/9960289e-d158-11e6-9126-881ecb26010b.jpg)

**Would yo

[2017-01-02 20:45] HimanshuS01 commented on #454
hey @Rajat2712 I have already solved this issue in #414 and already sent the PR.Now the AskSusi bar is working fine after closing the search bar using back button.Kindly close this issue.
Thanks :)

[2017-01-02 20:57] Rajat2712 commented on #454
hey @HimanshuS01  I think this issue is different from issue #414  as you had worked on the visibility of the AskSusi bar that it is it will become visible but still it will not work.

[2017-01-03 00:04] #454 closed

[2017-01-03 06:10] supreme96 commented on #447
ok .

[2017-01-03 06:10] #447 closed

[2017-01-03 06:29] supreme96 commented on #311
@mariobehling is this issue assigned?

[2017-01-03 06:54] mariobehling commented on #311
I think this issue was solved. Please open new issue with relevant updates if necessary.

[2017-01-03 06:54] #311 closed

[2017-01-04 19:04] betterclever opened #455 "Google Search Intent triggering in unintended cases"
**Actual Behaviour**

The current feature to search google directly by writing "@google" has some issues. It is triggering the intent to search on google even in other cases when user did not ask to Google it.

**Expected Behaviour**

The Google intent must open only in required case i.e. only when user type "@google <query>"

**Steps to reproduce it**

Send a message "google.com"  to susi, the re

[2017-01-04 19:49] HimanshuS01 commented on #446
Hey @krishnarai30 what's the progress in this issue.?  :)

[2017-01-04 19:53] krishnarai30 commented on #446
@HimanshuS01 I am working on the issue and testing it on various devices will send PR within this week.

[2017-01-05 05:39] betterclever commented on #211
@mayank408 I have solved the issue already, can I send a PR?

[2017-01-05 05:42] mayank408 commented on #211
@betterclever Ya no problem you can send , I am bit busy . Cheers :)

[2017-01-05 05:53] betterclever commented on #455
@mayank408 Ya sure! 😄

[2017-01-05 05:55] #414 closed

[2017-01-05 07:23] #211 closed

[2017-01-06 07:50] #455 closed

[2017-01-06 13:39] mayank408 opened #459 "All prev web search results reflect the latest one only."
**Actual Behaviour**

when made multiple queries which were responded with different web search results, all previous web search results also change to show only the latest search result.

**Expected Behaviour**

for the multiple quries each of the response search results should show their own results.

**Screenshots of the issue**

![96680902-cf75-11e6-9edd-e20c9c9f93eb](https://cloud.githubuserc

[2017-01-07 06:18] Abhi2424shek commented on #278
@mayank408cant we detect the language using Google voice api and run the it as a service? Just a suggestion.

[2017-01-07 06:20] Abhi2424shek commented on #96
Any updates guys...

[2017-01-07 07:42] samsruti commented on #96
@Abhi2424shek I will send a pr when the chart response will work fine :)

[2017-01-07 07:47] Abhi2424shek commented on #96
@samsruti sure keep up the good work

[2017-01-10 19:16] saketkumar95 opened #461 "Adding photo upload feature"
**Actual Behaviour**

Currently there is no option to add photo uploads, cropping and marking tools and send them in the app.

**Expected Behaviour**

We can add this feature as many app have this feature to add photo from camera , edit it and send it.

**Steps to reproduce it**

We can add two activities:
- PhotoSendActivity to crop captured image and/or upload photo.
- PhotoEditActivity to allow

[2017-01-10 19:20] betterclever commented on #461
@saketkumar95 The issue is pointless in current context since susi server doesn't support image handling. I am not able to understand what are you trying to achieve. Please elaborate and discuss in Gitter channel first.  Thanks.

[2017-01-10 19:22] saketkumar95 opened #462 "Adding emoji feature"
**Actual Behaviour**

Currently there is no option to send emojis in the app.

**Expected Behaviour**

It would be better to implement this. As emoji feature are the base of these types of chat app.

**Would you like to work on the issue?**

Yes i would like to work on this feature.

[2017-01-10 19:27] mayank408 commented on #461
@betterclever is right . @saketkumar95 The server server is still incapable of handling images. So there is no point of raising such issues , Instead try to solve the existing issues. Thanks :)

[2017-01-10 19:41] saketkumar95 commented on #461
@betterclever @mayank408 If susi server is not capable of handling images then we can raise this issue in the susi server too. Waiting for what? And as for now we can add this feature in the app too.

[2017-01-11 13:18] anantprsd5 commented on #278
@Abhi2424shek We can do that but as google voice api only works online, it takes time which depends upon the internet connection and it could take too much time sometimes to detect a hotword and to trigger an action according to that.

[2017-01-11 17:01] rohanagarwal94 opened #463 "Share App feature"
**Actual Behaviour**

Currently there is no option to share app.

**Expected Behaviour**

The users will be able to share app with others.

**Steps to reproduce it**

It should be implemented in the settings activity.

**Would you like to work on the issue?**

Yes, I would like to work on this feature.

[2017-01-11 17:49] mayank408 opened #464 "Adding setting alarm feature in the app itself"
**Actual Behaviour**

We can't set the alarm on our mobile through susi app.

**Expected Behaviour**

To make the app much more intitutive , we must add this feature just like google allo.

**Would you like to work on the issue?**

Yes , I am already working on it.

[2017-01-11 18:29] #459 closed

[2017-01-12 18:19] bxute opened #465 "Add Brand Splash Screen"
**Actual Behavior**

Usually App takes some time to load, user is presented with blank screen.
User is confused about apps behavior.
All Google products load with their version of splash screens.
https://material.io/guidelines/patterns/launch-screens.html

**Expected Behavior**

App should present some splash screen

**Steps to reproduce it**

App needs splash screen, i.e. using Theme it can be ac

[2017-01-12 18:21] jig08 commented on #465
Closing wrt Issue https://github.com/fossasia/susi_android/issues/385

[2017-01-12 18:21] #465 closed

[2017-01-12 18:48] bxute commented on #385
Adding splash screen the way done before is totally un-acceptable for continuous responsive behavior due to time taken for executing the lifecycle and setting content views for the activity.
Point of adding a visual feedback at cost of no more execution time/load latency was for substituting blank screen whenever it loads.

At some point of time user needs to open the app, else it should have been

[2017-01-15 10:55] anuradhagupta345 commented on #421
@the-dagger Shall I work on this?

[2017-01-15 12:35] #464 closed

[2017-01-15 13:30] chiragw15 commented on #421
@anuradhagupta345 go ahead :+1:

[2017-01-15 17:19] mayank408 opened #467 "Setting reminder through the susi app itself."
**Actual Behaviour**

At present , we cannot set the reminder from susi.

**Expected Behaviour**

Susi must be intelligent enough to set the reminder on users demand like google allo.

**Would you like to work on the issue?**

Yes , I am already working on it.

[2017-01-16 19:15] saketkumar95 opened #468 "Adding play music feature in the app"
**Actual Behaviour**

we can't play music on our mobile through susi app.

**Expected Behaviour**

 Just like google allo, we can add this feature to make the app much more user friendly.

**Would you like to work on the issue?**

Yes i would like to work on this.

@jig08 @mariobehling Can i send the PR?

[2017-01-17 10:21] jig08 commented on #468
@saketkumar95 Go ahead.

[2017-01-17 10:29] rohanagarwal94 commented on #463
@jig08 @mariobehling any update regarding this?

[2017-01-17 14:14] saketkumar95 commented on #468
@jig08 I was thinking of adding many more features like opening social media apps like facebook,  twitter and many others . opening gmail app for sending mails.
What are your suggestions?

[2017-01-17 14:22] mananwason commented on #463
@rohanagarwal94 Please go ahead with this.

[2017-01-17 15:20] jig08 commented on #468
Open an issue for each feature separately, we can then carry on a discussion for each categorically.

Also, for playing music, kindly define your implementation strategy in detail, thanks.

[2017-01-17 16:05] saketkumar95 opened #469 "Switch between hide and view password in LoginActivity and SignupActivity"
**Actual Behaviour**

Currently there is no option to view the password whenever it is entered.

**Expected Behaviour**

There should be an option to view the password which is entered.

**Would you like to work on the issue?**

Yes i would like to work on it.

[2017-01-17 16:25] mayank408 commented on #468
@saketkumar95 don't rush it . Take issue one by one and solve it . And pls tell how you gonna implement playing music through the app like you want the user to play music stored on the device or from the internet like youtube..?

[2017-01-17 16:55] saketkumar95 commented on #468
@jig08 i was thinking of playing music video from youtube in the app itself using youtube api.

[2017-01-17 17:07] jig08 commented on #469
Kindly take up one issue at a time. Resolve the previous one assigned to you before we can assign you the next. Cheers !

[2017-01-17 17:11] amitiwary999 commented on #469
I would like to work on this issue.

[2017-01-17 17:16] saketkumar95 commented on #469
@jig08 I've completed this issue. Waiting for your reply.   And working on my previous assigned issue. Can i send the PR for this?

[2017-01-18 09:30] #469 closed

[2017-01-18 09:31] jig08 commented on #469
@saketkumar95 In that case, open the issue when you are done with your previous one :) Project contributors and maintainers are not working full-time on these, they have other commitments as well. Hope you understand.

[2017-01-18 13:03] #445 closed

[2017-01-19 07:53] shubhamvashisht opened #471 "Dots are showing before the message is sent."
**Actual Behaviour**
the dots are showing before the message is sent.
![screenshot_20170115-004410](https://cloud.githubusercontent.com/assets/16692282/22097909/97fd52b2-de49-11e6-9c8c-c957867ccd24.png)

**Expected Behaviour**
The dots should shown after the message is delivered. As in any other IM apps. say ALLO.
and dots should get hide after reply.

**Steps to reproduce it**
@the-dagger is this

[2017-01-19 08:19] the-dagger commented on #471
Ok, makes sense.
Please go ahead and work on this if you'd like to

[2017-01-19 08:24] Abhi2424shek commented on #278
@anantprsd5 that's hw google hello works, and it works fine as all voice detections should use internet so we will run the service only when there is an active internet connection. It just takes a small amount of time to detect hello google as it uses a matrix type comparison algorithm so using it as a service when internet is there is the key

[2017-01-19 08:25] Abhi2424shek commented on #278
Google's Voice Api is the best out there :)

[2017-01-19 08:26] Abhi2424shek commented on #96
@samsruti updates

[2017-01-19 08:27] Abhi2424shek commented on #461
@saketkumar95 updates?

[2017-01-19 08:28] Abhi2424shek commented on #462
@saketkumar95 updates?

[2017-01-19 08:30] shubhamvashisht commented on #471
alright. Working on it.

[2017-01-19 08:38] jig08 commented on #461
@Abhi2424shek No updates required here, Thanks.

[2017-01-19 11:45] mariobehling commented on #461
Thanks for this thought. Implementing features like this depends on more developers engaging in Susi. As stated above this issue is not relevant in the Android app currently. Closing it therefore.

[2017-01-19 11:45] #461 closed

[2017-01-19 19:23] mayank408 opened #473 "An option to delete all chat history"
**Actual Behaviour**

As of now there is no option to delete whole chat history.

**Expected Behaviour**

There should be an option just like other apps to delete chat history.

**Would you like to work on the issue?**

yes

[2017-01-19 20:57] samsruti commented on #96
Since the chart response is not working so, i will send a PR tomorrow with the feeds list 👍

[2017-01-20 01:38] Abhi2424shek commented on #473
@mayank408 pls work on then :)

[2017-01-20 03:53] saketkumar95 commented on #473
Copy of https://github.com/fossasia/susi_android/issues/383

[2017-01-20 11:13] #473 closed

[2017-01-20 13:33] Abhi2424shek commented on #421
I think for this, we need to open a susi response with dots after the user has clicked the send button and that's what's being done and send a string with timestamp and a hash, and susi server needs to respond with the given has back, and we change the dots in the susi response to have the updated result!

[2017-01-20 13:34] Abhi2424shek commented on #468
The server would require a tweak!

[2017-01-20 13:35] Abhi2424shek commented on #446
@krishnarai30 updates?

[2017-01-20 18:22] krishnarai30 commented on #446
@Abhi2424shek  at ISGW Hackathon this weekend will send the PR soon.

[2017-01-21 03:57] Abhi2424shek commented on #446
Sure take your time, i just wanted to ensure you were on it @krishnarai30

[2017-01-21 04:04] #463 closed

[2017-01-21 06:14] Abhi2424shek commented on #278
@anantprsd5 updates pls :)

[2017-01-21 12:43] anantprsd5 commented on #278
@Abhi2424shek I have tried a lot to implement it using cmu sphinx api but I am not getting the accuracy at all and google doesn't provide api for hotword detection. So using google voice api as a service would be a very difficult task all together and it might be slow I think. Please take this issue if you can solve this as I am unable to do it from very long. Thanks :)

[2017-01-21 12:49] vshivam commented on #278
Does Susi exist in the CMUSphinx dictionary ?

-Shivam

On Sat, Jan 21, 2017 at 8:43 PM, Anant Prasad <notifications@github.com>
wrote:

[2017-01-21 13:09] anantprsd5 commented on #278
@vshivam Yes, its their in the dictionary.

[2017-01-21 13:51] 11manu96 commented on #278
when the hotword "Hi Susi" is implemented for wake up, does this feature have to work even if the app is closed ? or is it only when the app is running in foreground.

[2017-01-21 14:54] the-dagger commented on #278
@11manu96 initially try to implement it only while the app is running.
Later on we can add a service which runs in the background and continuously listens to the user's input.

[2017-01-21 15:12] shubhamvashisht opened #477 ""internet connectivity problem!" error occurring very frequently."
**Actual Behaviour**

"internet connectivity problem!" error occurring very frequently. i tested this for hours, From App and from browser by hitting the url for get request.
:::::::::::::Results:::::::::::::::::
::::::From APP:::::::
Total messages sent: 30
Message resulted in Failure(when onFailure() is called) :13
::::::From Browser:::::
Total message sent(hit the get url same as for messages f

[2017-01-21 15:18] shubhamvashisht opened #478 "Sometimes a webview response is causing the force close."
**Actual Behaviour**
Sometimes a webview response is causing the force close.
This is only happening when response is a web result.
**Expected Behaviour**
Should not happen :P
**LogCat for the issue**

![error one](https://cloud.githubusercontent.com/assets/16692282/22175452/d8e6222c-e01a-11e6-84c3-188b7bf6e490.PNG)
![screenshot_20170121-211117](https://cloud.githubusercontent.com/assets/16692282/

[2017-01-21 15:38] Abhi2424shek commented on #477
It's the internet connection issue can you double check your connectivity

[2017-01-21 15:44] shubhamvashisht commented on #477
@Abhi2424shek  quite sure that its not a connectivity issue. browser and phone was connected to same network all the time.

[2017-01-21 15:48] Abhi2424shek commented on #278
@anantprsd5 I can't touch my pc if you wait for 3 more months I can do it, as till then I would not have the privilege to program. For all this struggling,

there is a class called as AlwaysOnHotwordDetector in play services that allows a VoiceInteractionService class implementation to interact with always-on keyphrase detection APIs. So, when you turn on always-on, the system keeps on waiting to

[2017-01-21 15:49] Abhi2424shek commented on #477
Then it maybe a server issue as there's a request timeout to the three shake TCP handshake!

[2017-01-21 15:53] shubhamvashisht commented on #477
may be, its happening more frequently when request is from APP  than from when its from browser.

[2017-01-22 06:31] anantprsd5 commented on #278
@Abhi2424shek What you are explaining is how google implemented the "OK google" feature in their app but I don't think we can make use of this api to detect hotwords. Please check (this)[http://stackoverflow.com/questions/26834163/example-of-alwaysonhotworddetector-in-android]

[2017-01-22 10:44] Abhi2424shek commented on #278
That would only work on rooted devices that's the draw back!

[2017-01-22 10:45] Abhi2424shek commented on #278
Hey wait i read somewhere that it's available via play services....

[2017-01-22 11:02] Abhi2424shek commented on #278
Why don't we try to run a class as a service which basically records the voice every n seconds to see hello susi. The sound will be then converted to a string from which we would need to find hello susi. It's easy but requires a network access. So the service only runs when there is network connection and is registered to start at system start. You could turn the service on and off in the app's se

[2017-01-22 11:19] the-dagger commented on #278
This is a good idea but will drain battery considerably and will need a lot
of tweaking to work efficiently.
That's why imo, this issue is not that relevant right now and can be
focused on later on.

On Sunday, January 22, 2017, Abishek V Ashok <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-01-23 03:19] Abhi2424shek commented on #278
@the-dagger it drains battery but we could tweak it in such a way as the AlwaysOnHotwordDetector class works maybe check from the person loaded voices of english. I agree to your point that it may be irreverent currently so we could may be delay it.

[2017-01-23 07:47] #471 closed

[2017-01-23 10:51] #467 closed

[2017-01-23 18:01] mayank408 opened #479 "Layout inconsistency in sign up when the device is rotated."
**Actual Behaviour**

The text field occupy the whole width which looks very odd.
**Expected Behaviour**

The fields must be aligned at the center.

**Screenshots of the issue**

![screenshot_1485194393](https://cloud.githubusercontent.com/assets/22056321/22216163/f7750514-e1c3-11e6-898c-5a39f2b01b5e.png)

**Would you like to work on the issue?**

yes

[2017-01-24 01:47] #479 closed

[2017-01-24 14:33] anantprsd5 opened #481 "Login form accepts email in lower case only"
**Actual Behaviour**

Currently, the user needs to enter the email id in lower case only in order to login.

**Expected Behaviour**

The email should be accepted in any case.

**Would you like to work on the issue?**

Yes.

[2017-01-24 16:15] #481 closed

[2017-01-26 10:57] betterclever opened #483 "Displaying Multiple Results in web search."
**Actual Behaviour**

Currently, app displays only a single result in web search using DuckDuckGo API .

**Expected Behaviour**

The app should display multiple search results and user should be able to open relevant webpage by his choice. I suggest using free FAROO api for it.
http://www.faroo.com/hp/api/api.html

**Would you like to work on the issue?**

Yes.

[2017-01-26 11:05] betterclever opened #484 "Using Cardviews instead of current ChatMessageViews"
**Actual Behaviour**

Currently ChatMessageViews provided by ChatMessageView library are being used throughout the app.
This makes implementation of some other views difficult like after multiple websearch results, results displayed would look better in a scrollable view containing cards.

**Expected Behaviour**

I would highly suggest use of CardViews throughout the app since it makes it look mod

[2017-01-26 13:07] mayank408 commented on #468
@saketkumar95 updates..

[2017-01-26 13:22] mayank408 opened #485 "Allow user to send the mail from the susi app itself."
**Actual Behaviour**

As in present user cannot send the mail from susi.

**Expected Behaviour**

Like google allo , the user must be provided with the feature to send the mail.

**Would you like to work on the issue?**

Yes

[2017-01-26 13:35] mayank408 opened #486 "App crashing if the time value is null during setting of reminder."
**Actual Behaviour**

App crashing if the time value is null during setting of reminder.

**Expected Behaviour**

App should not crash.

**LogCat for the issue**

E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: org.fossasia.susi.ai, PID: 13476
                  java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
                      at org.fossasia.susi.ai.activities.Ma

[2017-01-26 15:17] Abhi2424shek commented on #485
This must be implemented on the susi server first.

[2017-01-26 15:18] Abhi2424shek commented on #484
Looks cool, we could make a bit of tweaks

[2017-01-26 15:23] saketkumar95 commented on #468
@mayank408  Have patience. I'm working on it, Having some issues in Youtube API. Will complete this soon. :)

[2017-01-26 15:24] betterclever commented on #484
@Abhi2424shek This is just a crude implementation. I done it a long time back. I will add a refined version here.

[2017-01-26 15:26] mayank408 commented on #485
@Abhi2424shek No need I just have to pass the intent from the app itself from the suitable query .

[2017-01-26 15:30] mayank408 commented on #468
@saketkumar95 Great ....

[2017-01-26 15:38] Abhi2424shek commented on #485
But, setting up an email client on server would just improve the app's perfomanc3

[2017-01-26 15:38] Abhi2424shek commented on #484
Sure

[2017-01-26 15:50] mayank408 commented on #485
@Abhi2424shek I have discussed it with the @the-dagger , what we are trying to achieve is that to intent the gmail when the user queries "send a mail" and will ask for the email , there is no need for email client server for this.

[2017-01-26 15:51] betterclever commented on #485
@Abhi2424shek It is not related to server at all. We just need to send intent for mailing. How is it even related to App Performance? Please elaborate. I would suggest you to always discuss in Gitter first before commenting here. Thanks.

[2017-01-27 01:53] Abhi2424shek commented on #485
Sure then!

[2017-01-27 04:24] daminisatya commented on #462
@saketkumar95 What is your aproach? We need to bring up the support from susi server, frame rules for accepting the emoticon characters. I guess you can raise an issue there and discuss the further steps.

[2017-01-27 08:41] #486 closed

[2017-01-27 14:13] saketkumar95 commented on #462
@daminisatya yeah sure. I will raise the issue in the server too. If you allow i can work on the server too for this issue. And in susi android we can use any open source library. :)

[2017-01-27 14:29] daminisatya commented on #462
@saketkumar95 Sure you can work!

[2017-01-27 22:45] jig08 commented on #462
@daminisatya @saketkumar95 There exists an issue on this already, check out Issue https://github.com/fossasia/susi_server/issues/3. Avoid duplicate issue. Thanks !

[2017-01-28 15:28] dilpreet96 opened #491 "Location from GPS doesn't work"
**Actual Behaviour**

LocationHelper.canGetLocation() returns false in case of GPS turned off and no prompt is displayed to user to turn on GPS.

**Expected Behaviour**

If GPS is turned off ,it should ask user to turn on GPS (everytime or for the first time) in order to fetch location.

**Would you like to work on the issue?**

Yes ,I would like to work on this.

[2017-01-28 16:34] anantprsd5 commented on #446
@krishnarai30 Any updates on this?

[2017-01-28 17:07] krishnarai30 commented on #446
Sorry for the delays due to prior appointments I haven't been able to dedicate time to this problem.

[2017-01-29 05:08] #485 closed

[2017-01-29 07:35] Abhi2424shek commented on #446
@krishnarai30 so if you wish we could flag this if you so that someone else gets it done as far I understand that it is what you r trying to tell with the last message, but who is a programmer who hates to code, we could wait for you so let us know your decision in poor words for we await it :)

[2017-01-29 07:38] Abhi2424shek commented on #491
Sure, but there is a way you could flag it on and off, can you go for something like that, i mean, if it is turned off, give a pop-up to turn it on, then as a responsive mobile app turn it off(this would also need user's permission). @dilpreet96 :)

[2017-01-29 14:55] dilpreet96 commented on #491
<img src="http://i.makeagif.com/media/1-29-2017/KcyOu8.gif"/>

If GPS is off user is prompted to turn it on as suggested by you , Should I send a PR ? @Abhi2424shek

[2017-01-29 16:28] Abhi2424shek commented on #491
Could we utilize location only when needed and stop wasting the user's battery.

[2017-01-29 16:32] dilpreet96 commented on #491
Yes I have already implemented this, it will stop using gps as soon as it fetches the location and hence stops wasting user's battery. Should i send a quick PR @Abhi2424shek ? :)

[2017-01-29 17:51] mayank408 commented on #468
@saketkumar95  @daminisatya I am working on playing youtube videos on the app and you work on playing music , this way the issue can be resolved in quick time. :)

[2017-01-29 22:34] saketkumar95 commented on #468
@mayank408  I almost completed both the work.  Will submit yhe PR in 2-3 days.. :)

[2017-01-30 10:37] mayank408 commented on #468
@saketkumar95 I have already solved this issue and sending a pr , its about half a month , there is no point in holding back the issue with yourself. You can work on the music one . Cheers :)
And I have implemented it as you suggested that you are facing problem regarding youtube api. If we will work together issues can be solved in less time . Thats what the beauty of open source is . Thanks :)

[2017-01-30 10:56] Abhi2424shek commented on #491
No need to hurry up, take your time but wht happens if the user is moving? @dilpreet96

[2017-01-30 13:08] dilpreet96 commented on #491
We can implement locationManager.requestLocationUpdates which could help us retrieve user location after a certain interval of time using gps efficiently . Should I implement this also and send a PR ? @Abhi2424shek

[2017-01-30 13:22] #468 closed

[2017-01-30 14:04] chiragw15 commented on #491
@dilpreet96 @Abhi2424shek That was deliberately done. What I did was : I firstly found location of user using his ip address (which is not that accurate) and assigned the value to two variables, latitude and longitude. Then I found location of user through Network Provider (more accurate than previous method) and updated the variables with new values. Then I checked if the GPS of user is on , I fo

[2017-01-30 15:04] mayank408 commented on #491
@dilpreet96 @Abhi2424shek.   @chiragw15 Is right , what we want is to obtain user location from the gps and if it is not on then we would take location from network services.

[2017-01-30 16:03] Abhi2424shek commented on #491
So this one is no longer relevant and could be closed.

[2017-01-30 17:55] #491 closed

[2017-01-30 19:02] mayank408 opened #493 "Voice reply is not correct"
**Actual Behaviour**

Voice reply coming for queries like "set alarm " , "@google search " is not right.

**Steps to reproduce it**

query set alarm

**Would you like to work on the issue?**

Yes , working

[2017-01-31 10:48] #493 closed

[2017-01-31 16:03] anantprsd5 commented on #446
@krishnarai30 Please let us know if you are working on this or else I want to take this issue.

[2017-01-31 17:55] shubhamvashisht opened #495 "Now we can open/launch other apps from susi"
**Expected Behaviour**

Other apps can be launched from susi by command/message open+APP NAME
![issue](https://cloud.githubusercontent.com/assets/16692282/22477443/1b97c910-e80c-11e6-9ca5-82fbbaa177f6.gif)

**Would you like to work on the issue?**
Yes, done it.

[2017-02-01 07:52] Abhi2424shek commented on #495
Try to add a space between launch and app name and try to make case ignorerant

[2017-02-01 07:54] Abhi2424shek commented on #484
Updates @betterclever

[2017-02-01 07:55] Abhi2424shek commented on #96
@samsruti updates

[2017-02-01 09:07] rohanagarwal94 opened #496 "Autocomplete email text input"
**Actual Behaviour**

The user has to each and every time enter the whole email address to login.

**Expected Behaviour**

The user would be able to select his email from autocomplete dropdown if he has successfully logged in earlier in the app.

**Would you like to work on the issue?**

Yes, I would like to solve this issue.

[2017-02-01 09:16] Abhi2424shek commented on #496
Go on but be sure to encrypt it.

[2017-02-01 11:54] mayank408 commented on #484
@Abhi2424shek don't keep on commenting updates all the time , it does not look good , everyone is working with its own pace..

[2017-02-01 12:30] Abhi2424shek commented on #484
I just wanted to followup as it's been 6 days and know that he's still in it, no hard feeling :) @mayank408 just checking that he's still working, it happens in the community where people abandon their work after claiming it, so I was just asking whether he was in touch with it, people have priorities in life :)

[2017-02-01 13:42] betterclever commented on #484
I'm still in it.

[2017-02-01 15:16] shubhamvashisht commented on #495
@Abhi2424shek  Above requirements Done.

[2017-02-01 15:25] shubhamvashisht commented on #495
@daminisatya  Mam, Please review.

[2017-02-01 16:35] jig08 commented on #495
@shubhamvashisht Send a PR to `fossasia/susi_android` following the naming guidelines pls.

[2017-02-01 17:12] mayank408 opened #497 "Allow user send SMS through susi."
**Actual Behaviour**

User can't send SMS through the app.

**Expected Behaviour**

Just like allo , user must have the ability to send SMS through the aap.

**Would you like to work on the issue?**

Yes

[2017-02-02 11:20] vibhav16 opened #502 "Not giving proper Respone"
**Actual Behaviour**

Susi is not showing results for many questions like - if i want to search for hollywood films ,it is not giving any response ...

**Expected Behaviour**

should give response for most of the queries and allow the user to send sms and email from susi.

**Screenshots of the issue**

![screenshot_2017-02-05-12-29-28-517_org fossasia susi ai 1](https://cloud.githubusercontent.com

[2017-02-05 05:10] Abhi2424shek commented on #502
@vibhav16 please modify the issue template according to the given instructions in it pls.

[2017-02-05 07:11] vibhav16 opened #506 "Add 'Clear Chat ' option in Settings"
**Actual Behaviour**

Clear chat option is not available in settings

**Expected Behaviour**

Add clear chat . This will help user to delete all his chats in one go , otherwise user has to select every chat one by one and then delete .

**Steps to reproduce it**

Update the settings menu!!!

**Would you like to work on the issue?**

Yes Sure..

[2017-02-05 07:32] mayank408 commented on #506
@vibhav16 Not required as of now , it was raised already and closed.

[2017-02-05 07:33] Abhi2424shek commented on #502
Well this has to worked on the susi server first IMO

[2017-02-05 08:49] #506 closed

[2017-02-05 09:11] vibhav16 commented on #506
alright mayank got it

[2017-02-05 20:51] #446 closed

[2017-02-06 11:48] Jonsnow21 opened #507 "Toast displayed multiple times"
**Actual Behaviour**

![](http://im2.ezgif.com/tmp/ezgif.com-0c63e00d31.gif)

"press again to exit" toast is displayed again after exiting the app.

**Expected Behaviour**

Toast should not be displayed the second time.

**Steps to reproduce it**

- open app
- press back
- press back again

**Would you like to work on the issue?**

Yes

[2017-02-06 11:50] the-dagger commented on #507
Looks good, please send a fix if you want :slightly_smiling_face:

[2017-02-06 11:50] Abhi2424shek commented on #507
@Jonsnow21 go on :) -- as a fix add something like a counter which counts the number of times the back button has been pressed. The counter should reset after every 3secs or so.

[2017-02-06 11:53] Abhi2424shek commented on #421
@anuradhagupta345 updates would be awesome ;)

[2017-02-06 16:16] Abhi2424shek commented on #507
Nice I guess the counter was already there.

[2017-02-07 20:29] abhinay01 opened #509 "Picking up the next query for search"
**Actual Behaviour**

current question web search result is empty and as soon as user ask the next question susi displays the result for the next question

**Expected Behaviour**

susi should display the web search result for the question asked

**Steps to reproduce it**

open susi and ask question which let her search the web for the result.
The result textview will be empty until user ask anothe

[2017-02-08 05:24] mayank408 commented on #509
@abhinay01 We are already saving it into the database , and I am facing such an issue , pls update your fork to the latest commit.

[2017-02-08 05:28] mayank408 commented on #509
@abhinay01 Your fork is 65 commits behind :| . I Don't understand what you are trying to do.
Please update before making an issue.

[2017-02-08 14:55] abhinay01 commented on #509
I am sorry for the mistake, i'll surely take care from the next time.

[2017-02-08 14:55] #509 closed

[2017-02-09 01:55] DravitLochan opened #510 "reduce the build time"
**Actual Behaviour**

build time on my machine is 1 mins 11secs

**Expected Behaviour**

after modifying the gradle files, build time reduced to 23 secs and 458 msecs

**Steps to reproduce it**

modifying the gradle.properties reduced the build time.

**Would you like to work on the issue?**

yes

[2017-02-09 09:33] Abhi2424shek commented on #510
@DavidLochan sure go on give us your PR :)

[2017-02-09 09:41] DravitLochan commented on #510
incoming...

[2017-02-09 09:54] mariobehling opened #512 "Output of text to speech delayed (very slow)"
Speech to text is fast, but text to speech is slow. Text to voice has 15-20 seconds delay of answers. The server response is quick. So this is not a server issue. Please check what is the reason for the delay and help to fix it.

[2017-02-09 10:04] DravitLochan opened #513 "bug while logging in"
**Actual Behaviour**

user registers and verifies with email id and password and the link sent to him respectively. Now when he fills in his valid/invalid  details in the login form and hits login, a progress dialog box appears saying Logging in.... Now if the user taps somewhere on the screen (outside the progress dialog box) (before the request  sends a response) , a prompt saying "Internet Conn

[2017-02-10 07:39] DravitLochan commented on #510
who gives the final approval and merge?

[2017-02-10 17:01] arp95 opened #514 "Adding items in dimens.xml"
Many layout file like activity_login.xml have certain fields which are required to be defined in dimens.xml.

@mariobehling should i make pr regarding this?

[2017-02-10 17:43] jig08 commented on #514
@arp95 Go ahead.

[2017-02-10 17:44] jig08 commented on #510
@DravitLochan All the active maintainers of the project review the PR before merging them. Follow up with comments on the corresponding PR pls.

[2017-02-10 17:48] DravitLochan commented on #510
ok.

[2017-02-10 21:21] vibhav16 opened #516 "Font size in settings"
**Actual Behaviour**

No font size activity present.

**Expected Behaviour**

User should be able to select font size.
**Steps to reproduce it**

Add font size preference in settings.

**Would you like to work on the issue?**
Yes

[2017-02-11 08:29] #514 closed

[2017-02-11 09:49] vibhav16 commented on #516
Shall i put card of font size in settings?☺

On 11-Feb-2017 1:58 PM, "Jigyasa Grover" <notifications@github.com> wrote:

[2017-02-11 10:36] Abhi2424shek commented on #516
Yes you may please @vibhav16 do so :)

[2017-02-11 10:45] DravitLochan commented on #510
is it done now?

[2017-02-11 10:53] arp95 opened #517 "making certain strings non-translatable in strings.xml"
Certain fields in strings.xml like app_name, search etc. have to be non-translatable when support for different languages will be provided.

@jig08 should i continue on this issue?

[2017-02-11 12:16] Orbiter commented on #512
This bug prevents that we can make a demo movie which we need to get a larger audience.

[2017-02-12 13:38] mariobehling opened #520 "Add option to choose Susi AI server URL to settings"
Currently a lot of development is going on. The outcome of the server changes cannot be easily tested and developers need to set up the complete stack to do this. Also, user possibly want to change their server in the future.

Therefore please implement an option in the setting to choose the Susi AI server. Offer the option to choose a) Susi AI standard server and b) Enter URL for other Server.

P

[2017-02-12 14:00] chiragw15 commented on #520
@mariobehling What if the URL mentioned by the user provides response in different way as expected? The format of the response may not be same as the susi standard server.

[2017-02-12 15:03] mayank408 commented on #520
@mariobehling As susi server does not supports images and emojis , so we have to make the app compatible to support them , so that if the user enters some different URL we can handle all its cases.

[2017-02-12 15:12] rohanagarwal94 commented on #512
@mariobehling just tested the application on the issue. Discovered the delay is just the first time a user resumes/opens the app. Trying to figure out why is it happening the first time. Assign me please.

[2017-02-12 17:38] rohanagarwal94 commented on #512
@mariobehling the problem is with google's text-to-speech only. see [this](http://stackoverflow.com/questions/34884961/text-to-speech-initialization-delay). Should we use some other service like pico TTS?

[2017-02-13 03:23] Abhi2424shek commented on #520
@chiragw15 simple we check for the essential things needed in a reply and if they are not present  the output will be something like unknown response from the server or undefined response etc.

[2017-02-13 05:53] chiragw15 commented on #520
@Abhi2424shek Also, we can write something in settings (where user enters URL of other server) like "Please follow the similar structure http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=hello ).

[2017-02-13 06:10] Abhi2424shek commented on #520
Sure

[2017-02-13 06:12] chiragw15 commented on #520
@Abhi2424shek I would like to work on this one.

[2017-02-13 06:13] Abhi2424shek commented on #520
Well go on. Give it a try, and also give suggestions for valid fields

[2017-02-13 06:21] chiragw15 commented on #520
@Abhi2424shek Also, Are all the rules of susi api calls and response defined somewhere. If yes, Can you provide me with the link?

[2017-02-13 07:25] #507 closed

[2017-02-13 07:25] #517 closed

[2017-02-13 07:26] #510 closed

[2017-02-13 09:49] Orbiter commented on #512
Google tts has the best quality, so let's try to work around the problem: can we initiate the tts in advance once at application start in the background and then never again?

[2017-02-13 09:53] Orbiter commented on #520
Don't bother with the response format, it will be the same. This is I.e. to test a intranet susi_server, not a completely different chat service.

[2017-02-13 12:58] arp95 opened #521 "Changing the chat ui"
I suggest a change in the chat ui as follows:

![16763684_10210476235816652_428135706_o](https://cloud.githubusercontent.com/assets/8268392/22884264/0c81fbe0-f21a-11e6-8ca0-dfddfe494718.png)

Here the edit text for writing a message and the audio button are separated instead of the audio button coming under the edit text field.

@the-dagger @jig08 please review this.

[2017-02-13 15:17] DravitLochan commented on #512
@Orbiter  +1.
I realized that the response is delayed only for the first time after the launch of the application. In the subsequent request for tts, it was giving promptly.

[2017-02-13 16:07] DravitLochan opened #522 "mark messages as important"
**Actual Behaviour**
As of now, a message can not be marked as important. Quite simple and straight. I had asked susi a question some time back. Now if I want to read the reply, either I ask susi again or scroll through the whole list of questions and answers to find it.

**Expected Behaviour**
If we provide a feature to mark messages important, it will allow user to simply open the important one'

[2017-02-13 16:23] jig08 commented on #521
@arp95 Sure, it looks similar to Whatsapp's UI now. Send a PR ....

[2017-02-13 16:57] #521 closed

[2017-02-14 00:38] Nyceane commented on #278
@Abhi2424shek Cortana from Microsoft is able to do it without rooting, so you can see that it works without rooting.  Please do not give any false comments without actually trying stuff out.

[2017-02-14 03:28] Abhi2424shek commented on #278
Well I mentioned about the `AlwaysOnHotwordDetector` @Nyceane and it would require the MANAGE_VOICE_KEYPHRASES permission, under all circumstances android system cannot grant that permission to third party apps without rooting the phone. I don't know how Cortina from Microsoft works nor have I reverse engineered it, it is a priority software and maybe they are using their own way. :) To test the c

[2017-02-14 04:50] DravitLochan commented on #522
1. show an option to mark as important onLongClick of a message.
2. when selected, give a toast message marked as important.
   in the background, store the message and its response in database.
3. add an option in overflow menu to open important messages.
4. list the messages from database.

is this workflow ok?

[2017-02-14 05:48] arp95 opened #527 "Problem with EditText field in chat Activity"
When we enter text beyond one line in the edit text field it continues in the same line. Its better to enter the text beyond a single line to another line as seen in Whatsapp.
@jig08 please review this.

[2017-02-14 07:41] jig08 commented on #527
@arp95 Could you add relevant screenshots as well ?

[2017-02-14 07:41] jig08 commented on #522
@DravitLochan Sounds good.

[2017-02-14 13:46] arp95 commented on #527
@jig08
![16763640_10210484047251933_286412836_o](https://cloud.githubusercontent.com/assets/8268392/22931231/e6e2b7c8-f2e9-11e6-8af9-5655d5dd2c8a.png)

As you can see the text i keep on entering is going on a single line. What i want is the text to move to the next line automatically after reaching the end as seen in Whatsapp UI.
Working on this right now.

[2017-02-14 13:47] DravitLochan commented on #522
I am using SQLite

[2017-02-14 14:13] mayank408 commented on #522
@DravitLochan Use Realm instead as we are already using it and it is more secure and reliable than SQLite.

[2017-02-14 14:21] DravitLochan commented on #522
copy that!

[2017-02-14 17:31] arp95 commented on #527
@jig08 please see the pr for changes.

[2017-02-14 20:36] nikhilbalyan opened #530 "Adding the option to customize theme of the application from overflow menu"
**Actual Behaviour**

Only one of the theme is available.

**Expected Behaviour**

Option should be available to change the theme of the layout.

**Steps to reproduce it**

we can deploy it in the  overflow menu as select theme like in many applications.

**LogCat for the issue**

Provide logs for the crash here.

**Screenshots of the issue**

Where-ever possible add a screenshot of the issue.

**

[2017-02-14 20:52] betterclever commented on #527
Solved in #503

[2017-02-14 20:53] betterclever commented on #530
@nikhilbalyan Edit the template according to issue and mention required points. It is a good practice.

[2017-02-14 20:56] betterclever commented on #522
@DravitLochan @mayank408 A better approach would be to add a starred field just like whatsapp in current model. When user clicks on important messages, filter can be applied.

[2017-02-14 20:59] betterclever commented on #520
I would like to work on this.

[2017-02-14 21:10] #484 closed

[2017-02-15 11:30] #527 closed

[2017-02-15 13:07] rohanagarwal94 opened #531 "Clicking back button in settings closes the application"
**Actual Behaviour**

On clicking the back button in the action bar, the settings activity closes unexpectedly.

**Expected Behaviour**

Main activity should be reopened.

**LogCat for the issue**

![screenshot from 2017-02-15 18-34-37](https://cloud.githubusercontent.com/assets/13241256/22975632/6fddb3c0-f3ad-11e6-8585-cbb05ae738ef.png)

**Screenshots of the issue**

![screenshot_2017-02-15-18-24

[2017-02-15 13:25] rohanagarwal94 commented on #531
Mistake from my end. Hence closing.

[2017-02-15 13:25] #531 closed

[2017-02-15 16:57] arp95 opened #533 "Small issue in Chat Activity"
When we enter text in multiple lines in the edit text field in the chat activity we get the message as one liner in our messages like this:

![16777110_10210493290283003_48589909_o](https://cloud.githubusercontent.com/assets/8268392/22985060/49404280-f3cd-11e6-9a38-4db3f785cda8.png)

I want something like this:

![16763838_10210493320043747_1005002941_o](https://cloud.githubusercontent.com/assets/

[2017-02-16 04:31] Abhi2424shek commented on #533
@arp95 your apps seems outdated pls update it then reference.

[2017-02-16 06:12] mayank408 commented on #516
@vibhav16 I don't understand what's the need of selecting font size in the setting from an app, when the setting in the phone provides the same functionality. Please find the relevant issues only.

[2017-02-16 06:21] mayank408 commented on #516
@the-dagger @jig08 Kindly close this issue.

[2017-02-16 06:33] mayank408 commented on #502
@vibhav16 It is to be done in the susi server and not in the app.

@jig08 @the-dagger Kindly close this issue.

[2017-02-16 09:18] arp95 commented on #533
@Abhi2424shek sorry for that.

Here are the updated screenshots.

Without change:

![16804740_10210501826656407_1522058241_o](https://cloud.githubusercontent.com/assets/8268392/23014897/d89b08f0-f456-11e6-9698-a93a966360ca.png)

With change:

![16776328_10210501826536404_1415249538_o](https://cloud.githubusercontent.com/assets/8268392/23014909/e2446a4a-f456-11e6-85eb-80c541727443.png)

@the-dagger

[2017-02-16 10:18] free4murad opened #534 "Add link to LICENSE.md in Readme."
**Actual Behaviour**

In read me there is no link provided for LICENSE.md.

**Expected Behaviour**

Clicking in LICENSE.md must open the LICENSE.md file

Should I send a PR for this issue.

[2017-02-16 10:31] Abhi2424shek commented on #533
Well I can't really figure out exactly what you mean it would be better if you could be more precisive.

[2017-02-16 10:32] Abhi2424shek commented on #534
Yes seems valid

[2017-02-16 10:33] arp95 commented on #533
@Abhi2424shek what i am referring to is that when user enters the text in multiple lines it get displayed in the same line itself in the message which should not be the case as you can see in the second screenshot.
Hope you get what im referring to.

[2017-02-16 11:01] Abhi2424shek commented on #533
Pr please :)

[2017-02-16 17:39] nikhilbalyan commented on #530
@betterclever i would love to work on this issue :smile:

[2017-02-16 17:40] free4murad opened #537 "Make search text change sensitive."
**Actual Behaviour**

If the user wants to search something he has to type the thing and press search.

**Expected Behaviour**

In most apps like WhatsApp and messenger the search results gets updated as the user types text. We should implement a similar feature in our app.

Should I send a PR for this?

[2017-02-16 20:20] #534 closed

[2017-02-16 20:23] #513 closed

[2017-02-16 20:24] #516 closed

[2017-02-17 05:46] mayank408 commented on #537
@free4murad Looking good , you can proceed.

[2017-02-17 13:13] rishsethia commented on #502
Isn't "No Result Found " in the web search a bug ? I think it should atleast display the result of the web search properly in the app itself even if it is unable to answer a query from server ! And I would like to solve this issue !

[2017-02-17 14:25] rishsethia opened #538 "Unable to place calls with both firstname and sirname"
**Actual Behaviour**

When we try to place the call of a contact name which contains a space , susi is not able to recoginize what to do
![img-20170217-wa0000](https://cloud.githubusercontent.com/assets/11053890/23068769/f538315a-f54a-11e6-9084-9f9d73596a0c.jpg)

Yes I would like to solve this issue ! Should I go ahead? Please review @the-dagger @jig08 !

[2017-02-17 14:31] rishsethia opened #539 "Calling Functionality Needs to be Improved"
**Actual Behaviour**
When triggering calling functionality from susi , it just opens up the dialer app.
**Expected Behaviour**
It should go to the particular contact searched for/directly try to place the call
**Would you like to work on the issue?**
Yes.

Waiting for approval to start working on this !
@jig08 @the-dagger

[2017-02-17 14:58] free4murad opened #541 ".gitignore needs to be updated."
**Actual Behaviour**
While working on the project I realized that certain files are not being ignored by git. These files are
`app/gradle/`
`app/gradlew`
`app/gradlew.bat`
`app/local.properties`

**Expected Behaviour**
These files must be ignored by git.

Should I send a PR for this issue.

[2017-02-17 15:23] mayank408 commented on #538
@rishsethia Don't open two different issues for the same bug.

[2017-02-17 15:28] Abhi2424shek commented on #541
Yes

[2017-02-17 15:29] rishsethia commented on #538
@mayank408  Hi, It's not the same bug ! This one is related to query parsing and other one is related to the response of the app to any call query, in general . I opened 2 different issues to keep things modular!

[2017-02-18 10:45] harshitagupta30 opened #543 "Adding an option to clear chat window from overflow menu."
**Actual Behaviour**

Currently, there is no option to delete chat history. If user wants to delete all them then either he has to delete them one by one or on logout the chat history gets deleted.

**Expected Behaviour**

Instead of clearing out chat history on logout we can add an option Clear Chat in the menu which can provide ease to the user for deleting the chat and we can preserve the chat

[2017-02-18 11:11] harshitagupta30 opened #544 "Adding scroll view in the message text box for multi line messages."
**Actual Behaviour**

Currently, if a message contains multiple lines then there is no way a user can predict how long is the message.

**Expected Behaviour**

Just like other chat applications, we can add scroll view in the message box which can help the user to view how long the typed message is.

**Screenshots of the issue**

**Actual Behaviour**
![screenshot_20170218-163431](https://cloud.gith

[2017-02-18 13:43] anantprsd5 commented on #543
@harshitagupta30 I think this is not required as of now because the issue was raised twice and was closed. Refer #506

[2017-02-18 15:55] Abhi2424shek commented on #544
Yes sure seems valid :)

[2017-02-18 16:07] harshitagupta30 commented on #543
@anantprsd5 Thanks for letting know!

[2017-02-18 16:07] #543 closed

[2017-02-18 16:53] harshitagupta30 commented on #543
@Abhi2424shek @jig08 Just wanted to know why we are deleting the chat history on logout?

[2017-02-18 17:56] chiragw15 commented on #520
@mariobehling @Orbiter Will the user be using his own server for login and sign up also? If yes, then shouldn't we also ask for the his server url just after the app is installed apart from asking in the settings?

[2017-02-18 22:13] chiragw15 opened #546 "Everything in the app is hardcoded"
**Actual Behaviour**

@mariobehling @Orbiter @jig08 @the-dagger @daminisatya Everything in the app is hardcoded. Every feature that susi has, is hardcoded and works on the app level only. No query is sent to server for the response. I know susi ai is not that advanced to handle difficult queries but writing code like
this is not the solution. This is not how an AI bot works.
[code]
**Examples of t

[2017-02-19 04:58] mayank408 commented on #546
@chiragw15 I agree with you but we know that the susi server is still incapable of handling complex queries so this is the best we can do till the server site gets updated. All these features are working fine and responsive as well, if they are queried within the prescribed way. We will update this as the server gets updated.

[2017-02-19 04:59] Abhi2424shek commented on #546
Well I raised this earlier, we could have basic rules for the above, there are lots more than those mentioned in the issue that are hardcoded, I should gradually do this one by one, we would need the server to handle them first, removing them without the server support wont be good, so let's first add support in the server.

[2017-02-19 05:23] #544 closed

[2017-02-19 08:07] chiragw15 commented on #546
@mayank408 I don't see a point in writing thousands of lines of code if we know we have to remove it in the future. As you said.

The problem is that there is no prescribed way to query to a bot. That's why it is a bot. How will the user know what's the prescribed way? The better way was to create issues in susi server repo and adding rules there instead of adding them directly to android app. Add

[2017-02-19 08:46] the-dagger commented on #546
@chiragw15 My suggestion would be to create a new issue on susi server
regarding this and halt adding new features to the Android Client as of
now.​
Since it doesn't make any sense to have new features if we need to remove
later anyways.

I hope that clears up the confusion.

[2017-02-19 14:54] rishsethia commented on #502
@jig08 @mariobehling @the-dagger What do you guys say ?

[2017-02-20 11:07] Abhi2424shek commented on #502
Well this is to be solved in the server

[2017-02-20 15:19] anantprsd5 opened #547 "Option to resend messages should be there"
**Actual Behaviour**
There is no option to resend the messages as of now.

**Expected Behaviour**
When the user long presses any message there should be an option to resend the messages as there are many questions like "What's the temperature today" and so on which the user wants to know on a daily basis so having a resend button will make things easier.

**Would you like to work on this issue**
Y

[2017-02-20 18:02] anantprsd5 commented on #547
@the-dagger @jig08 @daminisatya Please approve the issue so that I can proceed.

[2017-02-20 21:23] rohanagarwal94 opened #550 "App invite via Facebook"
**Actual Behaviour**

Only sharing of app is being implemented.

**Expected Behaviour**

App invite through facebook notification feature.

**Screenshots of the issue**

![appinvite](https://cloud.githubusercontent.com/assets/13241256/23142200/b436bdc8-f7e0-11e6-9075-e8146a1b226c.png)

**Would you like to work on the issue?**

Yes, in fact I already implemented this in the open-event-android.

[2017-02-21 02:45] Abhi2424shek commented on #550
Sure that would be cool

[2017-02-21 10:32] betterclever commented on #547
@anantprsd5 I don't think it is required, We can rather have suggestions based on his interests in a lower pane. This approach to long press and resend doesn't make sense.

[2017-02-21 11:58] anantprsd5 commented on #547
@betterclever I feel that the resend button is useful in a chat application as we don't have to type the whole set of common messages again and again and this thing can be accomplished easily and to make suggestions based on interests is more complex and will take time. I need more opinions on it. @Abhi2424shek @mayank408 What do you think about this?

[2017-02-21 12:04] betterclever commented on #547
@anantprsd5 As we came to conclusions in a discussion about features in app earlier too, we should implement features based on utility and not complexity.  Adding not/less useful features is not what should be practiced as a long term goal.
 @the-dagger Opinions on this?

[2017-02-21 14:11] Abhi2424shek commented on #547
@anantprsd5 we should not waste resources for easy things which would be replaced in the future.

[2017-02-22 02:44] #547 closed

[2017-02-22 04:01] abishekvashok opened #551 "Shall we have espresso as testing framework"
The Espresso testing framework is an instrumentation-based API and works with the AndroidJUnitRunner test runner.

**Actual Behaviour**
The tests aren't based on espresso

**Expected Behaviour**
The tests should be based on espresso.

**Would you like to work on the issue?**
No, I can't code on my PC this month.

**More information about espresso and settings g it up**
https://developer.android.co

[2017-02-22 04:02] Abhi2424shek commented on #551
@the-dagger whts your opinion?

[2017-02-22 13:03] #502 closed

[2017-02-22 13:03] jig08 commented on #539
@rishsethia yes pls.

[2017-02-22 13:20] the-dagger commented on #539
@rishsethia <https://github.com/rishsethia> wouldn't that require adding
calling permission to susi, which I don't think is a good idea.
Thougn we can handle this in API 22+ with dynamic permissions but for API
below that would still be a problem.
Let's keep the calling functionality as it is for now.

[2017-02-22 13:25] rishsethia commented on #539
@the-dagger ,

Yeah I also thought that . So , instead of calling directly , it will open the specified contact directly , instead of just launching the dialer app . So user is just one touch away from calling , instead of completely searching contacts again calling.

[2017-02-22 13:36] the-dagger commented on #539
Ok, that makes sense. :+1:

[2017-02-23 16:49] rahulworld opened #554 "Predefined question formater for asking question susi"
**Actual Behaviour**
there is no question format for asking.
Please state here what is currently happening.
![16910624_813375112134104_1906750939_o](https://cloud.githubusercontent.com/assets/15066782/23269101/77fc1416-fa15-11e6-8063-b2ddb02263b5.png)

**Expected Behaviour**
so for good result we add some predefined question format.

**Steps to reproduce it**
adding a question format template.

**

[2017-02-24 11:31] Abhi2424shek commented on #554
Susi server is the place you should go for this. Further susi server interprets the questions in two senses.

[2017-02-24 17:08] DravitLochan commented on #522
Progress so far: on selecting one or more messages, * button comes along with delete, copy and share. On hitting *, selected messages are marked important (another attribute of isImportant has been added). Now I was thinking for  opening an activity which contains all the messages marked important. if some one has better solution, please tell.

[2017-02-25 12:56] rahulworld commented on #554
@Abhi2424shek  I want add template in gui in which the question template having some question formate so input take from question template. should i go for susi server according to you.

[2017-02-25 19:18] rohanagarwal94 opened #555 "Using Twitter Kit App Card Composer to share app"
**Actual Behaviour**

The tweet currently only includes the hyperlink of the playstore.

**Expected Behaviour**

The tweet would have a app card along with the message. The user need not have the twitter app installed..

**Screenshots of the issue**

![screenshot from 2017-02-12 19-55-02](https://cloud.githubusercontent.com/assets/13241256/23334059/304dad10-fbbd-11e6-833a-77bb793ea83e.png)

**Woul

[2017-02-26 03:44] Abhi2424shek commented on #554
Well we don't want to make the app hardcoded it should just be a beautiful interface for the susi server.

[2017-03-03 17:03] betterclever commented on #520
@chiragw15 Are you still working on this? I wish to work on this.

[2017-03-03 17:22] chiragw15 commented on #520
@betterclever I have implemented this. But I don't know if this is the intended solution. I asked this in the above comment but didn't get any response. @the-dagger @mariobehling @Orbiter Can anyone please confirm if it.

![screenshot_20170303-224607](https://cloud.githubusercontent.com/assets/16978820/23561273/93023296-0063-11e7-97bd-6ec5efe0a715.png)

[2017-03-03 17:40] betterclever commented on #520
@chiragw15 I guess this is required solution, additionally we can put an option in settings to change server in which in turn, you may ask user to sign out first to change server and take him to this screen.
@mariobehling Can you confirm this approach?

[2017-03-03 17:42] chiragw15 commented on #520
@betterclever Done exactly the same :D

[2017-03-04 13:23] arp95 opened #558 "Providing start/end attributes for each left/right ones"
**Actual Behaviour**

Currently in some layout files only left/right attributes for each views are present.

**Expected Behaviour**

To support right to left languages each left/right attribute should have its start/end counterpart.

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

[2017-03-06 17:42] betterclever commented on #558
@arp95 Is it needed? Susi currently supports only English so enabling that won't help much.

[2017-03-07 04:46] harshitagupta30 opened #559 "Removing Lint issues in project"
**Actual Behaviour**

Currently, on running lint in the project it raises multiple potential issues which need to be solved.

**Expected Behaviour**

They must be resolved.

**Would you like to work on the issue?**
Yes

@jig08 @the-dagger @Abhi2424shek  Can I resolve them? :)

[2017-03-11 16:16] Orbiter opened #560 "New Application Icon"
Please exchange the application Icon, image is attached

![susi_icon_2017](https://cloud.githubusercontent.com/assets/238730/23824832/617c9010-067e-11e7-8caf-88dc81000008.png)

[2017-03-11 16:41] mayank408 commented on #560
@Orbiter I want to work on this

[2017-03-11 21:06] Orbiter commented on #560
Great! Please!

[2017-03-11 23:10] #512 closed

[2017-03-12 02:44] mariobehling opened #561 "Sort Sponsors according to sponsorship level."
Sponsors are currently not sorted to their level. Please ensure the sponsors are listed according to the order. In the server app it is sorted according to numbers, e.g. 5 is higher than -2. So the sponsor is on top. If two sponsors have the number 5 there are both in the same category.

[2017-03-12 02:52] Jonsnow21 commented on #561
I would like to work on this

[2017-03-12 06:50] mariobehling commented on #561
Yes, posted it too late at night, when I was sleepy already. Please follow up here: https://github.com/fossasia/open-event-android/issues/1280

[2017-03-12 06:50] #561 closed

[2017-03-13 21:36] Orbiter commented on #560
https://github.com/fossasia/susi_android/commit/7559b427b3105f17afe5fcdc092dad74f88bee91

[2017-03-13 21:36] #560 closed

[2017-03-14 16:41] mariobehling opened #564 "Create a screencast in high resolution with questions/text listed in issue"
We would like to have a screencast with the questions/text listed below to showcase Susi. Please make the screencast in high resolution.

- who are you
- are you alive
- what is summer
- what is love
- ask urbandictionary for love
- where is singapore
- set home to singapore
- get home
- ask me anything
- Michael
- what is my name
- do you like me
- forget my name
- what did I say lately
- compute

[2017-03-14 17:03] chiragw15 commented on #564
@mariobehling is this resolution fine? https://youtu.be/Oppy6X2iTXc . It's a demo. If this quality seems fine, I'll make a complete one.

[2017-03-14 18:07] daminisatya commented on #564
@chiragw15 looks good!

[2017-03-14 20:03] chiragw15 commented on #564
https://drive.google.com/file/d/0B6IO4qTKhVUCVmtvdUZpMzg2b00/view?usp=drivesdk

[2017-03-15 16:12] jig08 commented on #564
@chiragw15 Nice work !

[2017-03-17 13:58] DravitLochan opened #565 "Respond to a query as soon as connected to internet"
**Actual Behaviour**

If a user fires a query but is not connected to internet, They get the answer only when they open the app and the query gets fired on the server from the undeliveredMessage list.

**Expected Behaviour**

Similar to other apps, Susi should be able to generate a notification with a response to the questions in the undeliveredMessage list.

**Steps to reproduce it**
Start a serv

[2017-03-17 18:07] DravitLochan commented on #565
@jig08 if you could review and merge my early pr #522

[2017-03-23 14:59] Abhi2424shek commented on #565
Sure pls make a PR

[2017-03-23 16:01] DravitLochan commented on #522
may I close it?

[2017-03-23 16:18] Abhi2424shek commented on #522
Next time reference the issue solved in the commit message @DravitLochan. Close this one pls.

[2017-03-23 16:42] #522 closed

[2017-03-24 03:35] Abhi2424shek commented on #559
Yep @harshitagupta can we have a linting test also?

[2017-03-24 03:37] Abhi2424shek commented on #564
Since @chiragw15 made it, can we close this?

[2017-03-25 13:39] mariobehling opened #566 "Compare Mycroft with SUSI AI and evaluate skills import options"
Mycroft (https://mycroft.ai) is doing a great job to tell people about the project. Lots of people know it. Please compare it with SUSI AI and Mycroft. There are a number of skills (https://github.com/MycroftAI/mycroft-skills). Can we import them to SUSI? This issue is related to both the Android client and the SUSI server.

[2017-03-25 13:55] Abhi2424shek commented on #566
We would need to port them one by one. I like their readme file which specifies the things which are needed to be done.

[2017-04-01 12:51] betterclever commented on #63
https://github.com/fossasia/susi_server/issues/100

[2017-04-01 12:52] betterclever commented on #95
https://github.com/fossasia/susi_server/issues/100

[2017-04-01 12:54] betterclever commented on #150
https://github.com/fossasia/susi_server/issues/100

[2017-04-01 12:57] betterclever commented on #360
https://github.com/fossasia/susi_server/issues/100

[2017-04-01 12:58] betterclever commented on #96
https://github.com/fossasia/susi_server/issues/100

[2017-04-05 08:59] chiragw15 opened #567 "Unable to select map view on long click and a small ui bug"
**Actual Behaviour**

1.) Unable to select map view.
2.) Colors of numbers and links is white. Therefore, unable to see.

**Expected Behaviour**

It should work fine.

**Screenshots of the issue**

![screenshot_20170405-142308](https://cloud.githubusercontent.com/assets/16978820/24697827/2a0b1aa6-1a0c-11e7-8921-d71ba66f14dd.png)

**Would you like to work on the issue?**
yes

[2017-04-05 09:21] chiragw15 opened #568 "Bug related to marking messages as important (no "unmark message" option)"
**Actual Behaviour**

Right now, after marking a message as important, the messages moves to a new screen which displays important messages. But on that screen when we long click the message, it again displays the option of marking it as important.

**Expected Behaviour**

The option should be to mark the message as unimportant.

**Steps to reproduce it**

Long click a message.
From action bar. ma

[2017-04-07 08:54] #568 closed

[2017-04-08 13:24] chiragw15 opened #570 "App crashing in important messages activity"
**Actual Behaviour**

App crashing while deleting messages from important messages activity.

**Expected Behaviour**

Should not crash.

**Steps to reproduce it**

Star a message. Go to important message activity and delete that message.

**LogCat for the issue**
[code]

**Would you like to work on the issue?**
yes
EDIT : If anyone wants to work on this, comment :)

[2017-04-08 13:32] chiragw15 opened #571 "Displaying star for important messages"
**Actual Behaviour**

There is no indication if the message is marked important.

**Expected Behaviour**

There should be a star indicating that the message is starred.

**Screenshots of the issue**

![screenshot_20170408-184217](https://cloud.githubusercontent.com/assets/16978820/24829373/d668edd6-1c8d-11e7-9c23-b6c5e059c367.png)

**Would you like to work on the issue?**
yes

[2017-04-09 09:51] jig08 commented on #570
@chiragw15 Thanks for opening issues, but kindly take up one at a time. Cheers !

[2017-04-09 09:58] chiragw15 commented on #570
@jig08 I was just testing the app, found some issues and reported it. I am working on them one by one. In the meanwhile If anyone else wants to work on these issues, he/she can just pick one up by commenting on them. I am happy to help :) .

[2017-04-09 10:04] #533 closed

[2017-04-09 10:05] #537 closed

[2017-04-09 10:06] #541 closed

[2017-04-10 13:24] iamareebjamal opened #573 "Fix ReadMe formatting"
**Actual Behaviour**

ReadMe format has broken due to
- Slight change of MarkDown format
- Movement of files to another folder

**Expected Behaviour**

ReadMe should be fixed with correct links and formatting

**Screenshots of the issue**

![screenshot_20170410_185330](https://cloud.githubusercontent.com/assets/3874064/24863582/089e6df2-1e1f-11e7-8e15-e6aa83dd66b8.png)

**Would you like to work on

[2017-04-10 15:50] #573 closed

[2017-04-12 08:09] Orbiter opened #575 "Send ISO 639-1 of configured language to the server for queries"
**Actual Behaviour**

When calling the `/susi/chat.json` api of susi_server, no language information is transmitted

**Expected Behaviour**

The configured language (not the country code) shall be send to the server.

Please add a query attribute `language` and fill it with the currently configured language using the ISO 639-1 standard (a lowercase two-letter code), see https://en.wikipedia.org/wi

[2017-04-12 08:23] mayank408 commented on #575
I would like to work on this.

[2017-04-15 23:19] tabesin opened #578 "Login buggy and does not work - invalid password"
I tried to sign up for the Android app. Lots of issues:
1. Signup link brings me to a JSON file.
2. Does not fetch email from the phone.
3. I get an email that I signed up for loklak. I signed up for SUSI AI!
4. Password does not work - cannot login.
5. Reset password still not working.

Result -> I cannot login.

Such a pity. I am sad.

[2017-04-16 08:47] amitiwary999 commented on #570
@chiragw15 I would like to work on this issue.

[2017-04-16 08:53] chiragw15 commented on #570
@amitiwary999 sure, go ahead 👍

[2017-04-16 12:24] #570 closed

[2017-04-16 18:06] chiragw15 opened #580 "Removing Change Password Activity"
**Actual Behaviour**

Currently there is an activity called change password activity which asks users for token id and new password if user forgets the password.

![screenshot_20170416-145441](https://cloud.githubusercontent.com/assets/16978820/25070179/061cb90e-22b5-11e7-9a80-5f814b1b62cf.png)

**Expected Behaviour**

In reference to this https://github.com/fossasia/susi_server/issues/108 . Since

[2017-04-16 18:08] mayank408 commented on #580
@chiragw15 I would like to work on this if you are working on other issues.

[2017-04-16 18:09] chiragw15 commented on #580
@mayank408 yeah sure, go ahead :+1:

[2017-04-16 18:10] mayank408 commented on #580
@chiragw15 👍

[2017-04-17 16:21] #580 closed

[2017-04-17 16:21] #575 closed

[2017-04-19 02:59] #571 closed

[2017-04-19 11:08] #567 closed

[2017-04-20 05:20] Abhi2424shek commented on #565
Hi @DravitLochan any updates?

[2017-04-20 05:28] #564 closed

[2017-04-20 08:23] DravitLochan commented on #565
Just need some time. I had some branch issues earlier. right now looking at the services. Will update soon :)

[2017-04-23 13:38] mariobehling opened #583 "Use api.susi.ai instead of asksusi.com domain and provide UI to change server manually"
The current version of the app uses asksusi.com. Please use api.susi.ai instead. Asksusi.com will be faded out.

In the login screen add an option to manually change the susi server.

[2017-04-23 15:14] #520 closed

[2017-04-23 15:15] Abhi2424shek commented on #583
The login screen has been provided the functionality in #572

[2017-04-23 15:15] mayank408 commented on #583
@mariobehling We can select the server the server from the app itself after merging #572.
I will change the url to updated one 👍

[2017-04-25 07:45] #583 closed

[2017-05-06 13:35] madhavrathi opened #587 "Hard Coded Strings in MainActivity"
**Actual Behaviour**

Hard coded strings present in an AlertDialogbox code.

**Expected Behaviour**

All strings should be added in values/strings.xml

**Would you like to work on the issue?**

Yes. Sending a PR

[2017-05-06 13:55] DravitLochan commented on #565
On getting connected to internet, BroadcastReceiver is not fired. Otherwise, everything is set to roll. Someone else has the same scenario? @Abhi2424shek

[2017-05-07 06:31] AliAyub007 opened #589 "Opening applications(like facebook, twitter and important apps on android) on query"
**Actual Behaviour**

Right now it doesn't open any application on query

**Expected Behaviour**

On query like open Facebook or launch chrome it should open these applications.

**Steps to reproduce it**

creating intents for applications and launching them.

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes I would like to work on it.

[2017-05-07 14:40] chiragw15 commented on #589
@AliAyub007 Please don't hardcode the feature in app itself. The query should be sent to server and the action must be taken according to the response from server. I think, there is no point in writing code like `if(query.contains("open facebook") { openFacebook(); }` . A proper flow of sending query to server and implementing feature in the app according to the response of the server should be fo

[2017-05-07 15:13] AliAyub007 commented on #589
@chiragw15  Right now there is an option of send mail it is hard coded and secondly in these actions we don't need that kind of response from server and only those app needed to be launched. Still @mariobehling  and @Orbiter kindly guide about this.

[2017-05-07 15:40] chiragw15 commented on #589
@AliAyub007 There is not just sending email feature in app, there are many more like calling, playing a video, setting a reminder etc. They all are currently hardcoded. We have to shift these features to the server. The launching part will be done by app but the understanding of the query has to be done by the server. There is no use of server if you are not even sending query to it. Like take que

[2017-05-07 15:46] amitiwary999 commented on #589
@chiragw15 you are right.

[2017-05-08 03:04] chiragw15 opened #590 "Web search not working"
**Actual Behaviour**

Curently web search is not working. Though the server is giving correct response, it is not displayed correctly in app.

**Expected Behaviour**

It should work as both susi server and duckduckgo api is giving correct response.

**Steps to reproduce it**

enter query "search for dog"
http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=search+for+dog
^correct response.

[2017-05-08 03:23] betterclever commented on #590
I guess while improving this, we can have a look at FAROO, it is a free api
for Search. It provides multiple results, as opposed to single result by
DuckDuckGo.

@chiragw15 what do you think?

On Mon, May 8, 2017, 8:34 AM Chirag Wadhera <notifications@github.com>
wrote:

[2017-05-08 03:40] chiragw15 commented on #590
@betterclever I haven't really tried FAROO. As far as DuckDuckGo is concerned, it do provide related topics in json response. But they all are weird and doesn't make sense. I'll register for API key of FAROO and will try and let know. If the results are fine, we can surely shift to faroo.

[2017-05-08 04:23] mayank408 commented on #590
@chiragw15 It will be again hardcoded and will work only when the search object is preceded by "search for" . I don't think it will work if the user queries "I want to know about something".

[2017-05-08 04:27] betterclever commented on #590
@mayank408, it is not like that. Web search is triggered in the case when
action returned from server asks to perform websearch. The query is being
sent to server and response is being evaluated on client, this is exactly
how Orbiter asked it should be. Follow up #100 on susi_server repo for more
info.

On Mon, May 8, 2017, 9:53 AM Mayank Tripathi <notifications@github.com>
wrote:

[2017-05-08 04:28] chiragw15 commented on #590
@mayank408 You are misinterpreting the issue. I am not implementing anything here. http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=search+for+dog This is a response of a query from server.

[2017-05-08 04:32] mayank408 commented on #590
@betterclever Yes you got me wrong, I am saying that when I query "I want to know about something". The server is not returning a websearch for only the object but instead it search for the whole phrase.Due to which the DuckDuckGo Api shows no result found.

![whatsapp image 2017-05-08 at 10 02 03 am](https://cloud.githubusercontent.com/assets/22056321/25790345/799e2738-33d5-11e7-8f0c-27f12452a02b

[2017-05-08 04:34] mayank408 commented on #590
See above Singapore can be easily found , whereas when we write "i want to know about Singapore" , It doesn't search for singapore instead the whole phrase which is ofcourse not found .

[2017-05-08 04:38] chiragw15 commented on #590
@mayank408 Yup because this is not implemented on the server. You need to understand the meaning of hardcoding here. If are replying to a query in the app itself without sending the query to server or without using the response of server. It is hardcoding. In this case, we are sending query to server and displaying what the result is coming in. Since it is not implemented on server, it is not work

[2017-05-08 04:41] mayank408 commented on #590
@chiragw15 yes right and I know what hardcoded is, and there are many features in the app that can need to replaced, once they get added to the server.

[2017-05-08 04:44] chiragw15 commented on #590
Yes, that's what I am saying for a long time. All the hardcoded features of the app will be replaced by the server ones. The app should not process user query **at all**. It should directly send it to server. What it should do is to act according to the response of server and display the result.

[2017-05-08 04:50] amitiwary999 commented on #590
@chiragw15 You are right we need to replace all the hardcoded features.

[2017-05-08 04:51] mayank408 commented on #590
@amitiwary999 We cant do it know and the server still lacks them.

[2017-05-08 04:52] chiragw15 commented on #590
Yes, slowly and steadily. Implementing each feature on server. :+1:

[2017-05-08 05:08] chiragw15 commented on #483
@betterclever I have registered for api key of FAROO. Will get it in 24 hours. If the search results are fine using FAROO, we can replace DuckDuckGo with FAROO and implement multiple results something like this. What say?
![screenshot_20170508-103342](https://cloud.githubusercontent.com/assets/16978820/25790920/5ff0e014-33da-11e7-8c17-0b813adbe447.png)

[2017-05-08 09:46] msn-najjar opened #592 "incorrect response"
**Actual Behaviour**

Asking questions results in slow answer and strange answers with code snippets.

**Expected Behaviour**

Standard chat answers

**Steps to reproduce it**

Please see screenshot below.

![screenshot_2017-05-08-11-36-11](https://cloud.githubusercontent.com/assets/25149375/25799059/ddf05266-33e3-11e7-8fc3-7c0d307569d8.png)

[2017-05-08 10:26] jyoth1raditya opened #593 "Incorrect response to 'Hii'"
**Actual Behaviour**

Its web searching on Duck Go GO

**Expected Behaviour**

Just reply back with Hello

![screenshot_20170508-151213](https://cloud.githubusercontent.com/assets/24853337/25800411/e0866cc2-3406-11e7-9779-13bcbbdc0188.png)

[2017-05-08 11:00] jyoth1raditya opened #594 "Addressing of Fact based queries"
@mariobehling @Orbiter , Please help us how to address this issue.

![screenshot_20170508-160426 1](https://cloud.githubusercontent.com/assets/24853337/25801511/87ee5958-340b-11e7-8839-882c69cb78b9.png)
![screenshot_20170508-160223 1](https://cloud.githubusercontent.com/assets/24853337/25801510/87ed716e-340b-11e7-8c15-9a43e810e2f8.png)

[2017-05-08 14:37] chiragw15 commented on #593
@jyoth1raditya please open this issue in susi_server repo and close this one. It needs to be corrected there. Thanks.

[2017-05-08 14:38] chiragw15 commented on #594
As mentioned in #593 , This too.

[2017-05-08 15:11] chiragw15 commented on #594
You can use wolfram alpha api to create a skill for fact based queries. eg. https://api.wolframalpha.com/v1/result?i=distance+between+earth+and+sun&appid=XL374T-P3L4UJ53R6 . But since it is not an open source project and query limit is 2000 per month, I don't know if @mariobehling will allow it?

[2017-05-08 16:15] DravitLochan opened #595 "back button in Important messages activity"
**Actual Behaviour**

No such button

**Expected Behaviour**

A button on top left corner to switch back to main activity

**Steps to reproduce it**
add required method call

**Screenshots of the issue**

![screenshot_20170508-214235](https://cloud.githubusercontent.com/assets/14837478/25813524/8d68f98e-3437-11e7-8a13-dee2220cd647.png)

**Would you like to work on the issue?**

Yes

[2017-05-09 03:15] chiragw15 opened #598 "Removing Change Password activity from android manifest"
**Actual Behaviour**

Change Password activity was removed earlier from the app but removing it from manifest was missed.

**Expected Behaviour**

Removing it from manifest too.

**Would you like to work on the issue?**
yes

[2017-05-09 03:59] chiragw15 opened #600 "Updating docs"
Following changes in readme file:

1. Adding preview at Appetize.io and adding its badge.
2. Changing Mailing List to https://groups.google.com/forum/#!forum/susiai  here https://github.com/fossasia/susi_android#communication .
3. Removing note from branch policy since we have a development branch now.
4. Changing badge link of circle ci from https://circleci.com/gh/fossasia/susi_android.svg?style

[2017-05-09 05:45] DravitLochan commented on #600
I'll advice not to add the APIs as in the end they are going to be implemented on the server. Rest looks good

[2017-05-09 05:50] #590 closed

[2017-05-09 05:51] #595 closed

[2017-05-09 05:51] #598 closed

[2017-05-09 05:53] chiragw15 opened #601 "Features/Skills in android app as of now"
**Features/Skills present in android app :**

1. Reply user with text message. (response type : answer)
2. Displaying a map in message. (response type : map)
3. Displaying a websearch result in message. (response type : websearch)
4. Displaying a Pie chart (Though this has never been tested)
5. Displaying mutiple search results. (response type : rss)

**Features/Skills/action type present in serve

[2017-05-09 06:03] amitiwary999 commented on #601
@chiragw15 multible websearch result is also included in displaying a websearch result in text message?

[2017-05-09 07:53] #594 closed

[2017-05-09 09:36] chashmeetsingh commented on #592
@msn-najjar this seems to be a server issue. Close this issue and create one at https://github.com/fossasia/susi_server.

[2017-05-09 14:40] chiragw15 commented on #601
@mariobehling @amitiwary999 @mayank408 How about we make separate a branch of app which will contain only skills that use server response?

[2017-05-10 02:29] chiragw15 opened #602 "Improving implementation of parsing json"
**Actual Behaviour**

Here https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/activities/MainActivity.java#L852 in the loop try catch statements like https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/activities/MainActivity.java#L887 keeps on repeating.

Also, the waiting dots are not displaying as well.

[2017-05-10 06:52] #602 closed

[2017-05-10 07:50] amitiwary999 opened #605 "Clear all top activity before starting mainactivity"
**Actual Behaviour**

There are some activity which remain in back stack after mainactivity is running. So when user press backbutton instead of closing app those activity comes on top.

**Expected Behaviour**

It should not happen.

**Steps to reproduce it**

Click on forgot password button and in forgot password activity click on reset button  after that login.
**LogCat for the issue**

**Screen

[2017-05-10 17:54] amitiwary999 opened #607 "Making signup process easier"
**Actual Behaviour**

Currently for signup user required some strong password

**Expected Behaviour**

Currently (app is in initial stage) User may love to have some simpel password.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

yes

[2017-05-11 13:49] jyoth1raditya commented on #278
@mariobehling, @Abhi2424shek
Sir, in current available options for hot word detection. CMU pocket sphinx is reliable one. My proposed hotword is "Wake Up Susi". I am working on it.

[2017-05-11 14:03] mariobehling commented on #278
I see a lively discussion and different approaches. A first prototype solutions bundled with the Android app would be a good start. So, when this is ready, please make a PR. There is also the option of training the hotword, just like what Siri does when you start it the first time. So, if that is necessary to make a solution more reliable please open relevant issues.

[2017-05-12 03:09] chiragw15 opened #609 "Improving layout of websearch holder"
**Actual Behaviour**

![screenshot_20170512-064900](https://cloud.githubusercontent.com/assets/16978820/25980713/25739442-36ee-11e7-939f-47dee5e5960a.png)

1. text alignment is wrong.
2. White space if image url is empty in json.

**Expected Behaviour**

1. Aligning text to left.
2. If image url from json response is null, remove the extra white space at the left.

**Would you like to work on the

[2017-05-12 03:55] chiragw15 opened #610 "Organising codebase."
1. Removing unused import statements, variables, repetitive code, warnings and java classes like [ResetPasswordResponse.java](https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/rest/model/ResetPasswordResponse.java).

2. Making sub packages in [model](https://github.com/fossasia/susi_android/tree/development/app/src/main/java/org/fossasia/susi/ai/rest/

[2017-05-12 04:05] chiragw15 opened #611 "Removing dependency on ChatmessageView"
**Actual Behaviour**

We have this `me.himanshusoni.chatmessageview:chat-message-view:1.0.3` dependency in gradle file which is used only in [item_susi_image.xml](https://github.com/fossasia/susi_android/blob/development/app/src/main/res/layout/item_susi_image.xml) , [item_user_image.xml](https://github.com/fossasia/susi_android/blob/development/app/src/main/res/layout/item_user_image.xml) and [se

[2017-05-12 22:17] Orbiter commented on #96
The documentation for table actions is now in https://github.com/fossasia/susi_skill_data/blob/master/README_susi_skill_language_tutorial.md chapter 12

But the example above is better for RSS type answers

[2017-05-13 05:05] chiragw15 opened #613 "Increase speed of app wherever possible"
**Actual Behaviour**

The response of app is slower even if the response from server is fast? I don't know the reason yet. Maybe poor implementation or a need of better algorithm. Need to figure it out.

**Expected Behaviour**

If the response from server is fast, the response from app should be fast too.

**Mini-Project**
Increase the speed of app wherever possible.

@amitiwary999 If you find any

[2017-05-13 18:34] amitiwary999 commented on #613
@mariobehling  We can use google cloud speech api. It return text result in real time just like google assistant. @chiragw15 I am trying to implement it in a sample app by following there docs it will be better if you also look into it.

[2017-05-14 12:08] mariobehling commented on #613
@amitiwary999 Please open a dedicated issue.

[2017-05-14 12:10] #610 closed

[2017-05-14 12:11] #607 closed

[2017-05-14 12:13] #600 closed

[2017-05-14 12:35] amitiwary999 commented on #613
@chiragw15 your implementation looks good . I am opening a issue for it you can make a pull request. I too trying to find some other way to make susi faster.

[2017-05-14 12:40] amitiwary999 opened #616 "Make speech to text faster in susi android"
**Actual Behaviour**

Currently when user finished speech input after that it is converted to text.

**Expected Behaviour**

As soon as user start speaking it should converted to text like google assistant.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

me and @chiragw15 are working together on it.

[2017-05-16 06:02] chiragw15 opened #619 "Bug in "Speech output for speech input" pref"
**Actual Behaviour**

Speech output doesn't work for first time but works if we disable and then enable it again. That's an issue. There is something wrong with dealing of prefs.

**Expected Behaviour**

It should work for every case.

**Would you like to work on the issue?**
yes

[2017-05-16 15:14] amitiwary999 opened #621 "Make text to speech better"
**Actual Behaviour**

Currently text to speech is slower and hence some text missed sometimes.

**Expected Behaviour**

Text to speech should match with text.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

yes

[2017-05-16 15:39] amitiwary999 commented on #613
@chiragw15 currently some function like calling someone,sending email, setting alarm etc. which not depend on susi response are kept under susi response in mainactivity.  If we are planing to keep these functions hardcode then we should keep these functions outside of it.If you agree then I will open a issue. @mariobehling @Orbiter needed your suggestion.

[2017-05-17 05:09] chiragw15 commented on #621
@amitiwary999 I don't think any text is missed. Can you give an example of that. For my mobile text to speech is working absolutely fine. There is no case when text is not converted to speech. @mayank408 @betterclever can you please check it on your devices?

[2017-05-17 05:35] amitiwary999 commented on #621
@chiragw15 It is not happening always. Sometimes like for first time when we ask something to susi. I think at the time of reply initializing tts engine takes sometimes.

[2017-05-17 21:28] amitiwary999 commented on #621
I checked it again now it is working well.I will try to update if I find exact reason.

[2017-05-18 14:35] amitiwary999 opened #623 "Keep some features separate from susi response"
**Actual Behaviour**

Some features like setting alarm that not depend on susi response are coded inside susi response.

**Expected Behaviour**

Keep these features outside of susi response.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

yes

[2017-05-19 05:25] chiragw15 opened #624 "Enabling leak canary for leak detection"
**Actual Behaviour**

There are memory leaks but they aren't detected.

**Expected Behaviour**

Enabling leak canary to detect memory leaks.

**Would you like to work on the issue?**
yes

[2017-05-19 05:30] chiragw15 opened #625 "Memory leak in getVideos"
**Actual Behaviour**

There is a memory leak in GetVideos.java

![screenshot_20170519-103126](https://cloud.githubusercontent.com/assets/16978820/26234438/3917fd64-3c82-11e7-94d8-6a135e86bcb5.png)

**Expected Behaviour**

Removing leak for better performance.

**Would you like to work on the issue?**
yes

[2017-05-20 01:53] saurabhjn76 opened #627 "Make login/Signup experience smoother"
**Actual Behaviour**
The current Login/Signup/Password needs improvement to make signup process easier.

**Expected Behaviour**
Registration/Password Recovery should be made easy to provide a user-friendly experience.

Provide the ways to make signup experience smoother.

[2017-05-20 01:57] saurabhjn76 commented on #627
- **Auto Complete Suggestion in Email Address** - Just by entering first few letters of the email address, a user would be able complete the email.

- **Integration of FB/Google for authentication** - This will make signup process easy and also the information shared through these accounts would be accessible by Susi AI.

[2017-05-20 02:06] saurabhjn76 opened #628 "Auto complete suggestion for email address"
**Actual Behaviour**
The app should provide auto-complete suggestions for the email address for easy signup process.

**Expected Behaviour**
Just by typing few letters, the app should provide the email suggestions.

[2017-05-20 02:34] chiragw15 commented on #628
Copy of #496 . Avoid creating duplicate issues.

[2017-05-20 02:46] #628 closed

[2017-05-21 14:56] Orbiter commented on #96
working table example:

[code]
 produces

[code]

Test this with the susi dream "stock"

[2017-05-22 05:30] chiragw15 commented on #625
@mayank408 Can you help me in this?

[2017-05-22 06:38] mayank408 commented on #625
@chiragw15 I have tested it in my environment, it is showing varied results from 21 to 28kb.
Is this actually a memory leak or just the memory required for the task because its too small , i am looking into this.

[2017-05-22 06:50] iamareebjamal commented on #625
Memory Leaks are rarely leaking the same amount of memory. You may be storing the context in some static variable and not clearing it

[2017-05-22 06:51] iamareebjamal commented on #625
[code]

Remove these listeners in `onDestroy()`

[2017-05-22 07:14] iamareebjamal commented on #625
And BTW, why registering listeners when not using them?

[2017-05-22 07:32] chiragw15 commented on #625
@iamareebjamal I have already removed these listeners because they weren't being used but there is still a memory leak. Don't know why.

[2017-05-22 08:03] iamareebjamal commented on #625
You can expand the sections in leakcanary to see which section of your code is being retained in memory

[2017-05-22 11:37] mayank408 opened #631 "App crashing on playing videos"
**Actual Behaviour**

App is not crash on playing youtube videos
**Expected Behaviour**

App should not crash on playing youtube videos

**Steps to reproduce it**

play any youtube video

**Would you like to work on the issue?**

Yes

**Reason**

After adding support from mixcloud from the server it is generating its own URL which is conflicting with that of youtube's URL.

[2017-05-22 12:42] chiragw15 commented on #613
@mariobehling I have removed all harcoded features. They were interfering with actual susi response. Also, it makes the app a little faster, efficient and reduces app size. The code is in my fork https://github.com/chiragw15/susi_android/tree/removehard . To test it here is an [apk](https://drive.google.com/file/d/0B6IO4qTKhVUCRHJDYzEydElSamc/view?usp=sharing). If you feel it has increased the spe

[2017-05-23 13:04] chiragw15 commented on #551
@Abhi2424shek Don't we already use espresso?

[2017-05-24 10:54] DravitLochan opened #633 "Digging out previous chat messages at time of user login"
**Actual Behaviour**
Currently, if a user logins, their previous messages are not displayed.

**Expected Behaviour**
At every login, fetch the old chat messages and display them.

**Steps to reproduce it**
We have a new memory servlet which will help. The previous conversation log is returned in a cognitions object.

[2017-05-25 11:18] mayank408 commented on #633
I would like to work on this, but before that want some discussion so that I could be clear how to achieve this. @mariobehling @DravitLochan @chirag15 @betterclever

[2017-05-25 12:29] chiragw15 commented on #633
@mayank408 completed it last night. Sorry, didn't inform you earlier. I used a dialog box asking user if he wants to retrieve his old message.  If he clicked yes, simply got his old messages using memory.json and added it to database.

[2017-05-25 12:30] mayank408 commented on #633
@chiragw15 ok, but pls first get assigned it to yourself so that co-developers don't work on the same thing.

[2017-05-25 12:35] chiragw15 commented on #633
@mayank408 I thought you were working on #96 based on your today's scrum. Never mind,  will comment next time on the issue :+1:

[2017-05-25 13:14] mayank408 commented on #633
@chiragw15 I was working on it but you already sent the pr for #96  , the problem is that is need some improvement as is does not like a table but a list.

[2017-05-25 13:19] chiragw15 commented on #633
@mayank408 The table response was changed after I send that PR. Checkout the issue( #96 ) for new response. I should probably close that PR. It is of no use now. You can work on that issue.

[2017-05-25 13:21] mayank408 commented on #633
@chiragw15 Ok please close the pr and I will get it assigned to myself . Cheers 👍

[2017-05-27 14:15] chiragw15 opened #635 "Memory Leak in Location Helper"
**Actual Behaviour**

There is a memory leak in location helper.

**Expected Behaviour**

There should be no memory leak in the app.

**Steps to reproduce it**

Be sure your location is ON . Then start the app and query "where am I" and then close the app. You will see memory leak.

**Screenshots of the issue**

![screenshot_20170527-144157](https://cloud.githubusercontent.com/assets/16978820/2652

[2017-05-29 18:13] #605 closed

[2017-05-29 18:15] #633 closed

[2017-05-29 18:19] #496 closed

[2017-05-29 18:19] #624 closed

[2017-05-29 18:20] #619 closed

[2017-05-29 18:25] #621 closed

[2017-05-29 18:39] chiragw15 opened #637 "Removing dialog box asking user to retrieve old messages"
**Actual Behaviour**

There is a dialog box which asks user if he wants to retrieve old messages

**Expected Behaviour**

As mentioned here https://github.com/fossasia/susi_android/pull/634#issuecomment-304710323, removing the dialog box asking user to retrieve old messages and loading previous messages automatically.

**Would you like to work on the issue?**
@mayank408 's working

[2017-05-29 18:42] mayank408 commented on #637
@chiragw15 Can I work on this.

[2017-05-29 18:43] chiragw15 commented on #637
Sure, go ahead :+1:

[2017-05-29 18:48] chiragw15 opened #638 "Updating Docs (Correcting Commit message guidelines and screenshots structure)"
**Actual Behaviour**

* Currently, in the readme file commit message guidelines states "Reference the issue numbers in the commit message. Follow the pattern Fixes # < issue number > < commit message >".
* Currently, there are 6 screenshots is same line. Looking small and cluttered.

**Expected Behaviour**

* Change these guidelines to https://github.com/fossasia/open-event-android/blob/developmen

[2017-05-29 21:26] amitiwary999 opened #639 "Retrieving old messages not shown correctly in case of websearch"
**Actual Behaviour**

Retrieving old messages is not shown correctly.

**Expected Behaviour**

Retrieved messages should be shown correctly.

**Steps to reproduce it**

Start chat with susi which also include websearch. Now logout and again login. you can see websearch is shown according to latest websearch.

**LogCat for the issue**

**Screenshots of the issue**

![screenshot_2017-05-30-02-45-13]

[2017-05-29 21:40] chiragw15 commented on #639
This line `webquery = MainActivity.webSearch;` [here](https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/adapters/recycleradapters/ChatFeedRecyclerAdapter.java#L486) is causing trouble. If the webSearch string is changed too fast i.e before loading of view, the results will be displayed of the last query. Change the implementation of websearch.

[2017-05-30 20:59] #638 closed

[2017-05-30 21:00] #611 closed

[2017-05-30 23:43] chiragw15 commented on #635
@iamareebjamal I used `locationManager.removeUpdates(this);` in the onStop() method but it didn't fix the issue. I googled it and found that is an issue in google maps sdk as mentioned in this [PR](https://github.com/mcharmas/Android-ReactiveLocation/pull/142). There is a work around using weak reference [here](https://github.com/googlesamples/android-play-location/issues/26#issuecomment-248101802

[2017-05-31 07:51] iamareebjamal commented on #635
Sure, first create a topic branch in your fork and I can help with that.

[2017-05-31 10:59] chiragw15 commented on #616
@amitiwary999 fixed. Issue can be closed.

[2017-05-31 11:44] chiragw15 commented on #635
@iamareebjamal https://github.com/chiragw15/susi_android/tree/locationLeak this the branch

[2017-05-31 14:24] #478 closed

[2017-05-31 14:24] #477 closed

[2017-05-31 14:36] mayank408 commented on #478
Issue resolved.

[2017-05-31 14:36] mayank408 commented on #477
The problem is not occurring now.

[2017-05-31 16:56] mayank408 commented on #593
It is a server issue. Hence closing

[2017-05-31 16:56] #593 closed

[2017-05-31 16:56] mayank408 commented on #578
Server Issue , Hence closing.

[2017-05-31 16:56] #578 closed

[2017-05-31 16:57] mayank408 commented on #558
Not needed for now.

[2017-05-31 16:57] #558 closed

[2017-05-31 17:14] mayank408 opened #645 "Issues found on running lint test in the app."
**Actual Behaviour**

Issues are found in the susi android app during lint testing.

**Expected Behaviour**

There must not be any issue in the app.

**Screenshot**

![screen shot 2017-05-31 at 10 41 58 pm](https://cloud.githubusercontent.com/assets/22056321/26644555/c02d63d2-4652-11e7-8195-a60442ea2fcb.png)

**Would you like to work on the issue?**

Yes

[2017-05-31 18:36] #555 closed

[2017-06-01 16:21] chiragw15 commented on #550
Currently this is out of scope. (mentioned by Mario in PR too). Thus closing.

[2017-06-01 16:21] #550 closed

[2017-06-01 16:57] chiragw15 commented on #551
We already have espresso for testing. Closing it. Re open if I am wrong.

[2017-06-01 16:57] #551 closed

[2017-06-01 17:34] #637 closed

[2017-06-01 17:47] #616 closed

[2017-06-01 17:52] chiragw15 opened #647 "Improving overall implementation of websearch"
**Actual Behaviour**

The current websearch only displays one search result that too is not that informative.

**Expected Behaviour**

- [x] Add horizontal list of results.
- [x] Improve layout (issue #609)
- [x] Improve implementation

[2017-06-01 19:31] mayank408 commented on #647
@chiragw15 Which Api are we trying to use for this.

[2017-06-01 22:44] chiragw15 commented on #647
Right now we'll be using DuckDuckGo only. I registered for faroo api key but they never send me. If we can find any better api, we'll shift to it. Meanwhile you register for faroo api key as well.

[2017-06-01 23:47] chiragw15 opened #648 "Test and add support for Snowboy Hotword Detection"
**Actual Behaviour**

Currently we have a PR open for hotword detection #615 which uses CMU's Pocketsphinx for hotword detection.

**Expected Behaviour**

Snowboy (https://snowboy.kitt.ai/) is a DNN- based hotword detection library for various platforms. It can be utilized to improve Hotword Detection a lot. Test and implement hotword detection using snowboy.

We can compare result from snowboy an

[2017-06-02 02:07] amitiwary999 commented on #648
Snowboy is free or paid library? It is free for personal use right?

[2017-06-02 02:09] chiragw15 commented on #648
Everything discussed on SUSI IOS gitter chat. https://gitter.im/fossasia/susi_iOS

[2017-06-02 14:10] #631 closed

[2017-06-02 15:40] mayank408 opened #651 "Issue with alignment of layout in display of maps."
**Actual Behaviour**

The layout is not uniform.

**Expected Behaviour**

The layout must be uniform.

**Screenshots of the issue**

![screenshot_1496417839](https://cloud.githubusercontent.com/assets/22056321/26733179/a6004886-47d7-11e7-8233-60070a145ab2.png)

**Would you like to work on the issue?**

Yes

[2017-06-03 02:02] chiragw15 opened #652 "Improving implementation of maps"
**Actual Behaviour**

[code]
This is response from server. We aren't using data provided along with the answer but we are extracting data from link given in the answer.

This is wrong because expression of answer may change.

**Expected Behaviour**

Use "latitude" , "longitude" and "zoom" given in type "map" for getting map image from.
`"http://staticmap.openstreetmap.de/staticmap.php?center=LATIT

[2017-06-03 03:16] amitiwary999 commented on #652
@chiragw15 I want to work on this issue. But as I mention in my scrum I will start working from Monday because my laptop is not working.

[2017-06-03 04:24] chiragw15 commented on #652
Alright, I am assigning this to you and adding milestone 5.

[2017-06-03 11:48] mayank408 commented on #483
same as #647

[2017-06-03 11:48] #483 closed

[2017-06-03 11:49] mayank408 commented on #495
Not required for now

[2017-06-03 11:49] #495 closed

[2017-06-03 11:51] mayank408 commented on #559
Already done

[2017-06-03 11:51] #559 closed

[2017-06-03 11:51] mayank408 commented on #589
Not required for now

[2017-06-03 11:51] #589 closed

[2017-06-03 11:52] mayank408 commented on #554
Server issue.

[2017-06-03 11:52] #554 closed

[2017-06-03 11:53] mayank408 commented on #530
Not required for now.

[2017-06-03 11:53] #530 closed

[2017-06-03 11:54] mayank408 commented on #627
Autocomplete done. Fb signup will be discussed in future.

[2017-06-03 11:54] #627 closed

[2017-06-03 12:56] mayank408 commented on #538
Not required for now.

[2017-06-03 12:56] #538 closed

[2017-06-03 12:57] mayank408 commented on #539
Not required for now.

[2017-06-03 12:57] #539 closed

[2017-06-03 15:43] iamareebjamal commented on #635
Hey, I have commented on your commit in the branch. Please take a look if issue is not solved yet

[2017-06-03 16:01] iamareebjamal opened #654 "Reduce complexity of ChatFeedRecyclerAdapter"
**Actual Behaviour**

The whole Adapter is of ~1200 lines. It is difficult to analyse and many completely different things are happening in the same class. Bugs are hard to track in such big objects and issues difficult to solve

**Expected Behaviour**

Class should be reduced to at max 500 lines. This can be easily done as the binding of viewholders is being done in the class itself and can be de

[2017-06-03 16:05] iamareebjamal commented on #654
Some tips while refactoring or mini issues will be to also remove changelisteners from realm on destruction of views. I have seen that you close realm but this will be more foolproof

[2017-06-03 16:20] iamareebjamal opened #655 "Upload lint and test results in circle ci artifacts"
**Actual Behaviour**

Currently, only cryptic emulator errors are uploaded to circle ci.

**Expected Behaviour**

Circle CI provides powerful options to configure uploads of any file in artifacts. The test and lint reports can be added to analyze easily which test failed under which package. Also, lint issues can be easily visualized as an html page which is automatically generated.

Example of [a

[2017-06-03 16:35] iamareebjamal opened #656 "Correctly format HTML escape characters from response"
**Actual Behaviour**

Currently, the response shows HTML escaped characters as is without formatting them to normal text

**Expected Behaviour**

Correct formatting must be done before showing the results.

**Steps to reproduce it**

Run any query with return response containing escape characters

**Screenshots of the issue**

![device-2017-06-03-220117](https://cloud.githubusercontent.com/assets/

[2017-06-03 16:39] iamareebjamal opened #657 "Crash on cancelling speech input"
**Actual Behaviour**

App crashes if speech input is enabled and then disabled

**Expected Behaviour**

The app should not crash

**Steps to reproduce it**

Go to chat screen, click on the microphone icon to enable speech input, then click on cross icon, the app crashes

**LogCat for the issue**

[code]

**Would you like to work on the issue?**

No

[2017-06-03 16:53] iamareebjamal opened #658 "Crash on query "Play some Music""
**Actual Behaviour**

Although I can not reproduce this bug, but the first time I asked to "Play some Music", the app crashed

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Ask susi to "Play some Music"

**LogCat for the issue**

[code]

**Would you like to work on the issue?**

No

[2017-06-03 17:03] amitiwary999 commented on #657
@iamareebjamal I tried it but app is not crashing in my case.can you tell me exact step?

[2017-06-03 17:08] amitiwary999 commented on #658
@iamareebjamal it is not related to query. I too get this error only  once when I opened app first time and after that I didn't get this error. I am trying to reproduce this error.

[2017-06-03 17:14] iamareebjamal commented on #657
![](https://im3.ezgif.com/tmp/ezgif-3-32d8ad45f5.gif)

[2017-06-03 17:14] iamareebjamal commented on #657
Happening continously

[2017-06-03 23:29] chiragw15 commented on #658
https://circleci.com/gh/chiragw15/susi_android/15 Found this error in Circle CI build also

[2017-06-04 00:32] chiragw15 commented on #658
https://github.com/fossasia/susi_android/pull/659/commits/907ed24167ad9011a16e34d7ef79a55d8fd93414 Does doing this fixes the above issue? Because by doing this, Circle CI build passed. @iamareebjamal @amitiwary999

[2017-06-04 01:26] chiragw15 commented on #657
Though I was not able to reproduce the crash but I found something similar on stackoverflow https://stackoverflow.com/questions/13227105/speechrecognizer-not-connected-to-recognition-service.
#661 should prevent the crash.

[2017-06-04 02:23] Muks14x commented on #656
I'd like to work on this issue. I added a html escape sequence filter before adding the messages to the database. Should I do it before/after this or is this okay? I tested the app with some responses with escape sequences, and it seems to be working fine.

[2017-06-04 02:30] chiragw15 commented on #656
@Muks14x Sure, go ahead. Add filtered message to database.

[2017-06-04 03:09] iamareebjamal commented on #658
Umm... Maybe. But as we cannot confirm, I'll say you should convert all class types to primitives in a PR so that there are no future problems

[2017-06-04 14:35] #656 closed

[2017-06-05 09:02] jyoth1raditya commented on #648
@chiragw15 , I am working on it from couple of days.
Will send PR today.

[2017-06-05 09:42] chiragw15 opened #664 "Loop through action types and display result for all actions"
**Actual Behaviour**

Query "multi3". The sever response contains 3 action types but only result of first is displayed.
Also for map type only first action type is used.

**Expected Behaviour**
[code]
If response is of this type, then the client should loop through all the actions and display result one after other with delay provided in the response. So, ideally the result of this response should

[2017-06-05 12:53] chiragw15 opened #665 "UI issue with input text field"
**Actual Behaviour**

The width of frame layout in which there is an edit text to enter query in the main activity is set to wrap_content.

**Expected Behaviour**
Change it to match_parent.
Also, the edit text height doesn't increase on adding more than 1 lines. Make it expand upto 4 lines.

**Steps to reproduce it**

Enter a very long query in edit text of main activity.

[2017-06-05 16:42] isuruAb opened #666 "Is there any sample query that provides "diagram" type response"
Is there any sample query that provides "diagram" type response ?

[2017-06-05 18:53] Muks14x commented on #665
Is this issue fixed already, or can I try to help with it? I gave it a try, and seem to have fixed it (as specified) with a couple of small changes.

[2017-06-05 18:55] chiragw15 commented on #665
Sure, go ahead and send a PR. This is not fixed yet. Assigning it to you.

[2017-06-05 19:20] Muks14x commented on #665
Had to do  EditText height change in the init() function in MainActivity, since the XML attribute for the same were [getting ignored](https://stackoverflow.com/questions/31679865/edittext-with-word-wrap-without-line-breaks-and-with-keyboard-action-set-to-n) for some reason when I tried. Is this the correct way to do it?

[2017-06-05 19:42] chiragw15 commented on #666
@isuruAb There is no action type "diagram" as far as I know. {answer, table, piechart, rss, self, websearch, anchor, map;} These are the action types I found in server code. Still you can confirm it from Orbiter about this.

[2017-06-05 19:51] chiragw15 commented on #665
There should not be any problem with that. If it works, send a PR. I'll review it.

[2017-06-05 23:59] amitiwary999 opened #669 "Use thumbnail image to show images of video played so that user can play it later also."
**Actual Behaviour**

Currently on play video command YouTube video start playing but susi response side shows hardcoded answer playing video.

**Expected Behaviour**

Instead of showing hardcoded response we can show thumbnail of that YouTube video.

**Steps to reproduce it**

Query play some video.

**LogCat for the issue**

**Screenshot/-s of the issue**

**Would you like to work on the issue?*

[2017-06-06 01:06] isuruAb commented on #666
@chiragw15  yes i asked it was not woking at the moment .thank you for your response 👍

[2017-06-06 01:06] #666 closed

[2017-06-06 06:46] chashmeetsingh opened #670 "Remove hardcoded action types not supported on server yet."
**Actual Behaviour**

It seems many action types are supported by the client which are not yet supported on the server. Instead, create issues on server for supporting the same.

**Expected Behaviour**

All functionality and action types should be fetched from the server instead of hard coding them

**Steps to reproduce it**

`Play {any song}`

Check: https://github.com/fossasia/susi_iOS/pull/91 f

[2017-06-06 06:54] mayank408 commented on #670
It is already discussed in #601, we will be replacing it as the server gets the ability to perform the task.

[2017-06-06 07:02] chiragw15 commented on #670
@mayank408 we are removing them now and creating issues on server to implement them on it. Now is the time. We can't wait for someone else to implement it.

[2017-06-06 07:03] chiragw15 commented on #670
Already removed them https://github.com/fossasia/susi_android/issues/613#issuecomment-303088758 . Will resolve the merge conflicts and send a PR.

[2017-06-06 07:08] #665 closed

[2017-06-06 07:16] #647 closed

[2017-06-06 07:33] chiragw15 opened #671 "Make different POJO classes for each action type and use inheritance."
**Actual Behaviour**

Right now we only have one class for every action type : https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/rest/responses/susi/Action.java .

**Expected Behaviour**

Break it into parts for each action type.

@betterclever Can you add more detail to this issue.

[2017-06-06 08:18] #645 closed

[2017-06-06 08:27] betterclever commented on #671
Good Point.
Since all action types have different fields, we should not have a single class for them but inheritance must be used.
Parent Class: Action
Child Classes: MapAction, AnswerAction, AnchorAction, TableAction and so on.

A similar implementation has been adopted in Susi Python Library. Check [here](https://github.com/fossasia/susi_api_wrapper/blob/master/python_wrapper/susi_python/models.

[2017-06-06 12:20] mayank408 commented on #669
@amitiwary999 We are getting away with hardcoded features at this time. So there is no need for implementing this for now.
What do you think @chirag15

[2017-06-06 14:57] betterclever commented on #669
Yes, Issue not needed. Closing for now.

[2017-06-06 14:57] #669 closed

[2017-06-06 17:51] #658 closed

[2017-06-06 20:51] mejariamol opened #673 "Continuous selected chat bubbles strips"
**Actual Behaviour**

Continuous selected chat bubbles.

![screenshot_2017-06-07-01-47-57](https://user-images.githubusercontent.com/13533840/26850795-6915668e-4b26-11e7-9bc3-91849bd1c847.png)

**Expected Behaviour**

Selected chat bubbles should be separate like strips. For example in whatsapp

![img_20170607_021651_430](https://user-images.githubusercontent.com/13533840/26851203-d0712038-4b27-11

[2017-06-07 07:13] #670 closed

[2017-06-07 08:25] #546 closed

[2017-06-07 08:27] mayank408 commented on #625
So this feature is removed, hence closing it.

[2017-06-07 08:27] #625 closed

[2017-06-07 08:52] #673 closed

[2017-06-07 09:01] #639 closed

[2017-06-07 09:09] mayank408 commented on #609
Done

[2017-06-07 09:09] #609 closed

[2017-06-07 09:10] mayank408 commented on #601
So now all the hardcoded features are removed. closing this

[2017-06-07 09:11] mayank408 commented on #613
Merged

[2017-06-07 09:12] mayank408 commented on #421
@chiragw15 I think the problem is resolved now as I have tested it 3 - 4 times.

[2017-06-07 09:33] chiragw15 commented on #623
removed hardcoded action types.

[2017-06-07 09:33] #623 closed

[2017-06-07 09:37] chiragw15 commented on #613
@mayank408 This issue is a parent issue. We have to continuously check for implementation and better techniques for increasing speed of app. Only a part of it is solved.

[2017-06-07 09:46] chiragw15 commented on #601
@mayank408 @amitiwary999 please see the updated issue. Thanks.

[2017-06-07 09:54] chiragw15 commented on #421
@mayank408 nope. Try with "where is Singapore" and "hi".

[2017-06-07 14:39] amitiwary999 commented on #671
@chiragw15 what should be kept in parent action class?

[2017-06-07 15:47] mariobehling commented on #601
@chiragw15 Please open an issue for each skill in the skill data repository. So these skills can be implemented and thought-through.

[2017-06-07 15:58] amitiwary999 commented on #601
@mariobehling for websearch and play video we can use the same api in susi skill which we used in android app but in case of set alarm, send email type query we send plain text response? @chiragw15 what you think? I will open corresponding issues in susi skill.

[2017-06-07 18:38] betterclever commented on #671
The type is not needed altogether. It will be clear from subclass. 'expression' is specific to AnswerAction type and can't be included in the Parent Class.
The Parent Class has no data field. It will be an empty class to enforce inheritance to be able to refer action types in an answer by a single List<Action> object.
I hope, I am clear.
I suggest, you going through the Python Implementation refer

[2017-06-07 18:44] chiragw15 opened #676 "Add "anchor" action type"
**Actual Behaviour**

Anchor action type is not implemented yet.

**Expected Behaviour**

Need to add anchor action type to support links along with texts.

[2017-06-07 18:47] amitiwary999 commented on #676
@chiragw15 Can I work on this?

[2017-06-07 18:50] chiragw15 commented on #676
Sure. Just add the code in parseSusiResponse method.

[2017-06-07 19:02] amitiwary999 commented on #676
@chiragw15 only parseSusiResponse? or I have to viewholders and chatfeedrecycleradapter too?

[2017-06-07 19:16] chiragw15 commented on #676
I guess there won't be a need of new view holders. Simply do `answer="<a href=\"http:/the_link_in_the_anchor_action_type.com\">Text_in_anser_action_type</a>"` and add line `textview.setMovementMethod(LinkMovementMethod.getInstance());` and it should work.

[2017-06-07 19:40] amitiwary999 commented on #676
I think anchor action type use along with answer action type so `answer = answer + answer as you suggest` or `answer = "<a href ...`?

[2017-06-07 21:00] chiragw15 commented on #676
Second one `answer="<a href=\"http:/the_link_in_the_anchor_action_type.com\">Text_in_anchor_action_type</a>"` and add line `textview.setMovementMethod(LinkMovementMethod.getInstance());`

[2017-06-08 01:39] chiragw15 opened #677 "Adapt all action types according to new looper implementation (Sub issue of #664)"
**Actual Behaviour**

Current action types are adapted in previous single answer implementation.

**Expected Behaviour**

Change the implementation of these actions to adapt to the new looper implementation. This may include changing view holder adding more stuff in database etc.

[2017-06-08 01:43] chiragw15 opened #678 "Change implementation of retrieving old messages to adapt to new looper implementation (Sub issue of issue #664)"
**Actual Behaviour**

The feature of retrieving old messages is implemented according to old implementation of parsing susi response.

**Expected Behaviour**

Change it to adapt to the new implementation of parsing susi response i.e looping through actions.

[2017-06-08 02:10] chiragw15 opened #679 "Update implementation for updating databse (Sub issue of #664)"
**Actual Behaviour**

Right now the database queries are updated asynchronously. We are using this pseudo code to create new databse entry.
1. Find the id of top element of database.
2. id++
3. add new database entry with id.

This should work fine if there is some time gap between database entries. Since, databse entry takes some time, if we add 2 database entry continuously, this will happen :

[2017-06-08 02:16] chiragw15 opened #680 "Decrease parameters in addNewMessage() and updateDatabase() method"
**Actual Behaviour**

Right now there are 8 parameters in [addNewMessage](https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/activities/MainActivity.java#L1075) method and 14 parameters in [updateDatabase](https://github.com/fossasia/susi_android/blob/development/app/src/main/java/org/fossasia/susi/ai/activities/MainActivity.java#L1094) method.

**Expe

[2017-06-08 02:39] chiragw15 commented on #664
This issue was getting a little bigger, so made sub issues for it #677 #678 #679 . Also sent a starting PR for this issue which adds loop to display result of all action types. Will be adding more commits to it to fix the above mentioned issue.

[2017-06-08 02:56] chiragw15 opened #682 "Reduce Codacy issues wherever possible"
**Actual Behaviour**

There are 48 potential issues [here](https://www.codacy.com/app/harshithdwivedi/susi_android/dashboard)

**Expected Behaviour**

Try fixing as much as possible.

[2017-06-08 03:36] amitiwary999 commented on #676
@chiragw15 which one is correct? ` boolean isAnchor = susiResponse.getAnswers().get(0).getActions().get(0).getType().equals("anchor");
            if(isAnchor)
            answer = "<a href = "  +  susiResponse.getAnswers().get(0).getActions().get(0).getAnchorLink() + ">" + susiResponse.getAnswers().get(0).getActions().get(0).getAnchorText() + "</a>";`
or
` boolean isAnchor = susiResponse.getAnswe

[2017-06-08 03:52] chiragw15 commented on #676
use i instead of 0 or 1. See PR #681 for reference.

[2017-06-08 04:06] amitiwary999 commented on #676
So I change it here or I will solve this issue after your pr merged?

[2017-06-08 04:37] chiragw15 commented on #676
Just change it, solve the issue and send a PR. It can be merged after the other one gets mergerd

[2017-06-08 08:17] amitiwary999 commented on #680
@chiragw15 we can make a class where we can save all the boolean values?

[2017-06-08 08:49] amitiwary999 commented on #682
@chiragw15 can I work on this issue.

[2017-06-08 08:52] chiragw15 commented on #682
Don't ask. If you see unassigned issue, assign it to yourself or comment "I am working on this" and start working.

[2017-06-08 14:26] amitiwary999 opened #685 "Update "rss" action type"
**Expected Behaviour**

Recently rss action type is updated in susi_server. So we have to implement it in client side.

**Would you like to work on the issue?**

yes

[2017-06-08 18:18] AkashIsCoding opened #686 "Redirecting to the sign in page after the user signs up. (The user log in should be automatic/pre-initialized after the user signs up.)"
**Actual Behaviour**

After you sign up it redirects you to the sign in page. The issue is not yet over there is also a problem in (log in) it says password error.

**Expected Behaviour**

It should automatically log you in after you sign up.

**Would you like to work on the issue?**
Yes.

[2017-06-08 18:30] mayank408 commented on #685
i@amitiwary999 @chiragw15 I want to work on this as my issue related to map UI got resolved .

[2017-06-08 18:33] AkashIsCoding opened #687 "The voice recording button."
**Actual Behaviour**

You press and you say your note. You cannot record or dump your note on the go.

**Expected Behaviour**

It will record only record when the record button is clicked, like what we have in Whatsapp, and dragging the button towards the left should dump the message.

**Would you like to work on the issue?**
Yes

[2017-06-08 19:19] betterclever commented on #687
Please try to understand , this is not a instant messaging application.
You are not trying to voice record a voice message and send but interact by voice using STT. A user won't wish to keep the Mic button pressed. The described behavior is not needed at all imo.
If you wish to idealize something, idealize Google Assistant, not Whatsapp.

@chiragw15 What do you think?

[2017-06-08 22:58] chiragw15 commented on #686
@AkashIsCoding Whenever you sign up, you do get a dialog box saying like "You have successfully signed up, we have send a mail. Please check your mail to confirm your account" ? This means we can not directly "automatically log you in after you sign up." because the account needs to be confirmed. Once you confirm the account by clicking on the link sent to your email, you can come back to app and

[2017-06-08 23:02] chiragw15 commented on #686
"We have sent an email to the address you provided. Please use the confirmation link to activate your account and sign in to susi" . This is the exact message on dialog box.

[2017-06-08 23:17] chiragw15 commented on #687
@AkashIsCoding Some points here:
1. There is a dump option on the left size, the 'X' icon . So, when you click on mic button, and say something, you can cancel that by clicking on cross (X) button. You can dump on the go. No problem with that imo.
2. That button is for speech input and not recording voice. and sending like whatsapp. Why would a personal assistant even need to record a voice?
3. Th

[2017-06-08 23:32] chiragw15 commented on #685
@amitiwary999 @mayank408 rss action type is already implemented and working. Just check if it needs some tweaks or changes according to the new response. And improve performance.
![screenshot_20170609-045716](https://user-images.githubusercontent.com/16978820/26954909-c8b61e70-4cd0-11e7-8be3-478d3ad5fb27.png)

[2017-06-09 10:35] amitiwary999 opened #688 "Current html parsing in susi_android is not implemented correctly"
**Actual Behaviour**

If html tag contain href then it should be converted to link.

**Expected Behaviour**

Currently after parsing html tag are converted to string  that's why href tag is not parsed properly.

**Would you like to work on the issue?**

yes

[2017-06-09 10:57] chiragw15 commented on #688
I guess I fixed it in #681 . See removed some code from [here](https://github.com/fossasia/susi_android/pull/681/commits/dabc98602d989fd7e85ed0e7c8758c734324426d#diff-97eb5665ef5431161882b9bd50d1843dL1086), added some code [here](https://github.com/fossasia/susi_android/pull/681/commits/dabc98602d989fd7e85ed0e7c8758c734324426d#diff-f14e5d3cf86ea64cf8038542ccaa4185R445) and [here](https://github.co

[2017-06-09 11:05] amitiwary999 commented on #688
Yes but you did not mention that you will work on that. I asked you yesterday about it but didn't reply. Please let me also solve some issue. If you solve all the issue what I will do.

[2017-06-09 11:14] chiragw15 commented on #688
I am really sorry about this but I did reply you ([here](https://github.com/fossasia/susi_android/pull/683#discussion_r120833402))that I will look into it and let you know. I google searched for this problem and wasted about 2 hours on this and finally got the solution by hit and trial. I had no intention as such to solve this issue but you asked for help, that's why I tried implementing it and it

[2017-06-09 11:15] chiragw15 commented on #688
main catch was to remove .toString() when parsing.

[2017-06-09 11:16] amitiwary999 commented on #688
I too wasted 1 hour yesterday for checking same thing

[2017-06-09 11:17] amitiwary999 commented on #688
then I found that it must be implemented in recycleradapter for better result. thanks  I will send a pull request

[2017-06-09 11:17] chiragw15 commented on #688
No worries, go ahead and send the PR for changes. Cheers. :+1:

[2017-06-09 23:49] mayank408 opened #691 "Issue with rss action type"
**Actual Behaviour**

On marking the rss query answer as important the fields become empty.
**Expected Behaviour**

The fields shoud not become empty.

**Steps to reproduce it**

Mark any rss type query answer important.

**Screenshots of the issue**

![screenshot_1497046780](https://user-images.githubusercontent.com/22056321/26998006-70f2f0c0-4d87-11e7-932a-54c798df1b7b.png)

[2017-06-10 00:00] mayank408 commented on #687
@AkashIsCoding There is no need for this, we are not recording the voice or the query.

[2017-06-11 07:37] chiragw15 commented on #648
@jyoth1raditya did you solve the issue you were facing?

[2017-06-11 13:01] amitiwary999 commented on #654
I will work on it.

[2017-06-12 02:57] mayank408 commented on #657
It is merged 👍

[2017-06-12 02:57] #657 closed

[2017-06-12 05:20] chiragw15 commented on #679
Fixed in #681

[2017-06-12 05:20] #679 closed

[2017-06-12 05:20] chiragw15 commented on #678
Fixed in #681

[2017-06-12 05:20] #678 closed

[2017-06-12 05:21] chiragw15 commented on #677
Fixed in #681

[2017-06-12 05:21] #677 closed

[2017-06-12 05:21] chiragw15 commented on #664
Fixed in #681

[2017-06-12 05:21] #664 closed

[2017-06-12 05:24] chiragw15 commented on #651
Map is now a separate message.(After #681) Thus no need for it now.

[2017-06-12 05:24] #651 closed

[2017-06-12 05:35] chiragw15 commented on #687
@AkashIsCoding Are we interpreting the issue right? If no, can you explain it a bit? If yes, then this is not required and should be closed.

[2017-06-12 05:41] chiragw15 commented on #686
@AkashIsCoding here also. If you think, I got the issue wrong, then please explain it a bit else according to me no need for this. But we are thinking of adding deep links in app. @mayank408 @amitiwary999 What do you guys think?

[2017-06-12 05:42] chiragw15 commented on #652
Fixed in #681

[2017-06-12 05:42] #652 closed

[2017-06-12 05:47] chiragw15 commented on #680
addNewMessage method removed and updateDatabase method now has 8 parameters. I think its fine for now.

[2017-06-12 05:47] #680 closed

[2017-06-13 22:26] AkashIsCoding commented on #686
Yes, confirmation mail makes it much more secure. But I found a glitch in
the web searches, the data which it shows is incomplete.

On Mon, Jun 12, 2017 at 11:11 AM, Chirag Wadhera <notifications@github.com>
wrote:

[2017-06-14 05:39] chiragw15 commented on #686
@AkashIsCoding can you please open an issue about it with a little detail. Thanks.

[2017-06-14 06:47] rrishabhj commented on #691
I want to solve this issue.

[2017-06-14 12:39] mayank408 commented on #691
Sry, It was deleted by mistake.

[2017-06-14 19:06] mayank408 commented on #687
It is not required for now.

[2017-06-14 19:06] #687 closed

[2017-06-14 19:33] mayank408 opened #697 "issue with message history"
**Actual Behaviour**

The retrieved messages from Susi memory are shown with the current date in the app.

**Expected Behaviour**

The retrieved messages from Susi memory should be shown with their actual date in the app.

**Steps to reproduce it**

Change the date of our phone and the date of retrieved messages will also change.

**Would you like to work on the issue?**
Yes

[2017-06-14 19:39] mayank408 opened #698 "Issue with retrieved messages."
**Actual Behaviour**

Messages are retrieved everytime when date of phone is changed.

**Expected Behaviour**

Messages should be retrieved only a single time .

**Steps to reproduce it**

change the date of the app.

**Would you like to work on the issue?**
yes

[2017-06-14 20:31] mayank408 opened #699 "issue with layout of web search"
**Actual Behaviour**

If the search result is null, the description text view does not show anything.
**Expected Behaviour**

In case of null results, the description text view should be gone.

**Screenshots of the issue**

![screenshot_1497472119](https://user-images.githubusercontent.com/22056321/27153288-865d25f8-516e-11e7-908c-5c19128d057e.png)

**Would you like to work on the issue?**

Let us

[2017-06-15 02:11] chiragw15 commented on #698
@mayank408 I am not able to reproduce it. Can you provide exact steps to be followed?

[2017-06-15 02:25] #688 closed

[2017-06-15 02:27] chiragw15 commented on #691
@rrishabhj go ahead and send a PR.

[2017-06-15 05:25] amitiwary999 opened #701 "Text to speech is not working properly"
**Actual Behaviour**

tts is not working properly .

**Expected Behaviour**

tts should work properly.

**Would you like to work on the issue?**

yes.

@chiragw15 @mayank408 can you test it. I tried many times but it is not working properly.

[2017-06-15 05:38] chiragw15 commented on #701
@amitiwary999 Can you provide a little detail in the issue like
1. Which device you are using for testing,
2. Logs if any,
3. When do you face this issue,
4. Is it not working at all or for some particular queries it doesn't work.
5. Steps to reproduce it like which particular query should we enter.

Simply writing "tts is not working" and "tts should work" won't help.

[2017-06-15 05:46] amitiwary999 commented on #701
I tried it on Lenovo A6000 plus lollipop and Asus Zenfone marshmallow.
It is not working properly for any query. Sometimes it is very late and
sometimes it is not working.

On Jun 15, 2017 11:08 AM, "Chirag Wadhera" <notifications@github.com> wrote:

[2017-06-15 06:08] chiragw15 commented on #701
Yup seems like the problem arises after map or rss queries. Looking into it. Will let you know if I find the cause.

[2017-06-15 10:37] mayank408 opened #702 "Setting the app on appetize.io for easy testing."
**Actual Behaviour**

Apk is not added to the pull request.

**Expected Behaviour**

Apk must be added after the pull request for easy testing.

[2017-06-15 10:37] mayank408 commented on #702
@betterclever Pls add your comments

[2017-06-15 12:32] #699 closed

[2017-06-15 13:27] mayank408 opened #703 "LongclickListener not working."
**Actual Behaviour**

LongClickListener is not working for search result.

**Expected Behaviour**

LongClickListener should work for search result.

**Would you like to work on the issue?**
Yes

[2017-06-15 13:53] chiragw15 commented on #703
Yes, I deliberately left this earlier. This needs to be thought through. You have created the issue now, so let's discuss this. We need to modify click listeners for websearch, maps and RSS. When we long click any message, there are three possible options : copy that message, share that message and delete that message. So, if the action type is map or websearch , we don't need first 2 options. So,

[2017-06-15 13:56] mayank408 commented on #703
@chiragw15 Yes , I totally agree with you. Lets do this way only 👍

[2017-06-15 14:01] amitiwary999 commented on #703
@chiragw15 :+1:

[2017-06-15 14:06] amitiwary999 commented on #698
@mayank408 I too not able to reproduce it. Can you please provide full steps to reproduce it.

[2017-06-15 15:21] amitiwary999 commented on #701
@chiragw15 There is a handler in computeOtherMessage  and from this handler we are calling voiceReply and there is also a handler.When I removed this handler TTS is working perfectly.

[2017-06-15 16:12] amitiwary999 opened #705 "App crashes sometimes in case of websearch and rss action type."
**Actual Behaviour**

App is crashing sometimes in case of websearch and rss action type.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

It is not happening always.
1.Query anything such that response will be websearch or anchor type then close app and again open.
2. Query anything such that response will be websearch or anchor type then logout and again login.
3. Query

[2017-06-15 20:41] #697 closed

[2017-06-15 21:13] mayank408 opened #706 "Updating docs"
Updating the docs as some screenshots currently in docs are changed in the app.

Let us know if this issue should be assigned to you or tell us who you think could help to solve this issue.

yes

[2017-06-16 06:51] mayank408 commented on #703
@chiragw15 I am working on it.

[2017-06-16 11:15] chiragw15 opened #712 "Bug: Date is displayed after each message"
**Actual Behaviour**

Date is displayed after every message.

**Expected Behaviour**

No need of displaying date after each message.

**Screenshots of the issue**

![screenshot_20170616-164012](https://user-images.githubusercontent.com/16978820/27224473-f716f130-52b2-11e7-8a1e-f5d344d4c137.png)

**Would you like to work on the issue?**
yes

[2017-06-16 11:27] #706 closed

[2017-06-16 11:30] chiragw15 commented on #705
This is due to link previews. When the main activity is destroyed but the link is not loaded, the app crashes.

[2017-06-16 13:50] chiragw15 opened #715 "Unequal size of websearch layout"
**Actual Behaviour**

Websearch layout has unequal layout. They have different sizes.

**Expected Behaviour**

There should be a fixed and consistent layout.

**Screenshots of the issue**

![screenshot_20170616-190827](https://user-images.githubusercontent.com/16978820/27229333-cf101e58-52c8-11e7-9227-5118eb51090a.png)

**Would you like to work on the issue?**
yes

[2017-06-16 14:15] amitiwary999 opened #716 "Issue with retrieving old messages"
**Actual Behaviour**

If user logout and then login and during login if internet connection lost then user can not retrieve old messages.

**Expected Behaviour**

User should be able to retrieve old messages.

**Steps to reproduce it**

Logout and again login. During login disconnect your net connection.

**LogCat for the issue**

**Screenshots of the issue**
This is my messages before logout

![s

[2017-06-16 15:20] chiragw15 opened #717 "Remove Important message activity"
**Actual Behaviour**

There is a feature in app to mark messages as important, it does not involve server and stores important messages locally.

**Expected Behaviour**

As stated by Mario, since the server doesn't support it, we need to remove it.

**Would you like to work on the issue?**
yes

[2017-06-16 15:22] amitiwary999 commented on #717
I want to work on this issue.

On Jun 16, 2017 8:50 PM, "Chirag Wadhera" <notifications@github.com> wrote:

[2017-06-16 15:24] chiragw15 commented on #717
@amitiwary999 please complete your old issues first and then start working on it.

[2017-06-16 15:36] chiragw15 commented on #716
@amitiwary999 I don't know how this is even an issue. First, the messages are retrieved as soon as user logs in, that means after maybe 1-2 seconds. I don't know, how can user have internet connection when he logs in and after 2 secs his internet connection disconnects. Secondly, How will you even solve this?

[2017-06-16 16:26] #676 closed

[2017-06-16 16:26] #635 closed

[2017-06-16 19:30] chashmeetsingh commented on #698
@mayank408 can you explain a bit more please? Why are you deleting all the messages in the DB in the PR?

[2017-06-16 19:35] mayank408 commented on #698
@chashmeetsingh  There is time limit of access token. After that time limit the token is expired and user is logged out. So, this process we are not deleting all messages. We do delete messages when user clicks on log out option but we do not delete it when we automatically logs user out

[2017-06-16 20:35] amitiwary999 commented on #717
@mayank408 I was working on this issue. I already mention this.

[2017-06-16 20:38] mayank408 commented on #717
as @chiragw15 mentioned I thought you were working on old issues. Also, it was unassigned so I assigned it to myself as I don;t have any other issue to work. Please assign it to yourself first if you want to work on it. Thanks

[2017-06-16 20:51] amitiwary999 commented on #717
But you didn't ask me. I already started working on this issue. Even I mention it in chat that there is some issue with important message. I asked 2 days before for that. So I already planned for it.

[2017-06-16 20:53] mayank408 commented on #717
Why would I ask you it was unassigned so I assigned it to me, you could also do so. How would the co-dev know that you "already planned it". Pls work cooperatively.

[2017-06-16 21:06] betterclever commented on #717
@amitiwary999 As @chiragw15 said, you had some pending issues. But that aside, your PR seems to not have removed all traces of ImportantMessages. Only 7 changed files in comparison to 19 in PR by @mayank408 . If you started working on this early, you should take care that issue gets resolved fully.

[2017-06-16 21:10] amitiwary999 commented on #717
@mayank408 Currently I have no right for this that's why I can't assign issues to my self. I only comment that I want to work on this issue. I already mention that.

[2017-06-16 21:14] mayank408 commented on #717
@amitiwary999 But even after your comment @chiragw15  mentioned that you have to do old issues first and after which there was no response from your side. Well lets be more clear in future as we are all working together. Thanks

[2017-06-16 21:16] amitiwary999 commented on #717
No problem. Currently I have no right so if I mention that I want to work on this issue atleast ask me once. I can't assign issue to myself.

[2017-06-16 21:20] mayank408 commented on #717
@amitiwary999 Ya sure will ask you and assign you at the same time if you wants to work on an issue. Cheers 👍

[2017-06-17 09:08] #717 closed

[2017-06-17 10:50] amitiwary999 opened #723 "Issue with date of retrieved old messages"
**Actual Behaviour**

Currently date of all retrieved message is same which is date of last message.

**Expected Behaviour

Retrieved message should be shown according to it's date.

**Steps to reproduce it**

Logout and login. See the date of retrieved message. It is same for all. But in response date is different.

**LogCat for the issue**

**Screenshots of the issue**
.

**Would you like to wor

[2017-06-17 11:24] betterclever commented on #702
Okay. This can be done in the following way.
- After APK build is complete and upload-apk.sh is executing, verify if it is a pull request or regular commit (like merge commit). An 'if' check is there already.
- For PR, upload APK to transfer.sh service using, their curl command. See more here https://transfer.sh/
- Use circle-github-bot (https://github.com/themadcreator/circle-github-bot), to post

[2017-06-17 11:41] chiragw15 commented on #723
@amitiwary999 #712 is same. The reason why there is date after every message because date of all retrieved messages are same. So, I just changed that and it is solved. Sending a PR in some time. Cheers.

[2017-06-17 11:43] chiragw15 commented on #723
Okay sorry, Didn't see you already sent a PR. Cool.

[2017-06-17 12:25] mayank408 opened #725 "Using String builder instead of string"
**Actual Behaviour**

String are being used and concatenated using "+" which is not the correct way.

**Expected Behaviour**

Instead of strings , stringBuilder must be used.

**Screenshots of the issue**

String shareText = "";
                        for (Integer i : getSelectedItems()) {
                            ChatMessage message = getData().get(i);
                            Log.d(TAG, m

[2017-06-17 12:27] amitiwary999 commented on #701
I tried app on several devices with several account. Sometimes susi
replying late for rss, websearch and map action type, app is doing some
extra task for parsing and showing data in case of map, websearch that's
why tts is delayed. Have you find some solution?

On Thu, Jun 15, 2017 at 11:38 AM, Chirag Wadhera <notifications@github.com>
wrote:

[2017-06-17 12:28] mayank408 commented on #723
same as #712. Hence closing

[2017-06-17 12:50] mayank408 commented on #701
@amitiwary999 Could you tell me how to reproduce the error.

[2017-06-17 13:14] amitiwary999 commented on #723
@mayank408 It is not same as #712 . #712 is for current chat messages and this issue is related to retrieved old messages after user login again. Please open it.

[2017-06-17 13:17] amitiwary999 commented on #701
Query some websearch , map or rss action type reply.

[2017-06-17 13:33] mayank408 commented on #723
@amitiwary999 @chiragw15 Pls be more clear. As @chiragw15 said #712 is same as it. I am opening it.

[2017-06-17 15:29] #715 closed

[2017-06-17 15:32] chiragw15 commented on #723
@amitiwary999 The reason why issue #712 was occurring was that the retrieved message had same date which is this issue. So, the reason of issue #712 is this issue. Thats why I said it is same as #712.

[2017-06-17 16:13] #587 closed

[2017-06-17 20:01] mayank408 commented on #712
Merged hence closing.

[2017-06-17 20:01] #712 closed

[2017-06-17 20:03] mayank408 commented on #723
Fixing all date and time related bugs PR #728 is merged. Hence closing.

[2017-06-17 20:03] #723 closed

[2017-06-17 20:03] #698 closed

[2017-06-18 09:16] mariobehling opened #730 "Implement an Anonymous Mode"
Some time ago we started to request users to login. This has worked out for some, but actually the solution has not reached production and we should take a step back.

Please change as follows:
When the app starts open the app in anonymous mode and provide a button in the menu to login as before.

[2017-06-18 09:22] amitiwary999 commented on #730
I want to work on this.

[2017-06-18 09:44] chiragw15 commented on #730
Okay, an idea which can be useful.

Instead of directly starting the app in anonymous mode, why don't we add an option to skip login in login screen. And if user skips login, add an option in menu to login. I made an app for an event some time ago. It follows the same thing.

See, there is a "skip" option in the bottom. When the app is installed, this screen is displayed only for the first run. Af

[2017-06-18 09:56] amitiwary999 commented on #730
Yes many app has this feature.  I also tried it in one app.

[2017-06-18 10:44] mayank408 commented on #730
@mariobehling @chiragw15 We could add an option like "Enter without login" in the login screen.

[2017-06-18 11:19] mayank408 opened #731 "Removing msg with link function"
**Actual Behaviour**

Currently, we are showing link preview if the query contains a link. This is not related to the server anyway.

**Expected Behaviour**

As it is not related to server we should remove this as stated by @mariobehling.

**Screenshots of the issue**

![screenshot_1497784517](https://user-images.githubusercontent.com/22056321/27260285-f35fa73c-5445-11e7-83c6-7075f6d7f6fc.png)

As

[2017-06-19 12:06] chashmeetsingh commented on #730
Yup, that would be a nice option to include.

[2017-06-19 12:55] mariobehling commented on #730
Yes, good idea. Just add a skip button for now on Login Page. The sign up page does not need a skip button. I think only login page.

[2017-06-19 12:57] mayank408 commented on #730
@mariobehling Yes 'skip' button will only be included in Login page.

[2017-06-19 13:00] amitiwary999 commented on #730
@mariobehling I implemented it [here](https://github.com/fossasia/susi_android/pull/732)

[2017-06-19 18:00] chiragw15 opened #734 "Memory leaks in Connectivity and Location Manager"
**Actual Behaviour**

Connectivity manager memory leak.

![screenshot_20170619-231504](https://user-images.githubusercontent.com/16978820/27298638-163c4c90-5547-11e7-9526-de9eeb8fa423.png)

Location manager memory leak

![screenshot_20170619-231408](https://user-images.githubusercontent.com/16978820/27298652-28d22802-5547-11e7-9b6f-2a8b731c2999.png)

[2017-06-19 20:18] chiragw15 opened #736 "Pass "websearch" string as a parameter in updateDatabase method"
**Actual Behaviour**

Right now websearch string is used to store query to be searched. And it is global. So, when retrieving messages the previous all websearch strings are updated by the new websearch string while updating database.

**Expected Behaviour**

Pass websearch as a parameter in updateDatabase method.

[2017-06-19 20:20] mayank408 opened #737 "UI fix"
**Actual Behaviour**

The texts in the elements/response are right aligned.

**Expected Behaviour**

The texts in the elements/response must be left aligned.

**Screenshots of the issue**

![screen shot 2017-06-20 at 1 46 20 am](https://user-images.githubusercontent.com/22056321/27304164-d854df1e-555a-11e7-84f6-77458c539240.png)

**Would you like to work on the issue?**

Yes

[2017-06-19 21:55] mayank408 opened #740 "Issue with position of scroll button"
**Actual Behaviour**

The position of scroll button is disturbed when search action is done.

**Expected Behaviour**

The scroll must always be right and bottom aligned.

**Screenshots of the issue**

![screenshot_1497908849](https://user-images.githubusercontent.com/22056321/27307587-fea53666-5567-11e7-96f4-533d67427c3d.png)

**Would you like to work on the issue?**

Yes

[2017-06-20 05:40] amitiwary999 opened #742 "App crashes after logout"
**Actual Behaviour**

App is crashing after logout

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

logout from app. Login and logout

**LogCat for the issue**

Process: org.fossasia.susi.ai, PID: 29039
                                                                      java.lang.IllegalStateException: Realm instance has been closed or this object or its parent has been

[2017-06-20 09:40] #705 closed

[2017-06-20 10:59] amitiwary999 opened #743 "Search in not working properly"
**Actual Behaviour**

For some text like this, here, is search is not working properly

**Expected Behaviour**

Search should work properly.

**Steps to reproduce it**

In the search bar search for this or here or is. You will find that at some places these words are not present still on clicking on up and down button app try to show that word is present. Like if your last query is websearch type

[2017-06-20 11:41] #740 closed

[2017-06-20 11:41] #737 closed

[2017-06-20 11:52] chiragw15 commented on #682
@amitiwary999 Though you PR improved implementation of dialog boxes. It hasn't reduced codacy issues much. Let me know if you want to work on this.

[2017-06-20 12:42] amitiwary999 commented on #682
@chiragw15 when I started working on this issue that time you were working on mainactivity that's why I left mainactivity part. Yes I would like to work on this.

[2017-06-20 13:31] chiragw15 commented on #682
No problem. Send a PR now. :+1:

[2017-06-20 13:32] #734 closed

[2017-06-20 13:34] chiragw15 opened #744 "Anchor link not working"
**Actual Behaviour**

Clicking on anchor text for anchor action types does nothing.

**Expected Behaviour**

Clicking on text for anchor action type should open the link provided in the response.

[2017-06-21 03:47] amitiwary999 opened #747 "Cursor in searchview not working properly(sometimes)"
**Actual Behaviour**

Sometimes searchview cursor become invisible so user have to again click on searchview to search anything.

**Expected Behaviour**

It should not happen.

**Steps to reproduce it**
Type some text in searchview. If it is found then up and down arrow become visible. Now delete text.  Up and down button become invisible and also cursor.

**LogCat for the issue**

**Screenshots o

[2017-06-21 07:49] chiragw15 opened #749 "Create javadocs."
- [x] Add Javadoc comments in code like this
[code]
- [ ] Now configure Circle CI script to generate javadocs after each successful build and commit the generated files to the `gh-pages` branch. I found this loklak blog which maybe helpful. http://blog.loklak.net/under-the-hood-javadocs/ .

[2017-06-21 12:32] amitiwary999 opened #751 "Issue with chatmessage edittext"
**Actual Behaviour**

Currently after speech input user have to click on edittext if user want to type anything

**Expected Behaviour**

It should not happen

**Steps to reproduce it**

Click on edittext, soft keyboard will open, then click on mic button and give some input. You will find that even soft keyboard is already open but to give text input you have to click on edittext again .

**LogCat

[2017-06-21 16:22] the-dagger commented on #749
Sounds good. 👍

[2017-06-21 20:57] amitiwary999 opened #755 "Remove delete option from android app"
**Actual Behaviour**

Currently chat messages are not saved in server db . So deleting chat messages not involve server.

**Expected Behaviour**

Since server doesn't support it we need to remove it.

**Would you like to work on the issue?**

Yes.

[2017-06-22 04:04] amitiwary999 commented on #755
I will work on this issue.

[2017-06-22 05:34] #747 closed

[2017-06-22 05:34] #743 closed

[2017-06-22 07:58] chiragw15 commented on #749
@the-dagger The first part of issue is done. How should we proceed with the second part? As you mentioned [here](https://github.com/fossasia/susi_android/pull/739#discussion_r123311684) that hosting is not needed, should we leave the second part for now?

[2017-06-22 07:59] the-dagger commented on #749
Yeah, hosting isn't really needed right now imo.
This issue can be closed. 👍

[2017-06-22 07:59] #749 closed

[2017-06-22 09:44] mayank408 opened #760 "UI issue with web search"
**Actual Behaviour**

No right margin is assigned to web search
**Expected Behaviour**

Right margin must be assigned to web search.

**Screenshots of the issue**

![screenshot_1498124522](https://user-images.githubusercontent.com/22056321/27427689-7e18ac6a-575d-11e7-9c1b-46a969f945cf.png)

**Would you like to work on the issue?**

Yes

[2017-06-22 10:00] mayank408 opened #762 "Showing image in the response to queries."
**Actual Behaviour**

We are not showing images even when there is image URL present in the response from the server.

**Expected Behaviour**

Just like IOS and Web Clients we should show the image in the answer if image URL is present in the response.

**Screenshots of the issue**

![screen shot 2017-06-22 at 3 18 57 pm](https://user-images.githubusercontent.com/22056321/27428449-ae687042-575f-11

[2017-06-22 14:56] #760 closed

[2017-06-22 15:15] amitiwary999 opened #764 "Issue with preview in map action type reply"
**Actual Behaviour**

answer has link but app not showing preview

**Expected Behaviour**

If answer has link then app should show preview.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![screenshot_2017-06-22-20-39-13](https://user-images.githubusercontent.com/14003244/27441468-476a0df2-578b-11e7-9db2-6428911b2947.png)

**Would you like to work on the issue?*

[2017-06-22 18:28] chiragw15 commented on #764
This is a general link preview bug and not specific to map action type.

[2017-06-22 18:29] #755 closed

[2017-06-22 18:30] #744 closed

[2017-06-22 18:36] chiragw15 commented on #731
IMO, no need of removing link preview. It depends on client how it has to display the response from server. Just update the code such that if link preview callback does not yield anything, then hide link preview.

[2017-06-22 18:38] mayank408 commented on #731
@chiragw15 yup okk fine 👍

[2017-06-22 20:46] chiragw15 opened #766 "Store User settings on server"
Store the user settings on the server and push and pull from the server accordingly to maintain the app state.

Refer fossasia/susi_server#306 for endpoints to push data to server

Listing Settings :
http://api.susi.ai/aaa/listUserSettings.json?access_token=ACCESS_TOKEN

Adding Settings :
http://api.susi.ai/aaa/changeUserSettings.json?key=theme&value=THEME&access_token=ACCESS_TOKEN

[2017-06-22 20:50] #685 closed

[2017-06-22 20:50] #686 closed

[2017-06-22 20:51] chiragw15 commented on #691
Removed marking important feature. No need for it now.

[2017-06-22 20:51] #691 closed

[2017-06-22 21:05] chiragw15 commented on #716
Not needed.

[2017-06-22 21:05] #716 closed

[2017-06-22 21:09] chiragw15 commented on #702
No one actually is going to download apk from the PR and then transfer it to mobile and install. Therefore it is useless to do it for every PR. It will be better if we somehow can display preview on appetize.io or similar service.

[2017-06-22 21:15] chiragw15 commented on #742
Not able to reproduce it. @amitiwary999 Either mention the exact way to reproduce the crash else close this issue.

[2017-06-22 21:16] #703 closed

[2017-06-22 21:16] #725 closed

[2017-06-22 21:17] #751 closed

[2017-06-22 21:36] mayank408 commented on #766
http://api.susi.ai/aaa/changeUserSettings.json?key=theme&value=THEME&access_token=ACCESS_TOKEN

The link is not working.

[2017-06-22 21:36] #764 closed

[2017-06-22 21:38] mayank408 commented on #766
Which theme are we gonna store in the server?

[2017-06-22 22:01] chiragw15 commented on #766
Where is the mention of theme in the issue? I have specifically mentioned `user settings`. If you are talking about theme in the link, that is just an example. Another example can be http://api.susi.ai/aaa/changeUserSettings.json?key=voice_input&value=true&access_token=ACCESS_TOKEN

[2017-06-22 22:02] mayank408 commented on #766
yes , I was talking about the use cases.

[2017-06-22 22:07] chiragw15 commented on #766
All the settings like voice_input , voice_output, voice_output_on_voice_input will be stored on server. Apart from that, in future if we also have different themes : light and dark like http://chat.susi.ai/, those will also be stored on server.

[2017-06-22 23:56] #730 closed

[2017-06-23 05:09] amitiwary999 opened #767 "Save link preview result in db in case of rss action type"
**Actual Behaviour**

Currently we are retrieving preview continuously from net.

**Expected Behaviour**

Save preview in db so that we can retrieve it directly from db.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes